<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="Search"
    menuActions="SearchMenuActions()"
    title="displaykey.Web.TabBar.Search">
    <LocationEntryPoint
      signature="Search()"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Claims"
      location="ClaimSearch()"
      shortcut="1"/>
    <!-- GW ADDED/CHANGE
    Old location for Claim Search - ClaimSearch() -->
    <LocationRef
      label="displaykey.Web.TabBar.Search.Activities"
      location="ActivitySearch()"
      shortcut="2"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Checks"
      location="PaymentSearch()"
      shortcut="3"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Recoveries"
      location="RecoverySearch()"
      shortcut="4"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.BulkInvoices"
      location="BulkInvoiceSearch()"
      shortcut="5"/>
    <!-- 9/14/2009 - zjthomas - Defect 2389, added new search option to be able to search Pending Assignment Claims. -->
    <LocationRef
      label="displaykey.Web.TabBar.Search.PendingAssignment"
      location="PendingAssignmentSearch()"
      shortcut="6"/>
    <!-- 11/5/2009 - zjthomas - Defect 222, added new search option to be able to search Pending Approval Transactions. -->
    <LocationRef
      label="displaykey.Web.TabBar.Search.PendingApproval"
      location="PendingApprovalSearch()"
      shortcut="7"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Features"
      location="ExposureSearch()"
      shortcut="1"/>
  </LocationGroup>
</PCF>