<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="PropertyDetailInputSet"
    mode="default">
    <Require
      name="aLocationBasedRU"
      type="LocationBasedRU"/>
    <Input
      editable="true"
      id="LocationNumber"
      label="displaykey.Web.Address.Default.LocationNumber"
      required="true"
      value="(aLocationBasedRU as PropertyRU).PropertyNumberExt"/>
    <Input
      editable="true"
      id="BuildingNumber"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.BuildingNumber"
      required="false"
      value="aLocationBasedRU.Property.BuildingNumberExt"/>
    <Input
      editable="true"
      id="BuildingDescription"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.BuildingDescription"
      required="false"
      value="aLocationBasedRU.Property.LocationNumber"/>
    <Input
      editable="true"
      id="YearBuilt"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.YearBuilt"
      required="false"
      value="aLocationBasedRU.Property.YearBuiltExt"/>
  </InputSet>
</PCF>