<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="PropertyDetailInputSet"
    mode="EQUINE">
    <Require
      name="aLocationBasedRU"
      type="LocationBasedRU"/>
    <Input
      editable="true"
      id="AnimalNumber"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.AnimalNumber"
      required="true"
      value="(aLocationBasedRU as PropertyRU).PropertyNumberExt"/>
    <Input
      editable="true"
      id="AnimalName"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.AnimalName"
      required="true"
      value="aLocationBasedRU.Property.LocationNumber"/>
    <Input
      editable="true"
      id="BarnName"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.BarnName"
      required="false"
      value="aLocationBasedRU.Property.ex_BarnName"/>
    <Input
      editable="true"
      id="BreedLV"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.BreedLV"
      required="false"
      value="aLocationBasedRU.Property.ex_Breed"/>
    <Input
      editable="true"
      id="Age"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.Age"
      required="false"
      value="aLocationBasedRU.Property.ex_DateofBirth"/>
    <Input
      editable="true"
      id="SexLV"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.SexLV"
      required="false"
      value="aLocationBasedRU.Property.ex_Sex"/>
    <Input
      editable="true"
      id="AnimalUse1"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.AnimalUse1"
      required="false"
      value="aLocationBasedRU.Property.ex_AnimalUse"/>
    <Input
      editable="true"
      id="AnimalUse2"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.AnimalUse2"
      required="false"
      value="aLocationBasedRU.Property.AnimalUse2Ext"/>
    <Input
      id="CalculatedAge"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.CalculatedAge"
      required="false"
      value="aLocationBasedRU.Property.getAge()"/>
    <Input
      editable="true"
      id="RiskEffDate"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.RiskEffectiveDate"
      required="false"
      value="aLocationBasedRU.Property.PhyPropEffDateExt"/>
    <Input
      editable="true"
      id="RiskExpDate"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.RiskExpirationDate"
      required="false"
      value="aLocationBasedRU.Property.PhyPropExpDateExt"/>
    <Input
      formatType="exactNumber"
      id="AmountOfInsurance"
      label="displaykey.GAIC.Policy.Properties.PropertyDetails.AmountOfInsurance"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      required="false"
      value="aLocationBasedRU.Property.ex_AmountofInsurance"/>
  </InputSet>
</PCF>