<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="CatastropheClaimsHistoryLV">
    <Require
      name="catastrophe"
      type="Catastrophe"/>
    <RowIterator
      editable="false"
      elementName="history"
      value="catastrophe.ClaimsHistory">
      <Row>
        <DateCell
          dateFormat="short"
          id="Eventtimestamp"
          label="displaykey.Web.Admin.AdminCatastropheDV.CatastropheClaimsHistoryLV.EventTimeStamp"
          sortDirection="descending"
          sortOrder="1"
          timeFormat="short"
          value="history.EventTimestamp"/>
        <Cell
          id="Description"
          label="displaykey.Web.Admin.AdminCatastropheDV.CatastropheClaimsHistoryLV.Description"
          value="history.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
