<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CatastropheZonesInputSet"
    mode="default">
    <Require
      name="Catastrophe"
      type="Catastrophe"/>
    <Variable
      name="zoneType"
      type="ZoneType"/>
    <Variable
      name="country"
      type="Country"/>
    <RangeInput
      editable="true"
      hideIfReadOnly="true"
      id="ZoneType"
      label="displaykey.Web.Admin.AdminCatastropheDV.ZoneType"
      onChange="Catastrophe.FilterCriteria.ZoneType=zoneType"
      postOnChange="true"
      value="zoneType"
      valueRange="country == null ? {} : Catastrophe.getRelevantZoneTypesForCountry(country)"/>
    <ListViewInput
      def="CatastropheZonesLV(Catastrophe, zoneType, country)"
      editable="true"
      hideIfReadOnly="true"
      label="displaykey.Web.Admin.AdminCatastropheDV.CatastropheZones"
      visible="zoneType != null">
      <Toolbar
        visible="true">
        <IteratorButtons/>
      </Toolbar>
    </ListViewInput>
  </InputSet>
</PCF>
