<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="perm.Claim.managepartiesinvolved(claim) and perm.Contact.createlocal"
    id="AddExistingPartyInvolvedPopup"
    returnType="Contact"
    startInEditMode="true"
    title="displaykey.Web.Contact.Title.New(tempContact.Subtype)">
    <LocationEntryPoint
      signature="AddExistingPartyInvolvedPopup(claim : Claim, tempContact : contact.TemporaryContact)"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Variable
      name="tempContact"
      type="contact.TemporaryContact"/>
    <Variable
      initialValue="claimparties.ClaimContactUtil.createClaimContact(claim, tempContact)"
      name="claimContact"/>
    <Variable
      initialValue="claimContact.Contact.generateLinkStatus()"
      name="linkStatus"
      recalculateOnRefresh="true"/>
    <ScreenRef
      def="ContactDetailScreen(claimContact, true, true, linkStatus, claim, true, false)"/>
  </Popup>
</PCF>
