<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral300DV"
    mode="auto">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="snapshot.v300.Claim"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.General"/>
      <Input
        id="LossType"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LossType"
        value="Snapshot.LossType"/>
      <Input
        id="LOBCode"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LOBCode"
        value="Snapshot.LOBCode"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Contact"
        value="util.Snapshot.renderValue(util.Snapshot.getPropertyValue(Snapshot, &quot;AssignedUser&quot;)[&quot;Contact&quot;])"/>
      <Input
        id="Catastrophe"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Catastrophe"
        value="util.Snapshot.renderValue(Snapshot.Catastrophe)"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Segment"
        value="Snapshot.Segment"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Strategy"
        value="Snapshot.Strategy"/>
      <Input
        id="PermissionRequired"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.PermissionRequired"
        value="Snapshot.PermissionRequired"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Description"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Loss"/>
      <Input
        id="LossCause"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LossCause"
        value="Snapshot.LossCause"/>
      <Input
        id="LossDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LossDate"
        value="util.Snapshot.renderValue(Snapshot.LossDate)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Loss_1"/>
      <Input
        id="LossLocation"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LossLocation"
        value="util.Snapshot.renderValue(Snapshot.LossLocation)"/>
      <Input
        id="County"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.County"
        value="Snapshot.LossLocation.County"/>
      <Input
        id="Country"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Country"
        value="Snapshot.LossLocation.Country"/>
      <Input
        id="LossLocationCode"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LossLocationCode"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LossLocationCode&quot;)"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.JurisdictionState"
        value="Snapshot.JurisdictionState"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Notification"/>
      <Input
        id="ReportedDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.ReportedDate"
        value="util.Snapshot.renderValue(Snapshot.ReportedDate)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit"
        id="FirstNoticeSuit"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;FirstNoticeSuit&quot;)"/>
      <Input
        id="HowReported"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.HowReported"
        value="Snapshot.HowReported"/>
      <Input
        id="Reporter"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Reporter"
        value="util.Snapshot.renderValue(util.Snapshot.getContactByRole(Snapshot, &quot;reporter&quot;))"/>
      <Input
        id="DriverRelation"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.DriverRelation"
        value="Snapshot.DriverRelation"/>
      <Input
        id="MainContact"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.MainContact"
        value="util.Snapshot.renderValue(util.Snapshot.getContactByRole(Snapshot, &quot;maincontact&quot;))"/>
      <Input
        id="MainContactType"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.DriverRelation"
        value="Snapshot.MainContactType"/>
      <Input
        id="DateRptdToAgent"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.DateRptdToAgent"
        value="util.Snapshot.renderValue(Snapshot.ReportedDate)"/>
      <Input
        id="Fault"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Fault"
        value="util.Snapshot.renderValue(Snapshot.Fault)"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Insured"/>
      <Input
        id="Vehicle"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Vehicle"
        value="util.Snapshot.renderValue(Snapshot.Vehicle)"/>
      <Input
        id="Style"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Style"
        value="util.Snapshot.getPropertyValue(Snapshot.Vehicle, &quot;Style&quot;)"/>
      <Input
        id="Color"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Color"
        value="Snapshot.Vehicle.Color"/>
      <Input
        id="Vin"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Vin"
        value="Snapshot.Vehicle.Vin"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.State"
        value="Snapshot.Vehicle.State"/>
      <Input
        id="LicensePlate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LicensePlate"
        value="Snapshot.Vehicle.LicensePlate"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Driver"/>
      <Input
        id="Driver"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Driver_1"
        value="util.Snapshot.renderValue(util.Snapshot.getContactByRole(Snapshot, &quot;driver&quot;))"/>
      <Input
        id="VehicleUseReason"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.VehicleUseReason"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;VehicleUseReason&quot;)"/>
      <Input
        id="DriverRelation2"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.DriverRelation2"
        value="Snapshot.DriverRelation"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Claim"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.CreateTime"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;CreateTime&quot;) )"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.CloseDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;CloseDate&quot;) )"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.ClosedOutcome"
        value="Snapshot.ClosedOutcome"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit"
        id="IncidentReport"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.IncidentReport_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit_2"
        value="Snapshot.IncidentReport"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit"
        id="CoverageInQuestion"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.CoverageInQuestion_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FirstNoticeSuit_2"
        value="Snapshot.CoverageInQuestion"/>
      <Input
        id="DeductibleStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.DeductibleStatus"
        value="Snapshot.DeductibleStatus"/>
      <Input
        id="LitigationStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.LitigationStatus"
        value="Snapshot.LitigationStatus"/>
      <Input
        id="SubrogationStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.SubrogationStatus"
        value="Snapshot.SubrogationStatus"/>
      <Input
        id="SalvageStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.SalvageStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;SalvageStatus&quot;)"/>
      <Input
        id="OtherRecovStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.OtherRecovStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;OtherRecovStatus&quot;)"/>
      <Input
        id="SIUStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.SIUStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;SIUStatus&quot;)"/>
      <Input
        id="ReinsuranceStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.ReinsuranceStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;ReinsuranceStatus&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Flag"/>
      <Input
        id="Flagged"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Flagged"
        value="Snapshot.Flagged"/>
      <Input
        id="FlaggedDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FlaggedDate"
        value="util.Snapshot.renderValue(Snapshot.FlaggedDate)"/>
      <Input
        id="FlaggedReason"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.FlaggedReason"
        value="Snapshot.FlaggedReason"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Officials"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            type="snapshot.v300.Official"
            value="util.Snapshot.getPropertyValue(Snapshot, &quot;Officials&quot;) as Bean[]">
            <Row>
              <Cell
                id="Type"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Type"
                value="Official.OfficialType"/>
              <Cell
                id="Name"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.Name"
                value="Official.Name"/>
              <Cell
                id="ReportNumber"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Auto.ReportNumber"
                value="Official.ReportNumber"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
