<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotContact300DV"
    mode="default|contact">
    <Require
      name="ClaimContactParam"
      type="Object"/>
    <InputHeaderSection>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Claim"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ClaimRolesLV">
          <RowIterator
            editable="false"
            elementName="Role"
            value="asClaimContact().Roles">
            <Row>
              <Cell
                id="Role"
                label="displaykey.Web.ClaimSnapshotContact300DV.Default.Role"
                value="Role.Role"/>
              <Cell
                id="Owner"
                label="displaykey.Web.ClaimSnapshotContact300DV.Default.Owner"
                value="util.Snapshot.getRoleOwner(Role)"/>
              <Cell
                id="Active"
                label="displaykey.Web.ClaimSnapshotContact300DV.Default.Active"
                value="util.Snapshot.renderValue(Role.Active)"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotContact300DV.Default.Comments"
                value="Role.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputHeaderSection>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Name"/>
      <Input
        id="contact"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Name"
        value="util.Snapshot.renderValue(asClaimContact().Contact)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Phone"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.PrimaryPhone"
        value="asClaimContact().Contact.PrimaryPhone"/>
      <Input
        id="WorkPhone"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.WorkPhone"
        value="asClaimContact().Contact.WorkPhone"/>
      <Input
        id="HomePhone"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.HomePhone"
        value="asClaimContact().Contact.HomePhone"/>
      <Input
        id="FaxPhone"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.FaxPhone"
        value="asClaimContact().Contact.FaxPhone"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Email"/>
      <Input
        id="EmailAddress1"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.EmailAddress1"
        value="asClaimContact().Contact.EmailAddress1"/>
      <Input
        id="EmailAddress2"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.EmailAddress2"
        value="asClaimContact().Contact.EmailAddress2"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Primary"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.PrimaryAddress"
        value="util.Snapshot.renderValue(asClaimContact().Contact.PrimaryAddress)"/>
      <Input
        id="County"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.County"
        value="asClaimContact().Contact.PrimaryAddress.County"/>
      <Input
        id="Country"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Country"
        value="asClaimContact().Contact.PrimaryAddress.Country"/>
      <Input
        id="AddressType"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.AddressType"
        value="asClaimContact().Contact.PrimaryAddress.AddressType"/>
      <Input
        id="Description"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Description"
        value="asClaimContact().Contact.PrimaryAddress.Description"/>
      <Input
        id="ValidUntil"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.ValidUntil"
        value="asClaimContact().Contact.PrimaryAddress.ValidUntil"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Additional"/>
      <Input
        id="TaxID"
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.TaxID"
        value="asClaimContact().Contact.TaxID"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact300DV.Default.Notes"/>
      <TextAreaInput
        id="Notes"
        numCols="30"
        numRows="3"
        value="asClaimContact().Contact.Notes"/>
    </InputColumn>
    <Code><![CDATA[
      function asClaimContact() : snapshot.v300.ClaimContact {
        return ClaimContactParam as snapshot.v300.ClaimContact;
      }
    ]]></Code>
  </DetailViewPanel>
</PCF>
