<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure300DV"
    mode="VehicleDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Require
      name="Exposure"
      type="snapshot.v300.Exposure"/>
    <Variable
      initialValue="util.Snapshot.getPropertyValue(Exposure, &quot;Vehicle&quot;)"
      name="Vehicle"
      recalculateOnRefresh="true"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LossParty"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LossParty&quot;)"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.PrimaryCoverage"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;PrimaryCoverage&quot;)"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.CoverageSubType"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;CoverageSubType&quot;)"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Coverage"
        value="util.Snapshot.getCoverageName(SnapshotParam as snapshot.v300.Claim, util.Snapshot.getPropertyValue(Exposure, &quot;Coverage&quot;))"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Contact"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;AssignedUser&quot;)[&quot;Contact&quot;]"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.State"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;State&quot;)"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.CreateTime"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;CreateTime&quot;) )"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.CloseDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;CloseDate&quot;) )"/>
      <Input
        id="ReOpenDate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ReOpenDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;ReOpenDate&quot;) )"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ClosedOutcome"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ClosedOutcome&quot;)"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.StatLine"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;StatLine&quot;) )"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Claimant"
        value="util.Snapshot.renderValue( util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;Contact&quot;] )"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ClaimantType"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ClaimantType&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone( util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;Contact&quot;] )"/>
      <Input
        id="ClaimantAddress"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ClaimantAddress"
        value="util.Snapshot.renderValue( util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;Contact&quot;][&quot;PrimaryAddress&quot;] )"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Driver"/>
      <Input
        id="Driver"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Driver_1"
        value="util.Snapshot.renderValue( util.Snapshot.getContactByRole(Claim, &quot;Driver&quot;) )"/>
      <Input
        id="DriverRelToOwner"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.DriverRelToOwner"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;DriverRelToOwner&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="OwnersPermission"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.OwnersPermission_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;OwnersPermission&quot;)"/>
      <Input
        id="DriverPhone"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone( util.Snapshot.getExposureClaimContact(SnapshotParam as snapshot.v300.Claim, Exposure, &quot;driver&quot;) )"/>
      <Input
        id="DriverAddress"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.DriverAddress"
        value="util.Snapshot.renderValue( util.Snapshot.getExposureClaimContact(SnapshotParam as snapshot.v300.Claim, Exposure, &quot;driver&quot;)[&quot;PrimaryAddress&quot;] )"/>
      <Input
        id="LicenseState"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LicenseState"
        value="util.Snapshot.getExposureClaimContact(SnapshotParam as snapshot.v300.Claim, Exposure, &quot;driver&quot;)[&quot;LicenseState&quot;]"/>
      <Input
        id="LicenseNumber"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LicenseNumber"
        value="util.Snapshot.getExposureClaimContact(SnapshotParam as snapshot.v300.Claim, Exposure, &quot;driver&quot;)[&quot;LicenseNumber&quot;]"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Vehicle"/>
      <Input
        id="Vehicle"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Vehicle"
        value="util.Snapshot.renderValue(Vehicle)"/>
      <Input
        id="Year"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Year"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;Year&quot;)"/>
      <Input
        id="Make"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Make"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;Make&quot;)"/>
      <Input
        id="Model"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Model"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;Model&quot;)"/>
      <Input
        id="Style"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Style"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;Style&quot;)"/>
      <Input
        id="Color"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Color"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;Color&quot;)"/>
      <Input
        id="Vin"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Vin"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;Vin&quot;)"/>
      <Input
        id="VehicleState"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.VehicleState"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;State&quot;)"/>
      <Input
        id="LicensePlate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LicensePlate"
        value="util.Snapshot.getPropertyValue(Vehicle, &quot;LicensePlate&quot;)"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Damage"/>
      <TextAreaInput
        id="Description"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Description"
        numCols="30"
        numRows="3"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Description&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="TotalLoss"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.TotalLoss_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;TotalLoss&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="VehicleOperable"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.VehicleOperable_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;VehicleOperable&quot;)"/>
      <Input
        id="LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LossEstimate"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LossEstimate&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Collision"/>
      <Input
        id="Speed"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Speed"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Speed&quot;)"/>
      <Input
        id="VehicleDirection"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.VehicleDirection"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;VehicleDirection&quot;)"/>
      <Input
        id="CollisionPoint"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.CollisionPoint"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;CollisionPoint&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Inspection"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="InspectionRequired"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.InspectionRequired_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;InspectionRequired&quot;)"/>
      <Input
        id="WhenToView"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.WhenToView"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;WhenToView&quot;)"/>
      <Input
        id="LocationStreet"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LocationStreet"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LocationStreet&quot;)"/>
      <Input
        id="LocationCity"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LocationCity"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LocationCity&quot;)"/>
      <Input
        id="LocationState"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LocationState"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LocationState&quot;)"/>
      <Input
        id="LocationZip"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.LocationZip"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LocationZip&quot;)"/>
      <Input
        id="RepairShop"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RepairShop"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;RepairShop&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Rental"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="RentalRequired"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RentalRequired_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;RentalRequired&quot;)"/>
      <Input
        id="RentalBeginDate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RentalBeginDate"
        value="util.Snapshot.renderValue(util.Snapshot.getPropertyValue(Exposure, &quot;RentalBeginDate&quot;))"/>
      <Input
        id="RentalEndDate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RentalEndDate"
        value="util.Snapshot.renderValue(util.Snapshot.getPropertyValue(Exposure, &quot;RentalEndDate&quot;))"/>
      <Input
        id="RentalDailyRate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RentalDailyRate"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;RentalDailyRate&quot;)"/>
      <Input
        id="RentalAgency"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RentalAgency"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;RentalAgency&quot;)"/>
      <Input
        id="RentalReserveNo"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RentalReserveNo"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;RentalReserveNo&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Coding"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Segment"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Segment&quot;)"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Strategy"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Strategy&quot;)"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.JurisdictionState"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;JurisdictionState&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;OtherCoverage&quot;)"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            type="snapshot.v300.OtherCoverageDet"
            value="util.Snapshot.getPropertyValue(Exposure, &quot;OtherCoverageDet&quot;) as Bean[]">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.Financials"
        visible="perm.Claim.viewtransactiondetails(Claim)"/>
      <Input
        id="RemainingReserves"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.RemainingReserves"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;RemainingReserves&quot;]"
        visible="perm.Claim.viewreserves(Claim)"/>
      <Input
        id="FuturePayments"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.FuturePayments"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;FuturePayments&quot;]"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalPayments"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.TotalPayments"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;TotalPayments&quot;]"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalRecoveries"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.TotalRecoveries"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;TotalRecoveries&quot;)"
        visible="perm.Claim.viewrecoveries(Claim)"/>
      <Input
        id="TotalIncurredNet"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Vehicledamage.TotalIncurredNet"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;TotalIncurredNet&quot;]"
        visible="perm.Claim.viewnettotalincurred(Claim)"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
