<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure300DV"
    mode="BodilyInjuryDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Require
      name="Exposure"
      type="snapshot.v300.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.LossParty"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LossParty&quot;)"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.PrimaryCoverage"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;PrimaryCoverage&quot;)"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.CoverageSubType"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;CoverageSubType&quot;)"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Coverage"
        value="util.Snapshot.getCoverageName(SnapshotParam as snapshot.v300.Claim, util.Snapshot.getPropertyValue(Exposure, &quot;Coverage&quot;))"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Contact"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;AssignedUser&quot;)[&quot;Contact&quot;]"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.State"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;State&quot;)"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.CreateTime"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;CreateTime&quot;) )"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.CloseDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;CloseDate&quot;) )"/>
      <Input
        id="ReOpenDate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ReOpenDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;ReOpenDate&quot;) )"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ClosedOutcome"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ClosedOutcome&quot;)"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.StatLine"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Exposure, &quot;StatLine&quot;) )"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Claimant"
        value="util.Snapshot.renderValue( util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;Contact&quot;] )"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ClaimantType"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ClaimantType&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone( util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;Contact&quot;] )"/>
      <Input
        id="ClaimantAddress"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ClaimantAddress"
        value="util.Snapshot.renderValue( util.Snapshot.getClaimant(SnapshotParam as snapshot.v300.Claim, Exposure)[&quot;Contact&quot;][&quot;PrimaryAddress&quot;] )"/>
      <InputDivider/>
      <Input
        id="AltContact"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.AltContact"
        value="util.Snapshot.renderValue(util.Snapshot.getPropertyValue(Exposure, &quot;AltContact&quot;))"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Injury"/>
      <Input
        id="Severity"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Severity"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Severity&quot;)"/>
      <Input
        id="LeadingInjury"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.LeadingInjury"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LeadingInjury&quot;)"/>
      <Input
        id="DetailedInjury"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.DetailedInjury"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;DetailedInjury&quot;)"/>
      <Input
        id="PrimaryBodyPart"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.PrimaryBodyPart"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;PrimaryBodyPart&quot;)"/>
      <Input
        id="DetailedBodyPart"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.DetailedBodyPart"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;DetailedBodyPart&quot;)"/>
      <TextAreaInput
        id="Description"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Description"
        numCols="30"
        numRows="3"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Description&quot;)"/>
      <Input
        id="Doctor"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Doctor"
        value="util.Snapshot.renderValue(util.Snapshot.getPropertyValue(Exposure, &quot;Doctor&quot;))"/>
      <Input
        id="MedicalTreatment"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.MedicalTreatment"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;MedicalTreatment&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited"
        id="LostWages"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.LostWages_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LostWages&quot;)"/>
      <Input
        id="Impairment"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Impairment"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Impairment&quot;)"/>
      <Input
        id="LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.LossEstimate"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;LossEstimate&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Coding"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Segment"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Segment&quot;)"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Strategy"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;Strategy&quot;)"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.JurisdictionState"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;JurisdictionState&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactProhibited_2"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;OtherCoverage&quot;)"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            type="snapshot.v300.OtherCoverageDet"
            value="util.Snapshot.getPropertyValue(Exposure, &quot;OtherCoverageDet&quot;) as Bean[]">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.Financials"
        visible="perm.Claim.viewtransactiondetails(Claim)"/>
      <Input
        id="RemainingReserves"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.RemainingReserves"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;RemainingReserves&quot;]"
        visible="perm.Claim.viewreserves(Claim)"/>
      <Input
        id="FuturePayments"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.FuturePayments"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;FuturePayments&quot;]"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalPayments"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.TotalPayments"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;TotalPayments&quot;]"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalRecoveries"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.TotalRecoveries"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;TotalRecoveries&quot;)"
        visible="perm.Claim.viewrecoveries(Claim)"/>
      <Input
        id="TotalIncurredNet"
        label="displaykey.Web.ClaimSnapshotExposure300DV.Bodilyinjurydamage.TotalIncurredNet"
        value="util.Snapshot.getPropertyValue(Exposure, &quot;ExposureRpt&quot;)[&quot;TotalIncurredNet&quot;]"
        visible="perm.Claim.viewnettotalincurred(Claim)"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
