<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral300DV"
    mode="wc">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="snapshot.v300.Claim"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.General"/>
      <Input
        id="LossType"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LossType"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LossType&quot;)"/>
      <Input
        id="LOBCode"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LOBCode"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LOBCode&quot;)"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Contact"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;AssignedUser&quot;)[&quot;Contact&quot;] )"/>
      <Input
        id="NurseCaseMgr"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.NurseCaseMgr"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;NurseCaseMgr&quot;) )"/>
      <Input
        id="Catastrophe"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Catastrophe"
        value="util.Snapshot.renderValue(Snapshot.Catastrophe)"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Segment"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;Segment&quot;)"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Strategy"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;Strategy&quot;)"/>
      <Input
        id="PermissionRequired"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PermissionRequired"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;PermissionRequired&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Description"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;Description&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Loss"/>
      <Input
        id="DateOfInjury"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateOfInjury"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;LossDate&quot;) )"/>
      <Input
        id="ExposureBegan"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ExposureBegan"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;ExposureBegan&quot;) )"/>
      <Input
        id="ExposureEnded"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ExposureEnded"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;ExposureEnded&quot;) )"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="EmploymentInjury"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EmploymentInjury_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentInjury&quot;)"/>
      <Input
        id="LocationCode"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LocationCode"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;LocationCode&quot;) )"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.JurisdictionState"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;JurisdictionState&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="InsuredPremises"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.InsuredPremises_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;InsuredPremises&quot;)"/>
      <Input
        id="Severity"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Severity"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;Severity&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Injury"/>
      <Input
        id="LossCause"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LossCause"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LossCause&quot;)"/>
      <Input
        id="AccidentType"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.AccidentType"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;AccidentType&quot;)"/>
      <Input
        id="PrimaryInjury"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PrimaryInjury"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;PrimaryInjury&quot;)"/>
      <Input
        id="DetailedInjury"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DetailedInjury"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;DetailedInjury&quot;)"/>
      <Input
        id="PrimaryBodyPart"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PrimaryBodyPart"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;PrimaryBodyPart&quot;)"/>
      <TextAreaInput
        id="DetailedBodyPart"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DetailedBodyPart"
        numCols="30"
        numRows="3"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;DetailedBodyPart&quot;)"/>
      <Input
        id="InjuryDescription"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.InjuryDescription"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;InjuryDescription&quot;)"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Additional">
        <Toolbar/>
        <ListViewPanel
          id="BodyPartsLV">
          <RowIterator
            editable="false"
            elementName="BodyPart"
            type="snapshot.v300.BodyPart"
            value="util.Snapshot.getPropertyValue(Snapshot, &quot;BodyPartDetails&quot;) as Bean[]">
            <Row>
              <Cell
                id="PrimaryBodyPart"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PrimaryBodyPart_1"
                value="BodyPart.PrimaryBodyPart"/>
              <Cell
                id="DetailedBodyPart"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DetailedBodyPart_1"
                value="BodyPart.DetailedBodyPart"/>
              <Cell
                id="Compensability"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Compensability"
                value="BodyPart.Compensability"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Claimant_1"
        value="util.Snapshot.renderValue( util.Snapshot.getContactByRole(Snapshot, &quot;claimant&quot;) )"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone( util.Snapshot.getContactByRole(Snapshot, &quot;claimant&quot;) )"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PrimaryAddress"
        value="util.Snapshot.renderValue( util.Snapshot.getContactByRole(Snapshot, &quot;claimant&quot;)[&quot;PrimaryAddress&quot;] )"/>
      <Input
        id="DateOfBirth"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateOfBirth"
        value="util.Snapshot.renderValue( util.Snapshot.getContactByRole(Snapshot, &quot;claimant&quot;)[&quot;DateOfBirth&quot;] )"/>
      <Input
        id="TaxID"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.TaxID"
        value="util.Snapshot.getContactByRole(Snapshot, &quot;claimant&quot;)[&quot;TaxID&quot;]"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Employment"/>
      <Input
        id="Occupation"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Occupation"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;Claimant&quot;)[&quot;Occupation&quot;]"/>
      <Input
        id="EmpClass"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EmpClass"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;EmpClass&quot;] )"/>
      <Input
        id="DepartmentCode"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DepartmentCode"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;DepartmentCode&quot;]"/>
      <Input
        id="HireDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.HireDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;HireDate&quot;] )"/>
      <Input
        id="HireState"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.HireState"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;HireState&quot;]"/>
      <Input
        id="EmploymentStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EmploymentStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;EmploymentStatus&quot;]"/>
      <Input
        id="Supervisor"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Supervisor"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;Supervisor&quot;) )"/>
      <Input
        id="NumDaysWorked"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.NumDaysWorked"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;NumDaysWorked&quot;]"/>
      <Input
        id="NumHoursWorked"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.NumHoursWorked"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;NumHoursWorked&quot;]"/>
      <Input
        id="WageAmount"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.WageAmount"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;WageAmount&quot;]"/>
      <Input
        id="PayPeriod"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PayPeriod"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;PayPeriod&quot;]"/>
      <Input
        id="InjuryStartTime"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.InjuryStartTime"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;InjuryStartTime&quot;] )"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="PaidFull"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;PaidFull&quot;]"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="WagePaymentCont"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.WagePaymentCont_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;WagePaymentCont&quot;]"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="ModifiedDutyAvail"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ModifiedDutyAvail_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;ModifiedDutyAvail&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="InjuredRegularJob"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.InjuredRegularJob_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;InjuredRegularJob&quot;)"/>
      <Input
        id="EmpQusValidity"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EmpQusValidity"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmpQusValidity&quot;)"/>
      <Input
        id="EmployerValidityReason"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EmployerValidityReason"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmployerValidityReason&quot;)"/>
      <Input
        id="DrugsInvolved"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DrugsInvolved"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;DrugsInvolved&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="SafetyEquipProv"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.SafetyEquipProv_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;SafetyEquipProv&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="SafetyEquipUsed"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.SafetyEquipUsed_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;SafetyEquipUsed&quot;)"/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Concurrent"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ConcurrentEmplLV">
          <RowIterator
            editable="false"
            elementName="ConcurrentEmpl"
            type="snapshot.v300.ConcurrentEmpl"
            value="util.Snapshot.getPropertyValue(Snapshot, &quot;ConcurrentEmpl&quot;) as Bean[]">
            <Row>
              <Cell
                id="CompanyName"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.CompanyName"
                value="ConcurrentEmpl.CompanyName"/>
              <Cell
                id="StartDate"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.StartDate"
                value="util.Snapshot.renderValue(ConcurrentEmpl.StartDate)"/>
              <Cell
                id="EndDate"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EndDate"
                value="util.Snapshot.renderValue(ConcurrentEmpl.EndDate)"/>
              <Cell
                id="FullTime"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.FullTime"
                value="util.Snapshot.renderValue(ConcurrentEmpl.FullTime)"/>
              <Cell
                id="WeeklyWage"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.WeeklyWage"
                value="ConcurrentEmpl.WeeklyWage"/>
              <Cell
                id="JobTitle"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.JobTitle"
                value="ConcurrentEmpl.JobTitle"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Other"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OtherBenefitsLV">
          <RowIterator
            editable="false"
            elementName="OtherBenefit"
            type="snapshot.v300.OtherBenefit"
            value="util.Snapshot.getPropertyValue(Snapshot, &quot;OtherBenefits&quot;) as Bean[]">
            <Row>
              <Cell
                id="ReferenceNumber"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ReferenceNumber"
                value="OtherBenefit.ReferenceNumber"/>
              <Cell
                id="Amount"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Amount"
                value="OtherBenefit.Amount"/>
              <Cell
                id="StartDate"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.StartDate"
                value="util.Snapshot.renderValue(OtherBenefit.StartDate)"/>
              <Cell
                id="EndDate"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.EndDate"
                value="util.Snapshot.renderValue(OtherBenefit.EndDate)"/>
              <Cell
                id="InitialContact"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.InitialContact"
                value="OtherBenefit.InitialContact"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Comments"
                value="OtherBenefit.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Work"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="WorkStatusChangesLV">
          <RowIterator
            editable="false"
            elementName="WorkStatusChange"
            type="snapshot.v300.WorkStatusChange"
            value="util.Snapshot.getPropertyValue(Snapshot, &quot;EmploymentData&quot;)[&quot;WorkStatusChanges&quot;] as Bean[]">
            <Row>
              <Cell
                id="StatusDate"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.StatusDate"
                value="util.Snapshot.renderValue(WorkStatusChange.StatusDate)"/>
              <Cell
                id="Status"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Status"
                value="WorkStatusChange.Status"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Comments"
                value="WorkStatusChange.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Compensability_1"/>
      <Input
        id="DateCompDcsnDue"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateCompDcsnDue"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;DateCompDcsnDue&quot;) )"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="BenefitsStatusDcsn"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.BenefitsStatusDcsn_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;BenefitsStatusDcsn&quot;)"/>
      <Input
        id="DateCompDcsnMade"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateCompDcsnMade"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;DateCompDcsnMade&quot;) )"/>
      <TextAreaInput
        id="Reason"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Reason"
        numCols="30"
        numRows="3"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;BenefitsDecisionReason&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Notification"/>
      <Input
        id="ReportedDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ReportedDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;ReportedDate&quot;) )"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="FirstNoticeSuit"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.FirstNoticeSuit_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;FirstNoticeSuit&quot;)"/>
      <Input
        id="HowReported"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.HowReported"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;HowReported&quot;)"/>
      <Input
        id="Reporter"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Reporter"
        value="util.Snapshot.renderValue(util.Snapshot.getContactByRole(Snapshot, &quot;reporter&quot;))"/>
      <Input
        id="DriverRelation"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DriverRelation"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;ReportedByType&quot;)"/>
      <Input
        id="MainContact"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.MainContact"
        value="util.Snapshot.renderValue(util.Snapshot.getContactByRole(Snapshot, &quot;maincontact&quot;))"/>
      <Input
        id="MainContactType"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DriverRelation"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;MainContactType&quot;)"/>
      <Input
        id="ClaimantRprtdDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ClaimantRprtdDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;ClaimantRprtdDate&quot;) )"/>
      <Input
        id="DateRptdToEmployer"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateRptdToEmployer"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;DateRptdToEmployer&quot;) )"/>
      <Input
        id="DateFormGivenToEmp"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateFormGivenToEmp"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;DateFormGivenToEmp&quot;) )"/>
      <Input
        id="DateFormRetByEmp"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DateFormRetByEmp"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;DateFormRetByEmp&quot;) )"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.OffPremise"/>
      <Input
        id="LossLocation"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LossLocation"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;LossLocation&quot;) )"/>
      <Input
        id="AddressLine2"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.AddressLine2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LossLocation&quot;)[&quot;AddressLine2&quot;]"/>
      <Input
        id="LocationDescription"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LocationDescription"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LossLocation&quot;)[&quot;Description&quot;]"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Claim"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.CreateTime"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;CreateTime&quot;) )"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.CloseDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;CloseDate&quot;) )"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ClosedOutcome"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;ClosedOutcome&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="IncidentReport"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.IncidentReport_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;IncidentReport&quot;)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull"
        id="CoverageInQuestion"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.CoverageInQuestion_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.PaidFull_2"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;CoverageInQuestion&quot;)"/>
      <Input
        id="DeductibleStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.DeductibleStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;DeductibleStatus&quot;)"/>
      <Input
        id="LitigationStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.LitigationStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;LitigationStatus&quot;)"/>
      <Input
        id="SubrogationStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.SubrogationStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;SubrogationStatus&quot;)"/>
      <Input
        id="OtherRecovStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.OtherRecovStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;OtherRecovStatus&quot;)"/>
      <Input
        id="SIUStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.SIUStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;SIUStatus&quot;)"/>
      <Input
        id="ReinsuranceStatus"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ReinsuranceStatus"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;ReinsuranceStatus&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Flag"/>
      <Input
        id="Flagged"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Flagged"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;Flagged&quot;)"/>
      <Input
        id="FlaggedDate"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.FlaggedDate"
        value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Snapshot, &quot;FlaggedDate&quot;) )"/>
      <Input
        id="FlaggedReason"
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.FlaggedReason"
        value="util.Snapshot.getPropertyValue(Snapshot, &quot;FlaggedReason&quot;)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Officials"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            type="snapshot.v300.Official"
            value="util.Snapshot.getPropertyValue(Snapshot, &quot;Officials&quot;) as Bean[]">
            <Row>
              <Cell
                id="Type"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Type"
                value="Official.OfficialType"/>
              <Cell
                id="Name"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.Name"
                value="Official.Name"/>
              <Cell
                id="ReportNumber"
                label="displaykey.Web.ClaimSnapshotGeneral300DV.Wc.ReportNumber"
                value="Official.ReportNumber"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
