<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotNotesScreen"
    mode="300">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Toolbar/>
    <ListDetailPanel
      selectionName="SelectedNote"
      selectionType="snapshot.v300.Note">
      <ListViewPanel
        id="ClaimSnapshotNotes300LV">
        <RowIterator
          editable="false"
          elementName="Note"
          value="(SnapshotParam as snapshot.v300.Claim).Notes">
          <Row>
            <Cell
              id="Author"
              label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Author"
              value="util.Snapshot.renderValue( util.Snapshot.getPropertyValue(Note, &quot;Author&quot;) )"/>
            <Cell
              id="AuthoringDate"
              label="displaykey.Web.ClaimSnapshotNotesScreen.V300.AuthoringDate"
              value="util.Snapshot.renderValue(Note.AuthoringDate)"/>
            <Cell
              id="Topic"
              label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Topic"
              value="Note.Topic"/>
            <Cell
              id="Subject"
              label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Subject"
              value="Note.Subject"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <CardViewPanel>
        <Card
          id="ClaimSnapshotNotesCard"
          title="util.Snapshot.renderValue(SelectedNote.Author) + &quot; - &quot; + util.Snapshot.renderValue(SelectedNote.AuthoringDate)">
          <DetailViewPanel
            id="ClaimSnapshotNote300DV">
            <InputColumn>
              <Input
                id="By"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.By"
                value="util.Snapshot.renderValue(SelectedNote.Author) + &quot; - &quot; + util.Snapshot.renderValue(SelectedNote.AuthoringDate)"/>
              <Input
                id="Topic"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Topic"
                value="SelectedNote.Topic"/>
              <BooleanRadioInput
                falseLabel="displaykey.Web.ClaimSnapshotNotesScreen.V300.Confidential"
                id="Confidential"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Confidential_1"
                trueLabel="displaykey.Web.ClaimSnapshotNotesScreen.V300.Confidential_2"
                value="SelectedNote.Confidential"/>
              <Input
                id="Exposure"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Claim"
                value="util.Snapshot.getPropertyValue(SelectedNote, &quot;Exposure&quot;)"
                visible="util.Snapshot.getPropertyValue(SelectedNote, &quot;Exposure&quot;) != null"/>
              <Input
                id="Matter"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Claim"
                value="util.Snapshot.getPropertyValue(SelectedNote, &quot;Claim&quot;)"
                visible="util.Snapshot.getPropertyValue(SelectedNote, &quot;Claim&quot;) != null"/>
              <Input
                id="Claim"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Claim"
                value="&quot;The Claim&quot;"
                visible="util.Snapshot.getPropertyValue(SelectedNote, &quot;Exposure&quot;) == null and util.Snapshot.getPropertyValue(SelectedNote, &quot;Claim&quot;) == null"/>
              <Input
                id="Subject"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Subject"
                value="SelectedNote.Subject"/>
              <TextAreaInput
                id="Body"
                label="displaykey.Web.ClaimSnapshotNotesScreen.V300.Body"
                numCols="30"
                numRows="3"
                value="SelectedNote.Body"/>
            </InputColumn>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>
