<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.System.securityzoneview or perm.SecurityZone.view"
    id="SecurityZones"
    title="displaykey.Web.Admin.SecurityZones">
    <Variable
      initialValue="find (securityZone in SecurityZone)"
      name="securityZones"/>
    <Screen
      id="SecurityZonesScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.SecurityZones"/>
      <Toolbar
        reflectOnBottom="true">
        <ToolbarButton
          action="NewSecurityZone.go()"
          id="SecurityZones_AddSecurityZoneButton"
          label="displaykey.Web.Admin.AddSecurityZone"
          shortcut="B"/>
      </Toolbar>
      <PanelRef
        def="SecurityZonesLV(securityZones)"/>
    </Screen>
  </Page>
</PCF>