<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.Claim.genericviewclaim and perm.System.viewsearch"
    countsAsWork="false"
    id="PendingAssignmentSearch"
    title="displaykey.JSP.PendingAssignmentSearch.Search.PendingAssignmentSearch">
    <Variable
      initialValue="&quot;PendingAssignmentSearchResultsLV&quot;"
      name="PrintTargetLV"/>
    <ScreenRef
      def="PendingAssignmentSearchScreen(PrintTargetLV)"/>
  </Page>
</PCF>
