<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="AuthorityLimitProfileDetailScreen">
    <Require
      name="AuthorityLimitProfile"
      type="AuthorityLimitProfile"/>
    <Toolbar
      reflectOnBottom="true"
      visible="perm.AuthorityLimitProfile.edit">
      <EditButtons
        editVisible="perm.AuthorityLimitProfile.edit"/>
    </Toolbar>
    <PanelRef
      def="AuthorityLimitProfileDV(AuthorityLimitProfile)"/>
  </Screen>
</PCF>
