<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.AuthorityLimitProfile.view"
    id="AuthorityLimitProfiles"
    title="displaykey.NVV.Admin.UserAuthorityLimits.AdminUserDetails.AuthorityLimitProfile">
    <Variable
      initialValue="AuthorityLimitProfile.finder.findAllNonCustomInstances()"
      name="AllAuthorityLimitProfiles"
      type="AuthorityLimitProfileQuery"/>
    <Screen
      id="AuthorityLimitProfileScreen">
      <Toolbar
        reflectOnBottom="true">
        <ToolbarButton
          action="NewAuthorityLimitProfile.go()"
          id="AuthorityLimitProfiles_AddButton"
          label="displaykey.JSP.AuthorityLimitProfilesList.Toolbar.Add"
          shortcut="Y"
          visible="perm.AuthorityLimitProfile.create"/>
        <CheckedValuesToolbarButton
          checkedRowAction="gw.api.admin.AdminUtil.deleteLimit(AuthorityLimitProfile)"
          flags="any AuthorityLimitProfile"
          id="AuthorityLimitProfiles_DeleteButton"
          iterator="AuthorityLimitProfilesLV"
          label="displaykey.JSP.AuthorityLimitProfilesList.Toolbar.Delete"
          visible="perm.AuthorityLimitProfile.delete"/>
      </Toolbar>
      <PanelRef
        def="AuthorityLimitProfilesLV(AllAuthorityLimitProfiles)"/>
    </Screen>
  </Page>
</PCF>
