<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- The next area controls the Claim Search -->
  <DetailViewPanel
    id="ClaimSearchDV"
    visible="gw.plugin.util.CurrentUserUtil.getCurrentUser().User.underwriterRestrictionsELD()">
    <Require
      name="ClaimSearchCriteria"
      type="ClaimSearchCriteria"/>
    <Require
      name="archiveSearchEnabled"
      type="boolean"/>
    <InputHeaderSection>
      <RangeInput
        editable="true"
        id="ClaimSearchType"
        label="displaykey.JSP.ClaimSearch.Claims.Source"
        onChange="gw.api.util.SearchUtil.resetResultOnly()"
        postOnChange="true"
        showNoneSelected="false"
        value="ClaimSearchCriteria.ClaimSearchType"
        valueRange="gw.api.claim.ClaimUtil.getAvailableClaimSearchTypes()"
        visible="gw.api.claim.ClaimUtil.isArchivingAvailable() and archiveSearchEnabled"/>
    </InputHeaderSection>
    <InputColumn>
      <InputSetRef
        def="ClaimSearchRequiredInputSet(ClaimSearchCriteria)"/>
      <Label
        label="ClaimSearchCriteria.toString()"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="ClaimSearchOptionalInputSet(ClaimSearchCriteria)"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="ClaimSearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>