<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ClaimSearchScreen">
    <Require
      name="archiveSearchEnabled"
      type="boolean"/>
    <Variable
      initialValue="&quot;ClaimSearchResultsLV&quot;"
      name="PrintTargetLV"/>
    <Variable
      initialValue="new gaic.ui.claim.search.ClaimSearchEngine()"
      name="ClaimSearchEngine"
      type="gaic.ui.claim.search.ClaimSearchEngine"/>
    <Variable
      initialValue="false"
      name="searchHasBeenRun"
      type="Boolean"/>
    <SearchPanel
      criteriaName="criteriaWrapper"
      maxSearchResults="gw.api.search.MaxSearchResults.forClaims()"
      resultsName="claimSearchResults"
      search="var searchResult = ClaimSearchEngine.performSearch(criteriaWrapper); searchHasBeenRun = ((null != searchResult) ? true : false); return searchResult//criteriaWrapper.Criteria.performAdvancedSearchWithoutSummary()"
      searchCriteria="new ClaimSearchCriteria() //gw.api.claim.ClaimUtil.getClaimSearchCriteria()"
      searchOnEnter="true"
      searchResultsType="search.ClaimSearchResults">
      <PanelRef
        def="ClaimSearchDV(criteriaWrapper, archiveSearchEnabled)"/>
      <PanelRef
        def="ClaimSearchResultsLV(claimSearchResults)"
        mode="criteriaWrapper.ClaimSearchType.Code">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.JSP.ClaimSearch.Search.Results"/>
        <Toolbar>
          <CheckedValuesToolbarButton
            allCheckedRowsAction="AssignClaimsPopup.push(new claim.ClaimAssignmentPopup(CheckedValues))"
            id="ClaimSearchScreen_AssignButton"
            iterator="ClaimSearchResultsLV"
            label="displaykey.Web.ClaimSearch.Toolbar.Assign"
            shortcut="G"
            visible="!isArchived(criteriaWrapper)"/>
          <ToolbarDivider/>
          <CheckedValuesToolbarButton
            allCheckedRowsAction="ArchiveClaimRetrievePopup.push(new gw.api.claim.ClaimArchiveRestoreSet(CheckedValues))"
            flags="all RetrievableClaim"
            id="ClaimSearchScreen_RetrieveButton"
            iterator="ClaimSearchResultsLV"
            label="displaykey.Web.ClaimSearch.Toolbar.Retrieve"
            shortcut="R"
            visible="isArchived(criteriaWrapper)"/>
          <ToolbarDivider/>
          <ToolbarButton
            action="print.ListViewPrintOptionPopupAction.printListViewOnlyWithOptions(PrintTargetLV, displaykey.JSP.ClaimSearch.Search.Results, null)"
            available="perm.User.printlistviews"
            id="ClaimSearchScreen_PrintButton"
            label="displaykey.Java.ListView.Print"
            shortcut="N"/>
        </Toolbar>
      </PanelRef>
    </SearchPanel>
    <Code><![CDATA[function isArchived(csc : ClaimSearchCriteria) : boolean {
  return csc.ClaimSearchType == ClaimSearchType.TC_ARCHIVED;
}]]></Code>
  </Screen>
</PCF>