<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.claim.ClaimUtil.ensureClaimSearchCriteriaHasActiveDatabaseSelected()"
    canEdit="false"
    canVisit="perm.Claim.genericviewclaim and perm.System.viewsearch and gw.plugin.util.CurrentUserUtil.getCurrentUser().User.underwriterRestrictionsELD()"
    countsAsWork="false"
    id="SimpleClaimSearch"
    title="displaykey.JSP.ClaimSearch.Search.ClaimSearch">
    <ScreenRef
      def="SimpleClaimSearchScreen()"/>
  </Page>
</PCF>