<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookSearchProximityAddressInputSet"
    mode="CA">
    <Require
      name="contactSearchCriteria"
      type="ContactSearchCriteria"/>
    <Require
      name="proximitySearchPageHelper"
      type="contact.CCProximitySearchPageHelper"/>
    <Require
      name="claim"
      type="Claim"/>
    <Variable
      initialValue="gw.util.Geocode.setDefaultSearchRange(proximitySearchPageHelper, contactSearchCriteria)"
      name="pspRange"/>
    <Variable
      initialValue="new contact.AddressAutocompleteHandler(&quot;city&quot;,&quot;country,city,state,postalcode&quot;,true)"
      name="cityhandler"
      type="contact.AddressAutocompleteHandler"/>
    <Variable
      initialValue="new contact.AddressAutocompleteHandler(&quot;postalcode&quot;,&quot;country,city,state,postalcode&quot;,true)"
      name="pchandler"
      type="contact.AddressAutocompleteHandler"/>
    <Label
      label="displaykey.Web.AddressBook.Search.ProximitySearch"/>
    <RangeInput
      editable="true"
      id="ProximitySearchType"
      label="displaykey.Web.AddressBook.Search.ProximitySearch.Radius"
      optionLabel="VALUE.getLabel()"
      sortValueRange="false"
      value="contactSearchCriteria.ProximitySearchParameters"
      valueRange="pspRange"
      valueWidth="228"/>
    <RangeInput
      available="contactSearchCriteria.ProximitySearchParameters != null"
      editable="claim != null"
      id="Address_Name"
      label="displaykey.Web.Address.Default.Location"
      required="false"
      sortValueRange="false"
      value="psc"
      valueRange="contactSearchCriteria.ProximitySearchCenterChoices"
      valueWidth="228"
      visible="claim != null">
      <Reflect
        available="VALUE != null"
        triggerIds="ProximitySearchType"/>
    </RangeInput>
    <Input
      available="contactSearchCriteria.ProximitySearchParameters != null"
      editable="true"
      id="ProximityAddressLine1"
      label="displaykey.Web.Address.CA.Address1"
      value="contactSearchCriteria.ProximitySearchCenter.AddressLine1">
      <Reflect
        available="VALUE1 != null"
        triggerIds="ProximitySearchType,Address_Name"
        value="VALUE2.AddressLine1"/>
    </Input>
    <Input
      available="contactSearchCriteria.ProximitySearchParameters != null"
      editable="true"
      id="ProximityAddressLine2"
      label="displaykey.Web.Address.CA.Address2"
      value="contactSearchCriteria.ProximitySearchCenter.AddressLine2">
      <Reflect
        available="VALUE1 != null"
        triggerIds="ProximitySearchType,Address_Name"
        value="VALUE2.AddressLine2"/>
    </Input>
    <AddressAutoFillInput
      action="gw.api.contact.AddressAutocompleteUtil.autofillAddress(contactSearchCriteria.ProximitySearchCenter, &quot;City&quot;)"
      autoComplete="cityhandler"
      autoCompleteArgIds="ProximityCountry,ProximityCity,ProximityState,ProximityPostalCode"
      available="contactSearchCriteria.ProximitySearchParameters != null"
      editable="true"
      id="ProximityCity"
      label="displaykey.Web.Address.CA.City"
      tooltip="displaykey.AutoFill.OverrideUsingCityProvince"
      validationExpression="gw.api.contact.AddressAutocompleteUtil.validate(contactSearchCriteria.ProximitySearchCenter, &quot;city&quot;)"
      value="contactSearchCriteria.ProximitySearchCenter.City">
      <Reflect
        available="VALUE1 != null"
        reflectDirectChangesOnly="true"
        triggerIds="ProximitySearchType,Address_Name,ProximityCity,ProximityPostalCode,ProximityState"
        value="TRIGGER_INDEX == 2 ? VALUE2.City : gw.api.contact.AddressAutocompleteUtil.getAutofillValue(contactSearchCriteria.ProximitySearchCenter.Country, &quot;city&quot;, {&quot;city&quot;,&quot;postalcode&quot;,&quot;state&quot;}, {VALUE3,VALUE4,VALUE5}) as String"/>
    </AddressAutoFillInput>
    <RangeInput
      available="contactSearchCriteria.ProximitySearchParameters != null"
      editable="true"
      id="ProximityState"
      label="displaykey.Web.Address.CA.Province"
      value="contactSearchCriteria.ProximitySearchCenter.State"
      valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(contactSearchCriteria.ProximitySearchCenter.Country)"
      valueWidth="228">
      <Reflect
        available="VALUE1 != null"
        reflectDirectChangesOnly="true"
        triggerIds="ProximitySearchType,Address_Name,ProximityState,ProximityPostalCode"
        value="TRIGGER_INDEX == 2 ? gw.api.contact.AddressAutocompleteUtil.getStates(VALUE2.Country).firstWhere( \s-&gt; s == VALUE2.State ) : gw.api.contact.AddressAutocompleteUtil.getAutofillValue(contactSearchCriteria.ProximitySearchCenter.Country, &quot;state&quot;, {&quot;state&quot;,&quot;postalcode&quot;}, {VALUE3,VALUE4}) as typekey.State"
        valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(VALUE2.Country)"/>
    </RangeInput>
    <AddressAutoFillInput
      action="gw.api.contact.AddressAutocompleteUtil.autofillAddress(contactSearchCriteria.ProximitySearchCenter, &quot;postalcode&quot;)"
      autoComplete="pchandler"
      autoCompleteArgIds="ProximityCountry,ProximityCity,ProximityState,ProximityPostalCode"
      available="contactSearchCriteria.ProximitySearchParameters != null"
      editable="true"
      id="ProximityPostalCode"
      inputMask="gw.api.contact.AddressAutocompleteUtil.getInputMask(contactSearchCriteria.ProximitySearchCenter, &quot;postalcode&quot;)"
      label="displaykey.Web.Address.CA.PostalCode"
      tooltip="displaykey.AutoFill.OverrideUsingPostalCode"
      validationExpression="gw.api.contact.AddressAutocompleteUtil.validate(contactSearchCriteria.ProximitySearchCenter, &quot;postalcode&quot;)"
      value="contactSearchCriteria.ProximitySearchCenter.PostalCode">
      <Reflect
        available="VALUE1 != null"
        inputMask="gw.api.contact.AddressAutocompleteUtil.getInputMask(VALUE2, &quot;postalcode&quot;)"
        reflectDirectChangesOnly="true"
        triggerIds="ProximitySearchType,Address_Name,ProximityPostalCode,ProximityCity"
        value="TRIGGER_INDEX == 2 ? VALUE2.PostalCode : gw.api.contact.AddressAutocompleteUtil.getAutofillValue(contactSearchCriteria.ProximitySearchCenter.Country, &quot;postalcode&quot;, {&quot;postalcode&quot;,&quot;city&quot;}, {VALUE3,VALUE4}) as String"/>
    </AddressAutoFillInput>
    <TypeKeyInput
      available="contactSearchCriteria.ProximitySearchParameters != null"
      confirmMessage="displaykey.RangeInputAddress.CountryChangeWarning"
      editable="true"
      id="ProximityCountry"
      label="displaykey.Web.Address.CA.Country"
      postOnChange="true"
      showConfirmMessage="claim != null"
      value="contactSearchCriteria.ProximitySearchCenter.Country"
      valueWidth="228">
      <Reflect
        available="VALUE1 != null"
        triggerIds="ProximitySearchType,Address_Name"
        value="VALUE2.Country"/>
    </TypeKeyInput>
    <Code><![CDATA[
property get psc() : Address {
        return contactSearchCriteria.ProximitySearchCenter;
      }

      property set psc(value : Address) {
        if (claim != null) {
          contactSearchCriteria.ProximitySearchCenter = value;
        }
      }
      
    ]]></Code>
  </InputSet>
</PCF>
