<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookAdditionalInfoInputSet"
    mode="Adjudicator">
    <Require
      name="contact"
      type="Person"/>
    <Require
      name="externalContactSource"
      type="contact.ExternalContactSource"/>
    <Input
      editable="true"
      id="AdjudicatorLicense"
      label="displaykey.Web.ContactDetail.Adjudicator.AdjudicatorLicense"
      value="(contact as Adjudicator).AdjudicatorLicense"/>
    <Input
      editable="true"
      id="AdjudicativeDomain"
      label="displaykey.Web.ContactDetail.Adjudicator.AdjudicativeDomain"
      value="(contact as Adjudicator).AdjudicativeDomain"/>
    <PrivacyInput
      editable="true"
      encryptionExpression="contact.maskTaxId(VALUE)"
      id="TaxID"
      label="displaykey.Web.ContactDetail.AdditionalInfo.TaxID"
      value="(contact as Adjudicator).TaxID"/>
    <Input
      editable="true"
      id="Currency"
      label="displaykey.Financials.Multicurrency.PreferredCurrency"
      value="contact.PreferredCurrency"
      visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
    <AddressBookContactInput
      editable="true"
      id="Organization"
      label="displaykey.Web.ContactDetail.Company.Organization"
      parentContact="contact"
      value="(contact as Adjudicator).Employer"/>
  </InputSet>
</PCF>
