<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookAdditionalInfoInputSet"
    mode="Person">
    <Require
      name="person"
      type="Person"/>
    <Require
      name="externalContactSource"
      type="contact.ExternalContactSource"/>
    <PrivacyInput
      editable="true"
      encryptionExpression="person.maskTaxId(VALUE)"
      id="TaxID"
      label="displaykey.Web.ContactDetail.AdditionalInfo.TaxID"
      required="true"
      value="person.TaxID"/>
    <Input
      editable="true"
      id="TaxFilingStatus"
      label="displaykey.Web.ContactDetail.AdditionalInfo.TaxFilingStatus"
      value="person.TaxFilingStatus"/>
    <Input
      editable="true"
      id="DateOfBirth"
      label="displaykey.Web.ContactDetail.AdditionalInfo.DateOfBirth"
      value="person.DateOfBirth"/>
    <Input
      editable="true"
      id="Gender"
      label="displaykey.Web.ContactDetail.AdditionalInfo.Gender"
      value="person.Gender"/>
    <Input
      editable="true"
      id="MaritalStatus"
      label="displaykey.Web.ContactDetail.AdditionalInfo.MaritalStatus"
      value="person.MaritalStatus"/>
    <AddressBookContactInput
      editable="true"
      forceContactSubtype="entity.Person"
      id="Guardian"
      label="displaykey.Web.ContactDetail.AdditionalInfo.Guardian"
      newContactMenu="NewPersonOnlyPickerMenuItemSet"
      parentContact="person"
      value="person.Guardian"/>
    <Input
      editable="true"
      id="Currency"
      label="displaykey.Financials.Multicurrency.PreferredCurrency"
      value="person.PreferredCurrency"
      visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
    <InputDivider/>
    <Label
      label="displaykey.Web.ContactDetail.Company"/>
    <Input
      editable="true"
      id="Occupation"
      label="displaykey.Web.ContactDetail.Company.Occupation"
      value="person.Occupation"/>
    <AddressBookContactInput
      editable="true"
      id="Organization"
      label="displaykey.Web.ContactDetail.Company.Organization"
      parentContact="person"
      value="person.Employer"/>
  </InputSet>
</PCF>
