<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuActions
    id="AddressBookMenuActions">
    <MenuItem
      action="NewAddressBookContact.go(entity.Person)"
      id="AddressBookMenuActions_NewPerson"
      label="displaykey.Web.NewContactMenu.NewPerson"
      shortcut="P"/>
    <MenuItem
      id="AddressBookMenuActions_NewVendor"
      label="displaykey.Web.NewContactMenu.NewVendor">
      <MenuItem
        action="NewAddressBookContact.go(entity.AutoRepairShop)"
        id="AddressBookMenuActions_AutoRepairShop"
        label="displaykey.Web.NewContactMenu.AutoRepairShop"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.AutoTowingAgcy)"
        id="AddressBookMenuActions_AutoTowingAgcy"
        label="displaykey.Web.NewContactMenu.AutoTowingAgcy"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.Doctor)"
        id="AddressBookMenuActions_Doctor"
        label="displaykey.Web.NewContactMenu.Doctor"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.MedicalCareOrg)"
        id="AddressBookMenuActions_MedicalCareOrg"
        label="displaykey.Web.NewContactMenu.MedicalCareOrg"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.CompanyVendor)"
        id="AddressBookMenuActions_CompanyVendor"
        label="displaykey.Web.NewContactMenu.CompanyVendor"/>
    </MenuItem>
    <MenuItem
      action="NewAddressBookContact.go(entity.Company)"
      id="AddressBookMenuActions_NewCompany"
      label="displaykey.Web.NewContactMenu.NewCompany"
      shortcut="C"/>
    <MenuItem
      id="AddressBookMenuActions_NewLegal"
      label="displaykey.Web.NewContactMenu.NewLegal"
      shortcut="P">
      <MenuItem
        action="NewAddressBookContact.go(entity.Adjudicator)"
        id="AddressBookMenuActions_Adjudicator"
        label="displaykey.Web.NewContactMenu.Adjudicator"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.Attorney)"
        id="AddressBookMenuActions_Attorney"
        label="displaykey.Web.NewContactMenu.Attorney"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.LawFirm)"
        id="AddressBookMenuActions_LawFirm"
        label="displaykey.Web.NewContactMenu.LawFirm"/>
      <MenuItem
        action="NewAddressBookContact.go(entity.LegalVenue)"
        id="AddressBookMenuActions_NewLegalVenue"
        label="displaykey.Web.NewContactMenu.NewLegalVenue"/>
    </MenuItem>
  </MenuActions>
</PCF>
