<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookDriversLicenseInfoInputSet">
    <Require
      name="person"
      type="Person"/>
    <InputDivider/>
    <Label
      label="displaykey.Web.ContactDetail.DriversLicense"/>
    <Input
      editable="true"
      id="LicenseNumber"
      label="displaykey.Web.ContactDetail.DriversLicense.LicenseNumber"
      value="person.LicenseNumber"/>
    <Input
      editable="true"
      id="LicenseState"
      label="displaykey.Web.ContactDetail.DriversLicense.LicenseState"
      value="person.LicenseState"
      visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
  </InputSet>
</PCF>
