<!-- PageFooter.vm START -->
  <fo:static-content flow-name="xsl-region-after">
    # NOTE pdalbora 15-Oct-2003 -- I couldn't figure out how to gracefully put two
    # pieces of text on the same line with different alignments, but using a
    # multi-column table seems to work.
    <fo:table table-layout="fixed" inline-progression-dimension.optimum="100%">
      <fo:table-column/>
      <fo:table-column/>
      <fo:table-column/>
      <fo:table-body>
        <fo:table-row>
          <fo:table-cell>
            <fo:block font-size="$settings.FontSize" text-align="start">
              $html.process("Velocity.Print.RootStart.LoggedInUser")
              $pageInfo.LoggedInUser
            </fo:block>
          </fo:table-cell>
          <fo:table-cell>
            <fo:block font-size="$settings.FontSize" text-align="center">
              $html.process("Velocity.Print.RootStart.Page") <fo:page-number/>
            </fo:block>
          </fo:table-cell>
          <fo:table-cell>
            <fo:block font-size="$settings.FontSize" text-align="end">
              $pageInfo.PrintDate
            </fo:block>
          </fo:table-cell>
        </fo:table-row>
      </fo:table-body>
    </fo:table>
  </fo:static-content>
<!-- PageFooter.vm END -->