<!-- Title.vm START -->
<fo:block
  font-size="$settings.HeaderFontSize"
  font-weight="bold"
  border-style="solid"
  text-indent="3px"
  #if ($spaceAfter) space-after.optimum="10pt"#end>
  $title
</fo:block>
<!-- Title.vm END -->