<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="perm.System.runEDWPushTool"
    id="EDWPushPopup"
    startInEditMode="true"
    title="&quot;EDW Push Edit XML&quot;">
    <LocationEntryPoint
      signature="EDWPushPopup(item:gaic.ui.tools.edwpush.HolderItem)"/>
    <Variable
      name="item"
      type="gaic.ui.tools.edwpush.HolderItem"/>
    <Variable
      initialValue="item.Message"
      name="message"
      type="String"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="if (message != item.Message) {gaic.ui.tools.edwpush.EDWPushTableTool.updateMessageSimple(item, web.WebUtil.getActionEventParameter(), message);}CurrentLocation.cancel()"
          confirmMessage="&quot;Are you sure you wish to change the message?&quot;"
          id="UpdateButton"
          label="&quot;Update&quot;"
          promptQuestion="&quot;Why are you attempting to change this item?&quot;"/>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="CancelButton"
          label="&quot;Cancel&quot;"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <TextAreaInput
            boldLabel="true"
            editable="true"
            id="MessageInput"
            label="&quot;Message&quot;"
            labelAbove="true"
            numCols="100"
            numRows="100"
            required="true"
            value="item.Message"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>