<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <Page
    id="FinancialsSummaryTitlePrint"
    parent="ClaimFinancialsGroup(Claim)"
    title="perm.Claim.viewnettotalincurred(Claim) ? displaykey.JSP.ClaimFinancials.Financials.Incurred(util.CurrencyUtil.renderAsCurrency(util.Math.Nz(financials.FinancialsCalculationUtil.getTotalIncurredNet().getAmount(Claim).Amount), Claim.Currency), displaykey.Web.Financials.Summary.Summary) : displaykey.JSP.ClaimFinancials.Financials.NoIncurred(displaykey.Web.Financials.Summary.Summary)">
    <LocationEntryPoint
      signature="FinancialsSummaryTitlePrint(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="FinancialsSummaryTitleScreen"/>
  </Page>
</PCF>
