<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ExposureDetailDV"
    mode="Generaldamage">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Overall"/>
      <Input
        id="LossParty"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.LossParty"
        required="true"
        value="Exposure.LossParty"/>
      <Input
        id="ClosedDate"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.ClosedDate"
        value="Exposure.CloseDate"
        visible=" Exposure.State == &quot;closed&quot; "/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.ClosedOutcome"
        value="Exposure.ClosedOutcome"
        visible=" Exposure.State == &quot;closed&quot; "/>
      <Input
        id="CoverageSubType"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <DateInput
        dateFormat="short"
        id="ReOpenDate"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.ReOpenDate"
        value="Exposure.ReOpenDate"
        visible=" exposure.ReOpenDate != null "/>
      <RangeInput
        editable="true"
        helpText="displaykey.Exposure.Coverage.helpText"
        id="Coverage"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Coverage"
        value="Exposure.Coverage"
        valueRange="Exposure.Claim.Policy.getCoveragesByCoverageType(Exposure.PrimaryCoverage)"/>
      <Input
        id="ReopenedReason"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.ReopenedReason"
        value="Exposure.ReopenedReason"
        visible=" exposure.ReOpenDate != null "/>
      <Input
        action="UserContactDetailPopup.push(Exposure.AssignedUser)"
        available="Exposure.AssignedUser.Contact != null"
        id="AssignedUser_Name"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.AssignedUser.Name"
        value="Exposure.AssigneeDisplayString"/>
      <Input
        id="AssignedGroup_Name"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.AssignedGroup.Name"
        value="Exposure.AssigneeGroupOnlyDisplayString"/>
      <Input
        id="State"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.State"
        value="Exposure.State"/>
      <Input
        id="CreateTime"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.CreateTime"
        value="Exposure.CreateTime"/>
      <InputSet
        visible="Exposure.Claim.Policy.StatCodingEnabled">
        <PolicyStatCodePickerInput
          action="ClaimPolicyStatCodePickerPopup.push(Exposure.Claim)"
          editable="true"
          id="StatLine"
          label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.StatLine"
          value="Exposure.StatLine"
          valueRange="Exposure.Claim.Policy.CappedStatCodes"/>
        <InputSet
          hideIfReadOnly="true"
          visible="true">
          <TextInput
            id="StatLine_Warning"
            value="displaykey.Java.StatCodes.StatCodeListCappedWarning(Exposure.Claim.Policy.StatCodeListCap, Exposure.Claim.Policy.StatCodes.length)"
            visible="Exposure.Claim.Policy.StatCodeListCapped"/>
        </InputSet>
      </InputSet>
      <Input
        id="ValidationLevel"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.ValidationLevel"
        value="Exposure.ValidationLevel"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Claimant"/>
      <ClaimContactInput
        claim="Exposure.Claim"
        editable="true"
        id="Claimant_Picker"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Claimant.Picker"
        required="true"
        value="Exposure.Claimant"
        valueRange="Exposure.Claim.getRelatedContacts(Exposure.Claim.getContactType(&quot;claimant&quot;))">
        <Reflect
          triggerIds="LossParty">
          <ReflectCondition
            condition="VALUE == &quot;insured&quot;"
            value="Exposure.Claim.Insured"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </ClaimContactInput>
      <Input
        editable="true"
        id="Claimant_Type"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Claimant.Type"
        required="true"
        value="Exposure.ClaimantType">
        <Reflect
          triggerIds="Claimant_Picker">
          <ReflectCondition
            condition="Exposure.Claim.Insured==VALUE"
            value="&quot;insured&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <Input
        editable="true"
        id="Claimant_ContactProhibited"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Claimant.ContactProhibited"
        value="ContactProhibited"/>
      <Input
        id="Claimant_PrimaryPhone"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Claimant.PrimaryPhone"
        value="Exposure.Claimant.PrimaryPhoneValue">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.PrimaryPhoneValue"/>
      </Input>
      <Input
        id="Claimant_Address"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Claimant.Address"
        value="Exposure.Claimant.PrimaryAddressDisplayValue">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.PrimaryAddressDisplayValue"/>
      </Input>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Damage"/>
      <TypeKeyInput
        editable="true"
        filter="VALUE.hasCategory( Exposure.Incident.Subtype )"
        id="GeneralDamage_Severity"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Severity"
        value="Exposure.Incident.Severity"/>
      <TextAreaInput
        editable="true"
        id="GeneralDamage_Description"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Description"
        numCols="30"
        numRows="3"
        value="Exposure.Incident.Description"/>
      <Input
        editable="true"
        id="GeneralDamage_LossEstimate"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.LossEstimate"
        value="Exposure.Incident.LossEstimate"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Coding"/>
      <Input
        editable="true"
        id="JurisdictionState"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.JurisdictionState"
        value="Exposure.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Input
        id="Segment"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Segment"
        value="Exposure.Segment"/>
      <Input
        id="Strategy"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Strategy"
        value="Exposure.Strategy"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.OtherCarrierInvolvement"/>
      <Input
        editable="true"
        id="Claimant_OtherCoverage"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Claimant.OtherCoverage"
        required="false"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        def="EditableOtherCoverageDetailsLV(Exposure)"
        editable="true"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.OtherCoverageDetails">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Financials"
        visible="perm.Claim.viewtransactiondetails(Exposure.Claim)"/>
      <Input
        formatType="currency"
        id="RemainingReserves"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.RemainingReserves"
        value="Exposure.ExposureRpt.RemainingReserves"
        visible="perm.Claim.viewreserves(Exposure.Claim)"/>
      <Input
        id="FuturePayments"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.FuturePayments"
        value="Exposure.ExposureRpt.FuturePayments"
        visible="perm.Claim.viewpayments(Exposure.Claim)"/>
      <Input
        id="TotalPayments"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.TotalPayments"
        value="Exposure.ExposureRpt.TotalPayments"
        visible="perm.Claim.viewpayments(Exposure.Claim)"/>
      <Input
        id="TotalRecoveries"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.TotalRecoveries"
        value="Exposure.ExposureRpt.TotalRecoveries"
        visible="perm.Claim.viewrecoveries(Exposure.Claim)"/>
      <Input
        formatType="currency"
        id="TotalIncurredNet"
        label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.TotalIncurredNet"
        value="Exposure.ExposureRpt.TotalIncurredNet"
        visible="perm.Claim.viewnettotalincurred(Exposure.Claim)"/>
    </InputColumn>
    <Code><![CDATA[
property get ContactProhibited() : boolean {
    return Exposure.Claim.getClaimContact(Exposure.Claimant).ContactProhibited
}

property set ContactProhibited(prohibited : boolean) {
  var claimContact = Exposure.Claim.getClaimContact(Exposure.Claimant)
  if (claimContact != null) claimContact.ContactProhibited = prohibited
}
      
    ]]></Code>
  </DetailViewPanel>
</PCF>
