<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="GroupSearchResultsLV">
    <Require
      name="GroupList"
      type="GroupQuery"/>
    <RowIterator
      editable="false"
      elementName="Group"
      value="GroupList">
      <Row>
        <Cell
          action="GroupDetailPage.go(Group)"
          id="Name"
          label="displaykey.LV.Admin.GroupSearchResults.Name"
          sortOrder="1"
          value="Group.Name"/>
        <Cell
          id="ParentGroup"
          label="displaykey.LV.Admin.GroupSearchResults.ParentGroup"
          value="Group.Parent.Name"/>
        <Cell
          id="Type"
          label="displaykey.LV.Admin.GroupSearchResults.Type"
          value="Group.GroupType"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
