<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="RegionSearchScreen">
    <SearchPanel
      criteriaName="SearchCriteria"
      resultsName="searchResults"
      search="SearchCriteria.performSearch()"
      searchCriteria="new gw.api.admin.RegionSearchCriteria()"
      searchResultsType="RegionQuery">
      <PanelRef
        def="RegionSearchDV(SearchCriteria)"/>
      <PanelRef
        def="RegionSearchResultsLV(searchResults,true,false)">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.Search.Results"/>
        <Toolbar/>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>
