<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableTPAInfoLV">
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      cellNavOnEnter="true"
      editable="true"
      elementName="TPA"
      toAdd="Claim.addToThirdPartyAdminsExt(TPA)"
      toRemove="Claim.removeFromThirdPartyAdminsExt(TPA)"
      value="Claim.ThirdPartyAdminsExt">
      <Row>
        <ContentCell
          label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.TPA.Insurer">
          <DetailViewPanel>
            <InputColumn>
              <ClaimContactInput
                claim="Claim"
                editable="true"
                id="TPAContactInput"
                newContactMenu="ClaimNewPersonCompanyOnlyPickerMenuItemSet"
                numCols="20"
                postOnChange="true"
                required="true"
                showSearchInMenu="false"
                value="TPA.InsurerTPA"
                valueRange="Claim.UIHelper.LossDetailsHelper.getValidTPAContacts(Claim)"/>
            </InputColumn>
          </DetailViewPanel>
        </ContentCell>
        <ContentCell>
          <DetailViewPanel>
            <InputColumn>
              <RangeInput
                available="TPA.InsurerTPA != null"
                editable="true"
                id="CurrentRoleRangeCell"
                label="&quot;&quot;"
                required="true"
                value="TPA.CurrentRole"
                valueRange="Claim.UIHelper.LossDetailsHelper.getValidRolesForInsurerTPA(TPA.InsurerTPA)"/>
            </InputColumn>
          </DetailViewPanel>
        </ContentCell>
        <Cell
          editable="true"
          id="PolicyNumberInput"
          label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.TPA.PolicyNumber"
          numCols="12"
          required="false"
          value="TPA.PolicyNumber"/>
        <Cell
          editable="true"
          id="ClaimNumberInput"
          label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.TPA.ClaimNumber"
          numCols="12"
          required="false"
          value="TPA.ClaimNumber"/>
        <Cell
          id="PhoneNumberInput"
          label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.TPA.Phone"
          numCols="15"
          postOnChange="true"
          value="util.custom_Ext.finders.getPrimaryPhoneNumber(TPA.InsurerTPA)"/>
        <TextAreaCell
          editable="true"
          id="AdditionalDetailsInput"
          label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.TPA.AdditionalDetails"
          numCols="25"
          numRows="3"
          value="TPA.AdditionalDetails"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>