<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="IMMotorTruckCargoLV">
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="true"
      elementName="Cargo"
      hasCheckBoxes="true"
      toAdd="Claim.addToCargoExt(Cargo)"
      toRemove="Claim.removeFromCargoExt(Cargo)"
      value="Claim.CargoExt">
      <Row>
        <TypeKeyCell
          editable="true"
          id="CargoType"
          label="displaykey.LV.Claim.Cargo.CargoType"
          required="true"
          value="Cargo.CargoType"/>
        <TextCell
          id="CargoDetails"
          label="displaykey.LV.Claim.Cargo.CargoDetails"
          maxChars="100"
          required="false"
          value="Cargo.Details"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>