<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="LossDetailsDV"
    mode="Pr">
    <Require
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="new gw.api.claim.CommercialPropertyHelper(Claim)"
      name="CommercialPropertyHelper"
      type="gw.api.claim.CommercialPropertyHelper"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LossDetails"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Description"
        numCols="50"
        numRows="3"
        required="false"
        value="Claim.Description"/>
      <Input
        editable="true"
        id="LossCause"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LossCause"
        onChange="CommercialPropertyHelper.createDamageTypesPerLossCause()"
        postOnChange="true"
        required="true"
        value="Claim.LossCause"/>
      <BooleanRadioInput
        editable="true"
        id="ArsonInvolved"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.ArsonInvolved"
        value="Claim.PropertyFireDamage.Arson"
        visible="CommercialPropertyHelper.PropertyFireDamage.Present"/>
      <TypeKeyInput
        editable="true"
        id="LocationOfTheft"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LocationOfTheft"
        value="Claim.LocationOfTheft"
        visible="Claim.LossCause == &quot;burglary&quot;"/>
      <Input
        editable="true"
        id="Notification_Fault"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.Fault"
        postOnChange="true"
        value="claim.FaultRating"/>
      <Input
        editable="true"
        id="Notification_AtFaultPercentage"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.AtFaultPercentage"
        value="Claim.Fault"
        visible=" Claim.FaultRating == &quot;1&quot; "/>
      <RangeInput
        editable="true"
        id="Catastrophe_CatastropheNumber"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Catastrophe.CatastropheNumber"
        required="false"
        value="Claim.Catastrophe"
        valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="LossDate"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LossDate"
        required="true"
        timeFormat="short"
        validationExpression="Claim.LossDate == null || Claim.LossDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.LossDate"/>
      <Input
        editable="true"
        id="Claim_ComputerSecurity"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.ComputerSecurity"
        value="Claim.ComputerSecurity"/>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableFixedPropertyIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Properties"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableInjuryIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetails.Claim.Injuries"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LossLocation"/>
      <InputSetRef
        def="AddressInputSet(Claim.AddressOwner)"
        mode="Claim.AddressOwner.InputSetMode"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification"/>
      <Input
        editable="true"
        id="Notification_FirstNoticeSuit"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.FirstNoticeSuit"
        value="Claim.FirstNoticeSuit"/>
      <Input
        editable="true"
        id="Notification_HowReported"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.HowReported"
        value="Claim.HowReported"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="ReportedBy_Picker"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.ReportedBy.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        required="true"
        value="Claim.Reporter"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Notification_ReportedByType"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.ReportedByType"
        required="true"
        value="Claim.ReportedByType">
        <Reflect
          triggerIds="ReportedBy_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="MainContact_Picker"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.MainContact.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        value="Claim.MainContact"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Notification_MainContactType"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.MainContactType"
        value="Claim.MainContactType">
        <Reflect
          triggerIds="MainContact_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Notification_DateReportedToAgent"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.DateReportedToAgent"
        requestValidationExpression="gw.api.util.DateUtil.validateNonFutureDate(VALUE)"
        timeFormat="short"
        value="Claim.DateRptdToAgent"/>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableOfficialsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Officials"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
    <InputFooterSection>
      <Label
        id="Claim_ContributingFactors"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.ContributingFactors"/>
      <ListViewInput
        def="EditableContributingFactorsLV(Claim)"
        editable="true"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="MetroReportsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsAuto.Claim.MetroReports"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Button.Metro.new"
            removeFlags="any RemovableMetroReport, no NotRemovableMetroReport"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
    <Code><![CDATA[function createPropertyFireDamageIfNecessary() {
  var claimProperty = entity.Claim.Type.TypeInfo.getProperty("PropertyFireDamage")
  
  if(Claim.LossCause == "fire") {
    var constructor = claimProperty.Type.TypeInfo.getConstructor({})
    claimProperty.Accessor.setValue(Claim, constructor.Constructor.newInstance({}))
  } else {
    var bean = claimProperty.Accessor.getValue(Claim) as KeyableBean
    if(bean!=null) {
      bean.remove()
      claimProperty.Accessor.setValue(Claim, null)
    }
  }
}]]></Code>
  </DetailViewPanel>
</PCF>