<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- For printing use only (specifically for ClaimPrintout use) -->
  <Page
    id="ActivityDetailPrint"
    parent="ClaimPrintout(Activity.Claim)"
    title="displaykey.JSP.ActivityDetail.Detail.Title(Activity.Claim.ClaimNumber)">
    <LocationEntryPoint
      signature="ActivityDetailPrint(Activity : Activity)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Activity"
      type="Activity"/>
    <Variable
      initialValue="new activity.ActivityDetailHelper(null)"
      name="activityDetailHelper"/>
    <ScreenRef
      def="ActivityDetailScreen(Activity, activityDetailHelper)"
      mode="&quot;readonly&quot;"/>
  </Page>
</PCF>
