<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.viewteam"
    id="TeamGroupAging"
    title="displaykey.Web.Team.GroupAgingTitle(GroupInfo.DisplayName)">
    <LocationEntryPoint
      signature="TeamGroupAging(GroupInfo : admin.TreeGroupInfo)"/>
    <Variable
      name="GroupInfo"
      type="admin.TreeGroupInfo"/>
    <Variable
      initialValue="new team.TeamGroupStatisticsHelper(GroupInfo)"
      name="PageHelper"/>
    <Variable
      initialValue="gw.api.team.TeamStatisticsUtil.getTeamAgingStatistics(GroupInfo.Group)"
      name="StatisticsList"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="&quot;GroupAgingStatisticsLV&quot;"
      name="PrintTargetLV"/>
    <Screen
      id="TeamGroupAgingScreen">
      <Toolbar
        reflectOnBottom="true">
        <ToolbarButton
          action="print.ListViewPrintOptionPopupAction.printListViewWithOptions(PrintTargetLV)"
          available="perm.User.printlistviews"
          id="PrintButton"
          label="displaykey.Java.ListView.Print"
          shortcut="N"/>
        <ToolbarDivider/>
        <ToolbarDivider/>
        <ToolbarInput
          boldLabel="true"
          editable="false"
          id="AsOf"
          value="displaykey.Web.Team.AsOf(PageHelper.AsOfDate)"/>
      </Toolbar>
      <PanelRef
        def="GroupAgingStatisticsLV(StatisticsList, PageHelper)"/>
    </Screen>
  </Page>
</PCF>
