<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.viewteam"
    id="TeamGroupOtherExposures"
    title="displaykey.Web.Team.OtherExposuresTitle">
    <LocationEntryPoint
      signature="TeamGroupOtherExposures(Group : Group)"/>
    <Variable
      name="Group"
      type="Group"/>
    <Variable
      initialValue="team.TeamOtherExposureFilterSet.TEAM_OTHER_EXPOSURE_FILTER"
      name="FilterSet"
      type="team.TeamExposureFilterSet"/>
    <Variable
      initialValue="ExposureTeamView.finder.findStaleOrFailedAssignmentsByGroup(Group)"
      name="ExposureTeamViewList"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="&quot;TeamExposuresLV&quot;"
      name="PrintTargetLV"/>
    <Screen
      id="TeamGroupOtherExposuresScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Team.OtherExposuresTitle"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignExposuresPopup.push(new exposure.ExposureAssignmentPopup(CheckedValues))"
          flags="any ExposureTeamView"
          id="TeamGroupOtherExposures_Assign"
          iterator="TeamExposuresLV"
          label="displaykey.Web.Team.Toolbar.Assign"
          shortcut="G"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="print.ListViewPrintOptionPopupAction.printListViewWithOptions(PrintTargetLV)"
          available="perm.User.printlistviews"
          id="TeamGroupOtherExposures_Print"
          label="displaykey.Java.ListView.Print"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="TeamExposuresLV(ExposureTeamViewList, FilterSet)"/>
    </Screen>
  </Page>
</PCF>
