<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.viewteam"
    id="TeamGroupOtherMatters"
    title="displaykey.Web.Team.OtherMattersTitle">
    <LocationEntryPoint
      signature="TeamGroupOtherMatters(Group : Group)"/>
    <Variable
      name="Group"
      type="Group"/>
    <Variable
      initialValue="MatterTeamView.finder.findStaleOrFailedAssignmentsByGroup(Group)"
      name="MatterTeamViewList"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="&quot;TeamMattersLV&quot;"
      name="PrintTargetLV"/>
    <Screen
      id="TeamGroupOtherMattersScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Team.OtherMattersTitle"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignMattersPopup.push(new matter.MatterAssignmentPopup(CheckedValues))"
          flags="all CanAssignMatter"
          id="TeamGroupOtherMatters_Assign"
          iterator="TeamMattersLV"
          label="displaykey.Web.Team.Toolbar.Assign"
          shortcut="G"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="print.ListViewPrintOptionPopupAction.printListViewWithOptions(PrintTargetLV)"
          available="perm.User.printlistviews"
          id="TeamGroupOtherMatters_Print"
          label="displaykey.Java.ListView.Print"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="TeamMattersLV(MatterTeamViewList)"/>
    </Screen>
  </Page>
</PCF>
