<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    border="true"
    compress="true"
    id="AttorneyRatingLV">
    <Require
      name="selectedAssignment"
      type="MatterAssignmentExt"/>
    <Require
      name="review"
      type="Review"/>
    <Row
      highlighted="false">
      <ContentCell
        colspan="2">
        <DetailViewPanel
          border="true">
          <InputColumn>
            <ListViewInput
              validationExpression="selectedAssignment.Matter.addEvent(&quot;AttorneyRatingChanged&quot;)">
              <Toolbar/>
              <ListViewPanel>
                <Row
                  useTitleStyle="true">
                  <ContentCell
                    width="85%">
                    <DetailViewPanel>
                      <InputColumn>
                        <Label
                          label="&quot;Category&quot;"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </ContentCell>
                  <ContentCell
                    align="center"
                    width="15%">
                    <DetailViewPanel>
                      <InputColumn>
                        <Label
                          label="&quot;Rating&quot;"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </ContentCell>
                </Row>
              </ListViewPanel>
            </ListViewInput>
            <InputIterator
              elementName="rqas"
              id="ARQuestionSetIterator"
              value="review.SortedQuestionAnswerSets">
              <ListViewInput
                def="ARQuestionSetLV(rqas.QuestionSet, rqas, review, selectedAssignment)">
                <Toolbar/>
              </ListViewInput>
            </InputIterator>
            <ListViewInput>
              <Toolbar/>
              <ListViewPanel>
                <Row
                  useSubHeaderStyle="true">
                  <Cell
                    colspan="2"
                    id="BlankCell3"/>
                </Row>
                <Row>
                  <Cell
                    bold="true"
                    id="AttorneyRatingCommentsTitleCell"
                    value="&quot;Attorney Rating Comments&quot;"/>
                </Row>
                <Row>
                  <ContentCell
                    colspan="2">
                    <DetailViewPanel
                      border="true">
                      <InputColumn>
                        <TextAreaInput
                          editable="true"
                          id="AttorneyRatingComments"
                          numCols="100"
                          numRows="5"
                          required="selectedAssignment.AttorneyRatingHelper.AreCommentsRequired"
                          value="review.Comments"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </ContentCell>
                </Row>
              </ListViewPanel>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </ContentCell>
    </Row>
  </ListViewPanel>
</PCF>