<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="false"
    id="BudgetStatusDV">
    <Require
      name="selectedAssignment"
      type="MatterAssignmentExt"/>
    <InputColumn>
      <Label
        label="displaykey.Matter.Counsel.Budget.BudgetPlanDetails"/>
      <TextInput
        align="left"
        id="BudgetStatus"
        label="displaykey.Matter.Counsel.Budget.BudgetPlanDetails.BudgetStatus"
        value="selectedAssignment.BudgetExt != null ? selectedAssignment.UIHelper.BudgetStatusDisplay: &quot;Not Submitted&quot;"/>
      <TextInput
        align="left"
        id="SharePercent"
        label="displaykey.Matter.Counsel.Budget.BudgetPlanDetails.SharePercent"
        value="selectedAssignment.BillSharePrctExt"/>
      <InputDivider/>
      <Label
        id="MatterTotalsLabel"
        label="displaykey.Matter.Counsel.Budget.MatterTotals"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar
          visible="false"/>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="budgetTotalsLineItems"
            id="BudgetTotalsLineItems"
            value="selectedAssignment.BudgetExt.MatterBudgetTotalsLineItemExt">
            <IteratorSort
              sortBy="budgetTotalsLineItems.Category"
              sortOrder="1"/>
            <Row>
              <Cell
                id="Category"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Category"
                value="budgetTotalsLineItems.Category"/>
              <Cell
                id="Budget"
                label="&quot;Budget&quot;"
                value="budgetTotalsLineItems.Budget"/>
              <Cell
                id="FinalizedInvoices"
                label="&quot;Finalized Invoices&quot;"
                value="budgetTotalsLineItems.FinalizedInvoices"/>
              <Cell
                id="RemainingBudget"
                label="&quot;Remaining Budget&quot;"
                value="budgetTotalsLineItems.RemainingBudget"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Matter.Counsel.Budget.LineItemSummary"/>
      <ListViewInput
        available="!selectedAssignment.UIHelper.TopLevelBudgetLineItems.Empty"
        labelAbove="true"
        visible="!selectedAssignment.UIHelper.TopLevelBudgetLineItems.Empty">
        <Toolbar
          visible="false"/>
        <ListViewPanel>
          <Row
            useSubHeaderStyle="true">
            <Cell
              bold="true"
              colspan="5"
              id="FeesLabelCell"
              value="&quot;Fees&quot;"/>
          </Row>
          <RowIterator
            editable="false"
            elementName="budgetLineItems"
            id="BudgetLineItemsFees"
            value="selectedAssignment.UIHelper.TopLevelBudgetLineItems.where(\ i  -&gt; i.UTBMS.contains(&quot;L&quot;))">
            <IteratorSort
              sortBy="budgetLineItems.UTBMS"
              sortOrder="1"/>
            <Row>
              <Cell
                id="UTBMS"
                label="&quot;Code&quot;"
                value="budgetLineItems.UTBMS"/>
              <Cell
                id="Category"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Category"
                value="budgetLineItems.Category"/>
              <DateCell
                id="Date"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Date"
                value="budgetLineItems.Date"/>
              <Cell
                align="left"
                id="Amount"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Amount"
                value="budgetLineItems.Amount"/>
              <Cell
                align="right"
                id="ReviewStatus"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.ReviewStatus"
                value="selectedAssignment.UIHelper.getBudgetReviewStatusDisplay(budgetLineItems.ReviewStatus)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        available="!selectedAssignment.UIHelper.TopLevelBudgetLineItems.Empty"
        labelAbove="true"
        visible="!selectedAssignment.UIHelper.TopLevelBudgetLineItems.Empty">
        <Toolbar
          visible="false"/>
        <ListViewPanel>
          <Row
            useSubHeaderStyle="true">
            <Cell
              available="!selectedAssignment.UIHelper.TopLevelBudgetLineItems.Empty"
              bold="true"
              colspan="5"
              id="ExpensesLabelCell"
              value="&quot;Expenses&quot;"/>
          </Row>
          <RowIterator
            editable="false"
            elementName="budgetLineItems"
            id="BudgetLineItemsExpenses"
            value="selectedAssignment.UIHelper.TopLevelBudgetLineItems.where(\ i  -&gt; i.UTBMS.contains(&quot;E&quot;))">
            <IteratorSort
              sortBy="budgetLineItems.UTBMS"
              sortOrder="1"/>
            <Row>
              <Cell
                id="UTBMS"
                label="&quot;Code&quot;"
                value="budgetLineItems.UTBMS"/>
              <Cell
                id="Category"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Category"
                value="budgetLineItems.Category"/>
              <DateCell
                id="Date"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Date"
                value="budgetLineItems.Date"/>
              <Cell
                align="left"
                id="Amount"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.Amount"
                value="budgetLineItems.Amount"/>
              <Cell
                align="right"
                id="ReviewStatus"
                label="displaykey.Matter.Counsel.Budget.LineItemDetails.ReviewStatus"
                value="selectedAssignment.UIHelper.getBudgetReviewStatusDisplay(budgetLineItems.ReviewStatus)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>