<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ClaimantFeatureRowSet">
    <Require
      name="assignment"
      type="MatterAssignmentExt"/>
    <Row
      useTitleStyle="true"
      visible="false">
      <Cell
        align="center"
        colspan="4"
        id="blankCell0"/>
    </Row>
    <Row
      useSubHeaderStyle="true"
      visible="false">
      <Cell
        align="center"
        colspan="4"
        id="blankCell1"/>
    </Row>
    <Row
      useTitleStyle="true">
      <Cell
        align="left"
        bold="true"
        colspan="4"
        id="LawFirmCell"
        value="assignment.UIHelper.AssignmentTitleLineDisplay"/>
    </Row>
    <Row
      useTitleStyle="true"
      visible="true">
      <Cell
        align="center"
        colspan="4"
        id="blankCell4"/>
    </Row>
    <Row
      useTitleStyle="true"
      visible="false">
      <Cell
        align="center"
        colspan="4"
        id="blankCell3"/>
    </Row>
    <RowIterator
      editable="true"
      elementName="matterExposures"
      value="assignment.UIHelper.ValidAssignmentExposuresForDisposition">
      <IteratorSort
        sortBy="matterExposures.ClaimantExt"
        sortOrder="1"/>
      <IteratorSort
        sortBy="matterExposures.Exposure"
        sortOrder="2"/>
      <Row>
        <Cell
          id="ClaimantRangeCell"
          label="&quot;Claimant Name&quot;"
          required="false"
          value="matterExposures.Exposure.Claimant"/>
        <Cell
          id="FeatureRangeCell"
          label="displaykey.Matter.JurisdictionLitigationStatus.Claimant.Feature"
          required="false"
          value="matterExposures.Exposure"/>
        <RangeCell
          editable="true"
          id="DispositionTypeKeyCell"
          label="displaykey.Matter.Disposition"
          value="matterExposures.DispositionTypeExt"
          valueRange="assignment.Matter.UIHelper.ValidDispositionTypes"/>
        <DateCell
          editable="true"
          id="DispositionDateCell"
          label="displaykey.Matter.DispositionDate"
          value="matterExposures.DispositionDateExt"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>