<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewExposureWCIndemnityDV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Variable
      initialValue="&quot;&quot;"
      name="ExpType"
      type="String"/>
    <!-- COLUMN ONE -->
    <InputColumn>
      <!-- Feature Section -->
      <InputSetRef
        def="ExposureSummaryInputSet(Exposure, ExpType)"/>
      <!-- Claimant Section -->
      <InputSetRef
        def="InjuredWorkerSectionInputSet(Exposure, ExpType)"/>
      <!-- METHOD OF SETTLEMENT SECTION -->
      <InputSetRef
        def="MethodOfSettlementInputSet(Exposure)"/>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.NVV.Exposure.LostWagesSummary.LostWages.Dependents"/>
        <Input
          id="NumDependents"
          label="displaykey.NVV.Exposure.LostWagesSummary.LostWages.NumDependents"
          value="Exposure.getClaimContactRolesByRole(&quot;claimantdep&quot;).Count"/>
      </InputSet>
    </InputColumn>
    <!-- COLUMN TWO -->
    <InputColumn>
      <!-- Loss Description Section -->
      <Label
        label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.LossDesc"/>
      <TextAreaInput
        id="Description"
        numCols="45"
        numRows="3"
        value="Exposure.Claim.Description"/>
      <InputDivider/>
      <InputSetRef
        def="WCOtherCarrierInputSet(Exposure)"/>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.NVV.Exposure.LostWagesSummary.Exposure.Benefits.WageStatement"/>
        <Input
          editable="true"
          id="Exposure_WageStmtSent"
          label="displaykey.NVV.Exposure.LostWagesSummary.Exposure.WageStmtReq"
          value="Exposure.WageStmtSent"/>
        <Input
          editable="true"
          id="Exposure_WageStmtRecd"
          label="displaykey.NVV.Exposure.LostWagesSummary.Exposure.WageStmtRecd"
          value="Exposure.WageStmtRecd"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>