<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CheckExchangeRateInputSet"
    visible="util.CurrencyUtil.isMultiCurrencyMode() and check.Currency != check.Claim.Currency">
    <Require
      name="check"
      type="Check"/>
    <Require
      name="widgetLabel"
      type="java.lang.String"/>
    <Label
      label="widgetLabel"
      visible="widgetLabel != null"/>
    <BooleanRadioInput
      editable="perm.ExchangeRate.edit"
      falseLabel="displaykey.Web.Claim.ExchangeRateInputSet.Automatic"
      id="Transaction_ExchangeRateOverride"
      label="displaykey.Web.Claim.ExchangeRateInputSet.ExchangeRateMode"
      postOnChange="true"
      trueLabel="displaykey.Web.Claim.ExchangeRateInputSet.Manual"
      value="check.OverrideExchangeRate"/>
    <TextInput
      editable="check.OverrideExchangeRate"
      format="var rate = check.TransToClaimExchangeRateEntity; return &quot;1 &quot; + rate.BaseCurrency.DisplayName + &quot; = #.###### &quot; + rate.PriceCurrency.DisplayName;"
      formatType="exactNumber"
      id="Transaction_ExchangeRate"
      label="displaykey.Web.Claim.ExchangeRateInputSet.ExchangeRate"
      numCols="8"
      postOnChange="true"
      value="check.TransToClaimExchangeRateEntityRate"/>
    <Input
      editable="check.OverrideExchangeRate"
      id="Transaction_RateSet_Description"
      label="displaykey.Web.Claim.ExchangeRateInputSet.RateSetDescription"
      value="check.TransToClaimExchangeRateEntity.ExchangeRateSet.Description"/>
    <Input
      id="Transaction_RateSet_Date"
      label="displaykey.Web.Claim.ExchangeRateInputSet.ExchangeRateDate"
      value="check.TransToClaimExchangeRateEntity.ExchangeRateSet.EffectiveDate"/>
  </InputSet>
</PCF>
