<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="TransactionExchangeRateInputSet"
    visible="util.CurrencyUtil.isMultiCurrencyMode() and transaction.Currency != transaction.Claim.Currency">
    <Require
      name="transaction"
      type="Transaction"/>
    <BooleanRadioInput
      editable="perm.ExchangeRate.edit"
      falseLabel="displaykey.Web.Claim.ExchangeRateInputSet.Automatic"
      id="Transaction_ExchangeRateOverride"
      label="displaykey.Web.Claim.ExchangeRateInputSet.ExchangeRateMode"
      postOnChange="true"
      trueLabel="displaykey.Web.Claim.ExchangeRateInputSet.Manual"
      value="transaction.OverrideTransToClaimExchangeRate"/>
    <TextInput
      editable="transaction.OverrideTransToClaimExchangeRate"
      format="var rate = transaction.TransToClaimExchangeRate; return &quot;1 &quot; + rate.BaseCurrency.DisplayName + &quot; = #.###### &quot; + rate.PriceCurrency.DisplayName;"
      formatType="exactNumber"
      id="Transaction_ExchangeRate"
      label="displaykey.Web.Claim.ExchangeRateInputSet.ExchangeRate"
      numCols="8"
      postOnChange="true"
      value="transaction.TransToClaimExchangeRateRate"/>
    <Input
      editable="transaction.OverrideTransToClaimExchangeRate"
      id="Transaction_RateSet_Description"
      label="displaykey.Web.Claim.ExchangeRateInputSet.RateSetDescription"
      value="transaction.TransToClaimExchangeRate.ExchangeRateSet.Description"/>
    <Input
      id="Transaction_RateSet_Date"
      label="displaykey.Web.Claim.ExchangeRateInputSet.ExchangeRateDate"
      value="transaction.TransToClaimExchangeRate.ExchangeRateSet.EffectiveDate"/>
  </InputSet>
</PCF>
