<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- created by rbr -->
  <Page
    canEdit="true"
    canVisit="perm.Policy.view(Claim) and perm.System.viewpolicy and Claim.Policy.Verified"
    id="ClaimPolicyePolicy"
    title="displaykey.Web.ClaimPolicy.General">
    <LocationEntryPoint
      signature="ClaimPolicyePolicy(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="ClaimPolicyGeneralScreen">
      <TemplatePanel><![CDATA[<iframe 
					width='1200' 
					height='1000' 
					frameborder='0'
					src='https://epolicy.gaic.com'>
				</iframe>
      ]]></TemplatePanel>
    </Screen>
  </Page>
</PCF>
