<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CoverageLimitsInputSet"
    mode="AGRIPROPERTY">
    <Require
      name="Coverage"
      type="Coverage"/>
    <Input
      editable="true"
      formatType="exactNumber"
      id="IncidentLimit"
      label="displaykey.LV.Policy.PolicyCoverages.IncidentLimit"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(Coverage.IncidentLimit) ? null : displaykey.Java.Validation.Number.NotAnInteger"
      value="Coverage.IncidentLimit"
      visible="Coverage.Type!=&quot;ab_FPAD&quot;"/>
    <TypeKeyInput
      editable="true"
      filter="Coverage.filterCovLimitBasis(VALUE)"
      id="CovLimitBasis"
      label="displaykey.LV.Policy.Coverages.CovLimitBasis"
      postOnChange="true"
      validationExpression="Coverage.validateCoverageLimit()"
      value="Coverage.CovLimitBasisExt"
      visible="Coverage.Type!=&quot;ab_FPAD&quot;"/>
    <TypeKeyInput
      editable="true"
      filter="Coverage.filterCovLimitAppliesTo(VALUE)"
      id="CovLimitApp"
      label="displaykey.LV.Policy.Coverages.CovLimitApp"
      postOnChange="true"
      validationExpression="Coverage.validateCoverageLimit()"
      value="Coverage.CovLimitAppExt"
      visible="Coverage.Type!=&quot;ab_FPAD&quot;"/>
    <Input
      editable="true"
      formatType="exactNumber"
      id="AggLimit"
      label="displaykey.GAIC.LV.Policy.EditablePropertyCoverages.AggLimit"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(Coverage.AggregateLimitExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
      value="Coverage.AggregateLimitExt"
      visible="Coverage.Type!=&quot;ab_FPAD&quot;"/>
    <TypeKeyInput
      editable="true"
      filter="Coverage.filterAggLimitBasis(VALUE)"
      id="AggLimitBasis"
      label="displaykey.LV.Policy.Coverages.AggLimitBasis"
      postOnChange="true"
      validationExpression="Coverage.validateAggreateLimit()"
      value="Coverage.AggLimitBasisExt"
      visible="Coverage.Type!=&quot;ab_FPAD&quot;"/>
    <TypeKeyInput
      editable="true"
      filter="Coverage.filterAggLimitAppliesTo(VALUE)"
      id="AggLimitApp"
      label="displaykey.LV.Policy.Coverages.AggLimitApp"
      postOnChange="true"
      validationExpression="Coverage.validateAggreateLimit()"
      value="Coverage.AggLimitAppExt"
      visible="Coverage.Type!=&quot;ab_FPAD&quot;"/>
    <Input
      editable="true"
      formatType="exactNumber"
      id="Deductible"
      label="displaykey.LV.Policy.PolicyCoverages.Deductible"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(Coverage.Deductible) ? null : displaykey.Java.Validation.Number.NotAnInteger"
      value="Coverage.Deductible"/>
    <TypeKeyInput
      editable="true"
      id="DeductBasis"
      label="displaykey.LV.Policy.Coverages.DeductLimitBasis"
      value="Coverage.DeductLimitBasisExt"/>
    <TypeKeyInput
      editable="true"
      id="DeductApp"
      label="displaykey.LV.Policy.Coverages.DeductApplication"
      value="Coverage.DeductLimitAppExt"/>
  </InputSet>
</PCF>