<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="JobsiteLocationsLV">
    <Require
      name="JobsiteList"
      type="JobsiteRUExt[]"/>
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="false"
      elementName="Jobsite"
      hasCheckBoxes="true"
      pageSize="10"
      toCreateAndAdd="Claim.Policy.createPolicyJobsite()"
      toRemove="Claim.Policy.removeFromRiskUnits(Jobsite)"
      type="JobsiteRUExt"
      value="JobsiteList">
      <Row>
        <Cell
          align="left"
          id="PropertyNumber"
          label="displaykey.LV.Policy.Locations.Jobsite"
          sortOrder="1"
          value="Jobsite.JobsiteNumberExt"/>
        <Cell
          id="RiskNumber"
          label="displaykey.LV.Policy.Locations.RiskNumber"
          value="Jobsite.Property.RiskNumberExt"/>
        <Cell
          id="RiskType"
          label="displaykey.LV.Policy.Locations.RiskType"
          sortBy="sortRiskType(Jobsite.Property.RiskTypeExt)"
          sortOrder="2"
          value="Jobsite.Property.RiskTypeExt"/>
        <Cell
          id="RiskDescription"
          label="displaykey.LV.Policy.Locations.RiskDescription"
          sortOrder="5"
          value="Jobsite.JobsiteDescExt"/>
        <Cell
          id="Address"
          label="displaykey.LV.Policy.Locations.Address"
          value="Jobsite.Property.Address"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[function sortRiskType(RiskTypeExt: EDWRiskType ): int{
  var sortValue : int
  
  if (RiskTypeExt == null){
           sortValue = 100
  }
  else if (RiskTypeExt == EDWRiskType.TC_JOBSITE){
    sortValue = 0
  }
  else if (RiskTypeExt == EDWRiskType.TC_COVPROP){
    sortValue = 1
  }
  else if (RiskTypeExt == EDWRiskType.TC_TIMELEMENT){
    sortValue = 2
  }
  return sortValue
}]]></Code>
  </ListViewPanel>
</PCF>