<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyVehicleDetailPanelSet">
    <Require
      name="Policy"
      type="Policy"/>
    <Require
      name="VehicleRU"
      type="VehicleRU"/>
    <Variable
      initialValue="VehicleRU!=null ? VehicleRU.setRiskCoverageDates(): null"
      name="setcoveragedates"
      recalculateOnRefresh="true"/>
    <DetailViewPanel
      id="PolicyVehicleDetailDV">
      <InputColumn>
        <!-- Style field added and automatically set. This will be used to determine whether to send VIN or serial number to ISO. jlmiller -->
        <HiddenInput
          id="Style"
          value="VehicleRU.Vehicle.setStyle(&quot;passengercar&quot;)"/>
        <Label
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Basics"/>
        <!-- <Input
          editable="true"
          id="Style"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Style"
          postOnChange="true"
          required="true"
          value="VehicleRU.Vehicle.Style"/> -->
        <!-- removed for Agri -->
        <Input
          editable="true"
          id="Number"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Number"
          required="true"
          value="VehicleRU.RUNumber"/>
        <Input
          editable="true"
          id="Year"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Year"
          value="VehicleRU.Vehicle.Year"/>
        <Input
          editable="true"
          id="Make"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Make"
          required="true"
          value="VehicleRU.Vehicle.Make"/>
        <Input
          editable="true"
          id="Model"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Model"
          required="true"
          value="VehicleRU.Vehicle.Model"/>
        <Input
          editable="true"
          id="BoatType"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.BoatType"
          value="VehicleRU.Vehicle.BoatType"
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot;"/>
        <Input
          editable="true"
          id="BoatMaterial"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Material"
          value="VehicleRU.Vehicle.VehicleMaterialTypeExt"
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot;"/>
        <Input
          editable="true"
          id="VehicleLength"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Length"
          value="VehicleRU.Vehicle.VehicleLengthExt"
          visible="VehicleRU.Vehicle.Style == &quot;boattrailer&quot;"/>
        <Input
          editable="true"
          formatType="exactNumber"
          id="V_CostNew"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.CostNew"
          outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
          validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(VehicleRU.Vehicle.VehicleNewValueExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
          value="VehicleRU.Vehicle.VehicleNewValueExt"/>
        <BooleanRadioInput
          editable="!Policy.Verified"
          id="MechanicalLift"
          label="displaykey.LV.Policy.Vehicles.MechLift"
          value="VehicleRU.Vehicle.MechanicalLiftExt"
          visible="Policy.Claim.LossType==LossType.TC_ALTMARKETSAUTO OR Policy.Claim.LossType==LossType.TC_SHSAUTO OR Policy.Claim.LossType==LossType.TC_TRUCKINGAUTO OR Policy.Claim.LossType==LossType.TC_AGRIAUTO"/>
        <!-- Commented Out jlmiller for Agri sprint 7    <Input label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.VIN" id="V_VIN" value="VehicleRU.Vehicle.Vin" visible="VehicleRU.Vehicle.Style != &quot;boatengine&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;boattrailer&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;boat&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;ATV&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;snowmobile&quot;" editable="true"/> <Input label="displaykey.LV.Policy.Vehicles.VIN" id="VIN" value="VehicleRU.Vehicle.Vin" printWidth="0.22"/ -->
        <Input
          editable="true"
          id="VehicleWeightCommA"
          label="displaykey.LV.Policy.Vehicles.WeightSeat"
          value="VehicleRU.Vehicle.VehicleWeightExt"
          visible="Policy.Claim.LossType==LossType.TC_ALTMARKETSAUTO OR Policy.Claim.LossType==LossType.TC_SHSAUTO OR Policy.Claim.LossType==LossType.TC_TRUCKINGAUTO OR Policy.Claim.LossType==LossType.TC_AGRIAUTO"/>
        <!-- Commented Out jlmiller for Agri sprint 7    <Input label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.VIN" id="V_VIN" value="VehicleRU.Vehicle.Vin" visible="VehicleRU.Vehicle.Style != &quot;boatengine&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;boattrailer&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;boat&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;ATV&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;snowmobile&quot;" editable="true"/> <Input label="displaykey.LV.Policy.Vehicles.VIN" id="VIN" value="VehicleRU.Vehicle.Vin" printWidth="0.22"/ -->
        <Input
          editable="true"
          id="VehicleWeight"
          label="displaykey.LV.Policy.Vehicles.Weight"
          value="VehicleRU.Vehicle.VehicleWeightExt"
          visible="Policy.Claim.LossType!=LossType.TC_ALTMARKETSAUTO AND Policy.Claim.LossType!=LossType.TC_SHSAUTO AND Policy.Claim.LossType!=LossType.TC_TRUCKINGAUTO AND Policy.Claim.LossType!=LossType.TC_AGRIAUTO"/>
        <!-- Sprint12 Agri ER: Added Eff/Exp dates to display on the risk itself. -->
        <Input
          editable="true"
          id="EffDate"
          label="displaykey.NVV.Policy.LocationDetail.Property.EffectiveDate"
          validationExpression="VehicleRU.effDateError() ? displaykey.NVV.Policy.LocationDetail.Property.DateValidation(&quot;Effective&quot;, util.custom_Ext.DateTime.formatDateString(VehicleRU.Policy.EffectiveDate, VehicleRU.Policy.ExpirationDate)) : util.custom_Ext.DateTime.isDateAfter(VehicleRU.Vehicle.VehicleEffDateExt, VehicleRU.Vehicle.VehicleExpDateExt) ? displayKey.Web.Dates.EffDateAfterExpDate : null"
          value="VehicleRU.Vehicle.VehicleEffDateExt"/>
        <Input
          editable="true"
          id="ExpDate"
          label="displaykey.NVV.Policy.LocationDetail.Property.ExpirationDate"
          validationExpression="VehicleRU.expDateError() ? displaykey.NVV.Policy.LocationDetail.Property.DateValidation(&quot;Expiration&quot;, util.custom_Ext.DateTime.formatDateString(VehicleRU.Policy.EffectiveDate, VehicleRU.Policy.ExpirationDate)) : util.custom_Ext.DateTime.isDateAfter(VehicleRU.Vehicle.VehicleEffDateExt, VehicleRU.Vehicle.VehicleExpDateExt) ? displayKey.Web.Dates.EffDateAfterExpDate : null"
          value="VehicleRU.Vehicle.VehicleExpDateExt"/>
      </InputColumn>
      <!-- <Input
        editable="true"
        id="Color"
        label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Color"
        value="VehicleRU.Vehicle.Color"
        visible="VehicleRU.Vehicle.Style != &quot;boatengine&quot;"/> -->
      <!-- <InputDivider/> -->
      <!-- <Label
        label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.ClassCodeInfo"/> -->
      <!-- <Input
        editable="true"
        id="ClassCode"
        label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.ClassCode"
        value="VehicleRU.Vehicle.ClassCodeExt"/> -->
      <!-- <Input
        editable="true"
        id="ClassCodeDesc"
        label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.ClassCodeDescription"
        value="VehicleRU.Vehicle.ClassCodeDescExt"/> -->
      <!-- <InputDivider/> -->
      <!-- Commented Out jlmiller for Agri sprint 10 -->
      <InputColumn>
        <Label
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.IDInfo"/>
        <!-- <Input
          editable="true"
          id="Style"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Style"
          postOnChange="true"
          value="VehicleRU.Vehicle.Style"/> -->
        <!-- GW ADDED -->
        <Input
          editable="true"
          id="VIN"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.VIN"
          validationExpression="Policy.validateVin(VehicleRU.Vehicle.Vin)"
          value="VehicleRU.Vehicle.Vin"
          visible="VehicleRU.Vehicle.Style != &quot;boatengine&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;boattrailer&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;boat&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;ATV&quot; &amp;&amp; VehicleRU.Vehicle.Style != &quot;snowmobile&quot;"/>
        <Input
          editable="true"
          id="SerialNumber"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.SerialNumber"
          value="VehicleRU.Vehicle.SerialNumber"
          visible="VehicleRU.Vehicle.Style == &quot;boatengine&quot; || VehicleRU.Vehicle.Style == &quot;boattrailer&quot; || VehicleRU.Vehicle.Style == &quot;boat&quot; || VehicleRU.Vehicle.Style == &quot;ATV&quot; || VehicleRU.Vehicle.Style == &quot;snowmobile&quot;"/>
        <!-- <Input
          editable="true"
          id="LicensePlate"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.LicensePlate"
          value="VehicleRU.Vehicle.LicensePlate"
          visible="VehicleRU.Vehicle.Style != &quot;boatengine&quot;"/> -->
        <!-- <Input
          editable="true"
          id="Color"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Color"
          value="VehicleRU.Vehicle.Color"/> -->
        <!-- Commented Out jlmiller for Agri sprint 10  GW ADDED -->
        <RangeInput
          editable="true"
          id="State"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.State"
          value="VehicleRU.Vehicle.State"
          valueRange="util.custom_Ext.getStates.getUSStatesOnly()"
          visible="VehicleRU.Vehicle.Style != &quot;boatengine&quot;"/>
        <InputDivider
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot; || VehicleRU.Vehicle.Style == &quot;boattrailer&quot;"/>
        <Label
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.ValueInfo"
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot; || VehicleRU.Vehicle.Style == &quot;boattrailer&quot;"/>
        <Input
          editable="true"
          formatType="exactNumber"
          id="CostNew"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.CostNew"
          outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
          validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(VehicleRU.Vehicle.VehicleNewValueExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
          value="VehicleRU.Vehicle.VehicleNewValueExt"
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot;"/>
        <Input
          editable="true"
          formatType="exactNumber"
          id="PresentValue"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.PresentValue"
          outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
          validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(VehicleRU.Vehicle.VehicleCurrentValueExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
          value="VehicleRU.Vehicle.VehicleCurrentValueExt"
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot;  || VehicleRU.Vehicle.Style == &quot;boattrailer&quot;"/>
        <!-- <Input
          editable="true"
          id="BoatType"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.BoatType"
          value="VehicleRU.Vehicle.BoatType"
          visible="VehicleRU.Vehicle.Style == &quot;boat&quot;"/> -->
        <!-- GW ADDED -->
        <Input
          editable="true"
          id="OffRoadStyle"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.OffRoadStyle"
          value="VehicleRU.Vehicle.OffRoadStyle"
          visible="VehicleRU.Vehicle.Style == &quot;ATV&quot; || VehicleRU.Vehicle.Style == &quot;snowmobile&quot;"/>
      </InputColumn>
      <InputFooterSection>
        <!-- Lienholders -->
        <ListViewInput
          def="EditableVehicleLienholdersLV(VehicleRU.Vehicle, VehicleRU.Policy.Claim)"
          editable="true"
          id="Lienholders"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Lienholders"
          labelAbove="true"
          validationExpression="VehicleRU.Vehicle.validateLienholders()"
          visible="Policy.Verified">
          <Toolbar>
            <IteratorButtons/>
          </Toolbar>
        </ListViewInput>
        <!-- Additional Interests -->
        <ListViewInput
          def="EditableAdditionalInterestVehicleRisksLV(VehicleRU.Vehicle, VehicleRU.Policy.Claim)"
          editable="true"
          id="AdditionalInterest"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.AdditionalInterest"
          labelAbove="true"
          validationExpression="VehicleRU.Policy.checkCoveredPartyConstraints().formatUserMessage()"
          visible="Policy.Verified">
          <Toolbar>
            <IteratorButtons/>
          </Toolbar>
        </ListViewInput>
        <!-- Coverages -->
        <ListViewInput
          def="EditableVehicleCoveragesLV(VehicleRU.Vehicle, VehicleRU)"
          editable="true"
          id="Coverages"
          label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Coverages"
          labelAbove="true">
          <Toolbar>
            <IteratorButtons/>
          </Toolbar>
        </ListViewInput>
      </InputFooterSection>
    </DetailViewPanel>
  </PanelSet>
</PCF>