<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="!coverage.Policy.Verified"
    id="PropertyCoverageDetailPopup"
    startInEditMode="coverage.New"
    title="displaykey.GAIC.Web.TabBar.Search.CoverageDetail">
    <LocationEntryPoint
      signature="PropertyCoverageDetailPopup(coverage : PropertyCoverage)"/>
    <Variable
      name="coverage"
      type="PropertyCoverage"/>
    <Screen
      id="PropertyCoverageDetailScreen">
      <PanelRef
        def="CoverageDetailsPropertyDV(coverage)"
        mode="coverage.Policy.Claim.LossType.Code">
        <Toolbar>
          <EditButtons
            cancelVisible="true"
            editVisible="true"
            updateVisible="true"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>