<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    afterEnter=""
    canEdit="!coverage.Policy.Verified"
    id="WatercraftCoverageDetailPopup"
    returnType="VehicleCoverage"
    startInEditMode="coverage.New"
    title="displaykey.GAIC.Web.TabBar.Search.CoverageDetail">
    <LocationEntryPoint
      signature="WatercraftCoverageDetailPopup(coverage : VehicleCoverage)"/>
    <Variable
      name="coverage"
      type="VehicleCoverage"/>
    <Screen
      id="WatercraftCoverageDetailScreen">
      <PanelRef
        def="CoverageDetailsWatercraftDV(coverage)">
        <Toolbar>
          <EditButtons
            cancelVisible="true"
            editVisible="true"
            pickValue="coverage"
            updateVisible="true"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>