/* Extends gw.css */
.red{
  color: red;
}

/* Do not wrap input labels */ 
.dv .inputLabel, .dv .inputLabel_bold { 
  white-space: nowrap; 
}

.dv .label_wrap {
  vertical-align: top;
  padding: 2px auto 5px 1px;
  padding-right: 11px; /* Leaves room for Required marker*/
  line-height: 14px;
  padding-bottom:5px;
  white-space: normal;
}


/* Custom Error Box Style*/
.customErrorBox{
  background-color: @alert.background@;
  border: 1px @border2@ solid;
  margin: 6px;
  padding: 10px 10px 10px 10px;
}

