<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="CheckFixBrokenNonCADV">
    <Require
      name="Check"
      type="Check"/>
    <Variable
      initialValue="Check.Claim"
      name="Claim"/>
    <InputColumn>
      <Input
        editable="true"
        id="BackupWithholding"
        label="displaykey.NVV.Financials.NewPaymentDetail.Transaction.BackupWithholding"
        required="true"
        value="Check.BackupWithholdingCheckExt"
        visible="Check.hasPayeeBackupWithholding()"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
