<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterCancel="ClaimFinancialsChecksDetail.go(Claim, Check)"
    afterCommit="ClaimFinancialsChecksDetail.go(Claim, Check)"
    canEdit="true"
    canVisit="perm.Claim.viewpayments(Claim)"
    id="ClaimFinancialsFixBrokenCheck"
    parent="ClaimFinancialsChecks(Claim)"
    startInEditMode="true"
    title="displaykey.JSP.Check.Modify.Title">
    <LocationEntryPoint
      signature="ClaimFinancialsFixBrokenCheck(Claim: Claim, Check : Check)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Check"
      type="Check"/>
    <Screen
      id="ClaimFinancialsFixBrokenCheckScreen">
      <Toolbar
        reflectOnBottom="true">
        <EditButtons
          editVisible="true"
          updateVisible="true"/>
      </Toolbar>
      <PanelRef
        def="CheckFixBrokenDV(Check)"
        editable="true"/>
    </Screen>
  </Page>
</PCF>
