<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotDocumentsScreen"
    mode="400">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Toolbar/>
    <ListViewPanel
      id="ClaimSnapshotDocumentsLV">
      <RowIterator
        editable="false"
        elementName="Document"
        value="((SnapshotParam as snapshot.v400.Claim).Documents as Object[]).where(\ d -&gt; Claim.canViewDocumentSnapshot(User.util.CurrentUser, d)) as snapshot.v400.Document[]">
        <Row>
          <Cell
            id="Name"
            label="displaykey.Web.ClaimSnapshotDocumentsScreen.V400.Name"
            value="Document.Name"/>
          <Cell
            id="Type"
            label="displaykey.Web.ClaimSnapshotDocumentsScreen.V400.Type"
            value="Document.Type"/>
          <Cell
            id="Status"
            label="displaykey.Web.ClaimSnapshotDocumentsScreen.V400.Status"
            value="Document.Status"/>
          <Cell
            id="Author"
            label="displaykey.Web.ClaimSnapshotDocumentsScreen.V400.Author"
            value="Document.Author"/>
          <Cell
            id="DateModified"
            label="displaykey.Web.ClaimSnapshotDocumentsScreen.V400.DateModified"
            value="util.Snapshot.renderValue(Document.DateModified)"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </Screen>
</PCF>
