<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral400DV"
    mode="wc">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="snapshot.v400.Claim"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.General"/>
      <Input
        id="LossType"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.LossType"
        value="Snapshot.LossType"/>
      <Input
        id="LOBCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.LOBCode"
        value="Snapshot.LOBCode"/>
      <Input
        id="NurseCaseMgr"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.NurseCaseMgr"
        value="Snapshot.NurseCaseMgr.DisplayName"/>
      <Input
        id="Catastrophe"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Catastrophe"
        value="Snapshot.Catastrophe.DisplayName"/>
      <Input
        id="PermissionRequired"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PermissionRequired"
        value="Snapshot.PermissionRequired"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Description"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Claimant_1"
        value="Snapshot.Claimant.DisplayName"/>
      <BooleanRadioInput
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ContactProhibited"
        value="util.Snapshot.getClaimant(Snapshot, null)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Snapshot.Claimant)"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PrimaryAddress"
        value="Snapshot.Claimant.PrimaryAddress.DisplayName"/>
      <Input
        id="DateOfBirth"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateOfBirth"
        value="util.Snapshot.renderDate(Snapshot.Claimant.DateOfBirth)"/>
      <Input
        id="TaxID"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.TaxID"
        value="Snapshot.Claimant.TaxID"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Loss"/>
      <DateInput
        dateFormat="short"
        id="DateOfInjury"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateOfInjury"
        timeFormat="short"
        value="Snapshot.LossDate"/>
      <DateInput
        dateFormat="short"
        id="ExposureBegan"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ExposureBegan"
        timeFormat="short"
        value="Snapshot.ExposureBegan"/>
      <DateInput
        dateFormat="short"
        id="ExposureEnded"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ExposureEnded"
        timeFormat="short"
        value="Snapshot.ExposureEnded"/>
      <BooleanRadioInput
        id="EmploymentInjury"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EmploymentInjury"
        value="Snapshot.EmploymentInjury"/>
      <Input
        id="LocationCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.LocationCode"
        value="util.Snapshot.renderValue(Snapshot.LocationCode)"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.JurisdictionState"
        value="Snapshot.JurisdictionState"/>
      <BooleanRadioInput
        id="InsuredPremises"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.InsuredPremises"
        value="Snapshot.InsuredPremises"/>
      <Input
        id="Severity"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Severity"
        value="Snapshot.Severity"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Injury"/>
      <Input
        id="LossCause"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.LossCause"
        value="Snapshot.LossCause"/>
      <Input
        id="AccidentType"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.AccidentType"
        value="Snapshot.AccidentType"/>
      <Input
        id="PrimaryInjury"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PrimaryInjury"
        value="Snapshot.PrimaryInjury"/>
      <Input
        id="DetailedInjury"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DetailedInjury"
        value="Snapshot.DetailedInjury"/>
      <Input
        id="PrimaryBodyPart"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PrimaryBodyPart"
        value="Snapshot.PrimaryBodyPart"/>
      <Input
        id="DetailedBodyPart"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DetailedBodyPart"
        value="Snapshot.DetailedBodyPart"/>
      <Input
        id="InjuryDescription"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.InjuryDescription"
        value="Snapshot.InjuryDescription"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Additional"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="BodyPartsLV">
          <RowIterator
            editable="false"
            elementName="BodyPart"
            value="Snapshot.BodyPartDetails">
            <Row>
              <Cell
                id="PrimaryBodyPart"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PrimaryBodyPart_1"
                value="BodyPart.PrimaryBodyPart"/>
              <Cell
                id="DetailedBodyPart"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DetailedBodyPart_1"
                value="BodyPart.DetailedBodyPart"/>
              <Cell
                id="Compensability"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Compensability"
                value="BodyPart.Compensability"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.First"/>
      <Input
        id="MedCase_FirstIntakeDoctor"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_FirstIntakeDoctor"
        value="Snapshot.FirstIntakeDoctor.DisplayName"/>
      <Input
        id="MedCase_MedicalDiagnosis"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_MedicalDiagnosis"
        value="Snapshot.MedicalDiagnosis"/>
      <DateInput
        dateFormat="long"
        id="MedCase_ExaminationDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_ExaminationDate"
        value="Snapshot.ExaminationDate"/>
      <BooleanRadioInput
        id="MedCase_TreatedPatientBefore"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_TreatedPatientBefore"
        value="Snapshot.TreatedPatientBfr"/>
      <TextAreaInput
        id="MedCase_SubjComplaints"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_SubjComplaints"
        value="Snapshot.SubjComplaints"/>
      <TextAreaInput
        id="MedCase_ObjFindings"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_ObjFindings"
        value="Snapshot.ObjFindings"/>
      <BooleanRadioInput
        id="MedCase_DiagnosticConsistent"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_DiagnosticConsistent"
        value="Snapshot.DiagnosticCnsistnt"/>
      <BooleanRadioInput
        id="MedCase_CurrentConditions"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_CurrentConditions"
        value="Snapshot.CurrentConditions"/>
      <Input
        id="MedCase_MedicalTreatment"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_MedicalTreatment"
        value="Snapshot.MedicalTreatmentType"/>
      <TextAreaInput
        id="MedCase_TreatmentRend"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_TreatmentRend"
        value="Snapshot.TreatmentRend"/>
      <BooleanRadioInput
        id="MedCase_FurtherTreatment"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_FurtherTreatment"
        value="Snapshot.FurtherTreatment"/>
      <Input
        id="MedCase_Hospital"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_Hospital"
        value="Snapshot.Hospital.DisplayName"/>
      <DateInput
        dateFormat="short"
        id="MedCase_HospitalDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_HospitalDate"
        value="Snapshot.HospitalDate"/>
      <Input
        id="MedCase_HospitalDays"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_HospitalDays"
        value="Snapshot.HospitalDays"/>
      <BooleanRadioInput
        id="MedCase_PreexDisability"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_PreexDisability"
        value="Snapshot.PreexDisblty"/>
      <Input
        id="MedCase_PreexDisabilityInfo"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MedCase_PreexDisabilityInfo"
        value="Snapshot.PreexDisbltyInfo"
        visible="Snapshot.PreexDisblty"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Employment"/>
      <Input
        id="Occupation"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Occupation"
        value="Snapshot.Claimant.Occupation"/>
      <Input
        id="EmpClass"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EmpClass"
        value="util.Snapshot.renderValue(Snapshot.EmploymentData.EmpClass)"/>
      <Input
        id="DepartmentCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DepartmentCode"
        value="Snapshot.EmploymentData.DepartmentCode"/>
      <DateInput
        dateFormat="short"
        id="HireDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.HireDate"
        timeFormat="short"
        value="Snapshot.EmploymentData.HireDate"/>
      <Input
        id="HireState"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.HireState"
        value="Snapshot.EmploymentData.HireState"/>
      <Input
        id="EmploymentStatus"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EmploymentStatus"
        value="Snapshot.EmploymentData.EmploymentStatus"/>
      <Input
        id="Supervisor"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Supervisor"
        value="Snapshot.Supervisor.DisplayName"/>
      <Input
        id="NumDaysWorked"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.NumDaysWorked"
        value="Snapshot.EmploymentData.NumDaysWorked"/>
      <Input
        id="NumHoursWorked"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.NumHoursWorked"
        value="Snapshot.EmploymentData.NumHoursWorked"/>
      <Input
        id="WageAmount"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.WageAmount"
        value="Snapshot.EmploymentData.WageAmount"/>
      <Input
        id="PayPeriod"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PayPeriod"
        value="Snapshot.EmploymentData.PayPeriod"/>
      <DateInput
        id="InjuryStartTime"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.InjuryStartTime"
        timeFormat="short"
        value="Snapshot.EmploymentData.InjuryStartTime"/>
      <BooleanRadioInput
        id="PaidFull"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.PaidFull"
        value="Snapshot.EmploymentData.PaidFull"/>
      <BooleanRadioInput
        id="WagePaymentCont"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.WagePaymentCont"
        value="Snapshot.EmploymentData.WagePaymentCont"/>
      <BooleanRadioInput
        id="ModifiedDutyAvail"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ModifiedDutyAvail"
        value="Snapshot.ModifiedDutyAvail"/>
      <BooleanRadioInput
        id="InjuredRegularJob"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.InjuredRegularJob"
        value="Snapshot.InjuredRegularJob"/>
      <Input
        id="EmpQusValidity"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EmpQusValidity"
        value="Snapshot.EmpQusValidity"/>
      <Input
        id="EmployerValidityReason"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EmployerValidityReason"
        value="Snapshot.EmployerValidityReason"
        visible="Snapshot.EmpQusValidity as String == &quot;Yes&quot;"/>
      <Input
        id="DrugsInvolved"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DrugsInvolved"
        value="Snapshot.DrugsInvolved"/>
      <BooleanRadioInput
        id="SafetyEquipProv"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.SafetyEquipProv"
        value="Snapshot.SafetyEquipProv"/>
      <BooleanRadioInput
        id="SafetyEquipUsed"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.SafetyEquipUsed"
        value="Snapshot.SafetyEquipUsed"/>
      <Input
        id="ConcurrentEmployment"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ConcurrentEmployment"
        value="Snapshot.ConcurrentEmp"/>
      <ListViewInput
        boldLabel="true"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ConcurrentEmploymentArray"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ConcurrentEmplLV">
          <RowIterator
            editable="false"
            elementName="ConcurrentEmpl"
            value="Snapshot.ConcurrentEmpl">
            <Row>
              <Cell
                id="CompanyName"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.CompanyName"
                value="ConcurrentEmpl.CompanyName"/>
              <Cell
                id="StartDate"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.StartDate"
                value="util.Snapshot.renderValue(ConcurrentEmpl.StartDate)"/>
              <Cell
                id="EndDate"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EndDate"
                value="util.Snapshot.renderValue(ConcurrentEmpl.EndDate)"/>
              <Cell
                id="FullTime"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.FullTime"
                value="util.Snapshot.renderValue(ConcurrentEmpl.FullTime)"/>
              <Cell
                id="WeeklyWage"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.WeeklyWage"
                value="ConcurrentEmpl.WeeklyWage"/>
              <Cell
                id="JobTitle"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.JobTitle"
                value="ConcurrentEmpl.JobTitle"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Work"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="WorkStatusChangesLV">
          <RowIterator
            editable="false"
            elementName="WorkStatusChange"
            value="Snapshot.EmploymentData.WorkStatusChanges">
            <Row>
              <Cell
                id="StatusDate"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.StatusDate"
                value="util.Snapshot.renderValue(WorkStatusChange.StatusDate)"/>
              <Cell
                id="Status"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Status"
                value="WorkStatusChange.Status"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Comments"
                value="WorkStatusChange.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Compensability_1"/>
      <DateInput
        dateFormat="short"
        id="DateCompDcsnDue"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateCompDcsnDue"
        value="Snapshot.DateCompDcsnDue"/>
      <BooleanRadioInput
        id="BenefitsStatusDcsn"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.BenefitsStatusDcsn"
        value="Snapshot.BenefitsStatusDcsn"/>
      <DateInput
        dateFormat="short"
        id="DateCompDcsnMade"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateCompDcsnMade"
        value="Snapshot.DateCompDcsnMade"/>
      <TextAreaInput
        id="Reason"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Reason"
        numCols="30"
        numRows="3"
        value="Snapshot.BenefitsDecisionReason"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Notification"/>
      <Input
        id="Reporter"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Reporter"
        value="Snapshot.Reporter.DisplayName"/>
      <Input
        id="ReportedByType"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ReportedByType"
        value="Snapshot.ReportedByType"/>
      <Input
        id="MainContact"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MainContact"
        value="Snapshot.MainContact.DisplayName"/>
      <Input
        id="MainContactType"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ReportedByType"
        value="Snapshot.MainContactType"/>
      <DateInput
        dateFormat="short"
        id="ReportedDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ReportedDate"
        timeFormat="short"
        value="Snapshot.ReportedDate"/>
      <BooleanRadioInput
        id="FirstNoticeSuit"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.FirstNoticeSuit"
        value="Snapshot.FirstNoticeSuit"/>
      <Input
        id="HowReported"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.HowReported"
        value="Snapshot.HowReported"/>
      <BooleanRadioInput
        id="CoverageInQuestion"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.CoverageInQuestion"
        value="Snapshot.CoverageInQuestion"/>
      <DateInput
        dateFormat="short"
        id="ClaimantRprtdDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ClaimantRprtdDate"
        timeFormat="short"
        value="Snapshot.ClaimantRprtdDate"/>
      <DateInput
        dateFormat="short"
        id="DateRptdToEmployer"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateRptdToEmployer"
        timeFormat="short"
        value="Snapshot.DateRptdToEmployer"/>
      <DateInput
        dateFormat="short"
        id="DateFormGivenToEmp"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateFormGivenToEmp"
        value="Snapshot.DateFormGivenToEmp"/>
      <DateInput
        dateFormat="short"
        id="DateFormRetByEmp"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.DateFormRetByEmp"
        value="Snapshot.DateFormRetByEmp"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.OffPremise"/>
      <Input
        id="LossLocation"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.LossLocation"
        value="Snapshot.LossLocation.DisplayName"/>
      <Input
        id="AddressLine1"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.AddressLine1"
        value="Snapshot.LossLocation.AddressLine1"/>
      <Input
        id="AddressLine2"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.AddressLine2"
        value="Snapshot.LossLocation.AddressLine2"/>
      <Input
        id="City"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.City"
        value="Snapshot.LossLocation.City"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.State"
        value="Snapshot.LossLocation.State"/>
      <Input
        id="PostalCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ZipCode"
        value="Snapshot.LossLocation.PostalCode"/>
      <Input
        id="County"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.County"
        value="Snapshot.LossLocation.County"/>
      <Input
        id="Country"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Country"
        value="Snapshot.LossLocation.Country"/>
      <Input
        id="LocationDescription"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.LocationDescription"
        value="Snapshot.LossLocation.Description"/>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Officials"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            value="Snapshot.Officials">
            <Row>
              <Cell
                id="Type"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Type"
                value="Official.OfficialType"/>
              <Cell
                id="Name"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Name"
                value="Official.Name"/>
              <Cell
                id="ReportNumber"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ReportNumber"
                value="Official.ReportNumber"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Claim"/>
      <DateInput
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.CreateTime"
        value="Snapshot.CreateTime"/>
      <Input
        id="ValidationLevel"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ValidationLevel"
        value="Snapshot.ValidationLevel"/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Other"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OtherBenefitsLV">
          <RowIterator
            editable="false"
            elementName="OtherBenefit"
            value="Snapshot.OtherBenefits">
            <Row>
              <Cell
                id="ReferenceNumber"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.ReferenceNumber"
                value="OtherBenefit.ReferenceNumber"/>
              <Cell
                id="Amount"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Amount"
                value="OtherBenefit.Amount"/>
              <Cell
                id="StartDate"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.StartDate"
                value="util.Snapshot.renderValue(OtherBenefit.StartDate)"/>
              <Cell
                id="EndDate"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.EndDate"
                value="util.Snapshot.renderValue(OtherBenefit.EndDate)"/>
              <Cell
                id="InitialContact"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.InitialContact"
                value="OtherBenefit.InitialContact"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.Comments"
                value="OtherBenefit.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MetroReports"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="MetroReportsLV">
          <RowIterator
            editable="false"
            elementName="MetroReport"
            value="Snapshot.MetroReports">
            <Row>
              <Cell
                id="MetroReportType"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MetroReportType"
                value="MetroReport.MetroReportType"/>
              <Cell
                id="MetroReportStatus"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MetroReportStatus"
                value="MetroReport.Status"/>
              <Cell
                id="MetroReportOrderDate"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Wc.MetroReportOrderDate"
                value="MetroReport.CreateTime"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
