<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotPolicyVehicle400DV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="PolicyVehicle"
      type="snapshot.v400.PolicyVehicle"/>
    <InputColumn>
      <Input
        id="Number"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Number"
        value="util.Snapshot.renderValue(PolicyVehicle.VehicleNumber)"/>
      <Input
        id="Make"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Make"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.Make)"/>
      <Input
        id="Model"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Model"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.Model)"/>
      <Input
        id="Year"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Year"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.Year)"/>
      <Input
        id="Style"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Style"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.Style)"/>
      <Input
        id="VIN"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.VIN"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.Vin)"
        visible="PolicyVehicle.Vehicle.Style.Code != &quot;boat&quot; &amp;&amp; PolicyVehicle.Vehicle.Style.Code != &quot;ATV&quot; &amp;&amp; PolicyVehicle.Vehicle.Style.Code != &quot;snowmobile&quot;"/>
      <Input
        id="SerialNumber"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.SerialNumber"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.SerialNumber)"
        visible="PolicyVehicle.Vehicle.Style.Code == &quot;boat&quot; || PolicyVehicle.Vehicle.Style.Code == &quot;ATV&quot; || PolicyVehicle.Vehicle.Style.Code == &quot;snowmobile&quot;"/>
      <Input
        id="Color"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Color"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.Color)"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.State"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.State)"/>
      <Input
        id="LicensePlate"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.LicensePlate"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.LicensePlate)"/>
      <Input
        id="BoatType"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.BoatType"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.BoatType)"
        visible="PolicyVehicle.Vehicle.Style.Code == &quot;boat&quot;"/>
      <Input
        id="OffRoadStyle"
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.OffRoadStyle"
        value="util.Snapshot.renderValue(PolicyVehicle.Vehicle.OffRoadStyle)"
        visible="PolicyVehicle.Vehicle.Style.Code == &quot;ATV&quot; || PolicyVehicle.Vehicle.Style.Code == &quot;snowmobile&quot;"/>
      <InputDivider/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Lienholders">
        <Toolbar/>
        <ListViewPanel
          id="LienholdersLV">
          <RowIterator
            editable="false"
            elementName="VehicleOwner"
            type="snapshot.v400.VehicleOwner"
            value="PolicyVehicle.Vehicle.Lienholders">
            <Row>
              <Cell
                id="Lienholder"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Lienholder"
                value="util.Snapshot.renderValue(VehicleOwner.Lienholder)"/>
              <Cell
                id="OwnerType"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.OwnerType"
                value="util.Snapshot.renderValue(VehicleOwner.OwnerType)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Coverages"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="CoveragesLV">
          <RowIterator
            editable="false"
            elementName="VehicleCoverage"
            type="snapshot.v400.VehicleCoverage"
            value="PolicyVehicle.Vehicle.Coverages">
            <Row>
              <Cell
                id="CoverageType"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.CoverageType"
                sortOrder="1"
                value="VehicleCoverage.Type"/>
              <Cell
                formatType="currency"
                id="Deductible"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Deductible"
                value="VehicleCoverage.Deductible"/>
              <Cell
                formatType="currency"
                id="ExposureLimit"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.ExposureLimit"
                value="VehicleCoverage.ExposureLimit"/>
              <Cell
                formatType="currency"
                id="IncidentLimit"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.IncidentLimit"
                value="VehicleCoverage.IncidentLimit"/>
              <Cell
                formatType="currency"
                id="NonmedAggLimit"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.PIPNonmedAgg"
                value="VehicleCoverage.NonmedAggLimit"/>
              <Cell
                formatType="currency"
                id="ReplaceAggLimit"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.PIPReplaceAgg"
                value="VehicleCoverage.ReplaceAggLimit"/>
              <Cell
                formatType="currency"
                id="PersonAggLimit"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.PIPPersonAgg"
                value="VehicleCoverage.PersonAggLimit"/>
              <Cell
                formatType="currency"
                id="ClaimAggLimit"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.PIPClaimAgg"
                value="VehicleCoverage.ClaimAggLimit"/>
              <Cell
                id="LimitsIndicator"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.LimitsIndicator"
                value="VehicleCoverage.LimitsIndicator"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotPolicyVehicle400DV.Notes"
                value="VehicleCoverage.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
