<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyEndorsements400LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <RowIterator
      editable="false"
      elementName="Endorsement"
      value="(SnapshotParam as snapshot.v400.Claim).Policy.Endorsements">
      <Row>
        <Cell
          id="FormNumber"
          label="displaykey.Web.ClaimSnapshotPolicyEndorsements400LV.FormNumber"
          value="Endorsement.FormNumber"
          wrap="false"/>
        <Cell
          id="Description"
          label="displaykey.Web.ClaimSnapshotPolicyEndorsements400LV.Description"
          value="Endorsement.Description"/>
        <Cell
          id="EffectiveDate"
          label="displaykey.Web.ClaimSnapshotPolicyEndorsements400LV.EffectiveDate"
          value="util.Snapshot.renderValue(Endorsement.EffectiveDate)"/>
        <Cell
          id="ExpirationDate"
          label="displaykey.Web.ClaimSnapshotPolicyEndorsements400LV.ExpirationDate"
          value="util.Snapshot.renderValue(Endorsement.ExpirationDate)"/>
        <Cell
          id="Comments"
          label="displaykey.Web.ClaimSnapshotPolicyEndorsements400LV.Comments"
          value="Endorsement.Comments"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
