<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="UserSearchDV">
    <Require
      name="SearchCriteria"
      type="UserSearchCriteria"/>
    <Require
      name="proximitySearchPageHelper"
      type="contact.CCProximitySearchPageHelper"/>
    <Variable
      initialValue="gw.util.Geocode.setDefaultSearchRange(proximitySearchPageHelper, SearchCriteria.Contact)"
      name="pspRange"/>
    <InputColumn>
      <Input
        editable="true"
        id="Username"
        label="displaykey.Web.UserSearch.Username"
        value="SearchCriteria.Username"/>
      <Input
        editable="true"
        id="FirstName"
        label="displaykey.Web.UserSearch.FirstName"
        value="SearchCriteria.Contact.FirstName"/>
      <Input
        editable="true"
        id="LastName"
        label="displaykey.Web.UserSearch.LastName"
        value="SearchCriteria.Contact.Keyword"/>
      <Label
        label="displaykey.JSP.UserGroupFields.Search.AdditionalRestrictions"/>
      <InputDivider/>
      <RangeInput
        editable="true"
        id="Role"
        label="displaykey.Web.UserSearch.Role"
        value="SearchCriteria.Role"
        valueRange="SearchCriteria.getAllRoles()"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AddressBook.Search.Location"/>
      <Input
        editable="true"
        id="City"
        label="displaykey.Web.AddressBook.Search.Location.City"
        value="SearchCriteria.Contact.Address.City"/>
      <Input
        editable="true"
        id="State"
        label="displaykey.Web.AddressBook.Search.Location.State"
        value="SearchCriteria.Contact.Address.State"/>
      <AddressAutoFillInput
        editable="true"
        id="PostalCode"
        inputMask="gw.api.contact.AddressAutocompleteUtil.getInputMask(SearchCriteria.Contact.Address, &quot;postalcode&quot;)"
        label="displaykey.Web.AddressBook.Search.Location.PostalCode"
        value="SearchCriteria.Contact.Address.PostalCode"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AddressBook.Search.ProximitySearch"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
      <RangeInput
        editable="true"
        id="ProximitySearchType"
        label="displaykey.Web.AddressBook.Search.ProximitySearch.Radius"
        optionLabel="VALUE.getLabel()"
        sortValueRange="false"
        value="SearchCriteria.Contact.ProximitySearchParameters"
        valueRange="pspRange"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
      <Input
        editable="true"
        id="ProximityAddressLine1"
        label="displaykey.Web.AddressBook.Search.ProximitySearch.AddressLine1"
        value="SearchCriteria.Contact.ProximitySearchCenter.AddressLine1"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
      <Input
        editable="true"
        id="ProximityAddressLine2"
        label="displaykey.Web.AddressBook.Search.ProximitySearch.AddressLine2"
        value="SearchCriteria.Contact.ProximitySearchCenter.AddressLine2"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
      <Input
        editable="true"
        id="ProximityCity"
        label="displaykey.Web.AddressBook.Search.ProximitySearch.City"
        value="SearchCriteria.Contact.ProximitySearchCenter.City"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
      <Input
        editable="true"
        id="ProximityState"
        label="displaykey.Web.AddressBook.Search.ProximitySearch.State"
        value="SearchCriteria.Contact.ProximitySearchCenter.State"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
      <Input
        editable="true"
        id="ProximityPostalCode"
        label="displaykey.Web.AddressBook.Search.ProximitySearch.PostalCode"
        value="SearchCriteria.Contact.ProximitySearchCenter.PostalCode"
        visible="proximitySearchPageHelper.useGeocodeUILocally()"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>