<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ManualCheckWizard_CheckInstructionsScreen">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="financials.CheckWizardInfo"/>
    <Require
      name="automatedCheckInfo"
      type="util.custom_Ext.AutomatedCheckInfo"/>
    <Variable
      initialValue="null"
      name="prevServiceEnd"
      type="DateTime"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarDivider/>
      <PickerToolbarButton
        action="PickExistingDocumentPopup.push(Claim)"
        id="Button_Reserve_LinkDocument"
        label="displaykey.Button.Reserve.LinkDocument"
        onPick="financials.TransactionSetLinkDocumentHelper.linkDocument(PickedValue, Wizard.CheckGroupProxy.CheckSet)"
        visible="perm.System.viewdocs"/>
    </Toolbar>
    <PanelRef
      def="ManualCheckPaymentInstructionsDV(Wizard.CheckGroupProxy, Wizard, prevServiceEnd)"/>
  </Screen>
</PCF>