<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ManualCheckWizard_CheckPaymentsScreen">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="financials.CheckWizardInfo"/>
    <Require
      name="automatedCheckInfo"
      type="util.custom_Ext.AutomatedCheckInfo"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarDivider/>
      <IteratorButtons
        addLabel="displaykey.Button.Check.AddPayment"
        addVisible="gw.api.financials.FinancialsUtil.isAllowMultiplePayments()"
        removeLabel="displaykey.Button.Check.RemovePayment"
        removeVisible="gw.api.financials.FinancialsUtil.isAllowMultiplePayments()"/>
    </Toolbar>
    <PanelRef
      def="NewCheckPaymentPanelSet(Wizard)"
      mode="gw.api.financials.FinancialsUtil.isAllowMultiplePayments() ? &quot;Multi&quot; : &quot;Single&quot;"/>
  </Screen>
</PCF>