<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    canEdit="false"
    canVisit="true"
    closeOnLeaveScope="true"
    id="ClaimsMadeDateWorksheet"
    tabLabel="displaykey.Web.ClaimsMadeDateWorksheet.Label"
    title="displaykey.Web.ClaimsMadeDateWorksheet.Title">
    <LocationEntryPoint
      signature="ClaimsMadeDateWorksheet(Message : String)"/>
    <Scope
      location="*"/>
    <Variable
      name="Message"
      type="String"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="ClaimsMadeDateWorksheet_ClearButton"
          label="displaykey.Button.Clear"
          shortcut="L"/>
      </Toolbar>
      <Verbatim
        label="Message"/>
    </Screen>
  </Worksheet>
</PCF>