<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="NewClaimIncidentInputSet"
    mode="en_Cleanup">
    <Require
      name="Exposure"
      type="Exposure"/>
    <RangeInput
      editable="true"
      hideChildrenIfReadOnly="false"
      id="Property_Incident"
      label="displaykey.NVV.Exposure.SubView.NewClaimPropertyDamage.Exposure.FixedPropertyIncident"
      required="true"
      value="Exposure.FixedPropertyIncident"
      valueRange="Exposure.Claim.FixedPropertyIncidentsOnly">
      <MenuItem
        action="NewFixedPropertyIncidentPopup.push(Exposure.Claim)"
        id="NewClaimPropertyDamageDV_NewIncidentMenuItem"
        label="displaykey.NVV.Exposure.SubView.NewClaimPropertyDamage.Exposure.NewIncident"/>
      <MenuItem
        action="EditFixedPropertyIncidentPopup.push(Exposure.FixedPropertyIncident, true)"
        id="NewClaimPropertyDamageDV_EditIncidentMenuItem"
        label="displaykey.NVV.Exposure.SubView.NewClaimPropertyDamage.Exposure.EditIncident"/>
    </RangeInput>
  </InputSet>
</PCF>