<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="NewClaimExposureDV"
    mode="im_MotorTruckCargo">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Card
      id="PropertyDamage_DetailsCard"
      title="displaykey.NVV.Exposure.PropertyDamage.Details">
      <PanelRef
        def="IMMTCDV(Exposure,Claim)"
        id="ExposureDetialDV"/>
    </Card>
  </CardViewPanel>
</PCF>