<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="NewClaimLocationsLV"
    mode="EQUINE">
    <Require
      name="LocationBasedRUList"
      type="LocationBasedRU[]"/>
    <Require
      name="Policy"
      type="Policy"/>
    <!-- 01/04/2006 djohnson change page sixe from 3 to 10 -->
    <RowIterator
      editable="false"
      elementName="LocationBasedRU"
      hasCheckBoxes="true"
      pageSize="10"
      pickLocation="NewClaimWizard_NewPolicyLocationPopup.push(Policy)"
      toRemove="Policy.removeLocationBasedRU(LocationBasedRU)"
      type="PropertyRU"
      value="LocationBasedRUList">
      <Row>
        <Cell
          action="NewClaimWizard_PolicyLocationDetailPopup.push(Policy, LocationBasedRU)"
          id="PropertyNumber"
          label="displaykey.GAIC.Equine.LV.Policy.Locations.AnimalNumber"
          sortOrder="1"
          value="LocationBasedRU.PropertyNumberExt"
          width="100"/>
        <!-- <Cell
          action="NewClaimWizard_PolicyLocationDetailPopup.push(Policy, PolicyProperty)"
          id="PropertyNumber"
          label="displaykey.LV.Policy.Locations.PropertyNumber"
          sortOrder="1"
          value="LocationBasedRU.PropertyNumber"/> -->
        <Cell
          id="AnimalName"
          label="displaykey.GAIC.Equine.LV.Policy.Locations.AnimalName"
          sortOrder="2"
          value="LocationBasedRU.Property.LocationNumber"/>
        <Cell
          id="breed"
          label="displaykey.GAIC.Equine.LV.Policy.Locations.Breed"
          value="LocationBasedRU.Property.ex_Breed"/>
        <Cell
          id="DOB"
          label="displaykey.GAIC.Equine.LV.Policy.Locations.DOB"
          value="LocationBasedRU.Property.ex_DateofBirth"/>
        <Cell
          id="Sex"
          label="displaykey.GAIC.Equine.LV.Policy.Locations.Sex1"
          value="LocationBasedRU.Property.ex_Sex"/>
        <!-- Defect  - 08/13/2007 - add use 2 -->
        <Cell
          id="Use"
          label="displaykey.GAIC.Equine.EquineDV.Use"
          value="LocationBasedRU.Property.ex_AnimalUse"/>
        <Cell
          id="Use2"
          label="displaykey.GAIC.Equine.EquineDV.Use2"
          value="LocationBasedRU.Property.AnimalUse2Ext"/>
        <Cell
          id="AGE"
          label="displaykey.GAIC.Equine.LV.Policy.Locations.AGE"
          value="LocationBasedRU.Property.getAge()"
          width="100"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>