<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    canEdit="false"
    id="ProducerNotFoundWorksheet"
    tabLabel="displaykey.JSP.WorkspaceTabBar.ProducerNotFound"
    title="displaykey.JSP.ProducerNotFound.Title">
    <LocationEntryPoint
      signature="ProducerNotFoundWorksheet ()"/>
    <Scope
      location="*"/>
    <Screen
      id="ProducerNotFoundScreen">
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="NewClaimDuplicatesWorksheet_CloseButton"
          label="displaykey.Button.Close"
          shortcut="E"/>
      </Toolbar>
      <Verbatim
        label="displaykey.Java.NewPolicy.Warning.ProducerNotFound"/>
    </Screen>
  </Worksheet>
</PCF>
