<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="true"
    id="AdditionalTripSegmentPopup"
    returnType="AddnlTripSegment"
    startInEditMode="addnlTripSegment.TripSegment == null or isParentInEditMode"
    title="displaykey.Web.TripIncident.AddnlTripSegmentPopup">
    <LocationEntryPoint
      signature="AdditionalTripSegmentPopup(affectedTripSegment : TripSegment, isParentInEditMode: Boolean)"/>
    <LocationEntryPoint
      signature="AdditionalTripSegmentPopup(addnlTripSegment : addnlTripSegment, affectedTripSegment : TripSegment, isParentInEditMode: Boolean)"/>
    <Variable
      initialValue="new AddnlTripSegment()"
      name="addnlTripSegment"
      type="AddnlTripSegment"/>
    <Variable
      name="affectedTripSegment"
      type="TripSegment"/>
    <Variable
      name="isParentInEditMode"
      type="Boolean"/>
    <Variable
      initialValue="initIsNew()"
      name="isNewAddnlTripSegment"
      type="boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons
          pickValue="addnlTripSegment"
          updateLabel="isNewAddnlTripSegment ? displaykey.Term.OK.Upper : displaykey.Term.Update.Proper"/>
      </Toolbar>
      <PanelRef
        def="AdditionalTripSegmentDetailDV(addnlTripSegment, affectedTripSegment )"/>
    </Screen>
    <Code><![CDATA[function initIsNew() : boolean {
  var result : boolean = false
  if (addnlTripSegment.TripSegment == null) {
    result = true
    addnlTripSegment.TripSegment = affectedTripSegment
  }
  return result
}]]></Code>
  </Popup>
</PCF>
