<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="fixedPropertyIncident != null and perm.Incident.edit(fixedPropertyIncident)"
    id="EditFixedPropertyIncidentPopup"
    startInEditMode="startInEditMode"
    title="fixedPropertyIncident.Claim.Policy.PolicyType == &quot;homeowners&quot; ? displaykey.Web.EditFixedPropertyIncident.PropertyLiability.Title : displaykey.Web.EditFixedPropertyIncident.Title">
    <LocationEntryPoint
      signature="EditFixedPropertyIncidentPopup(fixedPropertyIncident : FixedPropertyIncident, startInEditMode : boolean)"/>
    <Variable
      name="fixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Variable
      initialValue="true"
      name="startInEditMode"
      type="boolean"/>
    <Screen
      id="EditFixedPropertyIncidentScreen">
      <TitleBar
        icon="fixedPropertyIncident.HeaderIcon"/>
      <Toolbar
        reflectOnBottom="true">
        <EditButtons/>
        <ToolbarDivider/>
        <PrintToolbarButton
          hideIfEditable="true"
          id="FixedPropertyIncident_PrintButton"
          label="displaykey.Button.Print"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="FixPropIncidentDetailDV(fixedPropertyIncident)"/>
    </Screen>
  </Popup>
</PCF>
