<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="FireDamageInfoInputSet">
    <Require
      name="dwellingIncident"
      type="DwellingIncident"/>
    <Label
      label="displaykey.Web.FixedPropertyIncident.DamageInfo"/>
    <Input
      id="DamageTypesLabel"
      label="displaykey.Web.FixedPropertyIncident.DamageTypes"
      value="null"/>
    <InputIterator
      elementName="damage"
      id="DamageTypesIterator"
      value="gw.api.claim.HomeownersHelper.getDamages(dwellingIncident.Claim)">
      <CheckBoxInput
        id="Damage"
        value="damage.Present"
        valueLabel="damage.Name"
        visible="damage.Present"/>
    </InputIterator>
    <ListViewInput
      def="EditableRoomsLV(dwellingIncident)"
      id="RoomsDamagedLVInput"
      label="displaykey.Web.FixedPropertyIncident.RoomsDamaged">
      <Toolbar>
        <IteratorButtons/>
      </Toolbar>
    </ListViewInput>
    <Input
      editable="true"
      id="MaterialsDamaged"
      label="displaykey.Web.FixedPropertyIncident.MaterialsDamaged"
      value="dwellingIncident.MaterialsDamaged"/>
    <Input
      editable="true"
      id="DamagedAreaSize"
      label="displaykey.Web.FixedPropertyIncident.DamagedAreaSize"
      value="dwellingIncident.DamagedAreaSize"/>
  </InputSet>
</PCF>
