<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FixedPropertyIncidentDV">
    <Require
      name="FixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Require
      name="singletonNewFixedProperty"
      type="PolicyLocation"/>
    <Variable
      initialValue="FixedPropertyIncident.Claim"
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="new gw.api.address.PolicyLocationAddressOwner(FixedPropertyIncident, singletonNewFixedProperty)"
      name="addressOwner"
      recalculateOnRefresh="true"
      type="gw.api.address.CCAddressOwner"/>
    <InputColumn>
      <Label
        label="displaykey.Web.FixedPropertyIncident.Damage"/>
      <Input
        editable="true"
        id="PropertyDescription"
        label="displaykey.Web.FixedPropertyIncident.PropertyDescription"
        value="FixedPropertyIncident.PropertyDesc"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.Web.FixedPropertyIncident.Description"
        numCols="30"
        numRows="3"
        value="FixedPropertyIncident.Description"/>
      <Input
        editable="true"
        id="LossEstimate"
        label="displaykey.Web.FixedPropertyIncident.LossEstimate"
        value="FixedPropertyIncident.LossEstimate"/>
      <InputDivider
        visible="FixedPropertyIncident.Claim.Policy.PolicyType == &quot;homeowners&quot;"/>
      <Label
        label="displaykey.Web.FixedPropertyIncident.Property"/>
      <InputSetRef
        def="AddressInputSet(addressOwner)"
        mode="addressOwner.InputSetMode"/>
      <ListViewInput
        def="EditablePropertyLienholdersLV(FixedPropertyIncident.Property, Claim)"
        editable="Claim.canEditProperty(FixedPropertyIncident.Property)"
        label="displaykey.Web.FixedPropertyIncident.Property.Lienholders"
        validationExpression="FixedPropertyIncident.Property != null ? FixedPropertyIncident.Property.validateLienholders() : null"
        visible="FixedPropertyIncident.Claim.Policy.PolicyType != &quot;homeowners&quot;">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.FixedPropertyIncident.Inspection"/>
      <Input
        editable="true"
        id="InspectionRequired"
        label="displaykey.Web.FixedPropertyIncident.InspectionRequired"
        value="FixedPropertyIncident.InspectionRequired"/>
      <ClaimContactInput
        claim="FixedPropertyIncident.Claim"
        editable="true"
        id="Assessor_Picker"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.Assessor"
        required="false"
        value="FixedPropertyIncident.fnolassessor"
        valueRange="FixedPropertyIncident.Claim.RelatedCompanyArray"/>
      <Input
        editable="true"
        id="WhenToView"
        label="displaykey.Web.FixedPropertyIncident.WhenToView"
        value="FixedPropertyIncident.AppraisalFirstAppointment"/>
      <Input
        editable="true"
        id="EstDamageAmt"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.EstDamageAmt"
        value="FixedPropertyIncident.EstDamageType"/>
      <TextAreaInput
        editable="true"
        id="ExtDamagetxt"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.ExtDamagetxt"
        numCols="40"
        numRows="2"
        value="FixedPropertyIncident.ExtDamagetxt"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.FixedPropertyIncident.Repairs"/>
      <Input
        editable="true"
        id="EstimatedReceived"
        label="displaykey.Web.FixedPropertyIncident.EstimatedReceived"
        postOnChange="true"
        value="FixedPropertyIncident.EstimatesReceived"/>
      <Input
        editable="true"
        id="EstimateCost"
        label="displaykey.Web.FixedPropertyIncident.EstimateCost"
        value="FixedPropertyIncident.EstRepairCost"
        visible="FixedPropertyIncident.EstimatesReceived == &quot;yes&quot;"/>
      <Input
        editable="true"
        id="EstimateTime"
        label="displaykey.Web.FixedPropertyIncident.EstimateTime"
        value="FixedPropertyIncident.EstRepairTime"
        visible="FixedPropertyIncident.EstimatesReceived == &quot;yes&quot;"/>
      <Input
        editable="true"
        id="AlreadyRepaired"
        label="displaykey.Web.FixedPropertyIncident.AlreadyRepaired"
        postOnChange="true"
        value="FixedPropertyIncident.AlreadyRepaired"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="PropertyAttributeInputSet(FixedPropertyIncident)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
