<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="LossDetailsDV"
    mode="Trav">
    <Require
      name="Claim"
      type="Claim"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.LossDetails"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Description"
        numCols="35"
        numRows="3"
        required="false"
        value="Claim.Description"/>
      <Input
        editable="true"
        id="LossCause"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.LossCause"
        required="true"
        value="Claim.LossCause"/>
      <Input
        editable="true"
        id="Notification_Fault"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.Fault"
        postOnChange="true"
        value="claim.FaultRating"/>
      <Input
        editable="true"
        id="Notification_AtFaultPercentage"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.AtFaultPercentage"
        value="Claim.Fault"
        visible="Claim.FaultRating == &quot;1&quot;"/>
      <RangeInput
        editable="true"
        id="Catastrophe_CatastropheNumber"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Catastrophe.CatastropheNumber"
        required="false"
        value="Claim.Catastrophe"
        valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"/>
      <Input
        editable="true"
        id="Claim_Weather"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Weather"
        value="Claim.Weather"/>
      <Input
        editable="true"
        id="Claim_EmploymentCourse"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.EmploymentCourse"
        value="Claim.EmploymentInjury"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="LossDate"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.LossDate"
        required="true"
        timeFormat="short"
        validationExpression="Claim.LossDate == null || Claim.LossDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.LossDate"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.LossLocation"/>
      <InputSetRef
        def="AddressInputSet(Claim.AddressOwner)"
        mode="Claim.AddressOwner.InputSetMode"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification"/>
      <Input
        editable="true"
        id="Notification_FirstNoticeSuit"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.FirstNoticeSuit"
        value="Claim.FirstNoticeSuit"/>
      <Input
        editable="true"
        id="Notification_HowReported"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.HowReported"
        value="Claim.HowReported"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="ReportedBy_Picker"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.ReportedBy.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        required="true"
        value="Claim.Reporter"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Notification_ReportedByType"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.ReportedByType"
        required="true"
        value="Claim.ReportedByType">
        <Reflect
          triggerIds="ReportedBy_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="MainContact_Picker"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.MainContact.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        value="Claim.MainContact"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Notification_MainContactType"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.MainContactType"
        value="Claim.MainContactType">
        <Reflect
          triggerIds="MainContact_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Notification_DateReportedToAgent"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.DateReportedToAgent"
        timeFormat="short"
        value="Claim.DateRptdToAgent"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        def="EditableTripIncidentsLV(Claim, false)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Trip"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableBaggageIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Baggage"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableInjuryIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetails.Claim.Injuries"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableVehicleIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Vehicles"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableFixedPropertyIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Properties"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableOfficialsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Officials"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
    <InputFooterSection>
      <Label
        id="Witness_Header"
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Witness.Header"/>
      <ListViewInput
        boldLabel="true"
        def="EditableWitnessesLV(Claim.getClaimContactRolesByRole(&quot;witness&quot;), Claim, &quot;witness&quot;)"
        editable="true"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.ContributingFactors"/>
      <ListViewInput
        def="EditableContributingFactorsLV(Claim)"
        editable="true"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
