<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="LossDetailsDV"
    mode="Wc">
    <Require
      name="Claim"
      type="Claim"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.OccurrenceDetails"/>
      <TextAreaInput
        checkSpelling="true"
        editable="true"
        id="OccurrenceDescription"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.OccurrenceDescription"
        numCols="35"
        numRows="3"
        required="false"
        value="Claim.Description"/>
      <Input
        editable="true"
        id="Claim_ActivityPerformed"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.ActivityPerformed"
        value="Claim.ActivityPerformed"/>
      <Input
        editable="true"
        helpText="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.EquipmentUsed.HelpText"
        id="Claim_EquipmentUsed"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.EquipmentUsed"
        value="Claim.EquipmentUsed"/>
      <InputSetRef
        def="AddressInputSet(Claim.AddressOwner)"
        mode="Claim.AddressOwner.InputSetMode"/>
      <RangeInput
        editable="true"
        id="LocationCode"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.LocationCode"
        numCols="30"
        value="Claim.LocationCode"
        valueRange="Claim.PolicyProperties"
        valueWidth="200"/>
      <Input
        editable="true"
        id="InsuredPremises"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.InsuredPremises"
        value="Claim.InsuredPremises"/>
      <Input
        editable="true"
        id="JurisdictionState"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.JurisdictionState"
        value="Claim.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates">
        <Reflect
          triggerIds="LocationCode">
          <ReflectCondition
            condition="VALUE != null"
            value="VALUE.Address.State"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="Claimant_Picker"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        required="true"
        value="Claim.Claimant"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Claimant_ContactProhibited"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant.ContactProhibited"
        value="ContactProhibited"/>
      <Input
        id="Claimant_Phone"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant.Phone"
        value="Claim.Claimant.PrimaryPhoneValue">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.PrimaryPhoneValue"/>
      </Input>
      <Input
        id="Claimant_Address"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant.Address"
        value="Claim.Claimant.PrimaryAddressDisplayValue">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.PrimaryAddressDisplayValue"/>
      </Input>
      <Input
        id="Claimant_DateOfBirth"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant.DateOfBirth"
        value="Claim.Claimant.DateOfBirth">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.DateOfBirth"/>
      </Input>
      <PrivacyInput
        encryptionExpression="Claim.claimant.maskTaxId(VALUE)"
        id="Claimant_TaxNumber"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Claimant.TaxNumber"
        value="Claim.claimant.TaxID">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.TaxID"/>
      </PrivacyInput>
      <Input
        id="EmploymentData_Occupation"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.Occupation"
        value="Claim.Claimant.Occupation">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.Occupation"/>
      </Input>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData"/>
      <Input
        editable="true"
        id="EmploymentData_WorkCompAWW"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.WorkCompAWW"
        value="Claim.EmploymentData.WageAmount"/>
      <RangeInput
        editable="true"
        id="EmploymentData_ClassCode"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.ClassCode"
        value="Claim.EmploymentData.ClassCode"
        valueRange="Claim.Policy.ClassCodes"/>
      <Input
        editable="true"
        id="EmploymentData_DepartmentCode"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.DepartmentCode"
        value="Claim.EmploymentData.DepartmentCode"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="EmploymentData_HireDate"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.HireDate"
        timeFormat="short"
        validationExpression="Claim.EmploymentData.HireDate == null || Claim.EmploymentData.HireDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.EmploymentData.HireDate"/>
      <Input
        editable="true"
        id="EmploymentData_HireState"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.HireState"
        value="Claim.EmploymentData.HireState"/>
      <Input
        editable="true"
        id="EmploymentData_EmploymentStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.EmploymentStatus"
        value="Claim.EmploymentData.EmploymentStatus"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="EmploymentData_SupervisorPicker"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.SupervisorPicker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        value="Claim.Supervisor"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="EmploymentData_NumDaysWorkedPerWeek"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.NumDaysWorkedPerWeek"
        value="Claim.EmploymentData.NumDaysWorked"/>
      <Input
        editable="true"
        id="EmploymentData_NumHoursWorkedPerDay"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.NumHoursWorkedPerDay"
        value="Claim.EmploymentData.NumHoursWorked"/>
      <Input
        editable="true"
        id="EmploymentData_PayPeriod"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.PayPeriod"
        value="Claim.EmploymentData.PayPeriod"/>
      <Input
        editable="true"
        id="EmploymentData_PaidFullWages"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.PaidFullWages"
        value="Claim.EmploymentData.PaidFull"/>
      <Input
        editable="true"
        id="EmploymentData_WagePaymentContinued"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.WagePaymentContinued"
        value="Claim.EmploymentData.WagePaymentCont"/>
      <Input
        editable="true"
        id="ModifiedDutyAvailable"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.ModifiedDutyAvailable"
        value="Claim.ModifiedDutyAvail"/>
      <Input
        editable="true"
        id="ConcurrentEmployment"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.ConcurrentEmployment"
        value="Claim.ConcurrentEmp"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Injury"/>
      <TypeKeyInput
        editable="true"
        filter="VALUE.hasCategory( &quot;WC&quot; as LossType )"
        id="Claim_Severity"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.Severity"
        value="Claim.ensureClaimInjuryIncident().Severity"
        valueWidth="200"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Claim_ExposureBegan"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.ExposureBegan"
        required="false"
        timeFormat="short"
        validationExpression="Claim.ExposureBegan == null || Claim.ExposureBegan &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.ExposureBegan"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Claim_ExposureEnded"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.ExposureEnded"
        required="false"
        timeFormat="short"
        value="Claim.ExposureEnded"/>
      <Input
        editable="true"
        id="InjurySeverity_DeathReport"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.DeathReport"
        required="false"
        value="Claim.DeathReport"/>
      <Input
        editable="true"
        id="DeathDate"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.DeathDate"
        value="Claim.DeathDate"
        visible="Claim.DeathReport == true "/>
      <TypeKeyInput
        editable="true"
        id="Claim_InjuryIllnessCause"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.InjuryIllnessCause"
        numCols="30"
        required="true"
        value="Claim.LossCause"
        valueWidth="180"/>
      <TypeKeyInput
        editable="true"
        id="Claim_AccidentType"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.AccidentType"
        value="Claim.AccidentType"
        valueWidth="200"/>
      <TypeKeyInput
        editable="true"
        id="Claim_PrimaryInjury"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.PrimaryInjury"
        required="true"
        value="Claim.ensureClaimInjuryIncident().GeneralInjuryType"
        valueWidth="200"/>
      <TypeKeyInput
        editable="true"
        id="Claim_DetailedInjury"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.DetailedInjury"
        required="true"
        value="Claim.ensureClaimInjuryIncident().DetailedInjuryType"
        valueWidth="200"/>
      <Input
        editable="true"
        id="InjuryDescription"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.InjuryDescription"
        value="Claim.ensureClaimInjuryIncident().Description"/>
    </InputColumn>
    <InputColumn>
      <Label
        id="Classification"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Classification"/>
      <Input
        editable="true"
        helpText="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.MedicalReport.HelpText"
        id="InjurySeverity_MedicalReport"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.MedicalReport"
        required="false"
        value="Claim.MedicalReport"/>
      <Input
        editable="true"
        helpText="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.TimeLossReport.HelpText"
        id="InjurySeverity_TimeLossReport"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.TimeLossReport"
        required="false"
        value="Claim.TimeLossReport"/>
      <Input
        editable="true"
        helpText="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.EmployerLiability.HelpText"
        id="InjurySeverity_EmployerLiability"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.EmployerLiability"
        required="false"
        value="Claim.EmployerLiability"/>
      <RangeInput
        editable="true"
        id="Catastrophe_CatastropheNumber"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Catastrophe.CatastropheNumber"
        numCols="30"
        required="false"
        value="Claim.Catastrophe"
        valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"
        valueWidth="200"/>
      <InputDivider/>
      <Label
        id="KeyWCDates"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.KeyWCDates"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Claim_InjuryIllnessDate"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.InjuryIllnessDate"
        required="true"
        validationExpression="Claim.LossDate == null || Claim.LossDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.LossDate"/>
      <DateInput
        editable="true"
        id="Claim_lossTime"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.InjuryIllnessTime"
        timeFormat="short"
        validationExpression="Claim.LossDate != null || Claim.LossDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.LossDate"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="EmploymentData_InjuryStartDate"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.InjuryStartDate"
        validationExpression="Claim.EmploymentData.InjuryStartTime == null || Claim.EmploymentData.InjuryStartTime &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.EmploymentData.InjuryStartTime"/>
      <DateInput
        editable="true"
        id="EmploymentData_InjuryStartTime"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmploymentData.InjuryStartTime"
        timeFormat="short"
        validationExpression="Claim.EmploymentData.InjuryStartTime == null || Claim.EmploymentData.InjuryStartTime &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.EmploymentData.InjuryStartTime"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Claim_DateReportedtoEmployer"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.DateReportedtoEmployer"
        required="true"
        timeFormat="short"
        value="Claim.DateRptdToEmployer"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="ClaimFormGiven"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.ClaimFormGiven"
        timeFormat="short"
        value="Claim.DateFormGivenToEmp"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Notification"/>
      <Input
        editable="true"
        id="Notification_FirstNoticeSuit"
        label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.Notification.FirstNoticeSuit"
        value="Claim.FirstNoticeSuit"/>
      <Input
        editable="true"
        id="Claim_HowReported"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.HowReported"
        value="Claim.HowReported"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="ReportedBy_Picker"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.ReportedBy.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        required="true"
        value="Claim.Reporter"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Claim_ReportedByType"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.ReportedByType"
        required="true"
        value="Claim.ReportedByType">
        <Reflect
          triggerIds="ReportedBy_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="MainContact_Picker"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.MainContact.Picker"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        value="Claim.MainContact"
        valueRange="Claim.RelatedPersonArray"/>
      <Input
        editable="true"
        id="Claim_MainContactType"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.MainContactType"
        value="Claim.MainContactType"/>
      <InputDivider/>
      <Label
        id="CompensabilityFactors"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.CompensabilityFactors"/>
      <Input
        editable="true"
        id="Claim_EmploymentInjury"
        label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.EmploymentInjury"
        value="Claim.EmploymentInjury"/>
      <Input
        editable="true"
        id="InjuredOnRegularJob"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.InjuredOnRegularJob"
        value="Claim.InjuredRegularJob"/>
      <TypeKeyRadioInput
        editable="true"
        id="EmployerQuestionsValidity"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmployerQuestionsValidity"
        postOnChange="true"
        value="Claim.EmpQusValidity"/>
      <Input
        editable="true"
        id="EmployerValidityReason"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.EmployerValidityReason"
        value="Claim.EmployerValidityReason"
        visible="Claim.EmpQusValidity == &quot;yes&quot;"/>
      <Input
        editable="true"
        id="SafetyEquipmentProvided"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.SafetyEquipmentProvided"
        value="Claim.SafetyEquipProv"/>
      <Input
        editable="true"
        id="SafetyEquipmentUsed"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.SafetyEquipmentUsed"
        value="Claim.SafetyEquipUsed"/>
      <TypeKeyRadioInput
        editable="true"
        id="DrugsInvolved"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.DrugsInvolved"
        value="Claim.DrugsInvolved"/>
      <InputDivider/>
      <InputSetRef
        def="CompensableInputSet(Claim)"/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        def="EditableBodyPartDetailsLV(Claim.ensureClaimInjuryIncident(), true)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.BodyPartDetails"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
          <CheckedValuesToolbarButton
            checkedRowAction="Claim.ensureClaimInjuryIncident().FirstBodyPart = BodyPartDetails"
            flags="one NotFirstBP"
            hideIfReadOnly="true"
            id="MakeFirstButton"
            iterator="EditableBodyPartDetailsLV"
            label="displaykey.LV.Incident.Injury.BodyPartDetails.MakeFirstButton"
            showConfirmMessage="false"
            tooltip="displaykey.LV.Incident.Injury.BodyPartDetails.MakeFirstButton.Tooltip"/>
        </Toolbar>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="EditableConcurrentEmploymentLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.ConcurrentEmploymentArray"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="EditableOtherBenefitsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.OtherBenefits"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="EditableOfficialsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsWorkersComp.Claim.Officials"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="MetroReportsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsAuto.Claim.MetroReports"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Button.Metro.New"
            removeFlags="any RemovableMetroReport, no NotRemovableMetroReport"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
    <Code><![CDATA[
property get ContactProhibited() : boolean {
  return Claim.getClaimContact(Claim.Claimant).ContactProhibited
}
property set ContactProhibited(prohibited : boolean) {
  var claimContact = Claim.getClaimContact(Claim.Claimant)
  if (claimContact != null) claimContact.ContactProhibited = prohibited
}
      
    ]]></Code>
  </DetailViewPanel>
</PCF>
