<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="TripRUScreen">
    <Require
      name="aClaim"
      type="Claim"/>
    <Require
      name="startEditable"
      type="Boolean"/>
    <Require
      name="aTripRU"
      type="TripRU"/>
    <Require
      name="aTripRUParam"
      type="TripRU"/>
    <Toolbar>
      <EditButtons
        editVisible="!aClaim.Policy.Verified and perm.Policy.edit(aClaim)"
        pickValue="aTripRU"/>
    </Toolbar>
    <DetailViewPanel>
      <InputColumn>
        <Input
          editable="true"
          id="RUNumber"
          label="displaykey.Web.ClaimPolicy.Trips.TripNumber"
          value="aTripRU.RUNumber"/>
        <Input
          editable="true"
          id="TripDescription"
          label="displaykey.Web.ClaimPolicy.Trips.Description"
          value="aTripRU.TripDescription"/>
      </InputColumn>
      <InputColumn>
        <TypeKeyInput
          editable="true"
          id="GeographicalRegion"
          label="displaykey.Web.ClaimPolicy.Trips.GeographicalRegion"
          value="aTripRU.GeographicalRegion"/>
        <DateInput
          dateFormat="short"
          editable="true"
          id="StartDate"
          label="displaykey.Web.ClaimPolicy.Trips.StartDate"
          timeFormat="short"
          value="aTripRU.StartDate"/>
        <DateInput
          dateFormat="short"
          editable="true"
          id="EndDate"
          label="displaykey.Web.ClaimPolicy.Trips.EndDate"
          timeFormat="short"
          validationExpression="aTripRU.EndDate &lt; aTripRU.StartDate ? &quot;The trip end date must be after the start date&quot; : null"
          value="aTripRU.EndDate"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef
      def="PolicyTripCoverageLDV(aTripRU)"
      id="PolicyTripCoverageLDVPanel"/>
  </Screen>
</PCF>
