<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="AddressBook"
    menuActions="AddressBookMenuActions()"
    title="displaykey.Web.TabBar.AddressBook">
    <LocationEntryPoint
      signature="AddressBook()"/>
    <LocationRef
      label="displaykey.Web.AddressBook.MenuLinks.Search"
      location="AddressBookSearch()"/>
  </LocationGroup>
</PCF>
