<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.Contact.viewsearchab"
    countsAsWork="false"
    id="AddressBookSearch"
    title="displaykey.Web.AddressBookSearch.Title">
    <LocationEntryPoint
      signature="AddressBookSearch()"/>
    <Variable
      initialValue="new gw.api.contact.ProximitySearchPageHelper()"
      name="PageHelper"/>
    <ScreenRef
      def="AddressBookSearchScreen(PageHelper, false, entity.Contact)"/>
  </Page>
</PCF>
