<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ToolbarButtonSet
    id="AddressBookContactDeleteToolbarButtonSet">
    <Require
      name="contact"
      type="Contact"/>
    <Require
      name="externalContactSource"
      type="gw.api.contact.ExternalContactSource"/>
    <ToolbarButton
      action="gw.api.contact.AddressBookUtil.deleteContact(contact, CurrentLocation)"
      confirmMessage="displaykey.Web.AddressBook.Button.Delete.Warning"
      hideIfEditable="true"
      id="AddressBookContactDeleteToolbarButtons_DeleteButton"
      label="displaykey.Button.Delete"
      visible=" externalContactSource.supportsDelete() and perm.Contact.deleteab(contact)"/>
  </ToolbarButtonSet>
</PCF>
