<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="claim.clearFlag(RemoveFlagInfo.Note)"
    canEdit="true"
    id="TeamClaimRemoveFlagPopup"
    startInEditMode="true"
    title="displaykey.Web.Team.RemoveFlag">
    <LocationEntryPoint
      signature="TeamClaimRemoveFlagPopup(Claim : Claim)"/>
    <LocationEntryPoint
      signature="TeamClaimRemoveFlagPopup(Claim : Claim, ViaTeamScreen : Boolean)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="new RemoveFlagInfo()"
      name="RemoveFlagInfo"
      type="RemoveFlagInfo"/>
    <Variable
      initialValue="true"
      name="ViaTeamScreen"
      type="Boolean"/>
    <Screen
      id="RemoveFlagScreen">
      <Toolbar>
        <EditButtons
          updateLabel="displaykey.Web.Claim.RemoveFlag.UpdateButton"/>
      </Toolbar>
      <PanelRef
        def="RemoveFlagInfoDV(RemoveFlagInfo, Claim, ViaTeamScreen)"/>
    </Screen>
  </Popup>
</PCF>
