<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    autosaveable="false"
    canVisit="perm.Claim.view(Claim) and perm.System.viewdocs"
    countsAsWork="false"
    id="PickExistingDocumentPopup"
    returnType="Document"
    title="displaykey.JSP.ClaimPageLinks.PageLink.Documents">
    <LocationEntryPoint
      signature="PickExistingDocumentPopup(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="Claim_DocumentsScreen">
      <Toolbar
        reflectOnBottom="true">
        <ToolbarButton
          action="CurrentLocation.cancel();"
          id="PickExistingDocumentPopup_CancelButton"
          label="displaykey.Button.Cancel"/>
      </Toolbar>
      <SearchPanel
        criteriaName="DocumentSearchCriteria"
        resultsName="DocumentList"
        search="DocumentSearchCriteria.performSearch()"
        searchCriteria="return createSearchCriteria();"
        searchOnEnter="true"
        searchResultsType="DocumentQuery">
        <PanelRef
          def="ClaimDocumentSearchDV(DocumentSearchCriteria)">
          <TitleBar
            title="displaykey.NVV.Claim.ClaimDocumentsFilter.Title"/>
        </PanelRef>
        <PanelRef
          def="PickExistingDocumentsLV(DocumentList)">
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
    <Code><![CDATA[
      function createSearchCriteria() : DocumentSearchCriteria {
        var searchCriteria = new DocumentSearchCriteria();
        searchCriteria.Claim = Claim;
        searchCriteria.IncludeObsoletes = false;
        return searchCriteria;
      }
    ]]></Code>
  </Popup>
</PCF>
