<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.Claim.view(Claim) and perm.System.viewworkplan"
    id="ClaimWorkplanGroup"
    title="displaykey.JSP.ClaimPageLinks.PageLink.Workplan">
    <LocationEntryPoint
      signature="ClaimWorkplanGroup(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <LocationRef
      label="displaykey.JSP.ClaimWorkplan.Tab"
      location="ClaimWorkplan(Claim)"/>
  </LocationGroup>
</PCF>
