<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ReportGroupDetailScreen">
    <Require
      name="ReportGroup"
      type="ReportGroup"/>
    <Toolbar>
      <CheckedValuesToolbarButton
        allCheckedRowsAction="ReportGroup.setReports(CheckedValues); CurrentLocation.commit()"
        hideIfReadOnly="true"
        id="ReportGroupReports_UpdateButton"
        iterator="AddRemoveReportsLV"
        label="displaykey.Button.Update"/>
      <EditButtons
        updateVisible="false"/>
    </Toolbar>
    <DetailViewPanel
      id="ReportGroupDetailDV">
      <InputColumn>
        <Input
          editable="true"
          id="Name"
          label="displaykey.Web.Admin.ReportGroupDetailDV.Name"
          required="true"
          value="ReportGroup.Name"/>
        <ListViewInput
          hideIfEditable="true"
          label="displaykey.Web.Admin.ReportGroupDetailDV.Reports">
          <Toolbar>
            <IteratorButtons/>
          </Toolbar>
          <ListViewPanel
            id="ReportGroupReportsLV">
            <RowIterator
              editable="true"
              elementName="Report"
              value="ReportGroup.SREEReports">
              <Row>
                <Cell
                  id="ReportName"
                  label="displaykey.LV.Admin.ReportGroupReports.Report"
                  sortOrder="1"
                  value="Report.FullPath"/>
                <Cell
                  enableSort="false"
                  id="ReportDesc"
                  label="displaykey.LV.Admin.ReportGroupReports.Description"
                  value="Report.Description"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <ListViewInput
          hideIfReadOnly="true"
          label="displaykey.Web.Admin.ReportGroupDetailDV.Reports">
          <Toolbar/>
          <ListViewPanel
            id="AddRemoveReportsLV">
            <Variable
              initialValue="gw.api.sree.ReportRepository.buildNonDocAdminTree()"
              name="reportNodes"
              recalculateOnRefresh="true"
              type="gw.api.tree.TreeNode"/>
            <RowTree
              contentType="SREEReport"
              elementName="reportNode"
              hasCheckBoxes="true"
              pageSize="0"
              startChecked="ReportGroup.contains(reportNode)"
              value="reportNodes">
              <Row>
                <Cell
                  enableSort="false"
                  id="ReportName"
                  label="displaykey.LV.Admin.ReportGroupReports.Report"
                  value="reportNode.Name"/>
                <Cell
                  enableSort="false"
                  id="ReportDesc"
                  label="displaykey.LV.Admin.ReportGroupReports.Description"
                  value="reportNode.Description"/>
              </Row>
            </RowTree>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>
