<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- 2/19/10 erawe - defect 2971: added to visible property for MenuItem for NewEval - !Claim.checkDisconnectedFeatures() -->
  <MenuItemSet
    id="EvaluationTypesMenuItemSet">
    <Require
      name="Claim"
      type="Claim"/>
    <MenuItem
      available="!Claim.checkDisconnectedFeatures()"
      id="ClaimMenuActions_NewOther"
      label="displaykey.Web.ClaimMenuActions.NewEval"
      visible="!Claim.IncidentReport">
      <MenuItem
        action="NewIndemnityReserveEvaluation.go(Claim)"
        id="ClaimMenuActions_NewIndemnityEvaluation"
        label="displaykey.Web.ClaimPlanOfAction.Evaluations.IndemnityReserve"
        visible="util.WCHelper.isWCLossType(Claim)"/>
      <MenuItem
        action="NewMedicalReserveEvaluation.go(Claim)"
        id="ClaimMenuActions_NewMedicalEvaluation"
        label="displaykey.Web.ClaimPlanOfAction.Evaluations.MedicalReserve"
        visible="util.WCHelper.isWCLossType(Claim)"/>
      <MenuItem
        action="NewVocationalRehabReserveEvaluation.go(Claim)"
        id="ClaimMenuActions_NewVocRehabEvaluation"
        label="displaykey.Web.ClaimPlanOfAction.Evaluations.VocRehabReserve"
        visible="util.WCHelper.isWCLossType(Claim)"/>
      <MenuItem
        action="NewLiabilityReserveEvaluation.go(Claim)"
        id="ClaimMenuActions_NewReserveEvaluation"
        label="displaykey.Web.ClaimPlanOfAction.Evaluations.LiabilityReserve"
        visible="true"/>
      <MenuItem
        action="NewPropertyReserveEvaluation.go(Claim)"
        id="ClaimMenuActions_NewPropertyEvaluation"
        label="displaykey.Web.ClaimPlanOfAction.Evaluations.PropertyReserve"
        visible="!util.WCHelper.isWCLossType(Claim)"/>
      <MenuItem
        action="NewSettlementEvaluation.go(Claim)"
        id="ClaimMenuActions_NewSettlementEvaluation"
        label="displaykey.Web.ClaimPlanOfAction.Evaluations.Settlement"
        visible="true"/>
    </MenuItem>
  </MenuItemSet>
</PCF>