<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="ClaimMatterForward.go(Claim, null)"
    afterCommit="ClaimMatterForward.go(Claim, Matter)"
    beforeCommit="assignMatter(AssigneeHolder[0], Matter)"
    canEdit="true"
    canVisit="perm.Claim.creatematter(Claim)"
    id="NewMatter"
    parent="Claim(Claim)"
    startEditing="Matter.UIHelper.setInitialValues()"
    startInEditMode="true"
    title="displaykey.Web.ClaimMatters.NewLegalAction">
    <LocationEntryPoint
      signature="NewMatter(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="Claim.newMatter()"
      name="Matter"
      type="Matter"/>
    <Variable
      initialValue="new assignment.Assignee[] {assignment.AutoAssignAssignee.INSTANCE}"
      name="AssigneeHolder"
      type="assignment.Assignee[]"/>
    <ScreenRef
      def="MatterDetailScreen(Claim, Matter)"/>
    <Code><![CDATA[function assignMatter(Assignee : assignment.Assignee, aMatter : Matter){
          Assignee.assignToThis(aMatter);
          aMatter.saveAndSetup();
        }
]]></Code>
  </Page>
</PCF>