<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- The next name value view controls the matter screens -->
  <DetailViewPanel
    id="NewMatterDV">
    <Require
      name="Matter"
      type="Matter"/>
    <Require
      name="AssigneeHolder"
      type="assignment.Assignee[]"/>
    <Variable
      name="tempStorage"
      type="String"/>
    <Variable
      name="ts2"
      type="User"/>
    <Variable
      name="ts3"
      type="boolean"/>
    <Variable
      name="ts4"
      type="boolean"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral"/>
      <TypeKeyInput
        id="MatterTypeInput"
        label="&quot;Type&quot;"
        required="true"
        value="Matter.MatterType"/>
      <Input
        editable="true"
        id="Matter_Name"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Matter.Name"
        required="true"
        value="matter.Name"/>
      <InputDivider/>
      <Label
        label="displaykey.MatterGeneral.Matter.Litigation"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Input
        editable="true"
        id="CourtType"
        label="displaykey.MatterGeneral.Matter.CourtType"
        postOnChange="true"
        required="false"
        value="Matter.CourtType"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Input
        editable="true"
        id="CourtDistrict"
        label="displaykey.MatterGeneral.Matter.CourtDistrict"
        required="false"
        value="Matter.CourtDistrict"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <InputDivider
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Label
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_PlaintiffAttorney"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.PlaintiffAttorney"
        required="false"
        value="Matter.PlaintiffAtt"
        valueRange="Matter.Claim.RelatedAttorneyArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_PlaintiffLawFirm"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.PlaintiffLawFirm"
        required="false"
        value="Matter.PlaintiffFirm"
        valueRange="Matter.Claim.RelatedLawFirmArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_DefenseAttorney"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.DefenseAttorney"
        required="false"
        value="Matter.DefenseAttorney"
        valueRange="Matter.Claim.RelatedAttorneyArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <InputDivider
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <CCAssigneeInput
        assignable="Matter"
        claim="Matter != null ? Matter.Claim : null"
        editable="true"
        id="Matter_AssignActivity"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Matter.AssignActivity"
        showNoneSelected="false"
        sortValueRange="false"
        value="AssigneeHolder[0]"
        valueRange="Matter.SuggestedAssignees"/>
      <InputDivider/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_DefenseLawFirm"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.DefenseLawFirm"
        required="false"
        value="Matter.DefenseFirm"
        valueRange="Matter.Claim.RelatedLawFirmArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>