<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DivisionNameParametersLV">
    <Require
      name="DivisionNameList"
      type="DivisionNameExtQuery"/>
    <RowIterator
      editable="true"
      elementName="ScriptParameter"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="new DivisionNameExt()"
      toRemove="ScriptParameter.remove()"
      value="DivisionNameList">
      <Row
        editable="true">
        <Cell
          editable="true"
          id="DivisionName"
          label="displaykey.LV.Admin.ScriptParameters.DivisionName"
          sortOrder="1"
          value="ScriptParameter.DivisionNameValue"
          wrap="false"/>
        <Cell
          id="CreateTime"
          label="displaykey.LV.Admin.ScriptParameters.CreateTime"
          sortOrder="1"
          value="ScriptParameter.CreateTime"
          wrap="false"/>
        <Cell
          id="CreateUser"
          label="displaykey.LV.Admin.GAICScriptParameters.CreateUser"
          value="ScriptParameter.CreateUser"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>