<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="GlobalParametersLV">
    <Require
      name="ScriptParameterList"
      type="GlobalParameterExtQuery"/>
    <RowIterator
      editable="true"
      elementName="ScriptParameter"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="new GlobalParameterExt()"
      toRemove="ScriptParameter.remove()"
      value="ScriptParameterList">
      <Row
        editable="true">
        <Cell
          editable="true"
          id="Name"
          label="displaykey.LV.Admin.ScriptParameters.Name"
          sortOrder="1"
          value="ScriptParameter.FieldNameExt"
          wrap="false"/>
        <TypeKeyCell
          editable="true"
          id="LossType"
          label="displaykey.LV.Admin.GAICGlobalParams.LOB"
          noneSelectedLabel="displaykey.LV.Admin.GAICGlobalParams.AllLOB"
          value="ScriptParameter.LossTypeExt"/>
        <TypeKeyCell
          editable="true"
          filter="VALUE != &quot;User&quot;"
          id="Type"
          label="displaykey.LV.Admin.ScriptParameters.Type"
          sortOrder="2"
          value="ScriptParameter.ObjectTypeExt"/>
        <Cell
          editable="true"
          id="users"
          label="displaykey.LV.Admin.GAICScriptParameters.Value"
          value="ScriptParameter.UserExt"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
