<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="GlobalUserParametersLV">
    <Require
      name="ScriptParameterList"
      type="GlobalParameterExtQuery"/>
    <RowIterator
      editable="true"
      elementName="ScriptParameter"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="new GlobalParameterExt()"
      toRemove="ScriptParameter.remove()"
      value="ScriptParameterList">
      <Row
        editable="true">
        <Cell
          editable="gw.api.system.server.ServerUtil.getEnv()==&quot;local&quot; "
          id="Name"
          label="displaykey.LV.Admin.ScriptParameters.Name"
          sortOrder="1"
          value="ScriptParameter.FieldNameExt"
          wrap="false"/>
        <RangeCell
          editable="gw.api.system.server.ServerUtil.getEnv()==&quot;local&quot;"
          id="LossType"
          label="displaykey.LV.Admin.GAICGlobalParams.LOB"
          noneSelectedLabel="displaykey.LV.Admin.GAICGlobalParams.AllLOB"
          optionLabel="VALUE.Description"
          value="ScriptParameter.LossTypeExt"
          valueRange="LossType.getTypeKeys(false)"/>
        <Cell
          editable="true"
          id="users"
          label="displaykey.LV.Admin.GAICScriptParameters.UserValue"
          onPick="ScriptParameter.ObjectTypeExt = &quot;User&quot;"
          value="ScriptParameter.UserExt"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>