<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.Claim.own and perm.System.viewdesktop"
    id="DesktopClaims"
    title="displaykey.Web.DesktopClaims">
    <LocationEntryPoint
      signature="DesktopClaims()"/>
    <Variable
      initialValue="ClaimDesktopView.finder.findAllAndAttachClaimants()"
      name="ClaimDesktopViewList"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="&quot;DesktopClaimsLV&quot;"
      name="PrintTargetLV"/>
    <Screen
      id="DesktopClaimsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.DesktopClaims"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignClaimsPopup.push(new claim.ClaimAssignmentPopup(CheckedValues))"
          default="true"
          flags="any ClaimDesktopView"
          id="DesktopClaims_AssignButton"
          iterator="DesktopClaimsLV"
          label="displaykey.Web.DesktopExposures.Assign"
          shortcut="G"/>
        <ToolbarDivider/>
        <ToolbarDivider/>
        <ToolbarButton
          action="print.ListViewPrintOptionPopupAction.printListViewWithOptions(PrintTargetLV)"
          available="perm.User.printlistviews"
          id="DesktopClaims_PrintButton"
          label="displaykey.Java.ListView.Print"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="DesktopClaimsLV(ClaimDesktopViewList, User.util.CurrentUser, true)"/>
    </Screen>
  </Page>
</PCF>
