<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewClaimWizard_AssignDV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="claim.NewClaimWizardInfo"/>
    <InputColumn>
      <Choice
        id="CommonAssignChoice"
        option="true"
        value="Wizard.CommonAssignment">
        <AssigneeInput
          assignable="Claim"
          editable="true"
          id="CommonAssign"
          label="displaykey.Web.NewClaimWizard.Assign.CommonAssign"
          showNoneSelected="false"
          sortValueRange="false"
          value="Wizard.CommonAssignee"
          valueRange="Claim.SuggestedAssignees"/>
      </Choice>
      <Choice
        id="IndividualAssignChoice"
        option="false"
        value="Wizard.CommonAssignment">
        <Input
          id="IndividualAssign"
          label="displaykey.Web.NewClaimWizard.Assign.IndividualAssign"
          value="&quot;&quot;"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="NewClaimWizardAssignLV">
            <RowIterator
              editable="true"
              elementName="Assignment"
              value="Wizard.IndividualAssignments">
              <Row>
                <Cell
                  enableSort="false"
                  id="ForName"
                  label="displaykey.Web.NewClaimWizard.Assign.For"
                  value="Assignment.TargetName"/>
                <AssigneeCell
                  assignable="Assignment.Target"
                  editable="true"
                  enableSort="false"
                  id="Assignee"
                  label="displaykey.Web.NewClaimWizard.Assign.ChooseUserGroup"
                  showNoneSelected="false"
                  sortValueRange="false"
                  value="Assignment.Assignee"
                  valueRange="Assignment.Target.SuggestedAssignees"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </Choice>
    </InputColumn>
  </DetailViewPanel>
</PCF>
