<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.Group.viewtree"
    countsAsWork="false"
    id="AdminUserSearchPage"
    title="displaykey.Web.Admin.UserSearch">
    <LocationEntryPoint
      signature="AdminUserSearchPage()"/>
    <Variable
      initialValue="new contact.CCProximitySearchPageHelper()"
      name="PageHelper"/>
    <Screen
      id="UserSearchScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="searchResults"
        search="SearchCriteria.performSearchByProximity(CurrentLocation, PageHelper)"
        searchCriteria="new UserSearchCriteria()"
        searchResultsType="UserQuery">
        <PanelRef
          def="UserSearchDV(SearchCriteria, PageHelper)"/>
        <PanelRef
          def="UserSearchResultsLV(searchResults, false, PageHelper, SearchCriteria, true)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="PageHelper.getDrivingDirectionsCache().getSelectedDirections(CheckedValues, SearchCriteria.getContact());"
              flags="any User"
              id="RetrieveRequested"
              iterator="UserSearchResultsLV"
              label="displaykey.Web.Addressbook.Search.Result.GetRequested"
              visible="SearchCriteria.Contact.isProximitySearch()"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>
