<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AggregateLimitCoveragesLV">
    <Require
      name="AggregateLimitHelper"
      type="admin.AggregateLimitHelper"/>
    <Require
      name="Policy"
      type="Policy"/>
    <Require
      name="AggregateLimit"
      type="AggregateLimit"/>
    <RowIterator
      editable="true"
      elementName="CoverageLineLimit"
      hideCheckBoxesIfReadOnly="true"
      toAdd="AggregateLimit.addToCoverageLines(CoverageLineLimit);"
      toRemove="AggregateLimit.removeFromCoverageLines(CoverageLineLimit)"
      value="AggregateLimit.CoverageLines">
      <Row>
        <Cell
          editable="true"
          id="CoverageType"
          label="displaykey.LV.Policy.AggregateLimitCoverages.CoverageType"
          required="true"
          sortOrder="1"
          value="new util.lvwrapper.CoverageLineLimitLVWrapper(AggregateLimitHelper, CoverageLineLimit).CoverageType"/>
        <RangeCell
          editable="true"
          id="CoveredItem"
          label="displaykey.LV.Policy.AggregateLimitCoverages.CoveredItem"
          optionLabel="VALUE.CoveredItemString"
          value="new util.lvwrapper.CoverageLineLimitLVWrapper(AggregateLimitHelper, CoverageLineLimit).CoverageLine"
          valueRange="AggregateLimitHelper.getFilteredList(CoverageLineLimit.CoverageLine.CoverageType)">
          <Reflect
            triggerIds="CoverageType"
            valueRange="AggregateLimitHelper.getFilteredList(VALUE)"/>
        </RangeCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
