<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.Claim.view(Claim) and perm.Policy.view(Claim) and perm.System.viewpolicy and (Claim.State != ClaimState.TC_DRAFT)"
    id="ClaimPolicyGroup"
    title="displaykey.JSP.ClaimPageLinks.PageLink.Policy">
    <LocationEntryPoint
      signature="ClaimPolicyGroup(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <LocationRef
      label="displaykey.JSP.ClaimPolicy.Policy.Navigation.General"
      location="ClaimPolicyGeneral(Claim)"
      shortcut="G"/>
    <LocationRef
      label="displaykey.JSP.ClaimPolicy.Policy.Navigation.Vehicles"
      location="ClaimPolicyVehicles(Claim)"
      shortcut="I"/>
    <LocationRef
      label="displaykey.JSP.ClaimPolicy.Policy.Navigation.Trips"
      location="ClaimPolicyTrips(Claim)"
      shortcut="I"/>
    <LocationRef
      label="gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;Classcodes&quot;) ? displaykey.JSP.ClaimPolicy.Policy.Navigation.WCLocations : displaykey.JSP.ClaimPolicy.Policy.Navigation.Locations"
      location="ClaimPolicyLocations(Claim)"
      shortcut="I"/>
    <LocationRef
      label="displaykey.JSP.ClaimPolicy.Policy.Navigation.Endorsements"
      location="ClaimPolicyEndorsements(Claim)"
      shortcut="N"/>
    <LocationRef
      label="displaykey.JSP.ClaimPolicy.Policy.Navigation.Statcodes"
      location="ClaimPolicyStatCodes(Claim)"/>
    <LocationRef
      label="displaykey.JSP.ClaimPolicy.Policy.Navigation.AggregateLimits"
      location="ClaimPolicyAggregateLimits(Claim)"
      shortcut="S"/>
  </LocationGroup>
</PCF>
