<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.Claim.edit(Claim) and perm.Policy.edit(Claim)"
    id="ClaimPolicyLocationDetail"
    parent="ClaimPolicyLocations(Claim)"
    title="displaykey.Web.ClaimPolicy.LocationDetail">
    <LocationEntryPoint
      signature="ClaimPolicyLocationDetail(Claim : Claim, LocationBasedRU : LocationBasedRU)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="LocationBasedRU"
      type="LocationBasedRU"/>
    <Screen
      id="ClaimPolicyLocationDetailScreen">
      <Toolbar/>
      <PanelRef
        def="LocationDetailPanelSet(LocationBasedRU)"
        mode="Claim.LossType"/>
    </Screen>
  </Page>
</PCF>
