<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;AggregateLimits&quot;) and perm.Policy.view(Claim) and perm.System.viewpolicy"
    id="ClaimPolicyAggregateLimits"
    title="displaykey.JSP.ClaimPolicy.Policy.Navigation.AggregateLimits">
    <LocationEntryPoint
      signature="ClaimPolicyAggregateLimits(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="ClaimPolicyAggregateLimitsScreen">
      <Toolbar>
        <ToolbarButton
          action="ClaimPolicyNewAggregateLimit.go(Claim)"
          default="true"
          id="ClaimPolicyAggregateLimits_AddButton"
          label="displaykey.Button.Add"
          visible="perm.Policy.edit(Claim)"/>
        <CheckedValuesToolbarButton
          checkedRowAction="gw.api.admin.AggregateLimitUtil.removeLimit(AggregateLimit)"
          flags="any AggregateLimit"
          id="ClaimPolicyAggregateLimits_DeleteButton"
          iterator="AggregateLimitsLV"
          label="displaykey.Button.Delete"
          shortcut="E"
          visible="perm.Policy.edit(Claim)"/>
      </Toolbar>
      <PanelRef
        def="AggregateLimitsLV(Claim.AggregateLimits, Claim)"
        editable="false"/>
    </Screen>
  </Page>
</PCF>
