<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="!Coverage.Policy.Verified"
    id="CovTermsLV">
    <Require
      name="Coverage"
      type="Coverage"/>
    <RowIterator
      editable="!Coverage.Policy.Verified"
      elementName="CovTerm"
      hideCheckBoxesIfReadOnly="true"
      toAdd="Coverage.addToCovTerms(CovTerm)"
      toRemove="Coverage.removeFromCovTerms(CovTerm)"
      value="Coverage.CovTerms">
      <Row
        editable="!Coverage.Policy.Verified">
        <Cell
          editable="true"
          id="Type"
          label="displaykey.LV.Policy.CovTerms.Type"
          numCols="25"
          sortOrder="1"
          value="CovTerm.Type"/>
        <Cell
          editable="true"
          id="Value"
          label="displaykey.LV.Policy.CovTerms.Value"
          numCols="10"
          value="CovTerm.Value"/>
        <Cell
          editable="true"
          id="ValueType"
          label="displaykey.LV.Policy.CovTerms.ValueType"
          numCols="15"
          value="CovTerm.ValueType"/>
        <Cell
          editable="true"
          id="AggregationModel"
          label="displaykey.LV.Policy.CovTerms.AggregationModel"
          numCols="15"
          value="CovTerm.AggregationModel"/>
        <Cell
          editable="true"
          id="RestrictionModel"
          label="displaykey.LV.Policy.CovTerms.RestrictionModel"
          numCols="15"
          value="CovTerm.RestrictionModel"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
