<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="LocationsLV"
    mode="Auto">
    <Require
      name="PolicyPropertyList"
      type="LocationBasedRU[]"/>
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="false"
      elementName="locationRU"
      hasCheckBoxes="true"
      pageSize="10"
      toCreateAndAdd="Claim.Policy.createLocationBasedRU(LocationBasedRU)"
      toRemove="Claim.Policy.removeLocationBasedRU(locationRU)"
      value="PolicyPropertyList">
      <Row>
        <Cell
          id="PropertyNumber"
          label="displaykey.LV.Policy.Locations.PropertyNumber"
          sortOrder="1"
          value="locationRU.RUNumber"/>
        <Cell
          id="Number"
          label="displaykey.LV.Policy.Locations.Number"
          sortOrder="2"
          value="locationRU.PolicyLocation.LocationNumber"/>
        <Cell
          id="Address"
          label="displaykey.LV.Policy.Locations.Address"
          value="locationRU.Property.Address"/>
        <Cell
          id="Lienholders"
          label="displaykey.LV.Policy.Locations.Lienholders"
          value="locationRU.Property.Lienholders.join(&quot;, &quot;)"/>
        <Cell
          id="Notes"
          label="displaykey.LV.Policy.Locations.Notes"
          value="locationRU.Property.Notes"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
