<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    id="CentralPrintWorksheet"
    startInEditMode="perm.Document.edit(Document)"
    tabLabel="displaykey.Web.CentralPrint.Title"
    title="displaykey.Web.CentralPrint.Title">
    <LocationEntryPoint
      signature="CentralPrintWorksheet (Document : Document)"/>
    <Scope
      location="Claim(Claim)"/>
    <Variable
      name="Document"
      type="Document"/>
    <Variable
      initialValue="Document.Claim"
      name="Claim"
      type="Claim"/>
    <Screen
      id="CentralPrintScreen">
      <Toolbar>
        <ToolbarButton
          action="if (Document.cancelCentralPrint()) { CurrentLocation.commit() } else { CentralPrintErrorWorksheet.goInWorkspace(Document) }"
          available="(Document.ex_CentralPrintRowNumInDb != null and (Document.ex_CentralPrintCancelled == null or (Document.ex_CentralPrintCancelled == false and Document.ex_CentralPrintSuccessfull == false)))"
          id="CancelCentralPrint"
          label="displaykey.LV.Claim.Documents.Document.CentralPrint"/>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="Cancel"
          label="displaykey.Button.Cancel"/>
      </Toolbar>
      <PanelRef
        def="CentralPrintDV(Document)"/>
    </Screen>
  </Worksheet>
</PCF>