<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.Activity.reviewassignment and perm.System.viewdesktop"
    id="DesktopAwaitingAssignment"
    title="displaykey.Web.DesktopAwaitingAssignment">
    <LocationEntryPoint
      signature="DesktopAwaitingAssignment()"/>
    <Variable
      initialValue="Activity.finder.getAllActivityAwaitingAssignmentViews()"
      name="ActivityUnassignedViewList"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="&quot;DesktopAwaitingAssignmentLV&quot;"
      name="PrintTargetLV"
      type="String"/>
    <Screen
      id="DesktopAwaitingAssignmentScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.DesktopAwaitingAssignment"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.assignment.AssignmentUtil.assignUnassignedViews(CurrentLocation, CheckedValues)"
          default="true"
          flags="any ActivityUnassignedView"
          id="DesktopAwaitingAssignment_AssignButton"
          iterator="DesktopAwaitingAssignmentLV"
          label="displaykey.Web.DesktopAwaitingAssignment.Toolbar.Assign"
          shortcut="G"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignActivitiesPopup.push(new activity.ActivityAssignmentPopup(CheckedValues))"
          flags="any ActivityUnassignedView"
          id="DesktopAwaitingAssignment_ReassignButton"
          iterator="DesktopAwaitingAssignmentLV"
          label="displaykey.Web.DesktopAwaitingAssignment.Toolbar.Reassign"
          shortcut="Y"/>
        <ToolbarDivider/>
        <ToolbarDivider/>
        <ToolbarButton
          action="print.ListViewPrintOptionPopupAction.printListViewWithOptions(PrintTargetLV)"
          available="perm.User.printlistviews"
          id="DesktopAwaitingAssignment_PrintButton"
          label="displaykey.Java.ListView.Print"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="DesktopAwaitingAssignmentLV(ActivityUnassignedViewList)"/>
    </Screen>
  </Page>
</PCF>
