<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FixPropContentItemDetailsDV">
    <Require
      name="AssessmentContentItem"
      type="AssessmentContentItem"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Summary"/>
      <Input
        editable="true"
        id="Schedule"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.PropertySchedule"
        value="AssessmentContentItem.ContentSchedule"/>
      <Input
        editable="true"
        id="Category"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Category"
        value="AssessmentContentItem.ContentCategory"/>
      <Input
        editable="true"
        id="NumberOfItems"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.NumberOfItems"
        value="AssessmentContentItem.NumberOfItems"/>
      <TextInput
        editable="true"
        id="Brand"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Brand"
        value="AssessmentContentItem.Brand"/>
      <TextInput
        editable="true"
        id="Description"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Description"
        required="true"
        value="AssessmentContentItem.Description"/>
      <DateInput
        editable="true"
        id="DateAcquired"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.DateAcquired"
        value="AssessmentContentItem.DateAcquired"/>
      <Input
        editable="true"
        id="Action"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Action"
        value="AssessmentContentItem.Action"/>
      <RangeInput
        editable="true"
        id="AssessmentSource"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.RelatedSource"
        value="AssessmentContentItem.AssessmentSource"
        valueRange="AssessmentContentItem.Incident.SourceLine"/>
      <Input
        id="CreateTime"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.CreateTime"
        value="AssessmentContentItem.CreateTime"/>
      <Input
        editable="true"
        id="Comment"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.ItemComment"
        value="AssessmentContentItem.ItemComment"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Financials"/>
      <Input
        editable="true"
        formatType="currency"
        id="PurchaseCost"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.PurchaseCost"
        postOnChange="true"
        value="AssessmentContentItem.PurchaseCost"/>
      <Input
        editable="true"
        formatType="currency"
        id="Depreciation"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Depreciation"
        postOnChange="true"
        value="AssessmentContentItem.Depreciation"/>
      <Input
        editable="true"
        formatType="currency"
        id="Salvage"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.Salvage"
        postOnChange="true"
        value="AssessmentContentItem.Salvage"/>
      <Input
        boldLabel="true"
        formatType="currency"
        id="ItemValue"
        label="displaykey.NVV.Incident.FixedProperty.ContentItem.ItemValue"
        required="false"
        value="AssessmentContentItem.contentItemValue()"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
