<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.ScriptParameter.edit"
    canVisit="perm.ScriptParameter.view"
    id="AutoMedLetter"
    title="&quot;Medicare Letter Admin&quot;">
    <Variable
      initialValue="getList()"
      name="AutoMedAdminList"
      type="AutoMedLetterExtQuery"/>
    <Screen>
      <TitleBar
        title="&quot;Medicare Letter Admin&quot;"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="AutoMedLetterLV(AutoMedAdminList)">
            <Toolbar
              visible="true">
              <EditButtons/>
              <IteratorButtons
                addVisible="true"
                removeVisible="true"/>
            </Toolbar>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
    <Code><![CDATA[function getList() : AutoMedLetterExtQuery {
  uses gw.api.database.*
  var qry = Query.make(AutoMedLetterExt).select()
  return qry}]]></Code>
  </Page>
</PCF>