<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    canVisit="perm.Claim.view(Claim) and perm.System.viewsnapshot"
    id="ClaimSnapshotVehicleIncidentPopup"
    title="displaykey.Web.EditVehicleIncident.Title">
    <LocationEntryPoint
      signature="ClaimSnapshotVehicleIncidentPopup(Claim : Claim, Incident : Object)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Incident"
      type="Object"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getSnapshot(Claim)"
      name="Snapshot"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getPageVersion(Snapshot)"
      name="Version"
      type="String"/>
    <ScreenRef
      def="ClaimSnapshotVehicleIncidentScreen(Claim, Incident, Snapshot)"
      mode="Version"/>
  </Popup>
</PCF>
