<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.Claim.view(Claim) and perm.ClaimAssociation.view"
    id="ClaimAssociations"
    title="displaykey.Web.Claim.Associations">
    <LocationEntryPoint
      signature="ClaimAssociations(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="ClaimAssociationsScreen">
      <Toolbar>
        <ToolbarButton
          action="NewClaimAssociation.go(Claim)"
          id="ClaimAssociations_NewButton"
          label="displaykey.Button.Association.New"
          shortcut="E"
          visible="perm.Claim.createassociation"/>
        <CheckedValuesToolbarButton
          checkedRowAction="ClaimAssociation.remove()"
          confirmMessage="displaykey.Web.Claim.AssociationDeleteConfirm"
          id="ClaimAssociations_DeleteButton"
          iterator="AssociatedClaimsLV"
          label="displaykey.Button.Delete"
          shortcut="L"
          visible="perm.ClaimAssociation.delete"/>
        <PickerToolbarButton
          action="ClaimAssociationSearchPopup.push(Claim)"
          id="ClaimAssociations_FindButton"
          label="displaykey.Button.Association.Find"
          onPick="ClaimAssociationDetail.go(Claim, PickedValue, true)"
          shortcut="I"/>
      </Toolbar>
      <PanelRef
        def="AssociatedClaimsLV(Claim, Claim.Associations)"/>
    </Screen>
  </Page>
</PCF>
