<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="NewReserveMultiCurrencyPopup"
    startInEditMode="true"
    title="displaykey.Web.Financials.ReserveSet.NewReserveMultiCurrencyPopup.Title">
    <LocationEntryPoint
      signature="NewReserveMultiCurrencyPopup(WizardHelper : financials.ReserveWizardHelper, EditWrapper : TransactionEditWrapper)"/>
    <Variable
      name="EditWrapper"
      type="TransactionEditWrapper"/>
    <Variable
      initialValue="EditWrapper.Transaction"
      name="Transaction"
      type="Transaction"/>
    <Variable
      name="WizardHelper"
      type="financials.ReserveWizardHelper"/>
    <Screen
      id="NewReserveMultiCurrencyPopupScreen">
      <Toolbar>
        <EditButtons
          cancelLabel="displaykey.Button.Cancel"
          cancelVisible="true"
          editVisible="false"
          updateLabel="displaykey.Button.Save"
          updateVisible="true"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn/>
      </DetailViewPanel>
      <!-- <Label
            label="Transaction.getSubType().getDisplayName()?"/> -->
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="EditableMultiCurrencyReservesLV(WizardHelper,EditWrapper)"
            editable="true"
            mode="WizardHelper.getReservesUIMode()">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.Financials.ReserveSet.NewReserveMultiCurrencyPopup.ExchangeRate"
            visible="util.CurrencyUtil.isMultiCurrencyMode() and Transaction.Currency != Transaction.Claim.Currency"/>
          <InputSetRef
            def="TransactionEditWrapperExchangeRateInputSet(EditWrapper)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>
