<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="DwellingAttributeInputSet">
    <Require
      name="dwellingIncident"
      type="DwellingIncident"/>
    <Label
      label="displaykey.NVV.Claim.DwellingAttribute.BuildingDetail"/>
    <Input
      editable="true"
      id="DwellingAttribute_ClassType"
      label="displaykey.NVV.Claim.DwellingAttribute.ClassType"
      required="false"
      value="dwellingIncident.ClassType"/>
    <TextInput
      editable="true"
      id="DwellingAttribute_NumStories"
      label="displaykey.NVV.Claim.DwellingAttribute.NumStories"
      numCols="3"
      required="false"
      validationExpression="dwellingIncident.NumStories &lt; 1 ? displaykey.NVV.Claim.DwellingAttribute.NumStoriesValidation : null"
      value="dwellingIncident.NumStories"/>
    <Input
      editable="true"
      id="DwellingAttribute_RoofMaterial"
      label="displaykey.NVV.Claim.DwellingAttribute.RoofMaterial"
      required="false"
      value="dwellingIncident.RoofMaterial"/>
    <Input
      editable="true"
      id="DwellingAttribute_ExtWallMat"
      label="displaykey.NVV.Claim.DwellingAttribute.ExtWallMat"
      required="false"
      value="dwellingIncident.ExtWallMat"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="YearBuilt"
      label="displaykey.NVV.Claim.DwellingAttribute.YearBuilt"
      required="false"
      value="dwellingIncident.YearBuilt"/>
    <TextInput
      editable="true"
      id="PropertySize"
      label="displaykey.Web.FixedPropertyIncident.PropertySize"
      numCols="3"
      required="false"
      value="dwellingIncident.PropertySize"/>
    <InputDivider/>
    <Label
      label="displaykey.NVV.Claim.DwellingAttribute.OccupancyDetail"/>
    <Input
      editable="true"
      id="OccupancyType"
      label="displaykey.NVV.Claim.DwellingAttribute.OccupancyType"
      value="dwellingIncident.OccupancyType"/>
    <Input
      editable="true"
      id="DwellingAttribute_LossArea"
      label="displaykey.NVV.Claim.DwellingAttribute.LossArea"
      required="false"
      value="dwellingIncident.LossArea"/>
    <Input
      editable="true"
      id="DwellingAttribute_NumberOfPeopleOnPolicy"
      label="displaykey.NVV.Claim.DwellingAttribute.NumberOfPeopleOnPolicy"
      required="false"
      value="dwellingIncident.NumberOfPeopleOnPolicy"/>
    <Input
      editable="true"
      id="DwellingAttribute_YearsInHome"
      label="displaykey.NVV.Claim.DwellingAttribute.YearsInHome"
      required="false"
      value="dwellingIncident.YearsInHome"/>
    <InputSet
      visible="dwellingIncident.Claim.LossCause == LossCause.TC_FIRE">
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.DwellingAttribute.FireProtDetails"/>
      <Input
        editable="true"
        id="DwellingAttribute_SprinklerType"
        label="displaykey.NVV.Claim.DwellingAttribute.SprinklerType"
        required="false"
        value="dwellingIncident.SprinklerType"/>
      <TextInput
        editable="true"
        id="DwellingAttribute_NumSprinkler"
        label="displaykey.NVV.Claim.DwellingAttribute.NumSprinkler"
        numCols="3"
        required="false"
        validationExpression="dwellingIncident.NumSprinkler &lt; 0 ? displaykey.NVV.Claim.DwellingAttribute.NumSprinklerValidation : null"
        value="dwellingIncident.NumSprinkler"/>
      <TextInput
        editable="true"
        id="DwellingAttribute_NumSprinkOper"
        label="displaykey.NVV.Claim.DwellingAttribute.NumSprinkOper"
        numCols="3"
        required="false"
        validationExpression="dwellingIncident.NumSprinkOper &lt; 0 ? displaykey.NVV.Claim.DwellingAttribute.NumSprinkOperValidation : null"
        value="dwellingIncident.NumSprinkOper"/>
      <Input
        editable="true"
        id="DwellingAttribute_SprinkRetServ"
        label="displaykey.NVV.Claim.DwellingAttribute.SprinkRetServ"
        required="false"
        value="dwellingIncident.SprinkRetServ"/>
    </InputSet>
    <InputDivider/>
    <Input
      editable="true"
      id="LossLocation_Mold"
      label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LossLocation.Mold"
      value="dwellingIncident.MoldInvolved"/>
    <Input
      editable="true"
      id="LossLocation_Hazard"
      label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.LossLocation.Hazard"
      value="dwellingIncident.HazardInvolved"/>
  </InputSet>
</PCF>
