<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="DwellingIncidentCV">
    <Require
      name="dwellingIncident"
      type="DwellingIncident"/>
    <Card
      id="Dwelling_DetailsCard"
      title="displaykey.Web.DwellingIncident.Details">
      <PanelRef
        def="DwellingIncidentPanelSet(dwellingIncident)"/>
    </Card>
    <Card
      id="Dwelling_AssessmentCard"
      title="displaykey.Web.DwellingIncident.Assessment">
      <PanelRef
        def="IncidentAssessDV(dwellingIncident)"/>
    </Card>
  </CardViewPanel>
</PCF>
