<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="OtherStructureIncidentPanelSet">
    <Require
      name="incident"
      type="OtherStructureIncident"/>
    <PanelRow>
      <PanelColumn>
        <PanelRef>
          <TitleBar
            id="DamageHeader"
            title="displaykey.Web.OtherStructureIncident.DamageHeader"/>
          <DetailViewPanel>
            <InputColumn>
              <TextAreaInput
                editable="true"
                id="Description"
                label="displaykey.Web.OtherStructureIncident.Description"
                numRows="3"
                required="true"
                value="incident.Description"/>
              <Input
                editable="true"
                id="EstimatesReceived"
                label="displaykey.Web.OtherStructureIncident.EstimatedReceived"
                postOnChange="true"
                value="incident.EstimatesReceived"/>
              <Input
                editable="true"
                id="EstimateCost"
                label="displaykey.Web.OtherStructureIncident.EstimateCost"
                value="incident.EstRepairCost"
                visible="incident.EstimatesReceived == &quot;yes&quot;"/>
              <Input
                editable="true"
                id="EstimateTime"
                label="displaykey.Web.OtherStructureIncident.EstimateTime"
                value="incident.EstRepairTime"
                visible="incident.EstimatesReceived == &quot;yes&quot;"/>
              <Input
                editable="true"
                id="LossEstimate"
                label="displaykey.Web.OtherStructureIncident.LossEstimate"
                value="incident.LossEstimate"/>
              <Input
                editable="true"
                id="AlreadyRepaired"
                label="displaykey.Web.OtherStructureIncident.AlreadyRepaired"
                postOnChange="true"
                value="incident.AlreadyRepaired"/>
              <Input
                editable="true"
                id="FencesDamaged"
                label="displaykey.Web.OtherStructureIncident.FencesDamaged"
                postOnChange="true"
                value="incident.FencesDamaged"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
      </PanelColumn>
      <PanelColumn>
        <PanelRef
          def="IncidentExposuresLV(incident)"
          id="IncidentExposuresLV">
          <TitleBar
            id="RelatedExposuresHeader"
            title="displaykey.Web.OtherStructureIncident.RelatedExposuresHeader"/>
          <Toolbar/>
        </PanelRef>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>
