<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="perm.SecurityZone.edit &amp;&amp; gaiStartInEditMode"
    id="EditProfitCenterSecurityFilterPopup"
    startInEditMode="gaiStartInEditMode"
    title="&quot;ProfitCenter&quot;">
    <LocationEntryPoint
      signature="EditProfitCenterSecurityFilterPopup(filter:entity.ProfitCenterSecurityFilterExt, gaiStartInEditMode:boolean)"/>
    <Variable
      name="filter"
      type="entity.ProfitCenterSecurityFilterExt"/>
    <Variable
      initialValue="false"
      name="gaiStartInEditMode"
      type="boolean"/>
    <ScreenRef
      def="ProfitCenterScreen(filter)"/>
  </Popup>
</PCF>