<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ProfitCenterScreen">
    <Require
      name="filter"
      type="entity.ProfitCenterSecurityFilterExt"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <DetailViewPanel>
      <InputColumn>
        <RangeInput
          editable="true"
          id="PCRange"
          label="displaykey.Web.Admin.Security.grouping"
          postOnChange="true"
          required="true"
          value="filter.ProfitCenterGrouping"
          valueRange="find(var pcg in ProfitCenterGroupingExt)"/>
        <Input
          id="ID"
          label="displaykey.LV.Admin.ProfitCenters"
          value="util.StringUtils.formatArray(filter.ProfitCenterGrouping.ProfitCenterItemExt*.ProfitCenter) "/>
        <Input
          id="PBU"
          label="displaykey.LV.Admin.BusinessUnitItems"
          value="util.StringUtils.formatArray(filter.ProfitCenterGrouping.BusinessUnitItemExt*.BusinessUnit*.DisplayName) "/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>