<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="PrimaryTPAInputSet">
    <Require
      name="Claim"
      type="Claim"/>
    <Label
      id="TPAInfoLabel"
      label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.TPAInformationHeader"/>
    <ListViewInput
      def="EditableTPAInfoLV(Claim)"
      editable="true"
      id="TPAS"
      labelAbove="true">
      <Toolbar>
        <IteratorButtons/>
      </Toolbar>
    </ListViewInput>
  </InputSet>
</PCF>