<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    desc="Provides a reusable panel displaying a User's Addresses in a ListDetailPanel."
    id="UserAddressesPanelSet">
    <Require
      name="user"
      type="User"/>
    <ListDetailPanel
      selectionName="selectedAddress"
      selectionType="Address">
      <PanelRef
        def="UserAddressesLV(user)">
        <Toolbar>
          <IteratorButtons/>
          <ToolbarDivider/>
          <ToolbarButton
            hideIfReadOnly="true"
            id="UserPanelSet_RefreshButton"
            label="displaykey.Button.Refresh"/>
        </Toolbar>
      </PanelRef>
      <CardViewPanel>
        <Card
          id="UserDetailCard"
          title="displaykey.Web.Contact.AddressDetail.Title">
          <DetailViewPanel>
            <InputColumn>
              <InputSetRef
                def="AddressInputSet(new gw.api.address.CustomAddressAddressOwner(selectedAddress, user.Contact))"
                mode="selectedAddress.Country"/>
            </InputColumn>
          </DetailViewPanel>
          <!-- <PanelRef
            def="AddressDetailDV(selectedAddress, true, true, true, true, user.Contact)"/> -->
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </PanelSet>
</PCF>