<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    beforeCommit="gw.api.admin.UserAuthorityLimitUtil.cleanUpUnusedCustomProfiles(User); User.resetAuthorityLimits()"
    canEdit="perm.User.edit"
    canVisit="perm.User.view"
    id="UserDetailPage"
    title="displaykey.Web.Admin.UserDetail(User.DisplayName)">
    <LocationEntryPoint
      signature="UserDetailPage(User : User)"/>
    <Variable
      name="User"
      type="User"/>
    <Variable
      initialValue="User.Contact.generateLinkStatus()"
      name="linkStatus"
      recalculateOnRefresh="true"/>
    <Screen
      id="UserDetailScreen">
      <Toolbar
        reflectOnBottom="true">
        <ToolbarButtonSetRef
          toolbarButtonSet="UserDetailToolbarButtonSet(User, linkStatus)"/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="BasicsCard"
          shortcut="B"
          title="displaykey.JSP.UserDetail.User.Basics"
          visible="perm.User.view">
          <PanelRef
            def="UserDetailDV(User, linkStatus)">
            <Toolbar/>
          </PanelRef>
        </Card>
        <Card
          id="ProfileCard"
          shortcut="L"
          title="displaykey.JSP.UserDetail.User.Profile"
          visible="perm.User.view">
          <PanelRef
            def="UserProfileDV(User, linkStatus)">
            <Toolbar/>
          </PanelRef>
        </Card>
        <Card
          id="AddressesCard"
          shortcut="A"
          title="displaykey.JSP.UserDetail.User.Addresses"
          visible="perm.User.view">
          <PanelRef
            def="UserAddressesPanelSet(User)">
            <Toolbar/>
          </PanelRef>
        </Card>
        <Card
          id="AuthorityLimitsCard"
          shortcut="Y"
          title="displaykey.JSP.UserDetail.User.AuthorityLimits"
          visible="perm.User.view">
          <PanelRef
            def="UserAuthorityLimitsDV(User)">
            <Toolbar/>
          </PanelRef>
        </Card>
        <Card
          id="AttributesCard"
          shortcut="U"
          title="displaykey.JSP.UserDetail.User.Attributes"
          visible="perm.User.view">
          <PanelRef
            def="UserAttributesLV(User)">
            <Toolbar>
              <IteratorButtons
                addShortcut="D"
                removeShortcut="E"/>
            </Toolbar>
          </PanelRef>
        </Card>
        <Card
          id="RegionsCard"
          shortcut="R"
          title="displaykey.JSP.UserDetail.User.Regions"
          visible="perm.User.view">
          <PanelRef
            def="UserRegionLV(User)">
            <Toolbar>
              <IteratorButtons
                removeShortcut="E"/>
            </Toolbar>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>