<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="UserDetailDV">
    <Require
      name="User"
      type="User"/>
    <Require
      name="linkStatus"
      type="contact.LinkStatus"/>
    <Variable
      initialValue="Role.finder.allOrderedByName()"
      name="AllRoles"
      type="RoleQuery"/>
    <Variable
      initialValue="getContact()"
      name="UserContact"
      type="UserContact"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.UserDetail.Locked"
        visible="User.AccountLocked"/>
      <Label
        label="linkStatus.LinkStatusMessage"/>
      <Label
        label="displaykey.NVV.Admin.UserBasics.AdminUserDetails.Security"/>
      <Input
        editable="true"
        id="Prefix"
        label="displaykey.Web.ContactDetail.Name.Prefix"
        required="false"
        value="UserContact.Prefix"
        visible="false"/>
      <Input
        editable="true"
        id="FirstName"
        label="displaykey.Web.Admin.UserDetailDV.FirstName"
        onChange="User.setSignature()"
        postOnChange="true"
        required="true"
        value="UserContact.FirstName"/>
      <Input
        editable="true"
        id="MiddleName"
        label="displaykey.Web.Admin.UserDetailDV.MiddleName"
        onChange="User.setSignature()"
        postOnChange="true"
        required="false"
        value="User.Contact.MiddleName"/>
      <Input
        editable="true"
        id="LastName"
        label="displaykey.Web.Admin.UserDetailDV.LastName"
        onChange="User.setSignature()"
        postOnChange="true"
        required="true"
        value="UserContact.LastName"/>
      <Input
        editable="true"
        id="Username"
        label="displaykey.Web.Admin.UserDetailDV.Username"
        required="true"
        value="User.Credential.UserName"/>
      <!-- Added the Singature field to User Detail Screen - sputta 01-02-07   Defect 864 Only the group type of business unit must have the signature field filled in -->
      <Input
        editable="true"
        id="ex_Signature"
        label="displaykey.Web.Admin.UserDetailDV.Signature"
        required="User.signatureRequired()"
        value="User.ex_Signature"/>
      <!-- sdalal Equine Sprint 3 Disabled Password setting option. Default password is set in Rules  changed to be visible only for the user SU - kcall -->
      <ConfirmPasswordInput
        confirmLabel="displaykey.Web.Admin.UserDetailDV.ConfirmPassword"
        editable="true"
        id="Password"
        label="displaykey.Web.Admin.UserDetailDV.Password"
        required="User.New"
        value="User.Credential.Password"
        visible="User.Credential.Username==&quot;su&quot; or USer.Credential.UserName==&quot;batchsu&quot;"/>
      <Input
        editable="true"
        id="Active"
        label="displaykey.Web.Admin.UserDetailDV.Active"
        required="true"
        value="User.Credential.Active"/>
      <Input
        editable="true"
        id="AccountLocked"
        label="displaykey.Web.Admin.UserDetailDV.AccountLocked"
        value="User.AccountLocked"/>
      <RangeInput
        editable="true"
        id="StartupPage"
        label="displaykey.NVV.Admin.UserBasics.AdminUserDetails.StartupView"
        value="User.UserSettings.StartupPage"
        valueRange="User.VisibleStartupPages"
        visible="!User.New"/>
      <Input
        editable="true"
        id="VacationStatus"
        label="displaykey.Web.Admin.UserDetailDV.VacationStatus"
        required="true"
        value="User.VacationStatus"/>
      <UserInput
        editable="true"
        id="BackupUser"
        label="displaykey.Web.Admin.UserDetailDV.BackupUser"
        value="User.BackupUser"/>
      <InputDivider/>
      <ListViewInput
        editable="true"
        label="displaykey.Web.Admin.UserDetailDV.Roles">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
        <ListViewPanel
          id="UserRolesLV">
          <RowIterator
            editable="true"
            elementName="UserRole"
            toAdd="User.addToRoles(UserRole)"
            toRemove="User.removeFromRoles(UserRole)"
            value="User.Roles">
            <Row>
              <RangeCell
                editable="true"
                id="Name"
                label="displaykey.Web.UserRoles.Role.Name"
                onChange="validateRoles(UserRole)"
                postOnChange="true"
                required="true"
                unique="true"
                value="UserRole.Role"
                valueRange="AllRoles"/>
              <Cell
                id="Description"
                label="displaykey.Web.UserRoles.Role.Description"
                value="UserRole.Role.Description"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        def="UserGroupsLV(User)"
        editable="true"
        label="displaykey.Web.Admin.UserDetailDV.Groups">
        <Toolbar>
          <IteratorButtons
            removeShortcut="E"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[function getContact() : UserContact {
  if (User.Contact == null) {
    User.Contact = new UserContact()
  } 
  return User.Contact
}

function validateRoles(usrRole : UserRole){
  for(priv in usrRole.Role.Privileges){
    if(priv.Permission == SystemPermissionType.TC_VENDORPAYABLE){
      GeneralErrorWorksheet.goInWorkspace(displaykey.Web.UserRoles.Role.Warning)
      break;
    }
  }  
}]]></Code>
  </DetailViewPanel>
</PCF>