/* Stylesheet for the Internal Tools pages */

body {
  background-color: #EEEEEE;
}

table.itMainTable {
  border: 1px solid black;
}

td {
  font-family: Arial;
  font-size: 10pt;
}

td.itTitle {
  color: #FFFFCC;
  background-color: black;
  font-weight: bold;
  font-size: 12pt;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}

td.info {
  text-align: center;
}

td.itContent {
  color: black;
  background-color: white;
}

td.itMenu {
  background-color: #555555;
  border-right: 1px solid black;
}

a.itMenuLink {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

a.itMenuLink:hover {
  text-decoration: underline;
}

a.itMenuLinkCurrent {
  color: #FFFFCC;
  font-weight: bold;
  text-decoration: none;
}

a.itMenuLinkCurrent:hover {
  text-decoration: underline;
}

td.itContentTitle {
  font-weight: bold;
  font-size: 13pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

p.itCopyright {
  margin-top: 5px;
  font-family: Arial;
  font-size: 8pt;
}

td.itMessage {
  font-family: Arial;
  font-weight: bold;
  font-color: blue;
  padding-top: 12px;
  padding-bottom: 10px;
}

a {
  color: blue;
  text-decoration: underline;
}

.tree-folder {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  color: black;
}

.tree-item {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  color: black;
}

.screen-tree-folder {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.screen-tree-item {
  font-family: Arial;
  font-size: 9pt;
  text-decoration: none;
  color: black;
}
