<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.tools.ClusterInfoData.isClusteringEnabled() and (perm.User.ViewCluster or perm.User.DevAllAccess)"
    countsAsWork="false"
    id="ClusterInfo"
    parent="ServerTools()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.ClusterInfo">
    <LocationEntryPoint
      signature="ClusterInfo()"/>
    <LocationEntryPoint
      signature="ClusterInfo(Result : String)"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new gw.api.tools.ClusterInfoData()"
      name="ClusterInfoData"/>
    <Screen
      id="ClusterInfoScreen">
      <Verbatim
        label="Result"/>
      <DetailViewPanel
        id="ClusterInfoDV">
        <InputColumn>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.reconnectToCluster()"
            available="perm.User.EditCluster or perm.User.DevAllAccess"
            id="ClusterReconnect"
            value="displaykey.Web.InternalTools.ClusterInfo.Reconnect"/>
          <TextInput
            id="ClusterAddress"
            label="displaykey.Web.InternalTools.ClusterInfo.LocalAddress"
            value="ClusterInfoData.ClusterAddress"/>
          <TextInput
            id="BatchAddress"
            label="displaykey.Web.InternalTools.ClusterInfo.BatchAddress"
            value="ClusterInfoData.BatchAddress"/>
          <TextInput
            id="CoordinatorAddress"
            label="displaykey.Web.InternalTools.ClusterInfo.CoordinatorAddress"
            value="ClusterInfoData.CoordinatorAddress"/>
          <TextInput
            id="ClusterMembers"
            label="displaykey.Web.InternalTools.ClusterInfo.Members"
            value="ClusterInfoData.ClusterMembers"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>
