<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="UpdateAllDates"
    parent="UnsupportedTools()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.UpdateAllDates">
    <LocationEntryPoint
      signature="UpdateAllDates(UpdateDays : int)"/>
    <LocationEntryPoint
      signature="UpdateAllDates(Result : String)"/>
    <Variable
      name="UpdateDays"
      type="int"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="createUpdateAllDatesData()"
      name="UpdateAllDatesData"/>
    <Screen
      id="UpdateAllDatesScreen">
      <Verbatim
        label="Result"/>
      <PanelRef
        def="UpdateAllDatesDV(Result, UpdateAllDatesData)"/>
      <PanelRef
        def="UnsupportedToolsDisclaimerDV()"/>
    </Screen>
    <Code><![CDATA[
      function createUpdateAllDatesData() : gw.api.tools.UpdateAllDatesData {
        var updateDatesData = new gw.api.tools.UpdateAllDatesData();
        if ((UpdateDays != null) AND (UpdateDays != 0)) {
          updateDatesData.Days = UpdateDays; updateDatesData.updateAllDatesAction();
        };
        return updateDatesData
      }
    ]]></Code>
  </Page>
</PCF>
