<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BulkInvoiceApprovalDetailDV">
    <Require
      name="activity"
      type="Activity"/>
    <Require
      name="helper"
      type="financials.BulkPayHelper"/>
    <Variable
      initialValue="activity.BulkInvoice"
      name="bulkInvoice"
      type="BulkInvoice"/>
    <Variable
      initialValue="gw.api.contact.AddressBookUtil.newAddressBookContactSource()"
      name="externalContactSource"
      type="contact.ExternalContactSource"/>
    <Variable
      initialValue="bulkInvoice.SortedInvoiceItemsQuery"
      name="bulkInvoiceItems"
      recalculateOnRefresh="true"
      type="BulkInvoiceItemQuery"/>
    <InputHeaderSection>
      <ListViewInput
        boldLabel="true"
        def="ApprovalHistoryLV(bulkInvoice.ApprovalHistory as entity.Activity[])"
        label="displaykey.Web.Financials.BulkPay.Invoice.Approval.History">
        <Toolbar/>
      </ListViewInput>
      <InputDivider/>
      <TextInput
        align="left"
        boldLabel="true"
        editable="true"
        id="ApprovalRationale"
        label="displaykey.Web.Financials.BulkPay.Invoice.Approval.Rationale"
        numCols="50"
        value="activity.ApprovalRationale"
        visible="activity.canApprove()"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.Financials.BulkPay.Invoice.Approval.Details"/>
    </InputHeaderSection>
    <InputColumn>
      <Label
        label="displaykey.Web.Financials.BulkPay.Invoice.Basics"/>
      <Input
        editable="false"
        id="InvoiceNumber"
        label="displaykey.Web.Financials.BulkPay.Invoice.InvoiceNumber"
        value="bulkInvoice.InvoiceNumber"/>
      <TypeKeyInput
        id="Status"
        label="displaykey.Web.Financials.BulkPay.Invoice.Status"
        value="bulkInvoice.Status"/>
      <DateInput
        editable="false"
        id="ReceivedDate"
        label="displaykey.Web.Financials.BulkPay.Invoice.DateReceived"
        value="bulkInvoice.ReceivedDate"/>
      <DateInput
        editable="false"
        id="CreateDate"
        label="displaykey.Web.Financials.BulkPay.Invoice.CreateDate"
        value="bulkInvoice.CreateTime"/>
      <AddressBookContactInput
        editable="false"
        id="Details_CreateUser"
        label="displaykey.Web.Financials.BulkPay.Invoice.Approval.CreateUser"
        value="bulkInvoice.CreateUser.Contact"/>
      <InputDivider/>
      <AddressBookContactInput
        editable="false"
        id="Payee"
        label="displaykey.Web.Financials.BulkPay.Invoice.Payee"
        required="true"
        value="bulkInvoice.Payee"/>
      <TextAreaInput
        editable="false"
        id="PayTo"
        label="displaykey.Web.Financials.BulkPay.Invoice.PayTo"
        numCols="50"
        numRows="2"
        required="true"
        value="bulkInvoice.PayTo"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.Financials.BulkPay.Invoice.MailTo"/>
      <Input
        editable="false"
        id="DeliveryMethod"
        label="displaykey.Web.Financials.BulkPay.Invoice.DeliveryMethod"
        value="bulkInvoice.DeliveryMethod"/>
      <Input
        editable="false"
        id="MailToContact"
        label="displaykey.Web.Financials.BulkPay.Invoice.MailToContact"
        value="bulkInvoice.MailTo"/>
      <Input
        editable="false"
        id="MailingAddress"
        label="displaykey.Web.Financials.BulkPay.Invoice.MailToAddress"
        value="bulkInvoice.MailToAddress"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.Financials.BulkPay.Invoice.Instructions"/>
      <Input
        editable="false"
        id="Memo"
        label="displaykey.Web.Financials.BulkPay.Invoice.Memo"
        value="bulkInvoice.Memo"/>
      <DateInput
        editable="false"
        id="ScheduledSendDate"
        label="displaykey.Web.Financials.BulkPay.Invoice.DateToSend"
        value="bulkInvoice.ScheduledSendDate"/>
      <TypeKeyInput
        editable="false"
        id="CheckInstructions"
        label="displaykey.Web.Financials.BulkPay.Invoice.CheckInstructions"
        value="bulkInvoice.CheckInstructions"/>
      <TypeKeyInput
        editable="false"
        id="PaymentMethod"
        label="displaykey.Web.Financials.BulkPay.Invoice.PaymentMethod"
        value="bulkInvoice.PaymentMethod"/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput>
        <Toolbar/>
        <ListViewPanel
          id="BulkInvoiceItemsLV">
          <RowIterator
            editable="true"
            elementName="invoiceItem"
            value="bulkInvoiceItems">
            <Row>
              <RangeCell
                editable="true"
                id="InvoiceItemStatus"
                label="displaykey.Web.Financials.BulkPay.Invoice.Approval.InvoiceItemStatus"
                value="invoiceItem.Status"
                valueRange="new BulkInvoiceItemStatus[] {BulkInvoiceItemStatus.TC_REJECTED, BulkInvoiceItemStatus.TC_INREVIEW}"/>
              <TextCell
                editable="false"
                enableSort="false"
                id="InvoiceItemClaimNum"
                label="displaykey.Web.Financials.BulkPay.InvoiceItem.ClaimNumber"
                value="invoiceItem.Claim.ClaimNumber"/>
              <TextCell
                editable="false"
                enableSort="false"
                id="InvoiceItemReserveLine"
                label="displaykey.Web.Financials.BulkPay.InvoiceItem.ReserveLine"
                outputConversion="helper.getReserveLineDisplayNameForApprovalDetails(VALUE)"
                value="invoiceItem.ReserveLineWrapper"/>
              <TextCell
                editable="false"
                id="InvoiceItemPaymentType"
                label="displaykey.Web.Financials.BulkPay.InvoiceItem.PaymentType"
                value="invoiceItem.PaymentType"/>
              <TextCell
                editable="false"
                id="InvoiceItemAmount"
                label="displaykey.Web.Financials.BulkPay.InvoiceItem.Amount"
                value="invoiceItem.Amount"/>
              <TextCell
                editable="false"
                id="InvoiceItemDescription"
                label="displaykey.Web.Financials.BulkPay.InvoiceItem.Description"
                value="invoiceItem.Description"/>
              <TextCell
                editable="true"
                id="InvoiceItemExplanation"
                label="displaykey.Web.Financials.BulkPay.InvoiceItem.Notes"
                value="invoiceItem.Explanation"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
