<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="WaitingPeriodInputSet">
    <Require
      name="claim"
      type="Claim"/>
    <Label
      id="WaitingPeriod"
      label="displaykey.NVV.Exposure.LostWagesBenefits.TTD.WaitingPeriod"/>
    <BooleanRadioInput
      editable="true"
      id="WaitingPeriodApplied"
      label="displaykey.NVV.Exposure.LostWagesBenefits.WaitingPeriod.Applied"
      value="claim.ClaimWorkComp.WaitingPeriodApplied"/>
    <Input
      id="WaitingPeriodDays"
      label="displaykey.NVV.Exposure.LostWagesBenefits.WaitingPeriod.WaitingPeriodDays"
      value="claim.getWCWaitingDays( null )"/>
    <Input
      id="TTD_RetroactivePeriod"
      label="displaykey.NVV.Exposure.LostWagesBenefits.TTD.RetroactivePeriod"
      value="claim.getWCRetroactiveDays( null )"/>
    <CheckBoxInput
      id="WCDoesnotApplytoPPD"
      label="displaykey.NVV.Exposure.LostWagesBenefits.WaitingPeriod.WPNotAppliedToPPD"
      value="claim.findWCBeneCalcRef().WPNotAppliedToPPD"
      visible="claim.findWCBeneCalcRef().WPNotAppliedToPPD"/>
    <CheckBoxInput
      id="WCDoesnotApplytoPTD"
      label="displaykey.NVV.Exposure.LostWagesBenefits.WaitingPeriod.WPNotAppliedToPTD"
      value="claim.findWCBeneCalcRef().WPNotAppliedToPTD"
      visible="claim.findWCBeneCalcRef().WPNotAppliedToPTD"/>
    <ListViewInput
      def="EditableWaitingPeriodsLV(claim)"
      id="WaitingPeriodDetail">
      <Toolbar>
        <IteratorButtons/>
      </Toolbar>
    </ListViewInput>
  </InputSet>
</PCF>
