<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="ClaimNewRelatedContactPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <!-- It is recommended not to use "isAsssignableFrom()" clauses in the visible expression of menues intermidiate levels.   Try it, and you'll see that the expessions get too complicated. :) -->
    <MenuItem
      action="NewRelatedContactPopup.push(Person, parentContact, claim)"
      id="NewContactPickerMenuItemSet_ClaimNewPerson"
      label="displaykey.Web.NewContactMenu.ClaimNewPerson"
      visible="requiredContactType.isAssignableFrom(entity.Person)"/>
    <MenuItem
      action="NewRelatedContactPopup.push(Company, parentContact, claim)"
      id="NewContactPickerMenuItemSet_Company"
      label="displaykey.Web.NewContactMenu.Company"
      visible="requiredContactType.isAssignableFrom(entity.Company)"/>
    <!-- It is recommended not to use "isAsssignableFrom()" clauses in the visible expression of menues intermidiate levels.   Try it, and you'll see that the expessions get too complicated. :) -->
    <MenuItem
      id="NewContactPickerMenuItemSet_NewVendor"
      label="displaykey.Web.NewContactMenu.NewVendor"
      visible="requiredContactType == entity.Contact or                        requiredContactType == entity.Company or                        requiredContactType == entity.Person or                        requiredContactType == entity.PersonVendor or                        requiredContactType == entity.CompanyVendor or         requiredContactType == entity.Ex_GAIVendor or         requiredContactType == entity.Attorney or                                               requiredContactType == entity.Doctor or                        requiredContactType == entity.LawFirm or                      requiredContactType == entity.MedicalCareOrg">
      <MenuItem
        action="NewRelatedContactPopup.push(Attorney, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ClaimAttorney"
        label="displaykey.Web.NewContactMenu.ClaimAttorney"
        visible="requiredContactType.isAssignableFrom(entity.Attorney)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(AutoRepairShop, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ClaimAutoRepairShop"
        label="displaykey.Web.ContactDetail.Name.AutoBodyRepair"
        visible="requiredContactType.isAssignableFrom(entity.AutoRepairShop)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(CompanyVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_CompanyVendor"
        label="displaykey.Web.NewContactMenu.CompanyVendor"
        visible="requiredContactType.isAssignableFrom(entity.CompanyVendor)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Doctor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ClaimDoctor"
        label="displaykey.Web.NewContactMenu.ClaimDoctor"
        visible="requiredContactType.isAssignableFrom(entity.Doctor)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(LawFirm, parentContact, claim)"
        id="NewContactPickerMenuItemSet_LawFirm"
        label="displaykey.Web.NewContactMenu.ClaimLawFirm"
        visible="requiredContactType.isAssignableFrom(entity.LawFirm)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(MedicalCareOrg, parentContact, claim)"
        id="NewContactPickerMenuItemSet_MedicalCareOrg"
        label="displaykey.Web.NewContactMenu.ClaimMedicalCareOrg"
        visible="requiredContactType.isAssignableFrom(entity.MedicalCareOrg)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(PersonVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_PersonVendor"
        label="displaykey.Web.NewContactMenu.PersonVendor"
        visible="requiredContactType.isAssignableFrom(entity.PersonVendor)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_GAIVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_GAIVendor"
        label="displaykey.Web.NewContactMenu.GAIVendor"
        visible=" (User.util.getCurrentUser().hasUserRole(&quot;Compliance Accounting&quot;))"/>
    </MenuItem>
    <!-- defect 515 - Include Company Organization picker when adding a new insured. -->
    <MenuItem
      id="NewContactPickerMenuItemSet_NewForeignVendor"
      label="displaykey.Web.NewContactMenu.ClaimNewForeignVendor"
      visible="requiredContactType == entity.Contact or requiredContactType == entity.Company or requiredContactType == entity.Ex_ForeignCoVendor or requiredContactType == entity.Ex_ForeignCoVenMedOrg or requiredContactType == entity.Ex_ForeignCoVenLawFrm or requiredContactType == entity.Ex_ForeignPerVndrAttny or requiredContactType == entity.Ex_ForeignPerVndrDoc or requiredContactType == entity.Ex_ForeignPersonVndr">
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_ForeignPerVndrAttny, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignPerVndrAttny"
        label="displaykey.Web.NewContactMenu.Ex_ForeignPerVndrAttny"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignPerVndrAttny)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(FrgnAutoRepairShopExt, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignRepairShop"
        label="displaykey.Web.NewContactMenu.FrgnAutoRepairShop"
        visible="requiredContactType.isAssignableFrom(entity.FrgnAutoRepairShopExt)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_ForeignCoVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ex_ForeignCoVendor"
        label="displaykey.Web.NewContactMenu.ex_ForeignCoVendor"
        visible="requiredContactType.isAssignableFrom(entity.ex_ForeignCoVendor)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_ForeignPerVndrDoc, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignPerVndrDoc"
        label="displaykey.Web.NewContactMenu.Ex_ForeignPerVndrDoc"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignPerVndrDoc)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_ForeignCoVenLawFrm, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignCoVenLawFrm"
        label="displaykey.Web.NewContactMenu.Ex_ForeignCoVenLawFrm"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignCoVenLawFrm)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_ForeignCoVenMedOrg, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignCoVenMedOrg"
        label="displaykey.Web.NewContactMenu.Ex_ForeignCoVenMedOrg"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignCoVenMedOrg)"/>
      <MenuItem
        action="NewRelatedContactPopup.push(Ex_ForeignPersonVndr, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ex_ForeignPersonVndr"
        label="displaykey.Web.NewContactMenu.Ex_ForeignPersonVndr"
        visible="requiredContactType.isAssignableFrom(entity.ex_ForeignPersonVndr)"/>
    </MenuItem>
  </MenuItemSet>
</PCF>