<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="Used to construct the New Insured menu for Insured pickers"
    id="ClaimNewInsuredPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <!-- It is recommended not to use "isAsssignableFrom()" clauses in the visible expression of menues intermidiate levels.   Try it, and you'll see that the expressions get too complicated. :) -->
    <MenuItem
      action="NewContactPopup.push(Person, parentContact, claim)"
      id="NewInsuredPickerMenuItemSet_NewPerson"
      label="displaykey.Web.NewContactMenu.NewInsuredPerson"
      visible="requiredContactType.isAssignableFrom(entity.Person)"/>
    <MenuItem
      action="NewContactPopup.push(Company, parentContact, claim)"
      id="NewInsuredPickerMenuItemSet_NewCompany"
      label="displaykey.Web.NewContactMenu.NewInsuredCompany"
      visible="requiredContactType.isAssignableFrom(entity.Company)"/>
  </MenuItemSet>
</PCF>