<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="A NewPerson single-menu-item for Person only, without subtypes"
    id="ClaimNewPersonOnlyIfNotChosenPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <!-- Used to prevent changing the Injured Worker Name if it isn't null. -->
    <MenuItem
      action="NewContactPopup.push(Person, parentContact, claim)"
      id="ClaimNewPersonOnlyPickerMenuItemSet_NewPersonMenuItem"
      label="displaykey.Web.NewContactMenu.NewPerson"
      visible="requiredContactType.isAssignableFrom(entity.Person) &amp;&amp; ((util.WCHelper.isWCorELLossType(claim) &amp;&amp; claim.InjuredWorker == null) or !util.WCHelper.isWCorELLossType(claim))"/>
  </MenuItemSet>
</PCF>