<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="Used to create a new Vendor Used to associate to a matter as a mediator"
    id="ClaimNewMediatorOnlyPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <MenuItem
      id="NewMediatorOnlyPickerMenuItemSet_CompanyVendor"
      label="displaykey.Web.NewContactMenu.Vendor">
      <MenuItem
        action="NewContactPopup.push(entity.Attorney, parentContact, claim)"
        id="ClaimContacts_ClaimAttorney"
        label="displaykey.Web.NewContactMenu.ClaimAttorney"/>
      <MenuItem
        action="NewContactPopup.push(entity.CompanyVendor, parentContact, claim)"
        id="ClaimContacts_CompanyVendor"
        label="displaykey.Web.NewContactMenu.CompanyVendor"/>
      <MenuItem
        action="NewContactPopup.push(entity.LawFirm, parentContact, claim)"
        id="ClaimContacts_ClaimLawFirm"
        label="displaykey.Web.NewContactMenu.ClaimLawFirm"/>
      <MenuItem
        action="NewContactPopup.push(entity.PersonVendor, parentContact, claim)"
        id="NewMediatorOnlyPickerMenuItemSet_PersonVendor"
        label="displaykey.Web.NewContactMenu.PersonVendor"/>
    </MenuItem>
    <MenuItem
      id="NewMediatorOnlyPickerMenuItemSet_ForeignVendor"
      label="displaykey.Web.NewContactMenu.NewForeignVendor">
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignPerVndrAttny, parentContact, claim)"
        id="ClaimContacts_Ex_ForeignPerVndrAttny"
        label="displaykey.Web.NewContactMenu.Ex_ForeignPerVndrAttny"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignCoVendor, parentContact, claim)"
        id="NewMediatorOnlyPickerMenuItemSet_ForeignCompanyVendor"
        label="displaykey.Web.NewContactMenu.ForeignCompanyVendor"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignCoVenLawFrm, parentContact, claim)"
        id="ClaimContacts_Ex_ForeignCoVenLawFrm"
        label="displaykey.Web.NewContactMenu.Ex_ForeignCoVenLawFrm"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignPersonVndr, parentContact, claim)"
        id="NewMediatorOnlyPickerMenuItemSet_ForeignPersonVendor"
        label="displaykey.Web.NewContactMenu.ForeignPersonVendor"/>
    </MenuItem>
  </MenuItemSet>
</PCF>