<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="ClaimNewVendorForeignVendorPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <MenuItem
      id="ClaimContacts_NewVendor"
      label="displaykey.Web.NewContactMenu.Vendor">
      <MenuItem
        action="NewContactPopup.push(MedicalCareOrg, parentContact, claim)"
        id="ClaimContacts_ClaimMedicalCareOrg"
        label="displaykey.Web.NewContactMenu.ClaimMedicalCareOrg"/>
    </MenuItem>
    <MenuItem
      id="ClaimContacts_NewForeignVendor"
      label="displaykey.Web.NewContactMenu.NewForeignVendor">
      <MenuItem
        action="NewContactPopup.push(Ex_ForeignCoVenMedOrg, parentContact, claim)"
        id="ClaimContacts_Ex_ForeignCoVenMedOrg"
        label="displaykey.Web.NewContactMenu.Ex_ForeignCoVenMedOrg"/>
    </MenuItem>
  </MenuItemSet>
</PCF>