<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="ClaimViewContactDetailsPickerMenuItemSet">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="contact"
      type="Contact"/>
    <MenuItem
      action="if (contact != null) { ClaimContactDetailPopup.push(contact, claim) } else { NullClaimContactDetailPopup.push() }"
      hideIfReadOnly="true"
      id="ViewContactDetailsMenuItem"
      label="displaykey.Java.ContactPicker.ViewDetails"/>
  </MenuItemSet>
</PCF>