<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CompanyVendorSpecialtyInputSet"
    mode="FrgnAutoRepairShopExt">
    <Require
      name="contactHandle"
      type="contact.ContactHandle"/>
    <TextInput
      editable="true"
      id="DMVFacilityNumber"
      label="displaykey.Web.ContactDetail.AutoRepairShop.DMVFacilityNumberExt"
      maxChars="7"
      required="contactHandle.Contact.isNewYorkRepairShop()"
      validationExpression="(contactHandle.Contact as AutoRepairShop).isValidDMVFacNumber() ? null : displaykey.Web.ContactDetail.AutoRepairShop.InvalidDMVFacilityNumber"
      value="(contactHandle.Contact as FrgnAutoRepairShopExt).DMVFacilityNumberExt"/>
    <TextInput
      editable="true"
      id="TaxCertificateNumber"
      label="displaykey.Web.ContactDetail.AutoRepairShop.TaxCertificateNumberExt"
      maxChars="11"
      required="(contactHandle.Contact as FrgnAutoRepairShopExt).isNewYorkRepairShop()"
      validationExpression="contactHandle.Contact.isValidSalesTaxNumber() ? null : displaykey.Web.ContactDetail.AutoRepairShop.InvalidTaxCertNumber"
      value="(contactHandle.Contact as FrgnAutoRepairShopExt).SalesTaxNumberExt"/>
    <Code><![CDATA[property get FrgnAutoRepairShopExt() : FrgnAutoRepairShopExt { return contactHandle.Contact as FrgnAutoRepairShopExt; }]]></Code>
  </InputSet>
</PCF>