<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ContactRelatedContactDV">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="selectedClaimContact"
      type="ClaimContact"/>
    <InputColumn>
      <ListViewInput
        def="ClaimContactRelatedContactsLV(selectedClaimContact, claim)"
        validationExpression="selectedClaimContact.Contact.validateRelationships().formatUserMessage()"
        width="400">
        <Toolbar>
          <IteratorButtons
            addVisible="(User.util.getCurrentUser().hasUserRole(&quot;Compliance Accounting&quot;) or !(selectedClaimContact.Contact typeis Ex_GAIVendor)) and libraries.ClaimsUI.LossDetailsUIHelper.claimContactDisconnectCheck(claim)"
            removeVisible="(User.util.getCurrentUser().hasUserRole(&quot;Compliance Accounting&quot;) or !(selectedClaimContact.Contact typeis Ex_GAIVendor)) and libraries.ClaimsUI.LossDetailsUIHelper.claimContactDisconnectCheck(claim)"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>