<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="NewPlaceMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <MenuItem
      action="NewAddressBookContactPopup.push(entity.Place, parentContact)"
      id="NewContactPickerMenuItemSet_NewPlace"
      label="&quot;Place&quot;"
      visible="requiredContactType.isAssignableFrom(entity.Place)"/>
  </MenuItemSet>
</PCF>