<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="A NewPerson single-menu-item for Person only, without subtypes"
    id="NewTrainerOnlyPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <MenuItem
      action="NewContactPopup.push(Person, parentContact, claim)"
      id="NewTrainerOnlyPickerMenuItemSet_NewTrainerOnlyPickerMenuItem"
      label="displaykey.LV.Policy.EditablePropertyNewTrainers.Trainer"
      visible="requiredContactType.isAssignableFrom(entity.Person)"/>
  </MenuItemSet>
</PCF>