<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="TeamMattersLV">
    <Require
      name="MatterTeamViewList"
      type="MatterTeamViewQuery"/>
    <Variable
      initialValue="new matter.MatterFilterSetBase()"
      name="FilterSet"/>
    <RowIterator
      editable="false"
      elementName="MatterTeamView"
      hasCheckBoxes="true"
      value="MatterTeamViewList">
      <ToolbarFlag
        name="MatterTeamView"/>
      <ToolbarFlag
        condition="MatterTeamView.canClose()"
        name="CanCloseMatter"/>
      <ToolbarFlag
        condition="MatterTeamView.canAssign()"
        name="CanAssignMatter"/>
      <ToolbarFilter
        name="TeamMattersFilter">
        <ToolbarFilterOption
          filter="FilterSet.OpenFilter"
          label="displaykey.Web.Filter.Matter.AllOpen"/>
        <ToolbarFilterOption
          filter="FilterSet.OpenNewFilter"
          label="displaykey.Web.Filter.Matter.NewOpen"/>
        <ToolbarFilterOption
          filter="FilterSet.getClosedLastNDaysFilter(90)"
          label="displaykey.Web.Filter.Matter.ClosedLastNDays(90)"/>
      </ToolbarFilter>
      <Row>
        <Cell
          action="MatterDetailGroup.go(MatterTeamView.Claim, MatterTeamView.Matter)"
          id="Name"
          label="displaykey.Web.Matter.Name"
          sortOrder="2"
          value="MatterTeamView.Name"/>
        <Cell
          id="CaseNumber"
          label="displaykey.Web.Matter.CaseNumber"
          value="MatterTeamView.CaseNumber"/>
        <Cell
          action="pcf.Claim.go(MatterTeamView.Claim)"
          id="Claim"
          label="displaykey.Web.Matter.Claim"
          value="MatterTeamView.ClaimNumber"/>
        <Cell
          formatType="currency"
          id="EstSettleCost"
          label="displaykey.Web.Matter.EstSettleCost"
          value="MatterTeamView.FinalSettleCost"/>
        <DateCell
          dateFormat="short"
          id="TrialDate"
          label="displaykey.Web.Matter.TrialDate"
          sortOrder="1"
          timeFormat="short"
          value="MatterTeamView.TrialDate"/>
        <Cell
          enableSort="false"
          id="AssignedUser"
          label="displaykey.Web.Matter.AssignedUser"
          value="MatterTeamView.AssigneeDisplayString"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
