<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="CheckWizard_CheckInstructionsScreen">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="wizard"
      type="financials.CheckWizardInfo"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarDivider/>
      <PickerToolbarButton
        action="PickExistingDocumentPopup.push(claim)"
        id="Button_Reserve_LinkDocument"
        label="displaykey.Button.Reserve.LinkDocument"
        onPick="financials.TransactionSetLinkDocumentHelper.linkDocument(PickedValue, wizard.CheckGroupProxy.CheckSet)"
        visible="perm.System.viewdocs"/>
    </Toolbar>
    <Verbatim
      label="displayKey.Wizard.CheckWizard.DeductionsChangedWarning"
      visible="wizard.isDeductionWarningNeeded()"
      warning="true"/>
    <PanelRef
      def="NewPaymentInstructionsDV(wizard.CheckGroupProxy, wizard)"
      mode="wizard.isRecurrenceEditable() and !wizard.Check.containsDeductible() ? &quot;&quot; : &quot;single&quot;"/>
  </Screen>
</PCF>
