<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterEnter="financials.CheckUtil.displayAbilityToPayValidationErrors(canPayResult, CurrentLocation);"
    id="NewCheckNoAbilityToPay"
    parent="Claim(claim)"
    title="displaykey.JSP.NewCheckAbilityToPayFailed.Title">
    <LocationEntryPoint
      signature="NewCheckNoAbilityToPay(claim : Claim, canPayResult : financials.AbilityToPayResult)"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Variable
      name="canPayResult"
      type="financials.AbilityToPayResult"/>
    <Screen
      id="NewCheckNoAbilityToPayScreen">
      <Toolbar/>
      <Verbatim
        label="displaykey.JSP.NewCheckAbilityToPayFailed.Error"/>
      <DetailViewPanel>
        <InputColumn>
          <Input
            action="ClaimSummary.go(claim)"
            id="CreatePayment"
            value="displaykey.Web.NewCheckWizard.AbilityToPayFailed.BackToClaim(claim)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>
