<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="PaymentBasicsInputSet">
    <Require
      name="Payment"
      type="Payment"/>
    <Label
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.Details"/>
    <Input
      id="Exposure"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.Exposure"
      value="Payment.Exposure.DisplayName == null ? displaykey.Web.Financials.Exposure.ClaimLevel : Payment.Exposure.DisplayName"/>
    <Input
      id="Coverage"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.Coverage"
      value="Payment.Exposure.PrimaryCoverage"/>
    <RangeInput
      editable="true"
      id="Matter"
      label="displaykey.NVV.Financials.NewPaymentDetail.Matter"
      required="Payment.CostCategory==&quot;legal&quot; as CostCategory"
      value="Payment.Matter"
      valueRange="Payment.Claim.Matters"
      visible="ScriptParameters.UtilizeMatterBudget AND Payment.CostCategory==&quot;legal&quot; as CostCategory"/>
    <Input
      id="CostType"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.CostType"
      value="Payment.CostType"/>
    <Input
      id="CostCategory"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.CostCategory"
      value="Payment.CostCategory"/>
    <Input
      id="PaymentType"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.PaymentType"
      value="Payment.PaymentType"/>
    <Input
      id="Eroding"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.Eroding"
      value="Payment.ErodesReserves"/>
    <Input
      id="Comments"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.Comments"
      value="Payment.Comments"/>
    <Input
      formatType="currency"
      id="OpenReserves"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.OpenReserves"
      value="financials.FinancialsCalculationUtil.getOpenReserves().getAmount(Payment.ReserveLine)"/>
    <Input
      formatType="currency"
      id="Amount"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.Amount"
      value="Payment.TransactionAmountComponent"/>
    <InputSetRef
      def="TransactionExchangeRateInputSet(Payment)"
      editable="false"/>
    <ListViewInput
      def="TransactionLineItemsLV(Payment)"
      label="displaykey.NVV.Financials.SubView.PaymentBasics.Payment.LineItems">
      <Toolbar/>
    </ListViewInput>
  </InputSet>
</PCF>
