<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="QuickCheckWizard_QuickCheckBasicsScreen">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="financials.QuickCreateCheckWizardInfo"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      def="QuickCheckBasicsDV(Wizard.Check.FirstPayment, Wizard)"/>
  </Screen>
</PCF>
