<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="RecoveryBasicsInputSet">
    <Require
      name="Transaction"
      type="Transaction"/>
    <Label
      label="displaykey.NVV.Financials.TransactionRecovery.Transaction.Details"/>
    <Input
      id="NVV_Financials_TransactionRecovery_Recovery_Payer"
      label="displaykey.NVV.Financials.TransactionRecovery.Recovery.Payer"
      value="(Transaction as Recovery).Payer"/>
    <Input
      id="Exposure"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.Exposure"
      value="Transaction.Exposure.DisplayName == null ? displaykey.Web.Financials.Exposure.ClaimLevel : Transaction.Exposure.DisplayName"/>
    <Input
      id="Coverage"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.Coverage"
      value="Transaction.Exposure.PrimaryCoverage"/>
    <Input
      id="CostType"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.CostType"
      value="Transaction.CostType"/>
    <Input
      id="CostCategory"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.CostCategory"
      value="Transaction.CostCategory"/>
    <Input
      id="RecoveryCategory"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.RecoveryCategory"
      value="Transaction.RecoveryCategory"/>
    <Input
      editable="true"
      id="Comments"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.Comments"
      value="Transaction.Comments"/>
    <Input
      formatType="currency"
      id="Amount"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.Amount"
      value="Transaction.TransactionAmountComponent"/>
    <InputSetRef
      def="TransactionExchangeRateInputSet(Transaction)"
      editable="false"/>
    <ListViewInput
      def="TransactionLineItemsLV(Transaction)"
      label="displaykey.NVV.Financials.SubView.RecoveryBasics.Transaction.LineItems">
      <Toolbar/>
    </ListViewInput>
  </InputSet>
</PCF>
