<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral400DV"
    mode="EQUINE|Equine">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="snapshot.v400.Claim"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.General"/>
      <Input
        id="LOBCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.LOBCode"
        value="Snapshot.LOBCode"/>
      <Input
        id="LossType"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.LossType"
        value="Snapshot.LossType"/>
      <Input
        available="Snapshot.AssignedUser.Contact != null"
        id="AssignedUser_Name"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.AssignedUser.Name"
        value="Snapshot.AssigneeDisplayString"/>
      <Input
        id="AssignedGroup_Name"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.AssignedGroup.Name"
        value="Libraries.Utilities.getGroupClaimAssignmentStatus(Claim)"/>
      <Input
        id="ClaimOfficeBranch"
        label="displaykey.GAIC.Equine.ClaimOfficeBranch"
        value="util.custom_Ext.OfficeBranchFunctions.getClaimOfficeBranch(Claim)"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Description"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Loss"/>
      <Input
        id="LossCause"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.LossCause"
        value="Snapshot.LossCause"/>
      <Input
        id="DetailLosscause"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.DetailLossCause"
        value="Snapshot.ex_DetailLossCause"/>
      <!-- <Input
        id="Fault"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Fault"
        value="Snapshot.FaultRating"/> -->
      <DateInput
        dateFormat="short"
        id="LossDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.LossDate"
        timeFormat="short"
        value="Snapshot.LossDate"/>
      <DateInput
        dateFormat="short"
        id="DeathDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.DeathDate"
        timeFormat="short"
        value="Snapshot.DeathDate"/>
      <Input
        id="Catastrophe"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Catastrophe"
        value="util.Snapshot.renderValue(Snapshot.Catastrophe)"/>
      <Input
        id="AtFaultPercentage"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.AtFaultPercentage"
        value="Snapshot.FaultRating"
        visible="Snapshot.FaultRating == &quot;1&quot;"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Notification"/>
      <DateInput
        dateFormat="short"
        id="ReportedDate"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Eq.ReportedDate"
        value="Snapshot.ReportedDate"/>
      <Input
        id="FirstNoticeSuit"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.FirstNoticeSuit"
        value="util.Snapshot.renderValue(Snapshot.FirstNoticeSuit)"/>
      <Input
        id="HowReported"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.HowReported"
        value="Snapshot.HowReported"/>
      <Input
        id="Reporter"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Reporter"
        value="Snapshot.Reporter.DisplayName"/>
      <Input
        id="MainContactType"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.ReportedByType"
        value="Snapshot.ReportedByType"/>
      <Input
        id="MainContact"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.MainContact"
        value="Snapshot.MainContact.DisplayName"/>
      <DateInput
        dateFormat="short"
        id="Notification_DateReportedToAgent"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Notification.DateReportedToAgent"
        timeFormat="short"
        value="Snapshot.DateRptdToAgent"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Properties"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="PropertiesLV">
          <RowIterator
            editable="false"
            elementName="Property"
            type="snapshot.v400.FixedPropertyIncident"
            value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;FixedPropertyIncident&quot;)">
            <Row>
              <Cell
                action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, Property)"
                id="Address1"
                label="displaykey.GAIC.EditableFixedPropertyIncidentsLV.HorseName"
                value="Property.Property.Location"/>
              <Cell
                id="City"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.PropertyCity"
                value="Property.Property.Address.City"/>
              <Cell
                id="State"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.PropertyState"
                value="Property.Property.Address.State"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Loss_1"/>
      <Input
        id="LossLocation"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.LossLocation"
        value="Snapshot.LossLocation.DisplayName"/>
      <Input
        id="Address1"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Address1"
        value="Snapshot.LossLocation.AddressLine1"/>
      <Input
        id="Address2"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Address2"
        value="Snapshot.LossLocation.AddressLine2"/>
      <Input
        id="City"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.City"
        value="Snapshot.LossLocation.City"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.State"
        value="Snapshot.LossLocation.State"/>
      <Input
        id="PostalCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.PostalCode"
        value="Snapshot.LossLocation.PostalCode"/>
      <Input
        id="County"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.County"
        value="Snapshot.LossLocation.County"/>
      <Input
        id="Country"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Country"
        value="Snapshot.LossLocation.Country"/>
      <!-- <Input
        id="LossLocationCode"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.LossLocationCode"
        value="Snapshot.LossLocationCode"/> -->
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.JurisdictionState"
        value="Snapshot.JurisdictionState"/>
      <InputDivider/>
      <!-- <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.TypeOfLoss"/>  <Input
        id="TypeOfLossLocation"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.TypeOfLossLocation"
        value="Snapshot.ex_LossLocation"/>  <Input
        id="TypeOfLossDueTo"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.TypeOfLossDueTo"
        value="Snapshot.ex_LossDueTo"/>  <InputDivider/>  2/15/08 sprzygocki - Type of Loss moved off loss details to feature level. -->
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Officials"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            value="Snapshot.Officials">
            <Row>
              <Cell
                id="Type"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Type"
                value="Official.OfficialType"/>
              <Cell
                id="Name"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Name"
                value="Official.Name"/>
              <Cell
                id="ReportNumber"
                label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.ReportNumber"
                value="Official.ReportNumber"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.Claim"/>
      <DateInput
        dateFormat="short"
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotGeneral400DV.Pr.CreateTime"
        timeFormat="short"
        value="Snapshot.CreateTime"/>
      <Input
        id="ValidationLevel"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.ValidationLevel"
        value="Snapshot.ValidationLevel"/>
      <Input
        id="Status_IncidentReport"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.IncidentReport"
        required="true"
        value="Snapshot.IncidentReport"/>
      <!-- <Input
        id="Status_CoverageQuestion"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.CoverageQuestion"
        required="false"
        value="Snapshot.CoverageInQuestion"/>  kso 01/14/08 def 554 - remove coverage in question field -->
      <Input
        id="Status_DeductibleStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.DeductibleStatus"
        value="Snapshot.DeductibleStatus"/>
      <Input
        id="Status_LitigationStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.LitigationStatus"
        value="Snapshot.LitigationStatus"/>
      <Input
        id="Status_SubrogationStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.SubrogationStatus"
        value="Snapshot.SubrogationStatus"/>
      <Input
        id="Status_SalvageStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.SalvageStatus"
        value="Snapshot.SalvageStatus"/>
      <Input
        id="Status_OtherRecoverablesStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.OtherRecoverablesStatus"
        value="Snapshot.OtherRecovStatus"/>
      <Input
        id="Status_SIUStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.SIUStatus"
        value="Snapshot.SIUStatus"/>
      <Input
        id="Status_ReinsuranceStatus"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.ReinsuranceStatus"
        value="Snapshot.ReinsuranceStatus"/>
      <Input
        id="Status_ISOEnabled"
        label="displaykey.NVV.Claim.SubView.LossDetailsProperty.Claim.Status.ISOEnabled"
        value="Snapshot.ISOEnabled"
        visible="perm.System.integadmin"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
