<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotPolicyLocation400DV"
    mode="EQUINE|Equine">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="PolicyProperty"
      type="snapshot.v400.PolicyProperty"/>
    <InputColumn>
      <Input
        id="PropertyNumber"
        label="displaykey.GAIC.Equine.LV.Policy.Locations.AnimalNumber"
        value="PolicyProperty.PropertyNumber"/>
      <Input
        id="Name"
        label="displaykey.GAIC.Equine.LocationDetailDV.Name"
        required="true"
        value="PolicyProperty.Property.Location"/>
      <Input
        id="breed"
        label="displaykey.GAIC.Equine.LocationDetailDV.Breed"
        required="false"
        value="PolicyProperty.Property.ex_Breed"/>
      <Input
        id="DOB"
        label="displaykey.GAIC.Equine.LocationDetailDV.DOB"
        value="PolicyProperty.Property.ex_DateofBirth"/>
      <Input
        id="Sex"
        label="displaykey.GAIC.Equine.LocationDetailDV.Sex"
        required="false"
        value="PolicyProperty.Property.ex_Sex"/>
      <Input
        id="Use"
        label="displaykey.GAIC.Equine.LocationDetailDV.Use"
        required="false"
        value="PolicyProperty.Property.ex_AnimalUse"/>
      <!-- <Input
        id="Age"
        label="displaykey.GAIC.Equine.LocationDetailDV.YearofBirth"
        value="PolicyProperty.Property.getAge()"/>  <Input
        id="AmountofInsurance"
        label="displaykey.GAIC.Equine.LocationDetailDV.AmountofInsurance"
        required="false"
        value="PolicyProperty.Property.ex_AmountofInsurance"/>  no longer display amount of insurance def 476 - by Otteson on 11/5/2007 -->
      <Input
        id="Description"
        label="displaykey.NVV.Policy.LocationDetail.Property.Description"
        value="PolicyProperty.Property.Address.Description"/>
      <Input
        id="Notes"
        label="displaykey.NVV.Policy.LocationDetail.Property.Notes"
        value="PolicyProperty.Property.Notes"/>
    </InputColumn>
    <InputColumn>
      <Input
        id="Address"
        label="displaykey.NVV.Policy.LocationDetail.Property.Address"
        value="PolicyProperty.Property.Address.AddressLine1"/>
      <Input
        id="City"
        label="displaykey.NVV.Policy.LocationDetail.Property.City"
        required="true"
        value="PolicyProperty.Property.Address.City"/>
      <Input
        id="State"
        label="displaykey.NVV.Policy.LocationDetail.Property.State"
        required="true"
        value="PolicyProperty.Property.Address.State"/>
      <Input
        id="ZipCode"
        label="displaykey.NVV.Policy.LocationDetail.Property.ZipCode"
        value="PolicyProperty.Property.Address.PostalCode"/>
    </InputColumn>
    <!-- <ClaimContactInput
      claim="PolicyProperty.Policy.Claim"
      id="PrimaryTrainer"
      label="displaykey.LV.Policy.EditablePropertyTrainers.Trainer"
      required="false"
      value="PolicyProperty.Property.ex_PrimaryTrainer"
      valueRange="PolicyProperty.Policy.Claim.RelatedContacts"/>  <ClaimContactInput
      claim="PolicyProperty.Policy.Claim"
      id="AlternateTrainer"
      label="displaykey.LV.Policy.EditablePropertyTrainers.AltTrainer"
      required="false"
      value="PolicyProperty.Property.ex_AlternateTrainer"
      valueRange="PolicyProperty.Policy.Claim.RelatedContacts"/> -->
    <InputFooterSection>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.Lienholders"/>
      <ListViewInput
        id="Lienholders"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="LienholdersLV">
          <RowIterator
            editable="false"
            elementName="PropertyOwner"
            type="snapshot.v400.PropertyOwner"
            value="PolicyProperty.Property.Lienholders">
            <Row>
              <Cell
                id="Lienholder"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.Lienholder"
                value="util.Snapshot.renderValue(PropertyOwner.Lienholder)"/>
              <Cell
                id="OwnerType"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.OwnerType"
                value="util.Snapshot.renderValue(PropertyOwner.OwnerType)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.Coverages"/>
      <ListViewInput
        id="Coverages"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="CoveragesLV">
          <RowIterator
            editable="false"
            elementName="PropertyCoverage"
            type="snapshot.v400.PropertyCoverage"
            value="PolicyProperty.Property.Coverages">
            <Row>
              <Cell
                id="CoverageType"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.CoverageType"
                sortOrder="1"
                value="PropertyCoverage.Type"/>
              <Cell
                formatType="currency"
                id="Deductible"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.Deductible"
                value="PropertyCoverage.Deductible"/>
              <Cell
                formatType="currency"
                id="ExposureLimit"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.ExposureLimit"
                value="PropertyCoverage.ExposureLimit"/>
              <Cell
                formatType="currency"
                id="IncidentLimit"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.IncidentLimit"
                value="PropertyCoverage.IncidentLimit"/>
              <Cell
                formatType="currency"
                id="Coinsurance"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.Coinsurance"
                value="PropertyCoverage.Coinsurance"/>
              <Cell
                id="CoverageBasis"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.CoverageBasis"
                value="PropertyCoverage.CoverageBasisExt"/>
              <Cell
                id="LimitsIndicator"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.LimitsIndicator"
                value="PropertyCoverage.LimitsIndicator"/>
              <Cell
                id="CoverageNotes"
                label="displaykey.Web.ClaimSnapshotPolicyLocation400DV.CoverageNotes"
                value="PropertyCoverage.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Policy.SubView.PolicyGeneral.Policy.Reinsurances"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ReinsuranceLV">
          <RowIterator
            editable="false"
            elementName="PolicyReinsurance"
            value="PolicyProperty.Property.ex_Reinsurances">
            <Row>
              <Cell
                id="Name"
                label="displaykey.GAIC.EditablePolicyReinsuranceLV.Reinsurance.CompanyName"
                required="true"
                sortOrder="1"
                value="PolicyReinsurance.CompanyName"/>
              <Cell
                id="Type"
                label="displaykey.GAIC.EditablePolicyReinsuranceLV.Reinsurance.Type"
                required="true"
                value="PolicyReinsurance.Type"/>
              <Cell
                formatType="percentagePoints"
                id="Percentage"
                label="displaykey.GAIC.EditablePolicyReinsuranceLV.Reinsurance.Percentage"
                value="PolicyReinsurance.Percentage"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
