<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableIncidentContactsLV">
    <Require
      name="Incident"
      type="Incident"/>
    <RowIterator
      editable="true"
      elementName="ClaimContactRole"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="Incident.addEmptyRole(null)"
      toRemove="Incident.removeRole(ClaimContactRole)"
      value="Incident.getNonExclusiveRoles()">
      <Row
        editable="ClaimContactRole.isEditableInELV()">
        <ClaimContactCell
          claim="Incident.Claim"
          editable="true"
          id="Contact"
          label="displaykey.Web.EditableIncidentContactsLV.Contact"
          required="true"
          sortValueRange="false"
          value="ClaimContactRole.Contact"
          valueRange="Incident.Claim.RelatedContacts"
          width="130"
          wrapLabel="true"/>
        <RangeCell
          editable="true"
          id="Role"
          label="displaykey.Web.EditableIncidentContactsLV.Role"
          required="true"
          value="ClaimContactRole.Role"
          valueRange="Incident.getSuitableNonExclusiveRolesFor(ClaimContactRole.Contact)"
          valueWidth="135"
          width="20"
          wrapLabel="true">
          <Reflect
            triggerIds="Contact"
            valueRange="Incident.getSuitableNonExclusiveRolesFor(VALUE)"/>
        </RangeCell>
        <Cell
          editable="true"
          id="IsActive"
          label="displaykey.Web.EditableIncidentContactsLV.IsActive"
          numCols="10"
          required="true"
          value="ClaimContactRole.Active"
          width="20"/>
        <Cell
          editable="true"
          id="Comments"
          label="displaykey.Web.EditableIncidentContactsLV.Comments"
          numCols="10"
          value="ClaimContactRole.Comments"
          width="15"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
