<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.Claim.genericviewactivity and perm.System.viewsearch"
    countsAsWork="false"
    id="ActivitySearch"
    title="displaykey.JSP.ActivitySearch.Search.ActivitySearch">
    <Variable
      initialValue="&quot;ActivitySearchResultsLV&quot;"
      name="PrintTargetLV"/>
    <Screen
      id="ActivitySearchScreen">
      <SearchPanel
        criteriaName="ActivitySearchCriteria"
        maxSearchResults="gw.api.search.MaxSearchResults.forActivities()"
        resultsName="ActivitySearchViewList"
        search="ActivitySearchCriteria.performSearch()"
        searchCriteria="new ActivitySearchCriteria()"
        searchOnRefresh="true"
        searchResultsType="ActivitySearchViewQuery">
        <PanelRef
          def="ActivitySearchDV(ActivitySearchCriteria)"/>
        <PanelRef
          def="ActivitySearchResultsLV(ActivitySearchViewList)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.JSP.ActivitySearch.Search.Results"/>
          <Toolbar>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="AssignActivitiesPopup.push(new activity.ActivityAssignmentPopup(CheckedValues))"
              id="ActivitySearch_AssignButton"
              iterator="ActivitySearchResultsLV"
              label="displaykey.Web.ActivitySearch.Toolbar.Assign"
              shortcut="G"/>
            <ToolbarDivider/>
            <ToolbarButton
              action="print.ListViewPrintOptionPopupAction.printListViewOnlyWithOptions(PrintTargetLV, displaykey.JSP.ActivitySearch.Search.Results, null)"
              available="perm.User.printlistviews"
              id="ActivitySearch_PrintButton"
              label="displaykey.Java.ListView.Print"
              shortcut="N"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>
