<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.BulkInvoice.view and perm.System.viewsearch"
    countsAsWork="false"
    id="BulkInvoiceSearch"
    title="displaykey.Financials.BulkPay.Search.SearchBulkInvoices">
    <Variable
      initialValue="&quot;BulkInvoiceSearchResultsLV&quot;"
      name="PrintTargetLV"/>
    <Variable
      initialValue="false"
      name="searchHasBeenRun"
      type="boolean"/>
    <Screen
      id="BulkInvoiceSearchScreen">
      <SearchPanel
        criteriaName="BulkInvoiceSearchCriteria"
        maxSearchResults="gw.api.search.MaxSearchResults.forBulkInvoices()"
        resultsName="BulkInvoiceSearchViewList"
        search="var searchResult = BulkInvoiceSearchCriteria.performSearch(); searchHasBeenRun = ((null != searchResult) ? true : false); return searchResult"
        searchCriteria="new BulkInvoiceSearchCriteria()"
        searchOnRefresh="false"
        searchResultsType="BulkInvoiceSearchViewQuery">
        <PanelRef
          def="BulkInvoiceSearchDV(BulkInvoiceSearchCriteria)"/>
        <PanelRef
          def="BulkInvoiceSearchResultsLV(BulkInvoiceSearchViewList, BulkInvoiceSearchCriteria)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Financials.BulkPay.Search.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>
