<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="BulkInvoiceSearchResultsLV">
    <Require
      name="BulkInvoiceSearchViewList"
      type="BulkInvoiceSearchViewQuery"/>
    <Require
      name="criteria"
      type="BulkInvoiceSearchCriteria"/>
    <RowIterator
      editable="false"
      elementName="BulkInvoiceSearchView"
      value="BulkInvoiceSearchViewList">
      <Row>
        <Cell
          action="EditBulkInvoiceDetail.go(BulkInvoiceSearchView.BulkInvoice)"
          footerLabel="criteria.ShowSumRowForLastSearch ? displaykey.Financials.BulkPay.Search.SearchResults.Sum : null"
          id="InvoiceNumber"
          label="displaykey.Web.Financials.BulkPay.Invoice.InvoiceNumber"
          value="BulkInvoiceSearchView.InvoiceNumber"/>
        <Cell
          action="EditBulkInvoiceDetail.go(BulkInvoiceSearchView.BulkInvoice)"
          id="CheckNumber"
          label="displaykey.Web.Financials.BulkPay.Invoice.CheckNumber"
          value="BulkInvoiceSearchView.CheckNumber"/>
        <Cell
          align="right"
          footerSumFormat="gw.api.util.CCCurrencyUtil.getCurrencyFormatExpressionForRender(criteria.CurrencyForLastSearch)"
          footerSumValue="BulkInvoiceSearchView.ApprovedTransactionAmount"
          formatType="currency"
          id="ApprovedAmount"
          label="displaykey.Web.Financials.BulkPay.Invoice.TotalApprovedAmount"
          value="BulkInvoiceSearchView.ApprovedTransactionAmount"/>
        <Cell
          align="right"
          enableSort="false"
          footerSumFormat="gw.api.util.CCCurrencyUtil.getCurrencyFormatExpressionForRender(criteria.CurrencyForLastSearch)"
          footerSumValue="BulkInvoiceSearchView.TotalTransactionAmount"
          formatType="currency"
          id="TotalAmount"
          label="displaykey.Web.Financials.BulkPay.Invoice.TotalAmount"
          value="BulkInvoiceSearchView.TotalCurrencyAmount"/>
        <Cell
          id="PayTo"
          label="displaykey.Web.Financials.BulkPay.Invoice.PayTo"
          value="BulkInvoiceSearchView.PayTo"/>
        <Cell
          id="ScheduledSendDate"
          label="displaykey.Web.Financials.BulkPay.Invoice.DateToSend"
          value="BulkInvoiceSearchView.ScheduledSendDate"/>
        <Cell
          id="ReceivedDate"
          label="displaykey.Web.Financials.BulkPay.Invoice.DateReceived"
          value="BulkInvoiceSearchView.ReceivedDate"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
