<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCommit="claimStatusForward.go(claim)"
    canEdit="perm.Claim.edit(claim)"
    canVisit="perm.Claim.view(claim) and perm.System.viewclaimsummary and (claim.State != ClaimState.TC_DRAFT)"
    id="ClaimStatus"
    title="displaykey.Web.Claim.ClaimStatus.Title">
    <LocationEntryPoint
      signature="ClaimStatus(claim : Claim)"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Variable
      initialValue="claim.OrderedIndicators"
      name="indicators"/>
    <Variable
      initialValue="indicators.first()"
      name="firstIndicator"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons/>
        <ToolbarButton
          action="TeamClaimRemoveFlagPopup.push(claim, false)"
          id="RemoveFlagButton"
          label="displaykey.Web.Team.Toolbar.RemoveFlag"
          visible="perm.System.claimremflag(claim) and claim.Flagged == FlaggedType.TC_ISFLAGGED"/>
      </Toolbar>
      <PanelRow>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              title="displaykey.Web.Claim.ClaimStatus.GeneralStatusTitle"/>
            <DetailViewPanel>
              <InputColumn>
                <Input
                  id="LossType"
                  label="displaykey.Web.Claim.ClaimStatus.LossType"
                  value="claim.LossType"/>
                <Input
                  editable="true"
                  id="LineOfBusiness"
                  label="displaykey.Web.Claim.ClaimStatus.LineOfBusiness"
                  required="true"
                  value="claim.LOBCode"/>
                <Input
                  id="ClaimSegment"
                  label="displaykey.Web.Claim.ClaimStatus.ClaimSegment"
                  value="claim.Segment"/>
                <Input
                  id="ClaimStrategy"
                  label="displaykey.Web.Claim.ClaimStatus.ClaimStrategy"
                  value="claim.Strategy"/>
                <Input
                  editable="true"
                  helpText="displaykey.Web.Claim.ClaimStatus.IncidentOnly.HelpText"
                  id="IncidentOnly"
                  label="displaykey.Web.Claim.ClaimStatus.IncidentOnly"
                  required="true"
                  value="claim.IncidentReport"/>
                <InputDivider/>
                <TypeKeyRadioInput
                  id="ClaimStatus"
                  label="displaykey.Web.Claim.ClaimStatus.ClaimStatus"
                  optionIcon="VALUE == &quot;open&quot; ? &quot;icon_claimOpen.png&quot; : &quot;icon_claimClosed.png&quot;"
                  value="claim.State"/>
                <DateInput
                  dateFormat="short"
                  editable="true"
                  id="DateReported"
                  label="displaykey.Web.Claim.ClaimStatus.DateReported"
                  required="true"
                  timeFormat="short"
                  validationExpression="claim.ReportedDate == null || claim.ReportedDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
                  value="claim.ReportedDate"/>
                <Input
                  id="CreateDate"
                  label="displaykey.Web.Claim.ClaimStatus.CreateDate"
                  value="claim.CreateTime"/>
                <Input
                  id="DaysOpen"
                  label="displaykey.Web.Claim.ClaimStatus.DaysOpen"
                  value="claim.DaysOpenClaimMetric.DisplayValue"/>
                <Input
                  id="CloseDate"
                  label="displaykey.Web.Claim.ClaimStatus.CloseDate"
                  value="claim.CloseDate"
                  visible="claim.State == &quot;closed&quot; "/>
                <Input
                  id="Resolution"
                  label="displaykey.Web.Claim.ClaimStatus.Resolution"
                  value="claim.ClosedOutcome"
                  visible="claim.State == &quot;closed&quot; "/>
                <Input
                  id="ReopenedReason"
                  label="displaykey.Web.Claim.ClaimStatus.ReopenedReason"
                  value="claim.ReopenedReason"
                  visible="claim.ReopenedReason != null "/>
                <DateInput
                  dateFormat="short"
                  id="ReOpenDate"
                  label="displaykey.Web.Claim.ClaimStatus.ReOpenDate"
                  value="claim.ReOpenDate"
                  visible="claim.ReopenedReason != null "/>
                <InputDivider/>
                <Input
                  action="UserContactDetailPopup.push(claim.AssignedUser)"
                  available="claim.AssignedUser.Contact != null"
                  id="PrimaryUser"
                  label="displaykey.Web.Claim.ClaimStatus.PrimaryAdjuster"
                  value="claim.AssigneeDisplayString"/>
                <Input
                  id="PrimaryGroup"
                  label="displaykey.Web.Claim.ClaimStatus.PrimaryGroup"
                  value="claim.AssigneeGroupOnlyDisplayString"/>
                <Input
                  editable="true"
                  id="SpecialClaimPermission"
                  label="displaykey.Web.Claim.ClaimStatus.SpecialClaimPermission"
                  value="claim.PermissionRequired"/>
                <InputDivider/>
                <Input
                  id="ClaimValidationLevel"
                  label="displaykey.Web.Claim.ClaimStatus.ClaimValidationLevel"
                  value="claim.ValidationLevel"/>
                <Input
                  editable="perm.System.integadmin"
                  id="ISOEnabled"
                  label="displaykey.Web.Claim.ClaimStatus.ISOEnabled"
                  value="claim.ISOEnabled"
                  visible="perm.System.integadmin"/>
                <Input
                  editable="true"
                  id="SubrogationStatus"
                  label="displaykey.Web.Claim.ClaimStatus.SubrogationStatus"
                  value="claim.SubrogationStatus"/>
                <Input
                  editable="true"
                  id="SalvageStatus"
                  label="displaykey.Web.Claim.ClaimStatus.SalvageStatus"
                  value="claim.SalvageStatus"/>
                <Input
                  editable="true"
                  id="OtherRecoverableStatus"
                  label="displaykey.Web.Claim.ClaimStatus.OtherRecoverableStatus"
                  value="claim.OtherRecovStatus"/>
                <InputSetRef
                  def="ReinsuranceInputSet( claim )"/>
                <InputDivider/>
                <InputSetRef
                  def="StorageInputSet(claim)"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </PanelColumn>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              title="displaykey.Web.Claim.ClaimStatus.HighRiskIndicatorsTitle"/>
            <DetailViewPanel>
              <InputColumn>
                <InputIterator
                  elementName="indicator"
                  id="Indicators"
                  value="indicators">
                  <InputDivider
                    visible="indicator != firstIndicator"/>
                  <Label
                    id="IndicatorType"
                    label="indicator.Subtype.DisplayName"/>
                  <InputSetRef
                    def="ClaimIndicatorInputSet(indicator)"
                    editable="true"
                    mode="indicator.Subtype"/>
                </InputIterator>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Page>
</PCF>
