<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="UserVacationScreen">
    <Require
      name="User"
      type="UserBase"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="UserVacationDV(User)"
      editable="true"/>
  </Screen>
</PCF>
