<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCommit="new gw.api.tools.BatchProcess(BatchProcessType.TC_SYNCSECURITYZONES).start()"
    beforeCommit="util.admin.SecurityUtil.updateAllClaimsForCorporateAccountChange()"
    canEdit="perm.System.editCorporateAccounts"
    canVisit="perm.ScriptParameter.view"
    id="CorporateAccountsAdmin"
    title="displaykey.Web.Admin.CorporateAccountsAdmin">
    <Screen>
      <Toolbar>
        <EditButtons/>
        <IteratorButtons
          removeConfirmMessage="&quot;Are you sure you want to remove this policy?&quot;"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          editable="perm.System.editCorporateAccounts"
          elementName="CorpPolicy"
          hasCheckBoxes="true"
          toCreateAndAdd="new entity.CorporateAccountPolicyExt()"
          toRemove="CorpPolicy.remove()"
          value="find(var p in CorporateAccountPolicyExt)">
          <Row>
            <Cell
              editable="true"
              id="PolicyNumber"
              label="&quot;Policy Number&quot;"
              required="true"
              unique="true"
              value="CorpPolicy.PolicyNumber"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>