<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsupcalendar"
    id="SupervisorClaimAllMattersCalendar"
    showUpLink="true"
    title="displaykey.Web.ClaimMatterCalendar.Title">
    <LocationEntryPoint
      signature="SupervisorClaimAllMattersCalendar(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="SupervisorClaimAllMattersCalendarScreen">
      <Toolbar
        reflectOnBottom="false"/>
      <Calendar
        calendarSource="new gw.api.calendar.SupervisorMatterCalendarSource(Claim, null)"
        context="/SupervisorLitigationCalendar"/>
    </Screen>
  </Page>
</PCF>
