<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="FNOLWizard_NewLossDetailsPanelSet"
    mode="homeowners">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="wizard"
      type="claim.NewClaimWizardInfo"/>
    <DetailViewPanel
      id="NewLossDetailsHomeownersDV">
      <InputColumn>
        <TextAreaInput
          editable="true"
          id="Description"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Description"
          numCols="35"
          numRows="3"
          value="claim.Description"/>
        <DateInput
          dateFormat="short"
          id="Claim_LossDate"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LossDate"
          timeFormat="short"
          validationExpression="Claim.LossDate == null || Claim.LossDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
          value="claim.LossDate"/>
        <Input
          editable="true"
          id="Claim_LossCause"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LossCause"
          onChange="wizard.HomeownersHelper.setDamageAccordingToLossCause()"
          postOnChange="true"
          required="true"
          value="claim.LossCause"/>
        <TypeKeyInput
          editable="true"
          id="LocationOfTheft"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LocationOfTheft"
          value="claim.LocationOfTheft"
          visible="claim.LossCause == &quot;burglary&quot;"/>
        <Input
          editable="true"
          id="Status_IncidentReport"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Status.IncidentReport"
          required="true"
          value="claim.IncidentReport"/>
        <Label/>
        <CheckBoxGroupInput
          boldLabel="true"
          editable="true"
          id="DamageTypeChooser"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DamageType"
          labelAbove="true"
          optionIcon="wizard.HomeownersHelper.getDamageManagerByPropertyName(VALUE).Icon"
          optionLabel="wizard.HomeownersHelper.getDamageManagerByPropertyName(VALUE).Name"
          postOnChange="true"
          value="wizard.HomeownersHelper.SelectedDamageNames"
          valueRange="wizard.HomeownersHelper.DamageNames"/>
      </InputColumn>
      <InputColumn>
        <Label
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LossLocation"/>
        <InputSet
          visible="claim.Policy.PrimaryLocation != null">
          <Choice
            id="PrimaryLocationChoice"
            option="&quot;primary&quot;"
            value="wizard.HomeownersHelper.LocationChoice">
            <Input
              id="PrimaryLocationChoiceLabel"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.PrimaryLocation"
              value="null"/>
            <TextInput
              id="PropertyAddress"
              labelAbove="true"
              value="claim.Policy.PrimaryLocation.Address.DisplayName"/>
          </Choice>
        </InputSet>
        <Choice
          id="OtherLocationChoice"
          option="&quot;other&quot;"
          value="wizard.HomeownersHelper.LocationChoice">
          <Input
            id="OtherLocationLabel"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherLocation"
            value="null"/>
          <InputSetRef
            def="AddressInputSet(wizard.HomeownersHelper.getAddressesWithoutPrimaryLocation())"
            id="AddressDetailInputSetRef"
            mode="claim.AddressOwner.InputSetMode"
            visible="wizard.HomeownersHelper.LocationChoice == &quot;other&quot;"/>
        </Choice>
        <RangeInput
          editable="true"
          id="Catastrophe_CatastropheNumber"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.CatastropheNumber"
          required="false"
          value="claim.Catastrophe"
          valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"/>
        <Input
          editable="true"
          id="WeatherRelated"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.WeatherRelated"
          value="claim.WeatherRelated"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef
      def="FireDamageQuestionsPanelSet(claim)"
      id="FireDamageQuestionsPanelSet"
      visible="claim.PropertyFireDamage != null">
      <TitleBar
        title="displaykey.Web.FNOLWizard.LossDetails.Homeowners.FireDamage"/>
    </PanelRef>
    <PanelRef
      def="WaterDamageQuestionsPanelSet(claim)"
      id="WaterDamageQuestionsPanelSet"
      visible="claim.PropertyWaterDamage != null">
      <TitleBar
        title="displaykey.Web.FNOLWizard.LossDetails.Homeowners.WaterDamage"/>
    </PanelRef>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Property.Title"/>
      <DetailViewPanel>
        <InputColumn>
          <InputGroup
            childrenVisible="wizard.HomeownersHelper.DwellingIncidentPresent"
            icon="gw.api.claim.HomeownersHelper.CHECKBOX_DWELLING_ICON"
            id="DwellingInputGroup"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Dwelling">
            <Input
              formatType="currency"
              id="DwellingLimit"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingLimit"
              value="wizard.HomeownersHelper.getIncidentCoverageLimit(CoverageType.TC_DWL)"/>
            <TextAreaInput
              editable="true"
              id="DwellingDamageDescription"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingDamageDescription"
              numRows="2"
              required="true"
              value="wizard.HomeownersHelper.DwellingIncident.Description"/>
            <ListViewInput
              def="EditableRoomsLV(wizard.HomeownersHelper.DwellingIncident)"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingRoomsDamaged">
              <Toolbar>
                <IteratorButtons/>
              </Toolbar>
            </ListViewInput>
            <TextAreaInput
              editable="true"
              helpText="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingMaterialsDamagedTooltip"
              id="DwellingMaterialsDamaged"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingMaterialsDamaged"
              numRows="2"
              value="wizard.HomeownersHelper.DwellingIncident.MaterialsDamaged"/>
            <BooleanRadioInput
              editable="true"
              id="DwellingEstimateReceived"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingEstimateReceived"
              value="wizard.HomeownersHelper.DwellingIncident.EstimatesReceivedBoolean"/>
            <BooleanRadioInput
              editable="true"
              id="DwellingAlreadyRepaired"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.DwellingAlreadyRepaired"
              value="wizard.HomeownersHelper.DwellingIncident.AlreadyRepaired"/>
          </InputGroup>
          <InputGroup
            childrenVisible="wizard.HomeownersHelper.OtherStructureIncidentPresent"
            icon="gw.api.claim.HomeownersHelper.CHECKBOX_OTHER_STRUCTURES_ICON"
            id="OtherStructureInputGroup"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherStructure">
            <Input
              formatType="currency"
              id="OtherStructureLimit"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherStructureLimit"
              value="wizard.HomeownersHelper.getIncidentCoverageLimit(CoverageType.TC_OS)"/>
            <TextAreaInput
              editable="true"
              id="OtherStructureDamageDescription"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherStructureDamageDescription"
              numRows="2"
              required="true"
              value="wizard.HomeownersHelper.OtherStructureIncident.Description"/>
            <BooleanRadioInput
              editable="true"
              id="OtherStructureEstimateReceived"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherStructureEstimateReceived"
              value="wizard.HomeownersHelper.OtherStructureIncident.EstimatesReceivedBoolean"/>
            <BooleanRadioInput
              editable="true"
              id="OtherStructureAlreadyRepaired"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherStructureAlreadyRepaired"
              value="wizard.HomeownersHelper.OtherStructureIncident.AlreadyRepaired"/>
            <BooleanRadioInput
              editable="true"
              id="OtherStructureFencesDamaged"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.OtherStructureFencesDamaged"
              value="wizard.HomeownersHelper.OtherStructureIncident.FencesDamaged"/>
          </InputGroup>
        </InputColumn>
        <InputColumn>
          <InputGroup
            childrenVisible="wizard.HomeownersHelper.PropertyContentsIncidentPresent"
            icon="gw.api.claim.HomeownersHelper.CHECKBOX_PROPERTY_CONTENTS_ICON"
            id="PropertyContentsInputGroup"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.PropertyContents">
            <Input
              formatType="currency"
              id="PropertyContentsLimit"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.PropertyContentsLimit"
              value="wizard.HomeownersHelper.getIncidentCoverageLimit(CoverageType.TC_PPD)"/>
            <TextAreaInput
              editable="true"
              id="PropertyContentsDamageDescription"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.PropertyContentsDamageDescription"
              numRows="2"
              required="true"
              value="wizard.HomeownersHelper.PropertyContentsIncident.Description"/>
          </InputGroup>
          <InputGroup
            childrenVisible="wizard.HomeownersHelper.LivingExpensesIncidentPresent"
            icon="gw.api.claim.HomeownersHelper.CHECKBOX_LIVING_EXPENSES_ICON"
            id="LivingExpensesInputGroup"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LivingExpenses">
            <Input
              formatType="currency"
              id="LivingExpensesLimit"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LivingExpensesLimit"
              value="wizard.HomeownersHelper.getIncidentCoverageLimit(CoverageType.TC_LU)"/>
            <TextAreaInput
              editable="true"
              id="LivingExpensesDescription"
              label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.LivingExpensesDescription"
              numRows="2"
              required="true"
              value="wizard.HomeownersHelper.LivingExpensesIncident.Description"/>
          </InputGroup>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      id="IncidentPanelRef">
      <TitleBar
        title="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Liability.Title"/>
      <Toolbar>
        <ToolbarButton
          action="FNOLInjuryIncidentPopup.push(claim, null)"
          icon="gw.api.claim.IncidentIconSet.INJURY.ButtonIcon"
          id="AddInjuryButton"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.IncidentPanelRef.AddInjuryButton.Label"/>
        <ToolbarButton
          action="NewFixedPropertyIncidentPopup.push( claim )"
          icon="gw.api.claim.IncidentIconSet.PROPERTY_LIABILITY.ButtonIcon"
          id="AddPropertyDamageButton"
          label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.IncidentPanelRef.AddPropertyDamageButton.Label"/>
      </Toolbar>
      <PanelSet
        id="IncidentPanelSet">
        <PanelIterator
          elementName="incident"
          id="IncidentIterator"
          value="wizard.HomeownersHelper.IncidentListUIHelper.SortedIncidents">
          <DetailViewPanel
            inline="true">
            <Variable
              initialValue="wizard.HomeownersHelper.IncidentListUIHelper.getIncidentUIHelper(incident)"
              name="incidentUIHelper"/>
            <InputColumn>
              <BooleanRadioInput
                icon="incidentUIHelper.Icons.getPanelIcon(incident)"
                id="IncidentIcon"
                labelAbove="true"
                value="true"/>
            </InputColumn>
            <InputColumn>
              <Input
                action="incidentUIHelper.goToViewIncidentInFNOLWizard(incident)"
                boldValue="true"
                hideChildrenIfReadOnly="false"
                id="Name"
                labelAbove="true"
                value="incidentUIHelper.getInstanceDisplayName(incident)">
                <MenuItem
                  action="incidentUIHelper.goToViewIncidentInFNOLWizard(incident)"
                  id="EditIncident"
                  label="incidentUIHelper.EditLabel"/>
                <MenuItem
                  action="Claim.removeFromIncidents(incident)"
                  confirmMessage="incidentUIHelper.RemoveConfirmMsg"
                  id="RemoveIncident"
                  label="incidentUIHelper.RemoveLabel"
                  visible="(!incident.UsedByExposure)"/>
              </Input>
              <TextAreaInput
                id="Description"
                labelAbove="true"
                numRows="2"
                value="incident.Description"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelIterator>
      </PanelSet>
    </PanelRef>
    <!-- Used to create white space between the liability iterators and the Additional Information section -->
    <PanelRef>
      <DetailViewPanel/>
    </PanelRef>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.FNOLWizard.LossDetails.Homeowners.AdditionalInformation.Title"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            boldLabel="true"
            def="EditableWitnessesLV(claim.getClaimContactRolesByRole(ContactRole.TC_WITNESS), claim, ContactRole.TC_WITNESS)"
            editable="true"
            id="WitnessLV"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.AnyWitnesses.Label"
            labelAbove="true">
            <Toolbar>
              <IteratorButtons/>
            </Toolbar>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            def="EditableOfficialsLV(claim)"
            editable="true"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Officials"
            labelAbove="true">
            <Toolbar>
              <IteratorButtons/>
            </Toolbar>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            def="MetroReportsLV(claim)"
            editable="true"
            id="PoliceReportLV"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.MetroReport.Label"
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                addLabel="displaykey.Button.Metro.New"
                removeFlags="any RemovableMetroReport, no NotRemovableMetroReport"/>
            </Toolbar>
          </ListViewInput>
          <InputDivider/>
          <Label
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Categorization"/>
          <Input
            editable="true"
            id="Notification_Fault"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.Notification.Fault"
            postOnChange="true"
            value="claim.FaultRating"/>
          <RangeInput
            editable="true"
            id="ClaimPermissionRequired"
            label="displaykey.Web.FNOLWizard.LossDetails.Homeowners.PermissionRequired"
            required="false"
            value="claim.PermissionRequired"
            valueRange="gw.api.claim.ClaimUtil.getAvailableTypes()"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>
