<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    canVisit="perm.Claim.create"
    countsAsWork="true"
    id="FNOLWizard_NewNoteWorksheet"
    parent="FNOLWizard(Wizard.Claim)"
    startEditing="Note.setInitialValues()"
    startInEditMode="true"
    tabLabel="displaykey.JSP.WorkspaceTabBar.NewNote"
    title="displaykey.JSP.NewClaimNote.Add.AddNote"
    validateOnBundleCommit="true">
    <LocationEntryPoint
      signature="FNOLWizard_NewNoteWorksheet(Wizard : claim.NewClaimWizardInfo)"/>
    <Scope
      location="FNOLWizard(Wizard.Claim)"/>
    <Variable
      initialValue="new note.NewClaimNotesPageHelper()"
      name="PageHelper"
      recalculateOnRefresh="false"/>
    <Variable
      name="Wizard"
      recalculateOnRefresh="false"
      type="claim.NewClaimWizardInfo"/>
    <Variable
      initialValue="PageHelper.initialize(Wizard)"
      name="Note"
      recalculateOnRefresh="false"
      type="Note"/>
    <Screen
      id="FNOLWizard_NewNoteScreen">
      <Toolbar
        reflectOnBottom="false">
        <ToolbarButton
          action="PageHelper.commitNote(); CurrentLocation.cancel()"
          id="NewClaimWizard_NewNoteWorksheet_UpdateButton"
          label="displaykey.Button.Update"
          shortcut="U"
          showConfirmMessage="true"/>
        <ToolbarButton
          action="PageHelper.cancelNote(); CurrentLocation.cancel()"
          id="NewClaimWizard_NewNoteWorksheet_CancelButton"
          label="displaykey.Button.Cancel"
          shortcut="L"
          showConfirmMessage="true"/>
        <ToolbarDivider/>
      </Toolbar>
      <PanelRef
        def="DocumentNoteDV(Note)"/>
    </Screen>
  </Worksheet>
</PCF>
