<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="FNOLWizard_BasicInfoScreen"
    mode="WC">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="claim.NewClaimWizardInfo"/>
    <Variable
      initialValue="((Claim.maincontact == Claim.reporter and Claim.MainContactType == Claim.ReportedByType) || (Claim.maincontact == null and claim.maincontacttype == null))"
      name="maincontactSamePerson"
      type="boolean"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRow>
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="displaykey.Wizard.NewClaimWizard.NewClaimPolicyLocation.Label"/>
            <RangeInput
              editable="true"
              id="Claim_LocationCode"
              label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.LocationCode"
              value="Claim.LocationCode"
              valueRange="Claim.PolicyProperties"/>
            <InputDivider/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
    <PanelRow>
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.ReportedBy"/>
            <ClaimContactInput
              claim="Claim"
              editable="true"
              forceContactSubtype="entity.Person.Type"
              id="ReportedBy_Name"
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.ReportedBy.Name"
              newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
              onChange="if (Claim.reporter == Claim.Insured) Claim.ReportedByType = PersonRelationType.TC_SELF else Claim.ReportedByType = null; if (maincontactSamePerson) {Claim.maincontact = (Claim.reporter as Person);  Claim.MainContactType = Claim.ReportedByType;}"
              postOnChange="true"
              required="true"
              value="Claim.reporter"
              valueRange="Claim.RelatedPersonArray"/>
            <Input
              editable="true"
              id="Claim_ReportedByType"
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.ReportedByType"
              onChange="if (mainContactSamePerson) {Claim.MainContactType = Claim.reportedByType;}"
              postOnChange="true"
              required="true"
              value="Claim.ReportedByType"/>
            <InputDivider/>
            <Label
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.MainContact"/>
            <BooleanRadioInput
              editable="true"
              falseLabel="displaykey.Web.BasicInfoScreen.BasicInfoDetailViewPanel.SamePerson.False.Label"
              id="MainContactChoice"
              label="displaykey.Web.BasicInfoScreen.BasicInfoDetailViewPanel.SamePerson.Label"
              onChange="if (maincontactSamePerson) {Claim.maincontact = (Claim.reporter as Person);  Claim.MainContactType = Claim.ReportedByType;} else {Claim.maincontact = null;  Claim.MainContactType = null;}"
              postOnChange="true"
              stacked="true"
              trueLabel="displaykey.Web.BasicInfoScreen.BasicInfoDetailViewPanel.SamePerson.True.Label"
              value="mainContactSamePerson"/>
            <ClaimContactInput
              claim="Claim"
              editable="true"
              id="MainContact_Name"
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.MainContact.Name"
              newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
              value="Claim.MainContact"
              valueRange="Claim.RelatedPersonArray"
              visible="!mainContactSamePerson"/>
            <Input
              editable="true"
              id="Claim_MainContactType"
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.MainContactType"
              value="Claim.MainContactType"
              visible="!mainContactSamePerson"/>
          </InputColumn>
          <InputColumn>
            <Label
              label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.Claimant.Picker"/>
            <ClaimContactInput
              claim="claim"
              editable="true"
              id="Claimant_Name"
              label="displaykey.NVV.Claim.NewClaimPeople.Claim.ReportedBy.Name"
              newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
              postOnChange="true"
              required="true"
              value="Claim.Claimant"
              valueRange="Claim.RelatedPersonArray"/>
            <PrivacyInput
              editable="true"
              encryptionExpression="Claim.claimant.maskTaxId(VALUE)"
              id="Claimant_TaxNumber"
              label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.Claimant.TaxNumber"
              value="Claim.claimant.TaxID"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
  </Screen>
</PCF>
