<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewClaimExposureDV"
    mode="Lossofusedamage">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Variable
      initialValue="Exposure.Incident as PropertyIncident"
      name="PropertyIncident"
      recalculateOnRefresh="true"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Overall"/>
      <Input
        id="LossParty"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.LossParty"
        required="true"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <RangeInput
        editable="true"
        id="Coverage"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Coverage"
        value="Exposure.Coverage"
        valueRange="Exposure.Claim.Policy.getCoveragesByCoverageType(Exposure.PrimaryCoverage)"/>
      <InputSet
        visible="Exposure.Claim.Policy.StatCodingEnabled">
        <PolicyStatCodePickerInput
          action="ClaimPolicyStatCodePickerPopup.push(Exposure.Claim)"
          editable="true"
          id="StatLine"
          label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.StatLine"
          value="Exposure.StatLine"
          valueRange="Exposure.Claim.Policy.CappedStatCodes"/>
        <InputSet
          hideIfReadOnly="true"
          visible="true">
          <TextInput
            id="StatLine_Warning"
            value="displaykey.Java.StatCodes.StatCodeListCappedWarning(Exposure.Claim.Policy.StatCodeListCap, Exposure.Claim.Policy.StatCodes.length)"
            visible="Exposure.Claim.Policy.StatCodeListCapped"/>
        </InputSet>
      </InputSet>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant"/>
      <ClaimContactInput
        claim="Exposure.Claim"
        editable="true"
        id="Claimant_Picker"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant.Picker"
        required="true"
        value="Exposure.Claimant"
        valueRange="Exposure.Claim.getRelatedContacts(Exposure.Claim.getContactType(&quot;claimant&quot;))">
        <Reflect
          triggerIds="LossParty">
          <ReflectCondition
            condition="VALUE == &quot;insured&quot;"
            value="Exposure.Claim.Insured"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </ClaimContactInput>
      <Input
        editable="true"
        id="Claimant_Type"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant.Type"
        required="true"
        value="Exposure.ClaimantType">
        <Reflect
          triggerIds="Claimant_Picker">
          <ReflectCondition
            condition="Exposure.Claim.Insured==VALUE"
            value="&quot;insured&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </Input>
      <Input
        editable="true"
        id="Claimant_ContactProhibited"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant.ContactProhibited"
        value="ContactProhibited"/>
      <Input
        id="Claimant_PrimaryPhone"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant.PrimaryPhone"
        value="Exposure.Claimant.PrimaryPhoneValue">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.PrimaryPhoneValue"/>
      </Input>
      <Input
        id="Claimant_Address"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant.Address"
        value="Exposure.Claimant.PrimaryAddressDisplayValue">
        <Reflect
          triggerIds="Claimant_Picker"
          value="VALUE.PrimaryAddressDisplayValue"/>
      </Input>
      <InputDivider/>
      <InputSetRef
        def="AddressInputSet(Exposure.AddressOwner)"
        mode="Exposure.AddressOwner.InputSetMode"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Damage"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Description"
        numCols="30"
        numRows="3"
        value="Exposure.Incident.Description"/>
      <Input
        editable="true"
        id="Exposure_LossofUse"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.LossofUse"
        postOnChange="true"
        value="PropertyIncident.LossofUse"/>
      <Input
        editable="true"
        id="LossEstimate"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.LossEstimate"
        value="Exposure.Incident.LossEstimate"/>
      <InputDivider/>
      <Input
        editable="true"
        id="Exposure_ALEMealsDays"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.ALEMealsDays"
        value="PropertyIncident.MealsDays"
        visible=" PropertyIncident.LossofUse == true "/>
      <Input
        editable="true"
        id="Exposure_ALEMealsPeople"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.ALEMealsPeople"
        value="PropertyIncident.MealsPeople"
        visible="PropertyIncident.LossofUse == true "/>
      <Input
        editable="true"
        id="Exposure_ALEMealsRate"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.ALEMealsRate"
        value="PropertyIncident.MealsRate"
        visible="PropertyIncident.LossofUse == true "/>
      <Label
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Coding"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Input
        editable="true"
        id="JurisdictionState"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.JurisdictionState"
        value="Exposure.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <InputDivider
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Label
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.OtherCarrierInvolvement"/>
      <Input
        editable="true"
        id="Claimant_OtherCoverage"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.Claimant.OtherCoverage"
        required="false"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        def="EditableOtherCoverageDetailsLV(Exposure)"
        editable="true"
        label="displaykey.NVV.Exposure.SubView.NewClaimLossOfUseDamage.Exposure.OtherCoverageDetails">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
    <Code><![CDATA[
property get ContactProhibited() : boolean {
    return Exposure.Claim.getClaimContact(Exposure.Claimant).ContactProhibited
}

property set ContactProhibited(prohibited : boolean) {
  var claimContact = Exposure.Claim.getClaimContact(Exposure.Claimant)
  if (claimContact != null) claimContact.ContactProhibited = prohibited
}
      
    ]]></Code>
  </DetailViewPanel>
</PCF>
