<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewClaimReplacementServicesDV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.NewClaimReplacementServices.Compensation"/>
      <Input
        editable="true"
        id="LostWagesBenefits_BenefitsBeginDate"
        label="displaykey.NVV.Exposure.NewClaimReplacementServices.LostWagesBenefits.BenefitsBeginDate"
        value="Exposure.RSBenefits.BenefitsBeginDate"/>
      <Input
        editable="true"
        id="LostWagesBenefits_BenefitsEndDate"
        label="displaykey.NVV.Exposure.NewClaimReplacementServices.LostWagesBenefits.BenefitsEndDate"
        validationExpression="!(Exposure.RSBenefits.BenefitsBeginDate &gt; Exposure.RSBenefits.BenefitsEndDate) ? null : displaykey.JSP.PIPDetail.PIP.Date.ValidationError"
        value="Exposure.RSBenefits.BenefitsEndDate"/>
      <Input
        editable="true"
        id="LostWagesBenefits_MaxCompRate"
        label="displaykey.NVV.Exposure.NewClaimReplacementServices.LostWagesBenefits.MaxCompRate"
        value="Exposure.RSBenefits.MaxCompRate"/>
      <Label
        label="displaykey.NVV.Exposure.ReplacementServices.EditableListview"/>
      <ListViewInput
        def="EditableServiceProviderLV(Exposure.getClaimContactRolesByRole(&quot;rsbenprovider&quot;), Exposure)"
        editable="true"
        label="displaykey.NVV.Exposure.ReplacementServices.EditableServiceProviders">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
