<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewClaimLossDetailsDV"
    mode="Gl">
    <Require
      name="Claim"
      type="Claim"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Claim.NewClaimLossDetailsGeneralLiability.Claim.Policy"/>
      <Input
        id="Policy_PolicyNumber"
        label="displaykey.NVV.Claim.NewClaimLossDetailsGeneralLiability.Policy.PolicyNumber"
        value="Claim.Policy.PolicyNumber"/>
      <Input
        id="Policy_Status"
        label="displaykey.NVV.Claim.NewClaimLossDetailsGeneralLiability.Policy.Status"
        value="Claim.Policy.Status"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim"/>
      <Input
        editable="true"
        id="Claim_LOBCode"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.LOBCode"
        required="true"
        value="Claim.LOBCode"/>
      <Input
        id="Claim_LossType"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.LossType"
        required="false"
        value="Claim.LossType"/>
      <RangeInput
        editable="true"
        id="Catastrophe_CatastropheNumber"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Catastrophe.CatastropheNumber"
        required="false"
        value="Claim.Catastrophe"
        valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"/>
      <RangeInput
        editable="true"
        id="Claim_PermissionRequired"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.PermissionRequired"
        required="false"
        value="Claim.PermissionRequired"
        valueRange="gw.api.claim.ClaimUtil.getAvailableTypes()"/>
      <InputDivider/>
      <TextAreaInput
        boldLabel="true"
        editable="true"
        id="Description"
        label="displaykey.NVV.Claim.NewClaimLossDetailsGeneralLiability.Claim.Description"
        numCols="50"
        numRows="3"
        value="Claim.Description"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.LossDetails"/>
      <Input
        editable="true"
        id="Claim_LossCause"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.LossCause"
        required="true"
        value="Claim.LossCause"/>
      <Input
        editable="true"
        id="Notification_Fault"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification.Fault"
        postOnChange="true"
        value="claim.FaultRating"/>
      <Input
        editable="true"
        id="Notification_AtFaultPercentage"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification.AtFaultPercentage"
        value="Claim.Fault"
        visible=" Claim.FaultRating == &quot;1&quot; "/>
      <DateInput
        dateFormat="short"
        id="Claim_LossDate"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.LossDate"
        timeFormat="short"
        validationExpression="Claim.LossDate == null || Claim.LossDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.LossDate"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification"/>
      <DateInput
        editable="true"
        id="Notification_ReportedDate"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification.ReportedDate"
        required="true"
        validationExpression="Claim.ReportedDate == null || Claim.ReportedDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Claim.ReportedDate"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Notification_DateReportedofManifestation"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification.DateReportedofManifestation"
        value="Claim.ManifestationDate"/>
      <Input
        editable="true"
        id="Notification_FirstNoticeSuit"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification.FirstNoticeSuit"
        value="Claim.FirstNoticeSuit"/>
      <Input
        editable="true"
        id="Notification_HowReported"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Notification.HowReported"
        value="Claim.HowReported"/>
      <Input
        editable="true"
        id="Status_IncidentReport"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Status.IncidentReport"
        required="true"
        value="Claim.IncidentReport"/>
      <Input
        editable="true"
        id="Status_CoverageQuestion"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.Status.CoverageQuestion"
        required="false"
        value="Claim.CoverageInQuestion"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        def="EditableInjuryIncidentsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetails.Claim.Injuries"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsGeneralLiability.Claim.LossLocation"/>
      <InputSetRef
        def="AddressInputSet(Claim.AddressOwner)"
        mode="Claim.AddressOwner.InputSetMode"/>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableOfficialsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsProperty.Claim.Officials"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        def="PriorClaimsLV(Claim.findPriorClaimsByPolicyNumber(Claim.Policy.PolicyNumber, {ClaimState.TC_DRAFT}))"
        label="displaykey.NVV.Claim.Subview.NewClaimLossDetailsGeneralLiability.Claim.PriorClaims"
        labelAbove="true">
        <Toolbar/>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="MetroReportsLV(Claim)"
        editable="true"
        label="displaykey.NVV.Claim.SubView.LossDetailsAuto.Claim.MetroReports"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Button.Metro.New"
            removeFlags="any RemovableMetroReport, no NotRemovableMetroReport"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
