<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewClaimWageBenefitsDV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.NewClaimWageBenefits.Compensation"/>
      <Input
        editable="true"
        id="CompBenefits_BenefitsBeginDate"
        label="displaykey.NVV.Exposure.NewClaimWageBenefits.PIPDamages.CompBenefits.BenefitsBeginDate"
        value="Exposure.CompBenefits.BenefitsBeginDate"/>
      <Input
        editable="true"
        id="CompBenefits_BenefitsEndDate"
        label="displaykey.NVV.Exposure.NewClaimWageBenefits.PIPDamages.CompBenefits.BenefitsEndDate"
        validationExpression="!(Exposure.CompBenefits.BenefitsBeginDate &gt; Exposure.CompBenefits.BenefitsEndDate) ? null : displaykey.JSP.PIPDetail.PIP.Date.ValidationError"
        value="Exposure.CompBenefits.BenefitsEndDate"/>
      <Input
        editable="true"
        id="CompBenefits_WeeklyCompRate"
        label="displaykey.NVV.Exposure.NewClaimWageBenefits.PIPDamages.CompBenefits.WeeklyCompRate"
        value="Exposure.CompBenefits.WeeklyCompRate"/>
      <Input
        editable="true"
        id="CompBenefits_PaymentFrequency"
        label="displaykey.NVV.Exposure.NewClaimWageBenefits.PIPDamages.CompBenefits.PaymentFrequency"
        value="Exposure.CompBenefits.PaymentFrequency"/>
      <InputSetRef
        def="PIPEmploymentInputSet(Exposure)"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="PIPWorkersCompensationInputSet(Exposure)"/>
      <InputSetRef
        def="PIPSSBenefitsInputSet(Exposure)"/>
      <InputDivider/>
      <InputSetRef
        def="PIPWageBenefitsInputSet(Exposure)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
