<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="VehicleIncident.TotalLossCalculatorPreUpdate()"
    canEdit="true"
    id="TotalLossCalculatorPopup"
    startInEditMode="true"
    title="displaykey.Web.TotalLossCalculatorPopup.Title">
    <LocationEntryPoint
      signature="TotalLossCalculatorPopup(VehicleIncident : VehicleIncident)"/>
    <Variable
      name="VehicleIncident"
      type="VehicleIncident"/>
    <Screen>
      <Toolbar
        reflectOnBottom="true">
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="VehicleLabel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.Vehicle"/>
          <Input
            id="VehicleYear"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleYear"
            value="VehicleIncident.Vehicle.Year"/>
          <Input
            id="VehicleMake"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleMake"
            value="VehicleIncident.Vehicle.Make"/>
          <Input
            id="VehicleModel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleModel"
            value="VehicleIncident.Vehicle.Model"/>
          <Input
            id="VehicleStyle"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleStyle"
            value="VehicleIncident.Vehicle.Style"/>
          <Input
            id="VehicleColor"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleColor"
            value="VehicleIncident.Vehicle.Color"/>
          <Input
            id="VehicleVin"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleVin"
            value="VehicleIncident.Vehicle.Vin"/>
          <Input
            id="VehicleLicensePlate"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleLicensePlate"
            value="VehicleIncident.Vehicle.LicensePlate"/>
          <Input
            id="VehicleLicensePlateState"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleLicensePlateState"
            value="VehicleIncident.Vehicle.State"
            visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
          <InputDivider/>
          <Input
            boldLabel="true"
            id="TotalLossPoints"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.TotalLossPoints"
            required="false"
            value="VehicleIncident.TotalLossPoints"/>
          <Input
            boldLabel="true"
            id="VehicleTotalLoss"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleTotalLoss"
            required="false"
            value="VehicleIncident.TotalLoss"/>
          <InputDivider/>
          <Label
            id="VehInfoLabel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.HowVehDamaged"/>
          <Input
            editable="true"
            id="VehicleAge5Years"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleAge5Years"
            required="false"
            value="VehicleIncident.VehicleAge5Years"/>
          <Input
            editable="true"
            id="VehicleAge10Years"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleAge10Years"
            required="false"
            value="VehicleIncident.VehicleAge10Years"/>
          <Input
            editable="true"
            id="Mileage100K"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.Mileage100K"
            required="false"
            value="VehicleIncident.Mileage100K"/>
          <Input
            id="VehicleTowed"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleTowed"
            required="false"
            value="VehicleIncident.VehTowedInd"/>
          <Input
            editable="true"
            id="Extrication"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.Extrication"
            required="false"
            value="VehicleIncident.Extrication"/>
          <InputDivider/>
          <Label
            id="CollisionLabel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.CollisionSection"/>
          <Input
            id="VehicleAirbagsDeployed"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleAirbagsDeployed"
            required="false"
            value="VehicleIncident.AirbagsDeployed"/>
          <Input
            editable="true"
            id="VehicleRollOver"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleRollOver"
            required="false"
            value="VehicleIncident.VehicleRollOver"/>
          <InputDivider/>
          <Label
            id="FireLabel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.FireSection"/>
          <Input
            editable="true"
            id="FireBurnDash"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.FireBurnDash"
            required="false"
            value="VehicleIncident.FireBurnDash"/>
          <Input
            editable="true"
            id="FireBurnEngine"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.FireBurnEngine"
            required="false"
            value="VehicleIncident.FireBurnEngine"/>
          <Input
            editable="true"
            id="FireBurnWindshield"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.FireBurnWindshield"
            required="false"
            value="VehicleIncident.FireBurnWindshield"/>
          <InputDivider/>
          <Label
            id="FloodLabel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.FloodSection"/>
          <Input
            editable="true"
            id="VehicleSubmerged"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VehicleSubmerged"
            required="false"
            value="VehicleIncident.VehicleSubmerged"/>
          <Input
            editable="true"
            id="WaterLevelDash"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.WaterLevelDash"
            required="false"
            value="VehicleIncident.WaterLevelDash"/>
          <Input
            editable="true"
            id="FloodSaltWater"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.FloodSaltWater"
            required="false"
            value="VehicleIncident.FloodSaltWater"/>
          <Input
            editable="true"
            id="WaterLevelSeats"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.WaterLevelSeats"
            required="false"
            value="VehicleIncident.WaterLevelSeats"/>
          <InputDivider/>
          <Label
            id="TheftLabel"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.VandalTheftSection"/>
          <Input
            editable="true"
            id="ComponentsMissing"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.ComponentsMissing"
            required="false"
            value="VehicleIncident.ComponentsMissing"/>
          <Input
            editable="true"
            id="InteriorMissing"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.InteriorMissing"
            required="false"
            value="VehicleIncident.InteriorMissing"/>
          <Input
            editable="true"
            id="AirbagsMissing"
            label="displaykey.NVV.Exposure.SubView.TotalLossCalculator.AirbagsMissing"
            required="false"
            value="VehicleIncident.AirbagsMissing"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>
