/* As with pc.css, any strings enclosed with @ are substituted in from pc-css-colors.properties */

/* Rule overrides for printing */

/* Hiding */

.shellbg {
  display: none;
}

.tbar_bg {
  display: none;
}

input.claimcheck {
  display: none;
}

.notesfiltercolumn {
  display: none;
}

.notesdisplaycolumn {
  width: 100%;
  vertical-align: top;
  height: 100%;
}

#pagetab a {
	display: none;
}

.picker_icon {
	display: none;
}

/* No underlines on hyperlinks. */

a.underlined {
  text-decoration: none;
}

.row1 a {
  text-decoration: none
}

.row2 a {
  text-decoration: none
}

a.nvv_link {
  text-decoration: none;
}

.message a {
  text-decoration: none;
}

a.FinancialsValue
{
  text-decoration: none;
}

/* Form elements */

input.txt {
	border: 0;
	background-color: transparent;
}

input.txt_er {
  border: 0;
}

textarea {
	border: 0;
	background-color: transparent;
	overflow: visible;
}

textarea.ta_er {
  border: 0;
	overflow: visible;
}

textarea.ta_ro {
	overflow: visible;
}

select {
	display: none;
}

select.select_er {
	display: none;
}

/* No scrollbars */

.autoscroll {
  overflow: visible;
}

/* Overrides */

.infobar {
	text-align: left;
  white-space: normal;
  width: 100%;
}

.infobar_img {
	width: auto;
}

/* Print-specific rules */

.screenonly {
  display: none;
}

/* Extends pc_print.css */
