/* Any strings enclosed with @ are substituted in from css-colors.properties */

/* NOTE pdalbora 21-Aug-2003 -- print.css overrides many of these styles. If you
change a style's name, please be sure to update the style if it appears in print.css. */

/* Basic Styles
----------------------------------------------- */
BODY {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  color: #000000;
  z-index: 10;
}

* html BODY {
  overflow: auto; /* Keeps IE from reserving space for vertical scrollbar */
}

BODY.wizard {
  /* Can be used to give wizards a different background image (for the left nav) */
}

/* Links */

a {
  color: #3A6CA4;
  text-decoration: underline;
}

a:hover {
  color: #3A5476;
}

.underlined {
  text-decoration: underline;
}

.double-underlined {
  border-bottom: 3px double;
}

/* do no wrap link text */
.linkContainer {
  vertical-align:text-bottom;
  white-space: nowrap;
  padding-left:2px;
  padding-right:2px;
}

/* Text Styles */
.bold, .bold_disabled {
  font-weight: bold;
}

.disabled, .disabled_hover, .disabled:hover {
  color: #A0A0A0;
  text-decoration: none;
  cursor: default;
}

.currency_negative {
  color: #FF0000;
}

.rowselected .currency_negative {
  color: #6A2929;
} 

/* no special formatting for non-negative currency
.currency_positive {
}
*/

.archived, .archived span, .archived textarea.textArea_readOnly, a.archived:visited, a.archived:active {
  color: #A08060;
}

.stretch {
  width:100%;
}

/* Titlebars - Within page content, also headers in left nav. (Only semi-applies to collapsable headers, though.) */

.titlebar, .titlebar_closed, .wizardTitle {
  background: #CCCFD1 url("../images/leftNav_sectionHeader_bg.gif") repeat-x top;
  font-weight: bold;
  font-size: 92%;
  color: #304B69;
  border: 1px #93A5BC solid;
  padding: 4px 4px 4px 6px;
}

.titlebarCollapsible {
  background: url( "../images/menulinkshead_arrow_open.gif") no-repeat right;
  padding: 2px 10px 2px 0px;
  cursor: pointer;
}

.titlebar_closed .titlebarCollapsible {
  background-image: url("../images/menulinkshead_arrow_close.gif");
  cursor: pointer;
}

.titlebarCollapsible img {
  vertical-align: middle;
  margin-right: 3px;
}

/* Menus */

/* Menu Container */
.menu_body, .popupPanel, div.unsavedwork  {
  background-color: #F9F9F9;
  font-size: 100%;
  z-index: 2;
  padding: 1px 0px 1px 0px;
  white-space: nowrap;
  border: 1px #2C5A89 solid;
}

/* Individual Menu Items */
.menu_item, .menu_item_highlighted, .menu_item_disabled, .menu_header, 
.menu_header_highlighted, div.menu_item_find, div.menu_item_find_highlighted {
  font-weight: normal;
  color: #000000;
  padding: 3px 20px 3px 16px;
  cursor: pointer;
  position: relative;
}

.menu_item_highlighted, .menu_item_find_highlighted {
  background-color: #BFE6FE;
}

.menu_item_disabled {
  color: #A0A0A0;
}

.menu_item_link_arrow { /* Right arrow on expanding menu items */
  background: url("../images/menu-rtarrow-br.gif") no-repeat center;
  position: absolute;
  right: 5px;
  height: 9px;
  width: 5px;
}

.menu_item_link_checked { /* Checkmark to the left */
  background: url( "../images/menu-checked.gif" ) no-repeat center;
  position: absolute;
  left: -12px;
  height: 9px;
  width: 8px;
}

.menu_header, .menu_header_highlighted {
  font-weight: bold;
}

.menu_item_divider {
  height: 1px;
  width: 1px;
  background-color: #ABB3BC;
}

/* Menu items with search boxes */
div.menu_item_find, div.menu_item_find_highlighted {
  padding-top: 1px;
  padding-bottom: 1px;
}

.menu_item_find input, .menu_item_find_highlighted input {
  font-family: Courier New, monotype;
  font-size: 85%;
}

.menu_item_find td, .menu_item_find_highlighted td {
  white-space:nowrap;
}

.menu_body a,
.menu_menubutton a,
.menu_tab_on a, .menu_tab_off a {
  text-decoration: none;
}

.menu_body a, .menu_body a:hover,
.menu_menubutton a:hover {
  color: #000000;
}

/* Menu Variations*/

/* Menus on Help Logout Links */
.menu_tabbarlink .menu_body {
  margin-top: 2px; /* Offset between text link and menu */
  margin-left: -2px;
}

/* Menus on Tabs */
.menu_tab_off .menu_body, .menu_tab_on .menu_body {
  margin-top: -1px; /* Offset to get menus to line up with tabs */
  margin-left: -4px; /* Offset to get menus to line up with tabs */
}

.menu_tab_off .menu_body *, .menu_tab_on .menu_body * {
  margin-top: 0px; /* Cancel offset for submenus */
  margin-left: 0px; /* Cancel offset for submenus */
}

/* Menus on Buttons */
.menu_menubutton .menu_body, .popupPanel {
  margin-top: 1px; /* Offset between button and menu */
  border-color: #919AA4; /* Border matches button border color */
}

/* Menu with Multiple Columns */
.menu_column {
  display: -moz-groupbox;
  vertical-align: top;
}

* html .menu_column {
  display: inline-block;
}

* html .menu_column * {
  vertical-align: baseline;
}

.menu_group {
  padding-bottom: 5px;
}

/* Formatted Menu Panel */
.popupPanel {
  background-color: #FFFFFF;
  padding-right: 8px;
  margin-left: -5px;
}

/* Not sure what these are */
img.menu_item_link_tab_on, img.menu_item_link_tab_off,
img.menu_item_link_actionnav {
  position: absolute;
  right: 4px;
  margin-top: 3px;
}

span.menu_item_link_dv:hover {
  text-decoration: underline;
}

img.menu_item_link_dv {
  position: absolute;
  right: 2px;
  margin-top: 3px;
}

.menu_group .menu_group .menu_item_menubutton, .menu_group .menu_group .menu_item_menubutton_highlighted {
  display: inline;
  font-size:85%;
  padding-right: 3px;
}

img.menu_item_link_menubutton {
  position: absolute;
  right: 4px;
  margin-top: 3px;
}

/* Toolbar */

.toolbar, .toolbar_top, .toolbar_reflect {
  background: #E6E7E7 url("../images/toolbar_bgd.gif") repeat-x top;
  color: #000000;
  padding: 5px 6px 6px 6px;
  border-bottom: 1px #D4D4D4 solid;
  min-height: 16px;
}

.toolbarContents {
  white-space: nowrap;  
}

/* search item in toolbar: */
.toolbarContents DIV, .toolbarContents TABLE {
  display: inline;
}
.toolbarContents .menu_item_find {
  padding-left: 1px;
  padding-right: 1px;
}

* html .toolbar, * html .toolbar_top, * html .toolbar_reflect {
  height: 1%;
  padding: 4px 6px 3px 6px;
}

.toolbarDivider {
  background-color: #9A9A9A;
  display: inline;
  width: 1px;
  margin: 2px 4px 0px 2px;
}

.toolbar .inputLabel, .toolbar_top .inputLabel, .toolbar_reflect .inputLabel {
  position: relative;
  top: 2px;
}

.toolbar .inputValue, .toolbar_top .inputValue, .toolbar_reflect .inputValue {
  position: relative;
  top: 2px;
  padding-right: 2px;
}

.toolbar select, .toolbar_top select, .toolbar_reflect select {
  position: relative;
  top: -2px;
}

/* Buttons */

/* Standard Button Styles */
a.button, a.bigButton, a.miniButton, a.toolbar_menu_button, 
  a.button_hover, a.bigButton_hover, a.miniButton_hover, a.toolbar_menu_button_hover, 
  a.button_down, a.bigButton_down, a.miniButton_down, a.toolbar_menu_button_down {
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

/* Container & Text Style - Middle Area */
.button_link, .bigButton_link, miniButton_link, .menu_link_menubutton {
  background: url("../images/btn2_1px.gif") repeat-x;
  font-size: 92%;
  color: #000000;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: top;
  height: 22px;
  margin: 0px;
  padding: 2px 5px 6px 5px;
}

/* Background for HOVER state */
.button_hover .button_link, .button_down .button_link,
  .menu_menubutton_hover .button_link, .menu_menubutton_down .button_link,
  .toolbar_menu_button_hover .menu_link_menubutton, .toolbar_menu_button_down .menu_link_menubutton,
  span.button:hover .button_link, span.menu_menubutton:hover .button_link, 
  span.toolbar_menu_button:hover .menu_link_menubutton, 
  .bigButton_hover .bigButton_link, .bigButton:hover .bigButton_link {
  background-image: url("../images/btn2_1px_hover.gif");
}

/* Text style for DISABLED buttons */
.button_disabled, .button_disabled_hover, .button_disabled_down, .button_disabled *, .button_disabled_down *, .miniButton_disabled .miniButton_link, .bigButton_disabled *,
 .toolbar_menu_button_disabled, .toolbar_menu_button_disabled * {
  color: #A0A0A0;
  text-decoration: none;
  white-space: nowrap;
}

* html .toolbar_menu_button_disabled_hover *,
  * html .toolbar_menu_button_disabled_down * {
  cursor:text;
}

/* Button End Caps - Common Properties */
.button_left, .menu_menubutton_left, .bigButton_left, 
 .button_right, .menu_menubutton_right, .bigButton_right {
  vertical-align: top;
  height: 22px;
  width: 5px;
  margin: 0px;
  padding-left: 5px;
  padding-bottom: 6px;
}

/* Left Ends */
.button_left, .menu_menubutton_left, .bigButton_left {
  background: url("../images/btn2_left.gif") no-repeat top left;
}

.button_hover .button_left, .button_down .button_left, span.button:hover .button_left,
.toolbar_menu_button_hover .menu_menubutton_left, span.toolbar_menu_button:hover .menu_menubutton_left, 
.bigButton_hover .bigButton_left, .bigButton:hover .bigButton_left {
  background-image: url("../images/btn2_left_hover.gif");
}

/* Right Ends */
.button_right, .bigButton_right {
  background: url("../images/btn2_right.gif") top no-repeat;
  margin-right: 2px;
}

.button_hover .button_right, .button_down .button_right, span.button:hover .button_right,
.bigButton_hover .bigButton_right, .bigButton:hover .bigButton_right {
  background-image: url("../images/btn2_right_hover.gif");
}

/* Image on a Button */
.button_link img, .menu_menubutton img {
  vertical-align: text-bottom;
  height: 12px;
  margin-right: 3px;
}

/* Menu Button */
.menu_arrow_menubutton, .menu_arrow_menubutton_disabled {
  background: url("../images/btn2_right_menu.gif") no-repeat;
  vertical-align: top;
  position: relative;
  height: 22px;
  width: 19px;
  margin: 0;
  padding-left: 19px;
  padding-bottom: 6px;
}

.toolbar_menu_button_hover .menu_arrow_menubutton, span.toolbar_menu_button:hover .menu_arrow_menubutton {
  background-image: url("../images/btn2_right_menu_hover.gif");
}

/* Mini Buttons */
.miniButton_link {
  background: url("../images/mini_button_middle.gif") repeat-x top;
  font-size: 85%;
  color: #000000;
  text-decoration: none;
  vertical-align: top;
  height: 17px;
  padding: 1px;
  padding-bottom: 4px;
}

/* Mini Button End Caps */
.miniButton_left, .miniButton_right {
  vertical-align: top;
  height: 17px;
  width: 4px;
  padding: 1px 2px 0px 2px;
}

.miniButton_left {
  background: url("../images/mini_button_left.gif") no-repeat top;
}

.miniButton_right {
  background: url("../images/mini_button_right.gif") no-repeat top;
  margin-right: 2px;
}

a.miniButton {
  color:#3A6CA4; /* With no button wrapper, link needs conventional link style */
  text-decoration: underline;
}

span.miniButton {
  color: #A0A0A0; /* for disabled miniButton with no wrapper */
}

/* Value Helper (button-icons to the right of input fields) */
.valueHelper {
  margin-left: 2px;
}

/* Picker drop-down button */
.menu_dv {
  cursor: pointer;
}

/* Calendar icon */
.picker_icon {
  vertical-align: -1px;
}

/* Page Layout
----------------------------------------------- */
* html HTML {
  overflow: auto; /* Keeps IE from reserving space for vertical scrollbar (with body overflow: auto) */
}

.contentTable {
  height:100%;
  width:100%;
}

.contentPlusNav {
  height: 100%;
}

DIV.contentPlusNav {
  position:relative;
}

#mainTable {
  height: 100%; /* Lets content area and workspace scroll independently */
}

#topDivision.workspacePresent, * html #topDivision {
  overflow: auto;
  width:100%;
}

table {
  font-size: 100%; /* Gets around an IE quirk where nested tables make font sizes increase */
}

form {
  margin-bottom: 0px;  /* Prevents older versions of IE from inserting a default margin below form tags */
  height: 100%;
}

/* Workspace Area */
#workspaceDivision {
  padding-top: 5px;
  background: #FFFFFF url("../images/worksheet_splitter.gif") repeat-x top;
}

#workspaceContentPlusTabs {
  overflow: auto;
  height: 100%;
  background-color: #FFFFFF;
}

#workspaceContent .content {
  background-color: #FFFFFF;
  position: relative;
  left: 0px;
  top: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-right: 0px;
  border-top: 3px #0C76CC solid;
}

* html #workspaceContent .content {
  position: absolute; /* Adjustment for IE */
  margin-top: 28px; /* Adjustment for IE */
}

#workspaceContent .screentitle {
  font-size: 100%;
}

/* Header Area
----------------------------------------------- */
TD.page_header {
  background: #89B4D7 url("../images/header_bg.gif") no-repeat top left;
}

#logo {
  float: left;
}

* html #logo {
  margin-left: -3px;
}

/* Help Logout Links */

#helpLogoutLinks {
  font: 92%;
  color: #FFFFFF;
  text-align: right;
  height: 31px;
  padding: 6px 8px 5px 0px;
}

#helpLogoutLinks * {
  vertical-align: top;
}

#helpLogoutLinks a {
  color: #FFFFFF;
  text-decoration: none;
}

#helpLogoutLinks a:hover, .hover .menu_tabbarlink, .menu_tabbarlink:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

/* Help Logout Links with Drop-down Arrows*/

.menu_tabbarlink {
  cursor: pointer;
}

.menu_arrow_tabbarlink {
  width: 18px;
  padding-left: 18px;
  margin: 0px 2px 0px 0px;
  background: url("../images/arrow_helpLogoutLinks.gif") no-repeat center center;
}

/* Unsaved Work Link */

span.unsavedwork, span.unsavedwork_disabled {
  cursor: pointer;
}

* html span.unsavedwork, * html span.unsavedwork_disabled {
  position: relative;
  top: -3px;
}

span.unsavedwork .unsavedwork_left, span.unsavedwork_disabled .unsavedwork_left {
  background: url("../images/unsaved_left_on.gif") no-repeat top left;
  height: 20px;
  width: 20px;
  padding: 3px 0px 3px 20px;
}

span.unsavedwork_disabled .unsavedwork_left {
  background-image: url("../images/unsaved_left_off.gif");
}

.unsavedwork_right {
  background: url("../images/unsaved_right.gif") no-repeat top left;
  height: 20px;
  padding: 3px 0px 3px 15px;
}

.unsavedwork_link {
  background: url("../images/unsaved_middle.gif") repeat-x left top;
  color: #FFFFFF;
  text-decoration: none;
  height: 20px;
  padding: 3px;
}

a:hover .unsavedwork_link, .unsavedwork_link_hover {
  text-decoration: underline;
}

span.unsavedwork_disabled, span.unsavedwork_disabled .unsavedwork_link { /* disabled */
  color: #314A5F;
  text-decoration: none;
  cursor: default;
}

/* Unsaved Work Menu */

/* Overall title for unsaved work menu -- Hidden by default */
.unsavedwork DIV {
  display: none;
  background-color: #dddddd;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  padding: 5px;
}

div.unsavedwork {
  padding: 0px 0px 8px 0px;
}

.unsavedwork table {
  width: 100%;
}

.unsavedwork td {
  text-align: left;
  white-space: nowrap;
  padding: 3px 3px 3px 8px;
}

.unsavedwork td img {
  float: right;
}

/* Header row for each group */
tr.unsavedwork_g td { 
  background: url("../images/unsaved_item_header.gif") repeat-x top;
  height: 27px;
}

/* Title of each group */
TD.unsavedwork_g {
  font-weight: bold;
}

/* Title of each item */
td.unsavedwork { 
  background: url("../images/unsaved_item.gif") no-repeat left;
  padding-left: 20px;
  padding-bottom: 3px;
}

/* Divider between sections */
td.unsavedwork_divider img { 
  height: 3px;
}

/* QuickJump Box (Note: QuickJump Menu uses div.autocomplete styles) */

#QuickJump_container {
  float: right;
  margin-top: -1px;
  padding-right: 5px;
}

.navigator_field {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-left: 2px;
  border: 1px #2C5A89 solid;
}

#QuickJumpButton {
  display:none;
}

.quickjumpSuffix {
  font-style: italic;
}

/* Tabs */

/* Tab Area */
#topdivision .modetabs { /* For main screen  */
  background: url("../images/modetabs_bgd.gif") bottom repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 30px;
  padding: 3px 0px 0px 3px;
  white-space: nowrap;
} 

#workspaceModetabs { /* For workspace  */
  height: 20px;
  overflow: hidden;
  z-index: 10;
  padding-top: 10px;
  padding-left: 2px;
}

* html #workspaceModetabs {
  height: 31px;
  padding-top: 3px;
}

/* Containers for Individual Tabs (main screen and workspace)  */
.modetabs .on, .modetabs .off, .modetabs .on_hover, .modetabs .off_hover,
.modetabs .won, .modetabs .woff, .modetabs .won_hover, .modetabs .woff_hover  {
  background-repeat: repeat-x;
  font-weight: bold;
  text-decoration: none;
  float: left;
  height: 30px;
}

.tab_left_on, .tab_left_off, .tab_left_won, .tab_left_woff {
  background-repeat: no-repeat;
  background-position: left top;
  padding-bottom: 30px;
  margin-left: -1px; /* Butts the tabs up next to each other */
}

.tab_right_on, .tab_right_off, .tab_right_won, .tab_right_woff {
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 30px;
}

* html .tab_left_on, * html .tab_left_off, * html .tab_left_won, * html .tab_left_woff,
* html .tab_right_on, * html .tab_right_off, * html .tab_right_won, * html .tab_right_woff {
  padding-bottom: 10px;
}

/* Tab Backgrounds */
.modetabs .on, .modetabs .on_hover, .modetabs .won, .modetabs .won_hover  {
  background-image: url("../images/tabOn_1px.gif");
}

.modetabs .off, .modetabs .woff {
  background-image: url("../images/tabOff_1px.gif");
}

.modetabs .off_hover, .modetabs div.off:hover, .modetabs .woff_hover, .modetabs div.woff:hover  {
  background-image: url("../images/tabOff_1px_hover.gif");
}

.modetabs .disabled, .modetabs .disabled_hover {
  background-image: url("../images/tabDS_1px.gif"); /* Hover not working in FF */
  cursor:default;
}

.modetabs .disabled *, .modetabs .disabled_hover * {
  background-image: none; /* Prevents disabled BG style from being applied twice */
}

.tab_left_on, .tab_left_won {
  background-image: url("../images/tabOn_left.gif");
}

.tab_right_on, .tab_right_won {
  background-image: url("../images/tabOn_right.gif");
}

.tab_left_off, .tab_left_woff {
  background-image: url("../images/tabOff_left.gif");
}

.tab_right_off, .tab_right_woff {
  background-image: url("../images/tabOff_right.gif");
}

.off_hover .tab_left_off, div.off:hover .tab_left_off,
.woff_hover .tab_left_woff, .woff:hover .tab_left_woff {
  background-image: url("../images/tabOff_left_hover.gif");
}

.off_hover .tab_right_off, div.off:hover .tab_right_off,
.woff_hover .tab_right_woff, div.woff:hover .tab_right_woff {
  background-image: url("../images/tabOff_right_hover.gif");
}

.modetabs .disabled .tab_left_off, .modetabs .disabled_hover .tab_left_off {
  background-image: url("../images/tabDS_left.gif"); /* Not working in FF -- getting overridden by "off" hover style */
}

.modetabs .disabled .tab_right_off, .modetabs .disabled_hover .tab_right_off {
  background-image: url("../images/tabDS_right.gif"); /* Not working in FF -- getting overridden by "off" hover style */
}

/* Tab Drop-down Arrows */
a .menu_arrow_tab_on, a .menu_arrow_tab_off {
  background-repeat: no-repeat;
  background-position: center right;
  height: 14px;
  width: 16px;
  margin-left: 7px; /* Space between text and drop-down arrow */
  padding-left: 16px; /* Hack: Creates enough width in FF (Can't set width on span) */
  cursor: pointer;
}

.menu_arrow_tab_off {
  background-image: url("../images/menu-arrow-down.gif");
}

.menu_arrow_tab_on {
  background-image: url("../images/menu-arrow-down-on.gif");
}

/* Tab Content Area */
.tab_middle_off, .tab_middle_on, .wtab_link {
  position: relative;
  top: 4px; /* Offset between top of tab and text  */
  padding-left: 5px; /* Offset between left edge of tab and text  */
  padding-right: 5px; /* Offset between text and right edge of tab  */
  cursor: pointer;
}

/* Tab text style: ON (including ON plus hover) */
.modetabs .on, .modetabs .on_hover, .modetabs .won, .modetabs .won_hover,
  .modetabs .on a, .modetabs .on_hover a, .modetabs .won a, .modetabs .won_hover a  {
  color: #FFFFFF;
}

/* Tab text style: OFF (including tabs that contain internal links) */
.modetabs .off, .modetabs .woff, .modetabs .off *,
  .modetabs .woff a, .wtab_link a {
  color: #304B69;
}

/* Tab text style: HOVER*/
.modetabs .off_hover .menu_tab_off, .modetabs .off:hover .menu_tab_off,
.modetabs .off_hover .menu_tab_off a, .modetabs .off:hover .menu_tab_off a {
  color: #304B69;
  text-decoration: underline;
}

.modetabs .off_hover span.menu_link_tab_off, .modetabs .on_hover span.menu_link_tab_on {
  text-decoration: underline;
}

/* Tab text style: DISABLED (including disabled plus hover) */
.modetabs .disabled span, .modetabs .disabled_hover span {
  cursor:default;
  color: #A0A0A0;
}

/* Text adjustments for worksheet tabs */
.wtab_link {
  font-size: 92%;
  top: 2px;
}

/* Overflow tab */
.modetabs #tab_more {
  background: url("../images/more_tab.gif") repeat-x;
  float: left;
  height: 24px;
  width: 25px;
  margin-left: -1px;
}

.modetabs #tab_more * {
  background-image: none;
}

.modetabs .tab_more_hover, div#tab_more:hover {
  background-image: url("../images/more_tab_hover.gif") ! important;
}

/* Infobar */

.infobar_area {
  background: #DAD8D8 url( "../images/infobar_bgd.gif") repeat-x; top;
  border-bottom: 1px #34699B solid;
}

.infobar {
  font-size: 85%;
  text-align: left;
  padding: 5px 7px 5px 7px;
}

a.infobar_elem {
  text-decoration: none;
}

a.infobar_elem:hover {
  text-decoration: underline;
}

span.infobar_elem_link img {
  margin: 2px 2px 0px 0px;
  vertical-align: top;
}

.infobar_elem_val {
  font-weight: bold;
}

/* Left Nav
----------------------------------------------- */
#leftnav {
  width: 175px;
  height:100%;
  background-color: #EAEAEA;
  padding-right:3px;
  padding-bottom:5px;
  border-right:1px solid #919AA4;
  height:100%;
  position:absolute;
  overflow-x:hidden;
}

.leftnavtree {
  width: 100%;
  overflow: auto;
  float: left;
}

/* Action Button */

#actionnav {
  white-space: nowrap;
  height: 27px;
  padding: 5px 0px 0px 4px;
}

.actionnav_btn, .actionnav_btn_hover,
span.actionnav_btn:hover, .actionnav_btn_down {
  background-image: url("../images/actionButton_middle.gif");
  cursor: pointer;
  display:block;
}

.actionnav_btn_hover, span.actionnav_btn:hover,
.actionnav_btn_down  {
  background-image: url("../images/actionButton_middle_hover.gif");
}

.actionnav_btn .menu_menubutton, .actionnav_btn_hover .menu_menubutton,
span.actionnav_btn:hover .menu_menubutton, .actionnav_btn_down .menu_menubutton {
  width: 100%;
  text-align: center;
  overflow-x:hidden;
}

.actionnav_btn .menu_link_menubutton, .actionnav_btn_hover .menu_link_menubutton, 
span.actionnav_btn:hover .menu_link_menubutton, .actionnav_btn_down .menu_link_menubutton {
  background-image: none;
  height: 27px;
  padding: 2px 49px 16px 49px;
  width:100%;
}

* html .actionnav_btn .menu_link_menubutton, * html .actionnav_btn_hover .menu_link_menubutton, 
* html span.actionnav_btn:hover .menu_link_menubutton, * html .actionnav_btn_down .menu_link_menubutton {
  padding: 5px 18px 6px 10px;
}

* html .actionnav_btn_hover .menu_menubutton *, * html .actionnav_btn_down .menu_menubutton * {
  padding-bottom: 0px;
  margin: 0px;
}

.actionnav_btn .menu_menubutton_left, .actionnav_btn_hover .menu_menubutton_left, span.actionnav_btn:hover .menu_menubutton_left, .actionnav_btn_down .menu_menubutton_left {
  background-image: url("../images/actionButton_left.gif");
  height: 27px; /* Action button is taller than standard buttons */
  padding-bottom: 11px; /* For FF */
  position:absolute;
}

.actionnav_btn_hover .menu_menubutton_left, span.actionnav_btn:hover .menu_menubutton_left, 
.actionnav_btn_down .menu_menubutton_left {
  background-image: url("../images/actionButton_left_hover.gif");
}

.actionnav_btn .menu_arrow_menubutton, .actionnav_btn_hover .menu_arrow_menubutton, 
span.actionnav_btn:hover .menu_arrow_menubutton, .actionnav_btn_down .menu_arrow_menubutton {
  background: url("../images/actionButton_right.gif") no-repeat right top;
  height: 27px; /* Action button is taller than standard buttons */
  width: 18px; /* Wider than standard button, to allow for arrow */
  padding-bottom: 16px; /* For FF */
  cursor: pointer;
  position:absolute;
  right:0px;
}

.actionnav_btn .menu_menubutton_right, .actionnav_btn_hover .menu_menubutton_right,
span.actionnav_btn:hover .menu_menubutton_right, .actionnav_btn_down .menu_menubutton_right {
  display:none;
}

* html .actionnav_btn .menu_arrow_menubutton {
  padding-bottom: 0px; /* Dial out padding for IE */
}

.actionnav_btn_hover .menu_arrow_menubutton, span.actionnav_btn:hover .menu_arrow_menubutton,
.actionnav_btn_down .menu_arrow_menubutton {
  background-image: url("../images/actionButton_right_hover.gif");
}

/* Menus on Left Nav */

.leftnavmenu, .acceleratedmenuactions, .embeddedwizard { 
  background-color: #FFFFFF;
  clear: left;
  margin: 5px 0 0 4px;
  width: 100%;
  border: 1px #919AA4 solid;
  overflow:hidden;
}

/* Title bars */
.leftnavmenu .titlebar, .acceleratedmenuactions .titlebar, 
  .embeddedwizard .titlebar, .embeddedwizard .titlebar_closed, 
  .embeddedwizard .wizardTitle {
  border-width: 0px 0px 1px 0px; /* Since menu has its own border, titlebar needs bottom border only */
}

.leftnav .titlebar_closed, .acceleratedmenuactions .titlebar_closed  {
  border-width: 0px; /* When menu is closed, titlebar has no additional border */
}

/* Individual Items */
.leftnavmenu div.off, .leftnavmenu div.on, .leftnavmenu div.disabled, 
.leftnavmenu div.off_hover, .leftnavmenu div.on_hover, .leftnavmenu div.disabled_hover,
.acceleratedmenuactions a.off div, .acceleratedmenuactions a.on div, 
.acceleratedmenuactions a.disabled div {
  border-bottom: 1px #FFFFFF solid;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

/* Left Nav Hover State */
.leftnavmenu a:hover div, .acceleratedmenuactions a:hover div {
  text-decoration: underline;
  color: #000000;
  background-color: #BFE6FE;
  border-color: #BFE6FE;
}

/* Left Nav - Selected Item */
.leftnavmenu a.on div, .leftnavmenu a.on_hover div, .leftnavmenu a.on:hover div, 
.acceleratedmenuactions a.on div, .acceleratedmenuactions a.on_hover div {
  background: #036EC4 url("../images/leftNav_select.gif") repeat-x top;
  color: #FFFFFF;
  border-color: #0E4877;
}

/* Left Nav Text Styles */
#leftnav a {
  color: #000000;
  text-decoration: none;
}

.leftnav .disabled, .leftnav .disabled *, 
.leftnav .disabled_hover, .leftnav .disabled_hover * {
  color: #A0A0A0; 
}

/* Other Left Nav Menu Elements */
.leftnavdivider {
  line-height: 1px;
  width: 100%;
  background-color: #B7C0CB;
}

/* Toolbar in left nav menus (for date picker, etc.) */
.acceleratedmenuactions .linkContainer {
  background: #D3D3D3 url("../images/menulinkarg_bgd.gif") repeat-x top;
  display: block;
  border: 0px;
  padding: 4px 3px 3px 4px;
}

.acceleratedmenuactions .linkContainer * {
  vertical-align: middle;
}

.acceleratedmenuactions .linkContainer select {
  font-size: 92%;
  width: 96%;
  text-align:center;
}

/* Wizard Left Nav */

.wizardleftnavmenu {
  clear: left;
  margin: 5px 0 0 4px;
  width: 100%;
  overflow:hidden;
}

.wizardTitle {
  margin-bottom: 6px; /* Separation between title area and first wizard item */
}

.wizardSubTitle {
  font-size: 92%;
  color: #304B69;
  font-weight: normal;
  margin: 2px 4px 2px 0px;
}

.embeddedwizard {
  background-color: #F0F0F0;
  padding-bottom: 6px; /* Padding below the steps */
}

/* Individual Wizard Steps */

.wizardleftnavmenu #leftnavmenu div * {
  background-image: none;
  padding: 0px;
}

.wizardleftnavmenu #leftnavmenu div.on, .wizardleftnavmenu #leftnavmenu div.on_hover, 
.wizardleftnavmenu #leftnavmenu div.off, .wizardleftnavmenu #leftnavmenu div.off_hover, 
.wizardleftnavmenu #leftnavmenu div.disabled, .wizardleftnavmenu #leftnavmenu div.disabled_hover {
  background: url("../images/wizard_off.gif") repeat-y left;
  min-height: 10px;
  padding: 4px 4px 4px 16px;
  margin-left: 2px; /* Padding to left of wizard step graphic */
}

.wizardleftnavmenu #leftnavmenu div.active {
  background: url("../images/wizard_on.gif") no-repeat top left;
}

/* Wizard steps -- text styles */

.wizardleftnavmenu a, .wizardleftnavmenu a * {
  color: #3A6CA4;
  text-decoration: underline;
}

.wizardleftnavmenu a.on div.on, .wizardleftnavmenu .on_hover {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.wizardleftnavmenu .on_hover {
  text-decoration: underline;
}

/* Content Area
----------------------------------------------- */
/* Screen Title Area */

.screentitle {
  background: #C5DFF8 url("../images/pagetitle_bgd.gif") repeat-x top;
  font-weight: bold;
  font-size: 116%;
  color: #304B69;
  vertical-align: middle;
  width: 100%;
  margin-top: 0px;
  padding: 2px 6px 4px 6px;
  border: 1px #5CA3D7 solid;
}

.screentitle IMG {
  vertical-align: middle;
  margin-right: 3px;
}

/* "Return to [X]" link on popups and drill-down pages */
#breadcrumb {
  font-size: 85%;
  font-weight: normal;
  padding-left: 5px;
}

/* Drilldown Controls (Next/Previous) */
.drilldownControls {
  display: inline;
  float: right;
}

.titlebarIcon {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0px 2px 0px 2px;
  padding: 0px 10px 2px 10px;
}

* html .titlebarIcon {
  padding: 0px 4px 0px 4px;
}

.drilldownPrevOn {
  background: url("../images/prev_on.gif") no-repeat;
  cursor: pointer;
}

.drilldownPrevOff {
  background-image:url("../images/prev_off.gif");
}

.drilldownNextOn {
  background-image:url("../images/next_on.gif");
  cursor: pointer;
}

.drilldownNextOff {
  background-image:url("../images/next_off.gif");
}

.drilldownParent {
  background-image:url("../images/parent.gif");
  cursor: pointer;
}

.drilldownParentOff {
  background-image:url("../images/parent_off.gif");
}

.drilldownChild {
  background-image:url("../images/child.gif");
  cursor: pointer;
}

.drilldownChildOff {
  background-image:url("../images/child_off.gif");
}

/* Third-Level Nav */

.thirdLevelNav {
  margin-left: -3px;
}

.thirdLevelNavDivider {
  background: url("../images/separator_dark.gif") no-repeat;
  width: 7px;
}

/* Third-Level Nav Items */
td.thirdLevelNavLink, td.thirdLevelNavLink_on {
  font-size: 80%;
  padding: 1px 4px 1px 4px;
}

a.thirdLevelNavLink_on {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

a.thirdLevelNavLink {
  text-decoration: none;
}

a:hover.thirdLevelNavLink, a:hover.thirdLevelNavLink_on {
  text-decoration: underline;
}

.thirdLevelNavSelect {
  margin-left: 15px;
}

/* Fourth-level nav */
.thirdLevelNav_vBar {
  text-align: center;
}

.thirdLevelNav_vBar img {
  background-color: #6C8396;
  height: 8px;
  width: 1px;
}

.fourthLevelNav_tBorder, .fourthLevelNavDivider { 
  border-top: 1px #6C8396 solid;
}

.fourthLevelNav_rBorder { 
  height: 8px; 
  border-right: 1px #6C8396 solid; 
}

.fourthLevelNavDivider { 
  width: 20px;
}

/* Content Area */
.contentPlusNav .content {
  margin: 2px 2px 0 177px;
  height:100%;
}

.content {
  border-collapse: collapse;
}

/* Panel Layout */

.panelRowContainer {
  margin-top:5px;
  margin-bottom:5px;
}

.panelborder {
  border-collapse: collapse;
  border-left: 1px solid #DFE9F6;
  border-right: 1px solid #DFE9F6;
  border-bottom: 1px solid #DFE9F6;
}

.panelColumn {
  vertical-align: top;
  padding: 0px 5px 0px 3px;
}

.panelColumn table {
  margin-top:0;
}

.panelColumnBorder {
  border-left: 1 solid #94B6D1;
}

.panelColumnSpacer {
  min-height: 1px;
  padding-bottom: 2px;
}

.paneldivider {
  border-top: 1px solid #94B6D1;
  margin: 1px;
}

/* List Views
----------------------------------------------- */
/* Standard LV */
.lv {
  width: 100%;
  margin-top: 1px;
  border-collapse: collapse;
}

td.lv-cell-value {
  white-space:nowrap;
}

td.lv-cell, td.lv_error, td.lv-cell-value, td.lv_error {
  padding: 2px;
}

/*prevent content to be cut off:*/
td.lv-cell .dv {
  white-space: normal;
}

td.first-cell {
  border-left: 1px solid #DEE2E7;
}

.row1 td.lv-cell, .row1 td.lv-cell-value {
  background-color: #FFFFFF;
  border-bottom: 1px #AFD2EF solid;
  border-right: 1px #D2DFEA solid;
}

.row2 td.lv-cell, .row2 td.lv-cell-value {
  background-color: #E6F3FF;
  border-bottom: 1px #AFD2EF solid;
  border-right: 1px #D2DFEA solid;
}

.rowhighlighted td.lv-cell, .rowhighlighted td.lv-cell-value {
  background-color: #FFFFC3;
  border-bottom: 1px #AFD2EF solid;
  border-right: 1px #D2DFEA solid;
  color: #000000 !important;
}

td.lvtitle {
  background: #D5D7D9 url("../images/subtitle_bg.gif") repeat-x top;
  color: #304B69;
  font-weight: bold;
  padding: 3px;
  border: 1px #999A9A solid;
}

td.lvsubhead {
  background-color: #BDD6EA;
  padding: 2px;
  border: 1px #9BB0CB solid;
}

td.lvhead {
  background-color: #E2E2E2;
  font-size: 92%;
  color: #5C7794;
  padding: 3px 3px 2px 3px;
  border: 1px #C1C1B4 solid;
}

td.lvhead a, td.lvhead a.underlined {
  color: #5C7794;
}

td.lvhead a:hover, td.lvhead a:hover.underlined, td.lvhead a.underlined_hover {
  color: #3A5476;
}

td.lvhead .lvhead_controls {
  margin-top: 3px;
}

td.lvfooter, .row1 td.lvfooter, .row2 td.lvfooter {
  font-weight: bold;
  background-color: #EAEAEA;
  border: 1px #BBBBBB solid;
}

/*link to update footer value*/
td.lvfooter a {
  font-weight:normal;
}

td.lvfooter-border-top {
  border-top: 1px solid #C7C7C7;
}

td.lv-bold, td.lv-bold_error {
  font-weight: bold;
}

td.lv-spacer {
  height:5px;
}

td.empty-cell {
  width:1px;
  padding:0;
}

/* ??? Not sure what these are ??? */
.lvgrid {
  vertical-align: top;
  padding: 5px 0px 5px 0px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #94B6D1;
  border-left: 5px solid #FFFFFF;
  border-right: 10px solid #FFFFFF;
}

.lvgrid_inner {
  padding:5px;
}

/* Pagination */

TD.paging {
  text-align:right;
  padding-right: 6px;
  font-size: 92%;
  color: #666666;
  white-space:nowrap;
}

.paging select {
  top: 0px;
  vertical-align: middle;
}

/* Editable LV */
.requiredcolumnindicator {
  color: @required.field@;
  font-weight: bold;
  padding-right: 1px;
  position: relative;
  top: 2px;
}

/*Formatted LV*/
.lv .dvcolumn {
  width: auto;
}
.lv .dvColumnBorder {
  margin-left: 20px;
}
.lv .dvcolumn tr td, .lv .dvheaderfooter tr td {
  border: none;
}

/* Empty LV */
.emptylv * {
  background-color: #f8f8f8 !important;
  background-image:none !important;
  color: #d8d8d8 !important;
  border-color: #eeeeee !important;
}
.emptylv img {
  display: none;
}

/* List-Detail Panel */

.selectable_hover td.lv-cell, .selectable_hover td.lv-cell-value,
tr.selectable:hover td.lv-cell, tr.selectable:hover td.lv-cell-value {
  background-color:#BFE6FE;
  cursor:pointer;
}

.rowselected td.lv-cell, .rowselected td.lv-cell-value,
.rowselected_hover td.lv-cell, .rowselected_hover td.lv-cell-value {
  background-color: #2C85CD;
  color: #FFFFFF !important;
}

.rowselected a, .rowselected a:hover {
  color: #ffffff;
}

/* List Detail Panel */

.listDetailPanel .lv {
  background-color: #ffffff;
}

.selectable_hover td.lv-cell, .selectable_hover td.lv-cell-value,
tr.selectable:hover td.lv-cell, tr.selectable:hover td.lv-cell-value {
  background-color: #BFE6FE;
  cursor: pointer;
}

.rowselected td.lv-cell, .rowselected td.lv-cell-value,
.rowselected_hover td.lv-cell, .rowselected_hover td.lv-cell-value {
  background-color: #2C85CD;
  color: #FFFFFF;
}

.rowselected .menu_menubutton a {
  color: #000000;
}

.ldpDetailPanel {
  background: url("../images/listdetaildivider.gif") repeat-x top;
  margin-top: -1px;
  padding: 8px 3px 3px 3px;
  border: 1px #B2B2B2 solid;
  border-top: 0px;
}

* html .ldpDetailPanel {
  padding-top: 3px;
}

.ldpDetailPanel .cardTab_bg {
  position: relative;
  top: 1px;
  height: 22px;
  margin: 0px 6px 0px 2px;
  padding-top: 6px;
}

.ldpDetailPanel .cardviewContent {
  background-color: white;
  border: 1px #B9CAE0 solid;
  padding-top: 6px;
  width: 100%
}

.selectable_hover .listDetailPanelSelectIcon, tr.selectable:hover .listDetailPanelSelectIcon {
}

.listDetailPanelSelectIcon {
  height: 15px;
  width: 15px;
  padding-left: 15px;
  background-image:url("../images/listdetail_noselect.gif");
  background-repeat:no-repeat;
  background-position:center center;
  cursor:pointer;
}

.listDetailPanelSelectedIcon {
  height: 15px;
  width: 15px;
  padding-left: 15px;
  background-image:url("../images/listdetail_select.gif");
  background-repeat:no-repeat;
  background-position:center center;
}

/* List Tree View, Tree Table */
.rowtree_collapse, .rowtree_expand {
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: -1px;
}

/* Financials Summary Tables */
tr.FinancialsTopLevelBackground td {
  background: #D5D7D9 url("../images/subtitle_bg.gif") repeat-x top;
  color: #304B69;
  font-weight: bold;
  padding: 3px;
  border: 1px #999A9A solid;
}

tr.FinancialsMidLevelBackground td {
  background-color: #E6F3FF;
  border-bottom: 1px #AFD2EF solid;
  border-right: 1px #D2DFEA solid;
}

tr.FinancialsLeafLevelBackground td {
  background-color: #FFFFFF;
  border-bottom: 1px #AFD2EF solid;
  border-right: 1px #D2DFEA solid;
}

tr.FinancialsWrapperBackground {
  font-size: 2%; /* Trying to mimic td.lv-spacer */
}

/* Detail View Layout
----------------------------------------------- */
.dv {
  background-color: transparent;
  border-collapse: collapse;
  white-space: nowrap;
  margin: 6px 0px 6px 0px;
}

* html .dv_bottom {
  height: 5px;
}

td.dv_error_icon {
  padding-left: 2px;
  padding-top: 5px;
  padding-right: 0px;
}

.dv .dvHeaderFooter {
  width: 100%;
}

.dv .dvHeaderFooter tr td.inputValue {
  width: 100%;
}

.inputdivider {
  height: 14px;
  background-image: url("../images/divider2_bgd.gif");
  background-repeat: repeat-x;
}

/* Panel when displayed in columns */
.dvColumn, .dvHeaderFooter {
  vertical-align: top;
  display: table-cell;
  border-collapse: collapse;
  padding: 0px 7px 0px 7px;
}

* html .dvColumn, * html .dvHeaderFooter {
  display: inline; /* Fix for IE */
}

/* Panel columns 2 through N (with border on left) */
.dvColumnBorder {
  border-left: 1 solid #94B6D1;
  margin-left: 5px;
}

.dvColumnBorder tr td {
  padding-left: 3px;
}

/* Inline Detail Views (Panels) */
table.inlinePanel {
  background-color: #fdf7dc;
  vertical-align: top;
  display: -moz-groupbox;
  margin: 5px;
  border:1px solid #AAB7C2;
}

* html table.inlinePanel {
  display: inline;
}

td.inlinePanel {
  padding: 5px;
  padding-left: 12px;
}

table.inlinePanel .dv_bottom {
  display: none;
}

table.inlinePanel * {
  background-color: transparent !important;
}

td.inlinePanel table tr td {
  white-space: nowrap;
}

table.inlinePanel .dvColumnBorder, table.inlinePanel .lv td {
  border: 0px;
}

/* LV embedded in a DV */
td.dvEmbeddedPanel {
  padding: 2px 3px 2px 3px;
}

/* Input Groups */
.grp_lbl {
  font-weight:bold;
  padding-right: 11px;
}

.input_grp_unchecked .grp_lbl { /* Can be used to gray out unselected items */
  /* color: #A0A0A0; */
}

.input_grp_unchecked td.inputValue * {
  display: none; /*hide input widget when the group is unchecked*/
}

.grp_lbl span {
  vertical-align: top;
  padding-left: 2px;
}

.input_grp .inputLabel, .input_grp .inputLabel_bold, .input_grp .leftValue,
.input_grp_unchecked .inputLabel, .input_grp_unchecked .inputLabel_bold, .input_grp_unchecked .leftValue {
  padding-left: 30px !important;
}

/* Form Elements: Input/Value Fields
----------------------------------------------- */

/* Input Label */
.dv .inputLabel, .dv .inputLabel_bold,
.dv_search .inputLabel, .dv_search .inputLabel_bold{
  vertical-align: top;
  padding: 2px auto 5px 1px;
  padding-right: 11px; /* Leaves room for Required marker*/
  line-height: 14px;
  padding-bottom:5px;
}

/* default width for input label: */
.dv .inputLabel *, .dv .inputLabel_bold * {
/*  width: 180px; */
}

.inputLabel_bold {
  font-weight: bold;
}

.dv .inputLabel_bold {
  color: #304B69;
}

.inputContent { /* Value field in read mode */
  vertical-align: top;
}

.inputValue { /* Value field in edit mode */
  vertical-align: top;
  padding: 0px 1px 2px 2px;
  white-space:nowrap;
}

/*option icon for checkbox group*/
IMG.valueIcon {
  margin-right:3px;
  vertical-align:middle;
}

.boldValue {
  font-weight: bold; 
}

/* Error states for input fields */
td.lv_er, td.lv-bold_error, .rowErrant, input.checkBox_error, input.radioButton_error, input.stretch_error, textarea.textArea_error, td.textArea_error, select.select_error, input.textBox_error {
  background-color: #FEF2A6;
}

.templateComponent { /* Separates multiple inputs */
  margin-right: 3px; 
}

.altVal { /* alternative value as foot note*/
  font-size: 85%;
  display:block;
  white-space:nowrap;
}

/* Required Field Indicator */
.required .inputLabel, .required .inputLabel_bold, .input_grp .required .grp_lbl {
  background: url("../images/required.gif") no-repeat top right;
}

.required .inputValue input.select, .required .inputValue input.textBox, .required .inputValue select, .required .inputValue textarea,
.required .inputValue .encryptedValue {
  /* Can use this to set a different background color on required fields */
}

/* readonly multi-select box; allow scrolling */
SPAN.select {
  overflow-y:auto;
  padding-right:20px;
}

.required .inputContent .inputLabel, .required .inputContent .inputLabel_bold {
  background-image: none;
}

.required .inputContent .required .inputLabel, .required .inputContent .required .inputLabel_bold {
  background-image: url("../images/required.gif");
}

/* Input Widgets */

input, textarea, select, textarea.textArea_readOnly {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;
}

input, textarea {
  padding-left: 3px;
}

.encryptedValue {
  color:#7b9eBD;
}

.encryptedValue_disabled {
  color:#999;
}

input.textBox_disabled,
textarea.textArea_disabled, input.checkBox_disabled  {
  background-color: #F0F0F0;
}

textarea.textArea_readOnly {
  background-color: transparent;
  overflow: auto;
  border: 0px;
  padding: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

input.radio {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.radioButtonText_disabled {
  color: #A0A0A0;
}

.deactivated_typekey, option.invalid {
  color: #999999;
}

.requiredfieldindicator {
  vertical-align: top;
  padding-top: 1px;
  padding-right: 2px;
}

.textBox {
  border: 1px #7F9DB9 solid;
}

/* ??? */
select.on {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 108%;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #47637E;
}

select.off {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 108%;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #938F7B;
}

.error {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #CC0000;
  font-weight: normal;
}

/*Shuttle Widget*/
.select_left, .select_right {
  vertical-align: middle;
}

.shuttleButtons {
  display: -moz-groupbox;
  vertical-align: middle;
  text-align: center;
}

* html .shuttleButtons {
  display: inline-block;
}

.shuttleButtons_left, .shuttleButtons_right {
  margin: 2px;
}

.shuttleButtons .button, .shuttleButtons .button_hover {
  cursor: pointer;
}

.shuttleButtons .button_disabled, .shuttleButtons .button_disabled_hover {
  cursor: default;
}

/* Widgets & Reusable Elements
----------------------------------------------- */

/* Card Tabs */
.cardTab_bg {
  background: url("../images/cardRow_bgd.gif") repeat-x bottom;
  height: 22px;
  margin-bottom: 8px;
  padding: 6px 0px 0px 1px;
}

.innerCardTab_bg { /* CompoundScreen sub tabs */
}

.cardTab, .cardTab_hover, div.cardTab:hover {
  background: url( "../images/cardTabOff_1px.gif" ) repeat-x;
  display: inline;
  height: 28px;
  margin: 0px 1px 0px 1px;
  padding: 6px 0px 6px 0px;
}

* html .cardTab, .cardTab_hover {
  padding:0px;
}

.cardTab_hover, div.cardTab:hover {
  background-image: url( "../images/cardTabOff_1px.gif" );
}

div.cardTab_on_hover span, div.cardTab:hover span {
  text-decoration: underline;
}

.cardTab_left, .cardTab_right {
  background-repeat: no-repeat;
  background-position: bottom;
  width: 8px;
  height: 28px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-top: 5px;
}

.cardTab .cardTab_left, .cardTab_hover .cardTab_left, div.cardTab:hover .cardTab_left {
  background-image: url( "../images/cardTabOff_left.gif" );
}

.cardTab .cardTab_right, .cardTab_hover .cardTab_right, div.cardTab:hover .cardTab_right {
  background-image: url( "../images/cardTabOff_right.gif" );
}

.cardTab_on .cardTab_left, .cardTab_on_hover .cardTab_left, div.cardTab_on:hover .cardTab_left {
  background-image: url( "../images/cardTabOn_left.gif" );
}

.cardTab_on .cardTab_right, .cardTab_on_hover .cardTab_right, div.cardTab_on:hover .cardTab_right {
  background-image: url( "../images/cardTabOn_right.gif" );
}

.cardTab_on, .cardTab_on_hover, div.cardTab_on:hover {
  font-weight: bold;
  color: #666666;
  background: url( "../images/cardTabOn_1px.gif" ) repeat-x bottom;
  display: inline;
  height: 28px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
}

* html .cardTab_link {
  height: 28px;
  padding-top: 7px;
}

/* Bar Widget */
.normalBar, .highBar, .mediumBar, .lowBar {
  width: 40px;
  display: -moz-inline-block;
  border: 1px solid #666666;
}

* html .normalBar, * html .highBar, * html .mediumBar, * html .lowBar {
  display: inline;
}

.normalBar img, .highBar img, .mediumBar img, .lowBar img {
  height: 6px;
}

.normalBar div {
  background-color: #4050B0 !important;
}

.highBar div {
  background-color: green;
}

.mediumBar div {
  background-color: #ffe400;
}

.lowBar div {
  background-color: red;
}

/* AJAX Progress Widgets */
.inProgressIcon {
  background: url("../images/wait.gif") no-repeat center center;
  height: 16px;
  width: 16px;
  padding-left: 16px;
}

.row2 .inProgressIcon {
  background-image:url("../images/alt-wait.gif");
}

.rowhighlighted .inProgressIcon {
  background-image:url("../images/highlight-wait.gif");
}

.rowselected .inProgressIcon {
  background-image:url("../images/selected-wait.gif");
}

.selectable_hover .inProgressIcon, tr.selectable:hover .inProgressIcon {
  background-image:url("../images/select-hover-wait.gif");
}

.inProgressMsg {}

.progressBar {
  background: #EAEAEA url("../images/progress_notdone.png") repeat-x left center;
  text-align: left;
  width: 200px;
  height: 15px;
  border: 1px solid #555555;
}

.progressCompleted {
  background: #53EA4F url("../images/progress_done.gif") repeat-x left center;
  height: 15px;
}

* html .progress_notdone {
  margin-left: 0px;
}

/* Autocomplete DHTML Widget */
div.autocomplete {
  background-color: #F9F9F9;
  border: 1px solid #2C5A89;
}

.autocompleteEven, .autocompleteOdd, .autocompleteSelected {
  padding-top: 1px;
  padding-bottom: 1px;
  cursor: default;
}

div.autocompleteSelected {
  background-color: #B1CFF6;
}

.multiselectAutocompleteList select {
  margin-right: 5px;
}

.multiselectAutocompleteList .button_link, .multiselectAutocompleteList .button_left,
  .multiselectAutocompleteList .button_right  {
  vertical-align: middle;
}


/* ??? Need to revisit calendar widget section ??? */
/* Calendar widget */

div.calendarMain {
  background-color: #F9F9F9;
  position: absolute;
  z-index: 20;
  border: 1px solid #2C5A89;
}

div.calendarMain * {
  font-size: 100%;
}

.calendarTitle {
  font-weight: bold;
  padding-left: 2px;
}

input.calendarTextField {
  height: 20px;
  border: 1 solid #7F9DB9;
  margin-right: 3px;
}

/* Not sure what this is */
td.calendarWeek {
  background-color: #ffffcc;
}

table.calendarDays {
  background-color: #FFFFFF;
  border: 1px solid #7F9DB9;
}

.calendarDays td {
  border: 1px #FFFFFF solid;
}

th.calendarDays {
  color: #304B69;
  font-weight: bold;
}

a.calendarDays {
  color: #000000;
  text-decoration: none;
  padding: 4px;
}

a.calendarDays:hover {
  background-color: #BFE6FE;
  text-decoration: underline;
  color: #000000;
}

td.calendarSelectedDay {
  font-weight: bold;
  background-color: #036EC4;
}

.calendarSelectedDay a, .calendarSelectedDay a:hover {
  color: #FFFFFF;
  background-color: #036EC4;
}

td.calendarDateToday {
  font-weight: bold;
  border: 1px #5CA3D7 solid;
}

td.calendarFieldEcho {
  background-color: #E0E6EC;
  border: 1px #7F9DB9 solid;
  padding: 2px;
}

img.calendarCloseBox {
  margin: 1px;
}

.calendarToday {
  color: #3A6CA4;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 2px;
}

/* Dynamic tree views */
.treeview {
  font-size: 100%;
  white-space: nowrap;
  margin-top: 8px;
  margin-left: 3px;
}

.leftnav .treeview {
  font-size: 85%;
}

.treeViewItem, .treeViewPanelItem, .treeViewFolder, .treeViewPanelFolder {
  padding: 0px 1px 0px 1px;
}

.treeViewItem *, .treeViewPanelItem *, .treeViewFolder *, .treeViewPanelFolder * {
  padding: 0;
}

.treeViewCurrentItem {
  background-color: #B1CFF6;
  text-decoration: none;
  color: #000000;
}

.treeViewCurrentItem:hover {
  background-color: #B1CFF6;
  text-decoration: underline;
  color: #000000;
}

.treeViewLoading, .treeViewEmpty {
  font-family: Verdana, Arial Narrow, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #A0A0A0;
}

/* Errors & Informational Messages
----------------------------------------------- */
.alertBar, .message {
  background-color: #FEF2A6;
  border: 1px #AAB7C2 solid;
  margin: 6px;
  padding: 4px 4px 8px 8px;
}

.alertBarX {
  float: right;
  padding-top: 2px;
}

.message img {
  margin: 0px 5px;
}

.messageSubheader {
  font-weight: bold;
  padding: 4px 4px 2px 8px;
}

/* ??? */
.error_icon {
  background: url("../images/arrow1.gif") no-repeat center;
  height: 10px;
  width: 14px;
  margin-right: 5px;
}

.warning_icon {
  background: url("../images/warn.gif") no-repeat;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.info_icon {
  background: url("../images/info.gif") no-repeat;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.info {
  font-weight: bold;
  padding: 10px 11px 9px;
}

/* ??? */
.warning {
  padding: 10px 11px 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 108%;
  font-weight: bold;
  color: #FF0000;
}

.helpTxt {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 85%;
  background-color: #FFFFE7;
  border: 1px solid;
  padding: 2px;
}

/* Specialized Screens
----------------------------------------------- */
/* login page */

.login {
  background: #2485C1 url(../images/loginScreen_bg.gif) no-repeat center top;
  text-align: center;
}

#loginTable {
  text-align: left;
  width: 100%;
  margin-top: 40px;
}

.login .titlebar {
  background: transparent;
}

.login .content {
  background: none;
  text-align: center;
  overflow: hidden;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  padding-right: 70px;
  position: static;
}

* html .login .content {
  margin-top: 80px;
}

.login .screentitle {
  background: none;
  color: #6490CA;
  font-family: Tahoma,Verdana,sans-serif;
  font-size: 200%;
  border: 0px;
}

.login .dv {
  overflow-x: visible;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.login .dv .dvcolumn tr td {
  border: none;
}

.login .info {
  color: red;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.login .inputLabel {
  color: #47637E;
}

.login .button, .login .button_hover, .login .button_down {
}

/* SearchPanel */

.dv_search {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 3px;
  padding-bottom: 6px;
}

* html .dv, * html dv_search {
  padding-bottom: 0px;
}

.searchPanel .dvheaderfooter {
  background: #E6E7E7 url("../images/toolbar_bgd.gif") repeat-x top;
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px #D4D4D4 solid;
}

.searchPanel .dvheaderfooter tr td {
  padding-top: 5px;
  padding-bottom: 3px;
}

/* Litigation Calendar */

TD.largeDayName {
  font: normal bolder 8pt Arial;
  text-align: center;
  background-color: #dcdcdc;
}

DIV.largeDateBox {
  width: 95;
  height: 90;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal 8pt Arial;
}

DIV.largeDateBoxToday {
  width: 95;
  height: 90;
  background-color: #ceffce;
  overflow: hidden;
  text-overflow: ellipsis;
}

DIV.largeDateBoxSelectedDay {
  width: 95;
  height: 90;
  background-color: #ffffcc;
  overflow: hidden;
  text-overflow: ellipsis;
}

DIV.largeDateBoxSelectedWeek {
  width: 95;
  height: 90;
  background-color: #ffffcc;
  overflow: hidden;
  text-overflow: ellipsis;
}

DIV.largeDateBoxOtherMonth {
  width: 95;
  height: 90;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal 8pt Arial;
}

TD.largeDateLine {
  width: 100%;
  font: normal 8pt Arial;
  padding-right: 4;
  text-align: right;
  cursor: hand;
  background-color: #E4E4DA;
}

TD.largeDateLineCritical1 {
  width: 100%;
  font: normal 8pt Arial;
  padding-right: 4;
  text-align: right;
  cursor: hand;
  background-color: #ffb3b3;
}

TD.largeDateLineCritical2 {
  width: 100%;
  font: normal 8pt Arial;
  padding-right: 4;
  text-align: right;
  cursor: hand;
  background-color: #ffd1bb;
}

TD.largeDateContent {
  border-top: 1px solid #E4E4DA;
  width: 100%;
  height: 100%;
}

TD.largeWeekend1DateContent {
  border-top: 1px solid #E4E4DA;
  width: 100%;
  height: 50%;
}

TD.largeWeekend2DateContent {
  border-top: 1px solid gray;
  width: 100%;
  height: 50%;
}

TD.largeDateContentEvent {
  width: 100%;
  font: normal 8pt Arial;
  text-align: left;
}

DIV.largeDateContentEventLine {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkDateContentEventLineCritical {
  color: #d00000;
}

A.linkDateContentEventLineCritical:hover {
  color: #d00000;
  text-decoration: underline;
}

.linkDateContentEventLine {
  font: normal 8pt Arial;
}

A.linkDateContentEventLine:hover {
  font: normal 8pt Arial;
  text-decoration: underline;
}

A.weekContentEventLineCritical {
  font: normal 8pt Arial;
  color: #d00000;
}

A.weekContentEventLineCritical:hover {
  font: normal 8pt Arial;
  color: #d00000;
  text-decoration: underline;
}

.weekContentEventLineCritical {
  font: normal 8pt Arial;
  color: #d00000;
}

DIV.linkDateContentEventLineContainer {
  width: 90px;
  height: 70px;
  overflow-y: auto;
  overflow-x: hidden;
}

DIV.linkDateContentEventLineWeekendContainer {
  width: 90px;
  height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

TD.smallDateLine {
  width: 100%;
  font: normal 8pt Arial;
  text-align: center;
  cursor: hand;
  background-color: #E4E4DA;
}

TD.smallDateContent {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2;
  padding-left: 2;
  text-align: center;
  cursor: default;
  font: normal 8pt Arial;
}

TD.smallDateContentCritical1 {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2;
  padding-left: 2;
  text-align: center;
  cursor: default;
  background-color: #ffb3b3;
  font: normal 8pt Arial;
}

TD.smallDateContentCritical2 {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2;
  padding-left: 2;
  text-align: center;
  cursor: default;
  background-color: #ffd1bb;
  font: normal 8pt Arial;
}

TD.smallDateContentOtherMonth {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2;
  padding-left: 2;
  text-align: center;
  cursor: default;
  background-color: #dcdcdc;
  font: normal 8pt Arial;
}

TD.dateNavigatorTitle {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #E4E4DA;
  font: normal bolder 14pt Arial;
}

TD.dateNavigatorButton {
  background-color: #E4E4DA;
  cursor: hand;
}

TD.weekNavigatorTitle {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #E4E4DA;
  font: normal bold 10pt Arial;
}

TD.weekNavigatorButton {
  background-color: #E4E4DA;
  cursor: hand;
}

TD.weekDayTitle {
  font: normal bold 8pt Arial;
  border-bottom: 1px solid black;
}

DIV.longWeekDisplay {
  font: normal 8pt Arial;
  padding-left: 5px;
  padding-right: 5px;
}

TD.weekPropertyName {
  padding-left: 3px;
  padding-right: 3px;
  font: italic 8pt Arial;
}

TD.weekPropertyValue {
  padding-left: 3px;
  padding-right: 3px;
  font: normal 8pt Arial;
}

TD.weekNoEvents {
  font: italic 8pt Arial;
  color: #808080;
}

A.dateNavigatorSmallText {
  font: normal 8pt Arial;
}

A.dateNavigatorSmallText:hover {
  font: normal 8pt Arial;
  text-decoration: underline;
}

.dateNavigatorSmallText {
  font: normal 8pt Arial;
}

/* Miscellaneous
----------------------------------------------- */

td.cellExpand {
  width: 100% !important;
}

td.cellNowrap * {
  white-space: nowrap;
}

.imeActive {
  ime-mode: active;
}

.imeInactive {
  ime-mode: inactive;
}

/* Screen-specific rules, wrapped in @media tag so they're not inherited by print.css */

@media
screen
{
.printonly {
  display: none;
}

}
/* Extends gw.css */
.red{
  color: red;
}
/* Extends gw.css */
.red{
  color: red;
}

/* Do not wrap input labels */ 
.dv .inputLabel, .dv .inputLabel_bold { 
  white-space: nowrap; 
}

.dv .label_wrap {
  vertical-align: top;
  padding: 2px auto 5px 1px;
  padding-right: 11px; /* Leaves room for Required marker*/
  line-height: 14px;
  padding-bottom:5px;
  white-space: normal;
}


/* Custom Error Box Style*/
.customErrorBox{
  background-color: #FEF2A6;
  border: 1px #AAB7C2 solid;
  margin: 6px;
  padding: 10px 10px 10px 10px;
}

