<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="CustomImportWizardExt_UploadScreen">
    <Require
      name="CustomImportDataInfo"
      type="xsd.AdminDataSyncTool.CustomImportDataInfo"/>
    <Toolbar
      reflectOnBottom="true">
      <WizardButtons/>
    </Toolbar>
    <!-- <Verbatim
      label="displaykey.Web.Admin.ImportWizard.UploadDV.ErrorsFoundMessage(CustomImportDataInfo.ErrorString)"
      visible="CustomImportDataInfo.hasErrors()"
      warning="true"/> -->
    <PanelRef
      def="CustomImportWizardExt_UploadDV(CustomImportDataInfo)"/>
  </Screen>
</PCF>