<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimReinSummaryLV">
    <Require
      name="SummaryRows"
      type="financials.FinancialsSummaryRow[]"/>
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="false"
      elementName="EXPRow"
      pageSize="0"
      value="SummaryRows">
      <Row
        id="FinancialsSummaryRow"
        useSubHeaderStyle="FSRow.Level.Level==1 and !FSRow.Level.Leaf"
        useTitleStyle="FSRow.Level.Level==0"/>
    </RowIterator>
  </ListViewPanel>
</PCF>
