<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    afterEnter="gw.api.claim.ClaimUtil.addToSessionList(Claim); gw.api.claim.ClaimUtil.markClaimAsViewed(Claim);"
    browserTitle="displaykey.Web.Claim.WindowTitle(Claim.ClaimNumber)"
    id="Claim"
    infoBar="ClaimInfoBar(Claim)"
    menuActions="ClaimMenuActions(Claim, util.exposures.ExposureMenuUtils.getGAICCoverageMenu(Claim))"
    parent="ClaimForward(Claim)"
    title="displaykey.Web.ClaimFile.LocationGroup.Title(Claim.ClaimNumber)">
    <LocationEntryPoint
      signature="Claim(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Summary"
      location="ClaimSummaryGroup(Claim)"
      shortcut="1"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Workplan"
      location="ClaimWorkplanGroup(Claim)"
      shortcut="2"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.LossDetails"
      location="ClaimLossDetailsGroup(Claim)"
      shortcut="3"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Exposures"
      location="ClaimExposuresGroup(Claim)"
      shortcut="4"/>
    <LocationRefIterator
      elementName="Exposure"
      value="Claim.OrderedExposures.orderBy(\ e -&gt; e.ExposureType)"
      visible="Claim.ExposureListVisibleInClaimFile">
      <LocationRef
        label="displaykey.JSP.ClaimPageLinks.DynamicPageLinks.Exposure(Exposure.ExposureType)"
        location="TopLevelExposureDetail(Exposure)"/>
    </LocationRefIterator>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.PeopleInvolved"
      location="ClaimPartiesGroup(Claim)"
      shortcut="5"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Policy"
      location="ClaimPolicyGroup(Claim)"
      shortcut="6"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Financials"
      location="ClaimFinancialsGroup(Claim)"
      shortcut="7"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Notes"
      location="ClaimNotesGroup(Claim)"
      shortcut="8"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Documents"
      location="ClaimDocumentsGroup(Claim)"
      shortcut="9"/>
    <LocationRef
      label="displaykey.JSP_ext.ClaimPageLinks.PageLink.Settlement"
      location="ClaimPlanOfActionGroup(Claim)"
      shortcut="0"/>
    <!-- <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Subro"
      location="ClaimSubrogationGroup(Claim)"
      shortcut="u"/> -->
    <!-- GW ADDED -->
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Litigation"
      location="ClaimMattersGroup(Claim)"
      shortcut="-"/>
    <!-- <LocationRef
      label="&quot;Medicare&quot;"
      location="ClaimMedicareGroup(Claim)"
      shortcut="+"/> -->
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Reinsurance"
      location="ClaimReinGroup(Claim)"/>
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.History"
      location="ClaimHistoryGroup(Claim)"
      shortcut="="/>
    <!-- <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Snapshot"
      location="ClaimSnapshotGroup(Claim)"/> -->
    <LocationRef
      label="displaykey.JSP.ClaimPageLinks.PageLink.Calendar"
      location="ClaimCalendarGroup(Claim)"
      shortcut="c"/>
  </LocationGroup>
</PCF>