<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.Claim.view(Claim) and perm.Policy.view(Claim) and perm.System.viewpolicy"
    id="ClaimReinSummary"
    title="displaykey.JSP.ClaimPageLinks.PageLink.Reinsurance">
    <LocationEntryPoint
      signature="ClaimReinSummary(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="ClaimReinSummaryScreen">
      <PanelRef
        def="ClaimReinSummaryPanelSet(Claim)"/>
    </Screen>
  </Page>
</PCF>
