<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="AssignmentSearchInputSet">
    <Require
      name="assignmentSearchTypes"
      type="AssignmentSearchType[]"/>
    <Require
      name="searchResult"
      type="gw.api.assignment.AssignmentSearchResult"/>
    <Require
      name="searchCriteria"
      type="gw.api.assignment.AssignmentSearchCriteria"/>
    <RangeInput
      editable="assignmentSearchTypes.length &gt; 1"
      id="SearchFor"
      label="displaykey.Web.Assignment.Search.SearchFor"
      onChange="if (searchResult != null) { searchResult.clear() }"
      postOnChange="true"
      showNoneSelected="false"
      value="searchCriteria.SearchType"
      valueRange="assignmentSearchTypes"/>
    <Input
      editable="true"
      id="Username"
      label="displaykey.Web.Assignment.Search.Username"
      value="searchCriteria.UserCriteria.Username"
      visible="searchCriteria.SearchType == &quot;User&quot;"/>
    <Input
      editable="true"
      id="FirstName"
      label="displaykey.Web.Assignment.Search.FirstName"
      value="searchCriteria.UserCriteria.Contact.FirstName"
      visible="searchCriteria.SearchType == &quot;User&quot;"/>
    <Input
      editable="true"
      id="LastName"
      label="displaykey.Web.Assignment.Search.LastName"
      value="searchCriteria.UserCriteria.Contact.Keyword"
      visible="searchCriteria.SearchType == &quot;User&quot;"/>
    <Input
      editable="true"
      id="GroupCriteriaName"
      label="displaykey.Web.Assignment.Search.GroupName"
      value="searchCriteria.GroupCriteria.GroupName"
      visible="searchCriteria.SearchType == &quot;Group&quot;"/>
    <Input
      editable="true"
      id="GroupName"
      label="displaykey.Web.Assignment.Search.GroupName"
      value="searchCriteria.QueueCriteria.QueueGroupName"
      visible="searchCriteria.SearchType == &quot;Queue&quot;"/>
    <Input
      editable="true"
      id="QueueName"
      label="displaykey.Web.Assignment.Search.QueueName"
      value="searchCriteria.QueueCriteria.QueueName"
      visible="searchCriteria.SearchType == &quot;Queue&quot;"/>
  </InputSet>
</PCF>
