<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="IncidentAssessItemLV">
    <Require
      name="incident"
      type="Incident"/>
    <RowIterator
      editable="true"
      elementName="assessmentItem"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="NewIncidentAssessItemPopup.push(incident)"
      toAdd="incident.addToItemLine(assessmentItem)"
      toRemove="incident.removeFromItemLine(assessmentItem)"
      value="incident.ItemLine">
      <Row>
        <Cell
          editable="true"
          id="Category"
          label="displaykey.Web.Incident.Assessment.AssessmentLine.Category"
          value="assessmentItem.PropertyCategory"/>
        <Cell
          action="IncidentAssessItemPopup.push(assessmentItem)"
          id="Description"
          label="displaykey.Web.Incident.Assessment.AssessmentLine.Description"
          required="true"
          value="assessmentItem.Description"
          width="200"/>
        <Cell
          editable="true"
          id="Action"
          label="displaykey.Web.Incident.Assessment.AssessmentLine.Action"
          value="assessmentItem.Action"/>
        <Cell
          editable="true"
          formatType="currency"
          id="EstimateAmount"
          label="displaykey.Web.Incident.Assessment.AssessmentLine.EstimateAmount"
          value="assessmentItem.EstimateAmount"
          visible="true"/>
        <Cell
          editable="true"
          id="Comment"
          label="displaykey.Web.Incident.Assessment.AssessmentLine.Comment"
          value="assessmentItem.ItemComment"
          width="200"/>
        <RangeCell
          editable="true"
          id="AssessmentSource"
          label="displaykey.Web.Incident.Assessment.AssessmentLine.RelatedSource"
          value="assessmentItem.AssessmentSource"
          valueRange="assessmentItem.Incident.SourceLine"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
