<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="ClaimNewDocumentMenuItemSet">
    <Require
      name="Claim"
      type="Claim"/>
    <MenuItem
      action="ClaimNewDocumentFromTemplateWorksheet.goInWorkspace(Claim)"
      id="ClaimNewDocumentMenuItemSet_Create"
      label="displaykey.JSP.CreateDocument_Options.Option.Create"/>
    <MenuItem
      action="ClaimNewDocumentLinkedWorksheet.goInWorkspace(Claim)"
      id="ClaimNewDocumentMenuItemSet_Link"
      label="displaykey.JSP.CreateDocument_Options.Option.Link"/>
    <MenuItem
      action="ClaimNewDocumentExistsWorksheet.goInWorkspace(Claim)"
      id="ClaimNewDocumentMenuItemSet_IndicateExists"
      label="displaykey.JSP.CreateDocument_Options.Option.IndicateExists"/>
  </MenuItemSet>
</PCF>
