<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="DocumentTemplateContextObjectInputSet"
    mode="default">
    <Require
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="Document"
      type="Document"/>
    <Require
      name="Claim"
      type="Claim"/>
    <InputIterator
      elementName="DynamicWidgetInfo"
      value="DocumentCreationInfo.getDynamicWidgetInformation()">
      <InputSetRef
        def="NewTemplateDocumentInputSet(DocumentCreationInfo, Document, Claim, DynamicWidgetInfo)"
        mode="getMode(DynamicWidgetInfo)"/>
    </InputIterator>
    <Code><![CDATA[
      function getMode(dynamicWidgetInfo : gw.document.DocumentCreationInfo.DynamicWidgetInfo) : String {
        return dynamicWidgetInfo.Type.toLowerCase();
      }      
    ]]></Code>
  </InputSet>
</PCF>
