<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    canVisit="true"
    id="NewClaimNewDocumentExistsWorksheet"
    startInEditMode="true"
    tabLabel="displaykey.Java.PageAction.NewDocument"
    title="displaykey.Java.PageAction.NewDocument"
    validateOnBundleCommit="false">
    <LocationEntryPoint
      signature="NewClaimNewDocumentExistsWorksheet(Claim : Claim)"/>
    <Scope
      location="*"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="gw.document.DocumentsUtil.createDocumentCreationInfo(Claim)"
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <ScreenRef
      def="NewDocumentExistsScreen(DocumentCreationInfo, Claim)"/>
  </Worksheet>
</PCF>
