<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="NewDocumentLinkedScreen">
    <Require
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="Claim"
      type="Claim"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="DocumentAttachmentDV(DocumentCreationInfo)"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSetRef
          def="DocumentDetailsInputSet(DocumentCreationInfo.Document, false)"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>
