<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="NewDocumentFromTemplateScreen">
    <Require
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="Claim"
      type="Claim"/>
    <Toolbar>
      <ToolbarButton
        action="DocumentCreationInfo.setCommitRequested(true)"
        id="NewDocumentFromTemplate_CustomUpdate"
        label="displaykey.Button.Update"
        visible="gw.document.DocumentsUtil.isDocumentAssistantEnabled()"/>
      <EditButtons
        updateVisible="!gw.document.DocumentsUtil.isDocumentAssistantEnabled()"/>
    </Toolbar>
    <PanelRef
      def="NewTemplateDocumentDV(DocumentCreationInfo, DocumentCreationInfo.Document, Claim, null)"/>
  </Screen>
</PCF>
