<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="com.guidewire.pl.system.dependency.PLDependencies.getDomainGraphSupport() != null"
    id="ArchiveGraphInfo"
    title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo">
    <Screen>
      <Variable
        initialValue="com.guidewire.pl.domain.archiving.DomainGraphIssues.validateNothingOutsideOfDomainGraphShouldPointToDomainGraph()"
        name="warnings1"/>
      <Variable
        initialValue="com.guidewire.pl.domain.archiving.DomainGraphIssues.validateNullLinksCannotMakeNodeUnreachable()"
        name="warnings2"/>
      <DetailViewPanel>
        <InputColumn>
          <ButtonInput
            action="gw.api.web.tools.ArchiveGraphInfoPage.download()"
            download="true"
            id="download"
            value="displaykey.Button.Download">
            <DetailViewPanel/>
          </ButtonInput>
        </InputColumn>
      </DetailViewPanel>
      <CardViewPanel>
        <Card
          id="Graphs"
          title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.Graphs">
          <DetailViewPanel>
            <InputColumn>
              <TextAreaInput
                id="instructions1"
                numCols="50"
                numRows="2"
                value="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.DotFormatInstructions"/>
              <TextAreaInput
                id="instructions2"
                numCols="50"
                numRows="2"
                value="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.GraphLegend"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef>
            <TitleBar
              title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.DomainGraphInDotFormat"/>
            <DetailViewPanel
              editable="false">
              <InputColumn>
                <TextAreaInput
                  id="graph1"
                  numCols="75"
                  numRows="15"
                  value="com.guidewire.pl.domain.archiving.DomainGraphIssues.testOutputDomainGraphInDotFormat()"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="Warnings"
          title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.Warnings">
          <PanelRef
            visible="!warnings1.IsEmpty">
            <TitleBar
              title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.ValidateNoEntityOutsideOfDomainGraphShouldPointToDomainGraph"/>
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="false"
                elementName="warning1"
                id="warningLV1"
                value="warnings1">
                <Row>
                  <Cell
                    id="warningMessage1"
                    value="warning1"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
          <PanelRef
            visible="!warnings2.IsEmpty">
            <TitleBar
              title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.ValidateNullLinksCannotMakeNodeUnreachable"/>
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="false"
                elementName="warning2"
                id="warningLV2"
                value="warnings2">
                <Row>
                  <Cell
                    id="warningMessage2"
                    value="warning2"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
      <PanelRef
        visible="warnings1.IsEmpty and warnings2.IsEmpty">
        <TitleBar
          title="displaykey.Web.InternalTools.InfoPages.ArchivingInfo.WarningsNone"/>
        <DetailViewPanel/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
