<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    compress="true"
    id="ConsistencyChecksRunsLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
    <RowIterator
      checkBoxVisible="true"
      editable="false"
      elementName="Row"
      hasCheckBoxes="true"
      id="consistCheckRunRowIterator"
      pageSize="5"
      type="DBConsistCheckRun"
      value="PageHelper.ConsistCheckRunsByStartTime">
      <ToolbarFlag
        name="CheckRun"/>
      <Row>
        <ButtonCell
          action="PageHelper.downloadConsistencyCheckRun(Row)"
          align="center"
          download="true"
          id="LVDownload"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.Download"
          value="displaykey.Web.InternalTools.DBConsistCheckRun.Download"/>
        <ButtonCell
          action="PageHelper.deleteDBConsistCheckRun(Row)"
          align="center"
          available="Row.EndTime &lt;&gt; null"
          id="LVDelete"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"
          value="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"/>
        <Cell
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Description"
          value="Row.Description"
          width="25%"/>
        <Cell
          id="numErrors"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.NumErrors"
          value="Row.NumErrorExecs"/>
        <Cell
          id="totalChecks"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.TotalChecks"
          value="Row.NumAllExec"/>
        <Cell
          id="cellNotStarted"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ChecksNotStarted"
          value="Row.NumExecsNotStarted"/>
        <Cell
          id="cellInProgress"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ChecksInProgress"
          value="Row.NumExecsInProgress"/>
        <Cell
          id="cellFinished"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ChecksFinished"
          value="&quot;&quot; + Row.NumExecsFinished + &quot; ( &quot; + ((100 * Row.NumExecsFinished) / Row.NumAllExec)  + &quot;% )&quot;"
          valueVisible="Row.NumAllExec &lt;&gt; 0"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.StartTime"
          timeFormat="short"
          value="Row.StartTime"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.EndTime"
          timeFormat="short"
          value="Row.EndTime"/>
        <Cell
          id="LVDuration"
          label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.Duration"
          value="Row.Duration"/>
        <Cell
          id="LVNumThreads"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreads"
          value="Row.NumThreads"/>
        <Cell
          align="center"
          id="LVVersion"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.Version"
          value="&quot;( &quot; + (Row.MajorSchemaVersion as String) + &quot;, &quot; + (Row.MinorSchemaVersion as String) + &quot;, &quot; + (Row.PlatformMinorSchemaVersion as String) + &quot; )&quot;"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
