<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    browserTitle="displaykey.Web.ConsistencyCheck.PageTitle"
    canEdit="true"
    countsAsWork="false"
    id="ConsistencyChecks"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.ConsistencyCheck.PageTitle">
    <Variable
      initialValue="new gw.api.tools.ConsistencyChecksRunsPageHelper()"
      name="CCRunPageHelper"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCRunPageHelper.DbTableNames)"
      name="TablePicker"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCRunPageHelper.ConsistCheckTypeCodes)"
      name="CheckPicker"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCRunPageHelper.TableGroups)"
      name="TableGroupPicker"/>
    <Screen
      editable="true"
      id="ConsistencyChecksScreen">
      <Variable
        initialValue="new gw.api.tools.ConsistencyChecksHelper( )"
        name="CCViewHelper"
        type="gw.api.tools.ConsistencyChecksHelper"/>
      <Variable
        initialValue="&quot;&quot;"
        name="tableSearch"
        type="String"/>
      <Verbatim
        label="displaykey.Web.InfoPages.ConsistencyChecks.HeaderText"/>
      <CardViewPanel>
        <Card
          id="RunConsistChecksCard"
          title="displaykey.Web.InfoPages.ConsistencyChecks.Run">
          <PanelRef>
            <PanelRow>
              <PanelColumn>
                <PanelSet>
                  <Verbatim
                    label="displaykey.Web.InfoPages.ConsistencyChecks.RunText"/>
                </PanelSet>
                <DetailViewPanel>
                  <InputColumn>
                    <ListViewInput
                      def="ConsistencyChecksRunsLV(CCRunPageHelper)"
                      labelAbove="true">
                      <Toolbar>
                        <CheckedValuesToolbarButton
                          allCheckedRowsAction="CCRunPageHelper.downloadMulitpleConsistencyCheckRuns(CheckedValues)"
                          download="true"
                          flags="any CheckRun"
                          id="downloadAll"
                          iterator="ConsistencyChecksRunsLV"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.DownloadMultiple"/>
                        <CheckedValuesToolbarButton
                          checkedRowAction="if (Row.EndTime &lt;&gt; null) { CCRunPageHelper.deleteDBConsistCheckRun(Row) }"
                          id="DeleteChecked"
                          iterator="consistCheckRunRowIterator"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.Delete"/>
                        <ToolbarButton
                          action="null"
                          id="ToolbarButton"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.Refresh"/>
                      </Toolbar>
                    </ListViewInput>
                  </InputColumn>
                </DetailViewPanel>
                <PanelRow>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <ButtonInput
                          action="CCRunPageHelper.submitBatch(TablePicker.ChosenNames, TableGroupPicker.ChosenPickers, CheckPicker.ChosenPickers)"
                          id="SubmitBatchJobButton"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.SubmitRun"
                          value="displaykey.Web.InternalTools.DBConsistCheckRun.SubmitRun"/>
                      </InputColumn>
                      <InputColumn>
                        <TextInput
                          editable="true"
                          id="Descripton"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.Description"
                          value="CCRunPageHelper.Description"/>
                      </InputColumn>
                      <InputColumn>
                        <Input
                          editable="true"
                          helpText="displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreadsHelp"
                          id="numThreads"
                          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreads"
                          requestValidationExpression="(VALUE as String).Numeric &amp;&amp; VALUE &gt; 0 ? NULL : displaykey.Validator.PositiveInteger(displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreads)  /* Checks for positive integer */"
                          value="CCRunPageHelper.NumberOfThreads"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelColumn>
                </PanelRow>
                <PanelRow>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <RangeRadioInput
                          editable="true"
                          id="tableSelectionType"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.SpecifyTables"
                          postOnChange="true"
                          value="CCRunPageHelper.TableSelectMode"
                          valueRange="gw.api.database.ConsistCheckRunTableSelectType.values()"/>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRow
                      editable="true"
                      visible="CCRunPageHelper.TableSelectMode == SPECIFY_TABLES">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showTables">
                          <Toolbar
                            id="availTablesToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="row.Chosen = false"
                              id="useButton"
                              iterator="tableSelectionLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            compress="true"
                            editable="true"
                            id="tableSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="row"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="TablePicker.ChosenPickers">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.SelectedTables"
                                  value="row.DisplayName"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="available">
                        <PanelRef
                          editable="true">
                          <Toolbar>
                            <CheckedValuesToolbarButton
                              checkedRowAction="row.Chosen = true"
                              id="useButton"
                              iterator="tableAllLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                              showConfirmMessage="false"/>
                            <ToolbarInput
                              editable="true"
                              id="searchString"
                              postOnChange="true"
                              value="TablePicker.SearchString"
                              visible="true"/>
                            <ToolbarButton
                              action="null"
                              id="ToolbarButton"
                              label="displaykey.Web.ConsistencyCheck.Search"/>
                            <ToolbarButton
                              action="TablePicker.SearchString = &quot;&quot;"
                              id="ResetButton"
                              label="displaykey.Web.ConsistencyCheck.ResetButton"/>
                          </Toolbar>
                          <ListViewPanel
                            compress="true"
                            editable="true"
                            id="tableAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="row"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="TablePicker.getUnchosenPickersFilteredByName()">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.AvailTables"
                                  value="row.DisplayName"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                    <PanelRow
                      editable="true"
                      visible="CCRunPageHelper.TableSelectMode == SPECIFY_TABLEGROUPS">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showChosenTableGroups">
                          <Toolbar
                            id="chosenTableGroupsToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="ChosenTableGroup.Chosen = false"
                              id="useButton"
                              iterator="ChosenTableGroupIterator"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            compress="true"
                            editable="true"
                            id="tableGroupSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="ChosenTableGroup"
                              hasCheckBoxes="true"
                              id="ChosenTableGroupIterator"
                              pageSize="25"
                              value="TableGroupPicker.ChosenPickers">
                              <Row>
                                <TextCell
                                  id="chosentablegroupname"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.SelectedTableGroups"
                                  value="ChosenTableGroup.DisplayName"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="availableTableGroups">
                        <PanelRef
                          editable="true"
                          id="showAvailableTableGroups">
                          <Toolbar
                            id="availableTableGroupsToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="availableTableGroup.Chosen = true;"
                              id="useButton"
                              iterator="availableTableGroupsIterator"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            compress="true"
                            editable="true"
                            id="tablegroupAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="availableTableGroup"
                              hasCheckBoxes="true"
                              id="availableTableGroupsIterator"
                              pageSize="25"
                              value="TableGroupPicker.UnchosenPickersFilteredByName">
                              <Row>
                                <TextCell
                                  id="tablegroupname"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.AvailTableGroups"
                                  value="availableTableGroup.DisplayName"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                  </PanelColumn>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <BooleanRadioInput
                          editable="true"
                          falseLabel="displaykey.Web.InternalTools.DBConsistCheckRun.NotAllTypes"
                          id="AnalyzeAllTypes"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.CheckAllTypes"
                          postOnChange="true"
                          value="CCRunPageHelper.CheckAllTypes"/>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRow
                      editable="true"
                      visible="!CCRunPageHelper.CheckAllTypes">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showConsistCheckTypes">
                          <Toolbar
                            id="checkSelectedToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="selectedCheckType.Chosen = false"
                              id="useButton"
                              iterator="checkSelectLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            compress="true"
                            editable="true"
                            id="checkTypeSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="selectedCheckType"
                              hasCheckBoxes="true"
                              id="checkSelectLV"
                              pageSize="25"
                              value="CheckPicker.ChosenPickers">
                              <Row>
                                <TextCell
                                  align="center"
                                  helpText="CCRunPageHelper.getCheckTypeCode(selectedCheckType)"
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.SelectedCheckTypes"
                                  value="selectedCheckType.DisplayName"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="availableTypes">
                        <PanelRef
                          editable="true">
                          <Toolbar
                            id="checkAllToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="availableCheckType.Chosen = true"
                              id="useButton"
                              iterator="checkAllLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                              showConfirmMessage="false"/>
                            <ToolbarInput
                              editable="true"
                              id="searchString"
                              postOnChange="true"
                              value="CheckPicker.SearchString"
                              visible="true"/>
                            <ToolbarButton
                              action="null"
                              id="ToolbarButton"
                              label="displaykey.Web.ConsistencyCheck.Search"/>
                            <ToolbarButton
                              action="CheckPicker.SearchString = &quot;&quot;"
                              id="Reset"
                              label="displaykey.Web.ConsistencyCheck.ResetButton"/>
                          </Toolbar>
                          <ListViewPanel
                            compress="true"
                            editable="true"
                            id="checkAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="availableCheckType"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="CheckPicker.getUnchosenPickersFilteredByName()">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.AvailCheckTypes"
                                  value="availableCheckType.DisplayName"/>
                                <TextCell
                                  id="ccTypeCode"
                                  label="displaykey.Java.Web.ConsistencyCheck.TypeCode"
                                  value="CCRunPageHelper.getCheckTypeCode(availableCheckType)"/>
                                <TextCell
                                  id="conistCheckDescription"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.Description"
                                  value="CCRunPageHelper.getCheckTypeDescription(availableCheckType)"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                  </PanelColumn>
                </PanelRow>
              </PanelColumn>
            </PanelRow>
          </PanelRef>
        </Card>
        <Card
          id="ViewConsistChecksCard"
          title="displaykey.Web.InfoPages.ConsistencyChecks.View">
          <PanelRef>
            <PanelSet>
              <Verbatim
                label="displaykey.Web.InfoPages.ConsistencyChecks.ViewText"/>
              <DetailViewPanel
                editable="true">
                <InputColumn>
                  <TextInput
                    editable="true"
                    focusOnStartEditing="true"
                    id="TableNameSearchTextInput"
                    label="displaykey.Web.ConsistencyCheck.TableNameSearch"
                    value="tableSearch"
                    visible="true"/>
                </InputColumn>
                <InputColumn>
                  <ButtonInput
                    action="null"
                    id="searchButton"
                    value="displaykey.Web.ConsistencyCheck.Search"/>
                </InputColumn>
                <InputColumn>
                  <ButtonInput
                    action="tableSearch = &quot;&quot;"
                    id="ResetButton"
                    value="displaykey.Web.ConsistencyCheck.ResetButton"/>
                </InputColumn>
              </DetailViewPanel>
              <ListDetailPanel
                selectionName="cCheck"
                selectionType="gw.api.database.ConsistencyCheck">
                <PanelRef
                  def="ConsistencyChecksLV(CCViewHelper, tableSearch)">
                  <Toolbar>
                    <ToolbarButton
                      action="CCViewHelper.download( null )"
                      download="true"
                      id="ToolbarButton"
                      label="displaykey.Web.ConsistencyCheck.DownloadAll"/>
                  </Toolbar>
                </PanelRef>
                <CardViewPanel>
                  <Card
                    id="cCheckCard"
                    title="displaykey.Web.ConsistencyCheck.SQLString">
                    <DetailViewPanel>
                      <InputColumn>
                        <PreFormattedTextInput
                          id="PreFormattedTextInput0"
                          value="cCheck.CheckCommand"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </Card>
                  <Card
                    id="QueryToIdentifyRowsCard"
                    title="displaykey.Web.InternalTools.DBConsistCheckRun.QueryToIdentifyRows"
                    visible="cCheck.QueryToIdentifyRows &lt;&gt; null and cCheck.QueryToIdentifyRows &lt;&gt;  &quot;&quot;">
                    <DetailViewPanel>
                      <InputColumn>
                        <PreFormattedTextInput
                          id="performaatedQueryToIdentifyRows"
                          value="new com.guidewire.pl.system.database.SQLPrettyishPrinter(cCheck.QueryToIdentifyRows, true).print()"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </Card>
                </CardViewPanel>
              </ListDetailPanel>
            </PanelSet>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
