<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.tools.DatabaseStorageHelper.dbSupportsStorageInfo()"
    countsAsWork="false"
    id="DatabaseStorage"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.DatabaseStorage">
    <Variable
      initialValue="new gw.api.tools.DatabaseStorageHelper()"
      name="PageHelper"/>
    <Variable
      initialValue="new gw.api.database.DatabaseParameterSet[]{}"
      name="ParamSets"/>
    <Variable
      name="searchString"
      type="String"/>
    <Variable
      name="ParameterSet"
      type="gw.api.database.DatabaseParameterSet"/>
    <Screen
      id="DatabaseStorageScreen">
      <TitleBar
        title="displaykey.Web.InternalTools.InfoPages.DatabaseStorage"/>
      <Toolbar>
        <ToolbarButton
          action="ParamSets = PageHelper.getDatabaseStorageSets(); if (ParameterSet == null) ParameterSet = ParamSets.HasElements ? ParamSets[0] : null;"
          id="reloadData"
          label="displaykey.Button.Refresh"/>
        <ToolbarButton
          action="ParamSets = PageHelper.getDatabaseStorageSets()"
          id="Display"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.Display"/>
        <ToolbarButton
          action="PageHelper.download()"
          download="true"
          id="download"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.Download"/>
      </Toolbar>
      <DetailViewPanel>
        <InputHeaderSection>
          <InputDivider
            visible="PageHelper.dbSupportsEstimatingCompressionSettings()"/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.EstimateCompression"
            visible="PageHelper.dbSupportsEstimatingCompressionSettings()"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            flatten="true"
            id="AnalyzeTablesForCompression"
            postOnChange="true"
            value="PageHelper.EstimateCompression"
            visible="PageHelper.dbSupportsEstimatingCompressionSettings()"/>
          <InputDivider
            visible="PageHelper.EstimateCompression"/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.CompressionLevels"
            visible="PageHelper.EstimateCompression"/>
          <RangeInput
            align="right"
            editable="true"
            id="EstimateCompressionTables"
            postOnChange="true"
            value="PageHelper.CompressionLevel"
            valueRange="PageHelper.AvailableCompressionLevels"
            visible="PageHelper.EstimateCompression"/>
          <InputDivider
            visible="PageHelper.EstimateCompression"/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.CompressionSamplingPercentage"
            visible="PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingCompressionSamplingPercentage()"/>
          <Input
            align="right"
            editable="true"
            flatten="true"
            formatType="percentagePoints"
            id="EstimateCompressionSamplingPercentage"
            postOnChange="true"
            value="PageHelper.CompressionSamplingPercentage"
            visible="PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingCompressionSamplingPercentage()"/>
          <InputDivider
            visible="PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingCompressionSamplingPercentage()"/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.DataCompressionAllTables"
            visible="PageHelper.EstimateCompression"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            falseLabel="displaykey.Web.InternalTools.InfoPages.DataDistribution.NotAllTables"
            flatten="true"
            id="AnalyzeAllTables"
            postOnChange="true"
            value="PageHelper.AnalyzeAllTables"
            visible="PageHelper.EstimateCompression"/>
          <InputDivider
            visible="PageHelper.dbSupportsEstimatingCompressionSettings()"/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.AllTables"
            visible="!PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <BooleanRadioInput
            align="right"
            editable="true"
            falseLabel="displaykey.Web.InternalTools.InfoPages.DataDistribution.NotAllTables"
            flatten="true"
            id="AnalyzeAllTablesForCompression"
            postOnChange="true"
            value="PageHelper.AnalyzeAllTables"
            visible="!PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <InputDivider
            visible="!PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.AnalysisLevels"
            visible="!PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <RangeInput
            align="right"
            editable="true"
            id="AnalyzeTables"
            postOnChange="true"
            showNoneSelected="false"
            value="PageHelper.AnalysisLevel"
            valueRange="PageHelper.AvailableAnalysisLevels"
            visible="!PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
          <InputDivider
            visible="!PageHelper.EstimateCompression &amp;&amp; PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
        </InputHeaderSection>
      </DetailViewPanel>
      <DetailViewPanel/>
      <DetailViewPanel
        compress="false"
        visible="PageHelper.dbSupportsSpecifyingTablesAndModeForIndexPhysicalStats()"/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DatabaseStorage.SelectStorageSetToDisplay"
            visible="ParamSets != null &amp;&amp; ParamSets.HasElements"/>
          <RangeInput
            editable="true"
            id="modeSelector"
            optionLabel="VALUE.Name"
            postOnChange="true"
            required="true"
            showNoneSelected="false"
            value="ParameterSet"
            valueRange="ParamSets"
            visible="ParamSets != null &amp;&amp; ParamSets.HasElements"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="DatabaseStorageDV(ParameterSet)"
        mode="(ParameterSet.RowItemLabel == null ? &quot;AllAtOnce&quot; : &quot;OneATATime&quot;)">
        <Toolbar/>
      </PanelRef>
      <PanelRow
        editable="true"
        visible="!PageHelper.AnalyzeAllTables">
        <PanelColumn
          editable="true">
          <PanelRef
            editable="true"
            id="shown">
            <Toolbar>
              <CheckedValuesToolbarButton
                checkedRowAction="row.Chosen = false"
                id="useButton"
                iterator="tableSelectionLV"
                label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                showConfirmMessage="false"/>
            </Toolbar>
            <ListViewPanel
              compress="true"
              editable="true"
              id="tableSelectionLV">
              <RowIterator
                canPick="false"
                checkBoxVisible="true"
                editable="true"
                elementName="row"
                hasCheckBoxes="true"
                pageSize="45"
                value="PageHelper.getDBTables(false)">
                <Row>
                  <TextCell
                    id="row"
                    label="displaykey.Web.InternalTools.InfoPages.DataDistribution.SelectedTables"
                    value="row.DisplayName"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </PanelColumn>
        <PanelColumn
          editable="true"
          id="available">
          <PanelRef
            editable="true">
            <Toolbar>
              <CheckedValuesToolbarButton
                checkedRowAction="row.Chosen = true;row.Chosen = true"
                id="useButton"
                iterator="tableAllLV"
                label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                showConfirmMessage="false"/>
              <ToolbarInput
                editable="true"
                id="searchStringTextBox"
                postOnChange="true"
                value="searchString"
                visible="true"/>
            </Toolbar>
            <ListViewPanel
              compress="true"
              editable="true"
              id="tableAllLV">
              <RowIterator
                canPick="false"
                checkBoxVisible="true"
                editable="true"
                elementName="row"
                hasCheckBoxes="true"
                pageSize="45"
                value="PageHelper.getAllDBTables(searchString)">
                <Row>
                  <TextCell
                    id="row"
                    label="displaykey.Web.InternalTools.InfoPages.DataDistribution.AvailableTables"
                    value="row.DisplayName"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Page>
</PCF>
