<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DataDistsLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.DataDistDVHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      hasCheckBoxes="true"
      pageSize="15"
      type="DatabaseDataDist"
      value="PageHelper.AvailDataDists">
      <ToolbarFlag
        name="DataDistFlag"/>
      <Row>
        <ButtonCell
          action="PageHelper.downloadDataDistribution(Row)"
          align="center"
          download="true"
          id="LVGetZip"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.DownloadZip"
          value="displaykey.Web.InternalTools.InfoPages.DataDistribution.DownloadZip"/>
        <ButtonCell
          action="PageHelper.deleteDataDistribution(Row)"
          align="center"
          id="LVDelete"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"
          value="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"/>
        <Cell
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Description"
          value="Row.Description"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.StartTime"
          timeFormat="long"
          value="Row.StartTime"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.EndTime"
          timeFormat="long"
          value="Row.EndTime"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
