<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DBCatStatsUnanalyzedIndexesLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.DatabaseStatisticsHelper"/>
    <Require
      name="UnanalyzedIndexStatistics"
      type="database.IndexStatistics[]"/>
    <RowIterator
      editable="false"
      elementName="stats"
      value="UnanalyzedIndexStatistics">
      <Row>
        <Cell
          action="TableStatistics.push(PageHelper, stats.Table.Name)"
          enableSort="false"
          id="ViewCurrent"
          label="displaykey.Web.DBStatistics.ViewCurrentStatistics"
          value="displaykey.Web.DBStatistics.ViewCurrentStatistics"/>
        <Cell
          id="TableName"
          label="displaykey.Web.UnanalyzedCatalogsStatsDV.TableName"
          value="stats.Table.Name"/>
        <Cell
          id="Name"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Index"
          value="stats.Name"/>
        <Cell
          id="KeyColumns"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.KeyColumns"
          value="stats.KeyColumnNamesWithSortDir"/>
        <Cell
          id="description"
          label="displaykey.Web.InternalTools.Description"
          value="stats.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
