<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    id="GlobalCacheDetailInfo"
    parent="CacheInfo()"
    showUpLink="true"
    title="displaykey.Web.InternalTools.InfoPages.CacheInfo">
    <LocationEntryPoint
      signature="GlobalCacheDetailInfo(EntityStat : gw.api.tools.CacheStatistics)"/>
    <Variable
      name="EntityStat"
      type="gw.api.tools.CacheStatistics"/>
    <Screen
      id="GlobalCacheDetailInfoScreen">
      <TitleBar
        title="displaykey.Web.InternalTools.InfoPages.CacheInfoDetail(EntityStat.EntityName)"/>
      <Toolbar/>
      <PanelRef>
        <Verbatim
          label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Hits"/>
        <ListViewPanel
          id="entityHitsLV">
          <RowIterator
            editable="false"
            elementName="traceFrequency"
            pageSize="0"
            value="EntityStat.SortedHitTraces">
            <Row>
              <Cell
                id="Trace"
                label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Trace"
                value="traceFrequency.Trace"/>
              <Cell
                align="center"
                id="Frequency"
                label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Frequency"
                sortDirection="ascending"
                sortOrder="1"
                value="traceFrequency.Frequency"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef>
        <Verbatim
          label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Misses"/>
        <ListViewPanel
          id="entityMissesLV">
          <RowIterator
            editable="false"
            elementName="traceFrequency"
            pageSize="0"
            value="EntityStat.SortedMissTraces">
            <Row>
              <Cell
                id="Trace"
                label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Trace"
                value="traceFrequency.Trace"/>
              <Cell
                align="center"
                id="Frequency"
                label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Frequency"
                sortDirection="ascending"
                sortOrder="1"
                value="traceFrequency.Frequency"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
