<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.OracleAWRHelper.dbSupportsAWR()"
    countsAsWork="false"
    id="OracleAWRInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.OracleAWRInfo">
    <Variable
      initialValue="new gw.api.tools.OracleAWRHelper()"
      name="PageHelper"/>
    <Variable
      initialValue="true"
      name="Paging"
      type="Boolean"/>
    <Variable
      initialValue="true"
      name="ProbeVDollarTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="SearchForQueriesWithMultiplePlans"
      type="Boolean"/>
    <Variable
      initialValue="true"
      name="SearchForQueriesOnlyInFirstSnapshot"
      type="Boolean"/>
    <Variable
      initialValue="true"
      name="SearchForQueriesOnlyInLastSnapshot"
      type="Boolean"/>
    <Variable
      initialValue="10"
      name="NumQueriesToGraph"
      type="int"/>
    <Screen
      id="OracleAWRInfoScreen">
      <DetailViewPanel>
        <InputColumn>
          <CheckBoxInput
            editable="true"
            id="ProbeVDollarTablesFlag"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables"
            value="ProbeVDollarTables"
            visible="PageHelper.ReadyToDownload"/>
          <CheckBoxInput
            editable="true"
            id="SearchForQueriesWithMultiplePlansFlag"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesWithMultiplePlans"
            value="SearchForQueriesWithMultiplePlans"
            visible="PageHelper.ReadyToDownload"/>
          <CheckBoxInput
            editable="true"
            id="SearchForQueriesOnlyInFirstSnapshotFlag"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesOnlyInFirstSnapshot"
            value="SearchForQueriesOnlyInFirstSnapshot"
            visible="PageHelper.ReadyToDownload"/>
          <CheckBoxInput
            editable="true"
            id="SearchForQueriesOnlyInLastSnapshotFlag"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesOnlyInLastSnapshot"
            value="SearchForQueriesOnlyInLastSnapshot"
            visible="PageHelper.ReadyToDownload"/>
          <TextInput
            editable="true"
            id="NumberOfQueriesToGraphArg"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.NumberOfQueriesToGraph"
            value="NumQueriesToGraph"
            visible="PageHelper.ReadyToDownload"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="PageHelper.downloadAWRInfo(ProbeVDollarTables, SearchForQueriesWithMultiplePlans, SearchForQueriesOnlyInFirstSnapshot, SearchForQueriesOnlyInLastSnapshot, NumQueriesToGraph)"
            available="PageHelper.ReadyToDownload"
            download="true"
            id="download"
            value="displaykey.Button.Download"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="PageHelper.loadAWRInfo()"
            id="refresh"
            value="displaykey.Button.Refresh"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="Paging = !Paging"
            id="TogglePaging"
            value="Paging ? displaykey.Web.InternalTools.InfoPages.DisablePaging : displaykey.Web.InternalTools.InfoPages.EnablePaging"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="OracleAWRLV(PageHelper)"
        mode="Paging ? &quot;paging&quot; : &quot;nopaging&quot;">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.InternalTools.InfoPages.OracleAWR.Instructions"/>
        <Toolbar
          id="orasptb"/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
