<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="OutOfDateIndexStatisticsDV">
    <Require
      name="PageHelper"
      type="gw.api.tools.DatabaseStatisticsHelper"/>
    <Require
      name="TableStats"
      type="database.IndexStatistics[]"/>
    <Require
      name="Description"
      type="String"/>
    <InputColumn>
      <Label
        label="displaykey.Web.OutOfDateIndexStatisticsDV.Description"/>
      <Input
        editable="false"
        id="descriptInput"
        value="Description"/>
      <ListViewInput>
        <Toolbar/>
        <ListViewPanel
          compress="true"
          id="OutOfDateIndicesLV">
          <Row
            useHeaderStyle="true">
            <Cell
              id="CurrentStats"
              value="displaykey.Web.DBStatistics.ViewCurrentStatistics"/>
            <Cell
              id="TableNameheader"
              value="displaykey.Web.UnanalyzedCatalogsStatsDV.TableName"/>
            <Cell
              id="IndexNameheader"
              value="displaykey.Web.UnanalyzedIndexStatsDV.Name"/>
            <Cell
              id="KeyColumnNamesheader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.KeyColumns"
              width="50"/>
            <Cell
              id="IsUniquheadere"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Unique"/>
            <CellIterator
              elementName="outOfDateIndexAN"
              id="cells"
              value="(TableStats.length &gt; 0) ? TableStats[0].AttributeNames : new String[0]">
              <Cell
                id="OutOfDateIndexANheader"
                value="outOfDateIndexAN"
                width="50"/>
            </CellIterator>
          </Row>
          <RowIterator
            editable="false"
            elementName="outOfDateIndex"
            value="TableStats">
            <Row>
              <Cell
                action="pcf.TableStatistics.push(PageHelper, outOfDateIndex.Table.Name)"
                enableSort="false"
                id="GetCurrentStats"
                value="displaykey.Web.DBStatistics.ViewCurrentStatistics"/>
              <Cell
                id="TableName"
                value="outOfDateIndex.Table.Name"/>
              <Cell
                id="IndexName"
                value="outOfDateIndex.Name"/>
              <Cell
                id="KeyColumnNames"
                value="outOfDateIndex.KeyColumnNames"/>
              <Cell
                id="IsUnique"
                value="outOfDateIndex.Unique"/>
              <CellIterator
                elementName="outOfDateIndexAV"
                value="outOfDateIndex.AttributeValues">
                <Cell
                  id="OutOfDateIndexAV"
                  value="outOfDateIndexAV"/>
              </CellIterator>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
