<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    closeOnLeaveScope="true"
    countsAsWork="false"
    id="ServerPerformanceDetailsWorksheet"
    tabLabel="dataType + &quot; time per request for &quot; + page + &quot; Page on &quot; + pageBrowserSummary.Browser"
    title="dataType + &quot; time per request for &quot; + page + &quot; Page on &quot; + pageBrowserSummary.Browser">
    <LocationEntryPoint
      signature="ServerPerformanceDetailsWorksheet(page : String, dataType : String, pageBrowserSummary : com.guidewire.pl.web.controller.timing.PageStatistics.PageBrowserSummary)"/>
    <Scope
      location="ServerPerformance()"/>
    <Variable
      name="page"
      type="String"/>
    <Variable
      name="dataType"
      type="String"/>
    <Variable
      name="pageBrowserSummary"
      type="com.guidewire.pl.web.controller.timing.PageStatistics.PageBrowserSummary"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="CloseButton"
          label="displaykey.Button.Close"/>
      </Toolbar>
      <ListViewPanel
        border="true"
        compress="true">
        <RowIterator
          editable="false"
          elementName="clientTime"
          value="(dataType == &quot;Server&quot;) ? pageBrowserSummary.RawServerTimesData : pageBrowserSummary.RawClientTimesData">
          <Row>
            <Cell
              align="left"
              enableSort="false"
              id="requestIdCell"
              label="&quot;Request #&quot;"
              value="clientTime[0]"
              width="10"/>
            <Cell
              align="left"
              enableSort="false"
              id="clientTimeCell"
              label="&quot;Client time for request&quot;"
              value="clientTime[1]"
              width="10"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Worksheet>
</PCF>
