<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    countsAsWork="false"
    id="ServerPerformance"
    parent="UnsupportedTools()"
    title="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Title">
    <LocationEntryPoint
      signature="ServerPerformance()"/>
    <Variable
      initialValue="com.guidewire.pl.web.controller.timing.WebRequestRecorder.calculatePageSummaries()"
      name="Data"/>
    <Screen
      id="ServerPerformanceScreen">
      <Toolbar>
        <ToolbarButton
          action="Data = com.guidewire.pl.web.controller.timing.WebRequestRecorder.calculatePageSummaries()"
          id="RefreshButton"
          label="displaykey.Button.Refresh"/>
        <ToolbarButton
          action="com.guidewire.pl.web.controller.timing.WebRequestRecorder.clearRecorder(); Data = com.guidewire.pl.web.controller.timing.WebRequestRecorder.calculatePageSummaries()"
          id="ClearResultsButton"
          label="displaykey.Web.InternalTools.InfoPages.ServerPerformance.ClearResults"/>
        <ToolbarButton
          action="com.guidewire.pl.web.controller.timing.WebRequestRecorder.exportSummaryToCSV()"
          download="true"
          id="SummaryExportButton"
          label="displaykey.Web.InternalTools.InfoPages.ServerPerformance.ExportSummary"/>
        <ToolbarButton
          action="com.guidewire.pl.web.controller.timing.WebRequestRecorder.exportRawDataToCSV()"
          download="true"
          id="RawDataExportButton"
          label="displaykey.Web.InternalTools.InfoPages.ServerPerformance.ExportRaw"/>
      </Toolbar>
      <ListViewPanel
        border="true"
        id="ServerPerformanceLV">
        <Row
          useHeaderStyle="true">
          <Cell
            id="pageNameH1"/>
          <Cell
            colspan="2"
            id="serverH1"
            value="&quot;Server&quot;"/>
          <CellIterator
            elementName="browser"
            id="bH1"
            value="Data.Browsers">
            <Cell
              colspan="3"
              id="browserAvgH1"
              value="browser"/>
          </CellIterator>
        </Row>
        <Row
          useHeaderStyle="true">
          <Cell
            id="pageNameH"
            value="&quot;Page&quot;"/>
          <Cell
            id="requestsH"
            value="&quot;Requests&quot;"/>
          <Cell
            id="serverH"
            value="&quot;Average(ms)&quot;"/>
          <CellIterator
            elementName="browser"
            id="bH2"
            value="Data.Browsers">
            <Cell
              id="requestsH"
              value="&quot;Requests&quot;"/>
            <Cell
              id="browserAvgH"
              value="&quot;Browser Average(ms)&quot;"/>
            <Cell
              id="serverAvgH"
              value="&quot;Server Average(ms)&quot;"/>
          </CellIterator>
        </Row>
        <RowIterator
          editable="false"
          elementName="Row"
          id="MainRows"
          pageSize="0"
          type="com.guidewire.pl.web.controller.timing.PageStatistics"
          value="Data.Pages">
          <IteratorSort
            sortBy="Row.PageId"
            sortOrder="1"/>
          <Row>
            <Cell
              id="name"
              value="Row.PageId"/>
            <Cell
              id="serverRequests"
              value="Row.ServerRequests"/>
            <Cell
              id="serveravg"
              value="Row.AverageServerTime"/>
            <CellIterator
              elementName="browser"
              value="Data.Browsers">
              <Cell
                id="requests"
                value="Row.getBrowserSummary(browser).Requests"/>
              <Cell
                action="ServerPerformanceDetailsWorksheet.goInWorkspace(Row.PageId, &quot;Client Rendering&quot;, Row.getBrowserSummary(browser))"
                id="browserAvg"
                value="Row.getBrowserSummary(browser).AverageBrowserTime + &quot;(&quot; + percentError(Row.getBrowserSummary(browser).AverageBrowserTime, Row.getBrowserSummary(browser).AverageServerTime) + &quot;%)&quot;"/>
              <Cell
                action="ServerPerformanceDetailsWorksheet.goInWorkspace(Row.PageId, &quot;Server&quot;, Row.getBrowserSummary(browser))"
                id="serverAvg"
                value="Row.getBrowserSummary(browser).AverageServerTime"/>
            </CellIterator>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
    <Code><![CDATA[function percentError(x1 : long, x2 : long) : int {
        return x2 == 0 ? 0 : (((java.lang.Math.abs(x1 - x2) as double) / (x2 as double)) * 100.0) as int
      }]]></Code>
  </Page>
</PCF>
