<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="TableStatistics"
    parent="DatabaseStatistics()"
    startInEditMode="true"
    title="displaykey.Web.DBCatalogStatisticsInfo.DBCatalogStatisticsInfo">
    <LocationEntryPoint
      signature="TableStatistics(PageHelper : gw.api.tools.DatabaseStatisticsHelper, TableName: String)"/>
    <Variable
      name="PageHelper"
      type="gw.api.tools.DatabaseStatisticsHelper"/>
    <Variable
      name="TableName"
      type="String"/>
    <Screen
      id="TableStatisticsScreen">
      <PanelRef
        def="DBStatisticsOneTableDV(PageHelper, PageHelper.getCurrentTableStatistics(TableName))"/>
    </Screen>
  </Page>
</PCF>
