<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="UpdateStatistics"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.UpdateStatistics">
    <Variable
      initialValue="new gw.api.tools.UpdateStatsDVHelper()"
      name="PageHelper"/>
    <Variable
      initialValue="0"
      name="lastJobId"/>
    <Variable
      name="searchString"
      type="String"/>
    <Screen
      id="UpdateStatisticsScreen">
      <PanelRef>
        <TitleBar
          title="displaykey.Web.InternalTools.InfoPages.UpdateStatistics.AvailableUpdateStatisticsRuns"/>
        <DetailViewPanel>
          <InputColumn
            refreshOnProgressComplete="true">
            <ListViewInput
              def="UpdateStatsLV(PageHelper)"
              labelAbove="true">
              <Toolbar
                visible="false">
                <CheckedValuesToolbarButton
                  allCheckedRowsAction="PageHelper.downloadComparisonOfDatabaseUpdateStats(CheckedValues)"
                  download="true"
                  id="LVGetUpdateStatsZip"
                  iterator="UpdateStatsLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.DownloadComparisonZip"/>
                <CheckedValuesToolbarButton
                  checkedRowAction="PageHelper.deleteDatabaseUpdateStats(Row)"
                  id="LVUpdateStatsDelete"
                  iterator="UpdateStatsLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"/>
              </Toolbar>
            </ListViewInput>
            <ButtonInput
              action="lastJobId = Pagehelper.submitBatch()"
              id="SubmitBatch"
              label="&quot; &quot;"
              labelAbove="true"
              value="displaykey.Web.InternalTools.InfoPages.DataDistribution.SubmitJob"
              visible="false"/>
            <ProgressInput
              id="batchProgress"
              labelAbove="true"
              percentage="PageHelper.BatchRunning ? -1 : 100"
              status="PageHelper.BatchRunning ?                             displaykey.Web.InternalTools.InfoPages.DataDistribution.RunningBatchProcess(lastJobId) : null"
              visible="false"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <DetailViewPanel
        visible="false">
        <InputColumn>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.UpdateStatistics.BatchParams"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelSet
        visible="false">
        <PanelRow>
          <PanelColumn>
            <DetailViewPanel>
              <InputColumn>
                <TextInput
                  editable="true"
                  id="description"
                  label="displaykey.Web.DataDistSubmitDV.Description"
                  numCols="100"
                  value="PageHelper.Description"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRow>
              <PanelColumn>
                <DetailViewPanel
                  id="DatabaseUpdateStatsSubmitDV">
                  <InputColumn>
                    <InputDivider/>
                    <CheckBoxInput
                      editable="true"
                      flatten="true"
                      id="Incremental"
                      label="displaykey.Web.InternalTools.InfoPages.UpdateStatistics.IncrementalUpdateStats"
                      value="PageHelper.Incremental"/>
                    <InputDivider/>
                  </InputColumn>
                </DetailViewPanel>
              </PanelColumn>
            </PanelRow>
          </PanelColumn>
        </PanelRow>
        <PanelRow
          editable="true"
          visible="!PageHelper.AnalyzeAllTables">
          <PanelColumn
            editable="true">
            <PanelRef
              editable="true"
              id="shown">
              <Toolbar>
                <CheckedValuesToolbarButton
                  checkedRowAction="row.Chosen = false"
                  id="useButton"
                  iterator="tableSelectionLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                  showConfirmMessage="false"/>
              </Toolbar>
              <ListViewPanel
                compress="true"
                editable="true"
                id="tableSelectionLV">
                <RowIterator
                  canPick="false"
                  checkBoxVisible="true"
                  editable="true"
                  elementName="row"
                  hasCheckBoxes="true"
                  pageSize="45"
                  value="PageHelper.DBTables">
                  <Row>
                    <TextCell
                      id="row"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.SelectedTables"
                      value="row.DisplayName"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </PanelColumn>
          <PanelColumn
            editable="true"
            id="available">
            <PanelRef
              editable="true">
              <Toolbar>
                <CheckedValuesToolbarButton
                  checkedRowAction="row.Chosen = true"
                  id="useButton"
                  iterator="tableAllLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                  showConfirmMessage="false"/>
                <ToolbarInput
                  editable="true"
                  id="searchStringTextBox"
                  postOnChange="true"
                  value="searchString"
                  visible="true"/>
              </Toolbar>
              <ListViewPanel
                compress="true"
                editable="true"
                id="tableAllLV">
                <RowIterator
                  canPick="false"
                  checkBoxVisible="true"
                  editable="true"
                  elementName="row"
                  hasCheckBoxes="true"
                  pageSize="45"
                  value="PageHelper.getAllDBTables(searchString)">
                  <Row>
                    <TextCell
                      id="row"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.AvailableTables"
                      value="row.DisplayName"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
    </Screen>
  </Page>
</PCF>
