<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="UpgradeInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.UpgradeInfo">
    <Variable
      initialValue="new gw.api.tools.UpgradeInfoPageHelper()"
      name="Page"/>
    <Screen
      id="UpgradeInfoScreen">
      <Toolbar/>
      <ListDetailPanel
        selectionName="SelectedUpgrade"
        selectionType="UpgradeInstance">
        <ListViewPanel
          compress="true"
          editable="false"
          id="UpgradeInfoLV">
          <RowIterator
            checkBoxVisible="true"
            editable="true"
            elementName="UpgradeRow"
            hasCheckBoxes="true"
            id="UgradeInstanceIterator"
            pageSize="0"
            value="Page.findAllUpgradeInstancesDateDescending() as UpgradeInstanceQuery">
            <Variable
              initialValue="UpgradeRow.findUpgradeRowCounts() as UpgradeRowCountQuery"
              name="RowCountsQuery"
              type="UpgradeRowCountQuery"/>
            <Variable
              initialValue="UpgradeRow.findUpgradeTableRegistries() as UpgradeTableRegistryQuery"
              name="TableRegistryQuery"
              type="UpgradeTableRegistryQuery"/>
            <Variable
              initialValue="UpgradeRow.findUpgradeSteps() as UpgradeStepQuery"
              name="StepQuery"
              type="UpgradeStepQuery"/>
            <Variable
              initialValue="UpgradeRow.findUpgradeDBStorageSets(false) as UpgradeDBStorageSetQuery"
              name="StorageSetQueryBefore"
              type="UpgradeDBStorageSetQuery"/>
            <Row
              editable="false">
              <ButtonCell
                action="Page.download(UpgradeRow)"
                align="center"
                available="UpgradeRow.hasChild()"
                download="true"
                hideChildrenIfReadOnly="true"
                hideIfDisabled="false"
                id="Download"
                value="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.Download"/>
              <ButtonCell
                action="UpgradeRow.deleteAllChildren()"
                available="UpgradeRow.hasChild()"
                hideIfDisabled="false"
                id="DeleteDetails"
                value="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.DeleteDetails"/>
              <Cell
                id="SourceMajorVersion"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.SourceMajorVersion"
                value="UpgradeRow.SourceMajorVersion"
                wrapLabel="true"/>
              <Cell
                id="SourceMinorVersion"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.SourceMinorVersion"
                value="UpgradeRow.SourceMinorVersion"
                wrapLabel="true"/>
              <Cell
                id="SourcePlatformVersion"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.SourcePlatformVersion"
                value="UpgradeRow.SourcePlatformVersion"
                wrapLabel="true"/>
              <Cell
                id="TargetMajorVersion"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.TargetMajorVersion"
                value="UpgradeRow.TargetMajorVersion"
                wrapLabel="true"/>
              <Cell
                id="TargetMinorVersion"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.TargetMinorVersion"
                value="UpgradeRow.TargetMinorVersion"
                wrapLabel="true"/>
              <Cell
                id="TargetPlatformVersion"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.TargetPlatformVersion"
                value="UpgradeRow.TargetPlatformVersion"
                wrapLabel="true"/>
              <DateCell
                dateFormat="short"
                id="UpgradeStartTime"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.StartTime"
                timeFormat="short"
                value="UpgradeRow.StartTime"
                wrapLabel="true"/>
              <DateCell
                dateFormat="short"
                id="UpgradeEndTime"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.EndTime"
                timeFormat="short"
                value="UpgradeRow.EndTime"
                wrapLabel="true"/>
              <Cell
                id="UpgradeExecDuration"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.Duration"
                value="UpgradeRow.ExecDuration"
                wrapLabel="true"/>
              <Cell
                action="UpgradeRowCounts.go(RowCountsQuery)"
                enableSort="false"
                id="RowCountsLink"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.RowCounts"
                value="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
                valueVisible="RowCountsQuery.getCount() != 0"
                wrapLabel="true"/>
              <Cell
                action="UpgradeTblRegistry.go(TableRegistryQuery)"
                enableSort="false"
                id="TableRegistryLink"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.TableRegistry"
                value="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
                valueVisible="TableRegistryQuery.getCount() != 0"
                wrapLabel="true"/>
              <Cell
                action="UpgradeDBParamSets.go(UpgradeRow)"
                enableSort="false"
                id="DBParamsLink"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseParameters"
                value="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
                valueVisible="UpgradeRow.UpgradeDBParameterSets.length != 0"
                wrapLabel="true"/>
              <Cell
                action="UpgradeDBStorageSets.go(Page, UpgradeRow)"
                enableSort="false"
                id="DBStorageInfoLink"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.StorageInfo"
                value="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
                valueVisible="StorageSetQueryBefore.getCount() != 0"
                wrapLabel="true"/>
              <Cell
                action="UpgradeSteps.go(StepQuery)"
                enableSort="false"
                id="StepsLink"
                label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.UpgradeSteps"
                value="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
                valueVisible="StepQuery.getCount() != 0"
                wrapLabel="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <PanelRef>
          <TitleBar
            title="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.Details"/>
          <CardViewPanel
            id="UpgradeCV">
            <Card
              id="UpgradePhasesCard"
              title="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.Phases">
              <PanelRef
                def="UpgradePhasesLV(SelectedUpgrade)">
                <Toolbar/>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </PanelRef>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>
