<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="perm.Group.viewloadfactors"
    id="LoadFactorsPopup"
    parent="Desktop()"
    title="displaykey.Web.LoadAndVacation">
    <Variable
      initialValue="getLoadFactorGroupList()"
      name="LoadFactorGroupList"
      recalculateOnRefresh="true"
      type="GroupQuery"/>
    <Screen
      editable="true"
      id="LoadFactorsScreen">
      <Toolbar/>
      <ListDetailPanel
        lockWhileEditing="true"
        selectionName="SelectedGroup"
        selectionType="Group">
        <ListViewPanel
          editable="true"
          id="GroupSelectionLV">
          <RowIterator
            editable="false"
            elementName="Group"
            value="LoadFactorGroupList">
            <Row>
              <Cell
                id="GroupName"
                label="displaykey.Web.LoadAndVacation.GroupName"
                value="Group.Name"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <CardViewPanel>
          <Card
            id="GroupDetailsCard"
            title="displaykey.Web.LoadAndVacation.GroupDetails.Title(SelectedGroup.Name)">
            <PanelRef
              def="LoadFactorDV(SelectedGroup)"
              editable="perm.Group.manageloadfactors(SelectedGroup)">
              <Toolbar
                visible="perm.Group.manageloadfactors(SelectedGroup)">
                <EditButtons/>
              </Toolbar>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
    <Code><![CDATA[
      function getLoadFactorGroupList() : GroupQuery {
        return Group.finder.findLoadFactorGroupsByUser(User.util.CurrentUser);
      }
    ]]></Code>
  </Popup>
</PCF>
