<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="Claim.ExposureListChangeable and perm.Claim.view(Claim) and perm.System.viewexposures"
    id="ReserveReinsurancesExtDetail"
    parent="ClaimReinSummary(Claim)"
    showUpLink="true"
    title="displaykey.GAIC.Page.ReserveReinsurancesExtDetail.Title">
    <LocationEntryPoint
      signature="ReserveReinsurancesExtDetail(claim : Claim, exposures : Exposure[])"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Exposures"
      type="Exposure[]"/>
    <ScreenRef
      def="ReserveReinsurancesExtDetailScreen(Claim, Exposures)"/>
  </Page>
</PCF>