<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="TransactionBasicsInputSet">
    <Require
      name="Transaction"
      type="Transaction"/>
    <Label
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.Details"/>
    <Input
      id="Exposure"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.Exposure"
      value="Transaction.Exposure.getFullDescriptionwithLossParty()"/>
    <RangeInput
      id="Coverage"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.Coverage"
      optionLabel="Transaction.Exposure.Coverage.covTypeDisplayName()"
      value="Transaction.Exposure.PrimaryCoverage"
      valueRange="Transaction.Exposure.Coverage.getCoverages()"/>
    <Input
      id="CostType"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.CostType"
      value="Transaction.CostType"/>
    <Input
      id="InjuryType"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.InjuryType"
      value="Transaction.WCInjuryTypeExt"
      visible="util.WCHelper.isWCorELLossType(Transaction.Claim)"/>
    <Input
      id="BureauBenefitType"
      label="displaykey.LV.Financials.ReserveSet.Reserves.BureauBenefit"
      value="Transaction.Exposure.BureauBenefitTypeExt"
      visible="util.WCHelper.isWCorELLossType(Transaction.Claim)"/>
    <!-- <Input
      id="CostCategory"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.CostCategory"
      value="Transaction.CostCategory"/> -->
    <!-- GW ADDED -->
    <Input
      id="Comments"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.Rationale"
      value="Transaction.Comments"/>
    <Input
      formatType="currency"
      id="OpenReserves"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.OpenReserves"
      value="financials.FinancialsCalculationUtil.getOpenReserves().getAmount(Transaction.ReserveLine)"/>
    <Input
      formatType="currency"
      id="Amount"
      label="displaykey.NVV.Financials.SubView.TransactionBasics.Transaction.ChangeAmount"
      value="Transaction.Amount"/>
    <!-- <InputSetRef
      def="TransactionExchangeRateInputSet(Transaction)"
      editable="false"/> -->
  </InputSet>
</PCF>