<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FixPropIncidentAssessDV">
    <Require
      name="FixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Variable
      name="selectedSource"
      type="AssessmentSource"/>
    <Variable
      name="contentSelectedSource"
      type="AssessmentSource"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Incident.FixedProperty.Assessment.Summary"/>
      <Input
        id="Display_Name"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.DisplayName"
        value="FixedPropertyIncident.DisplayName"/>
      <Input
        editable="true"
        id="General_Description"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.Name"
        required="false"
        value="FixedPropertyIncident.AssessmentName"/>
      <Input
        editable="true"
        id="Status"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.AssessmentStatus"
        postOnChange="true"
        required="false"
        value="FixedPropertyIncident.AssessmentStatus"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="TargetCloseDate"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.TargetCloseDate"
        value="FixedPropertyIncident.AssessmentTargetCloseDate"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="CloseDate"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.CloseDate"
        required="true"
        value="FixedPropertyIncident.AssessmentCloseDate"
        visible=" FixedPropertyIncident.AssessmentStatus == &quot;closed&quot; "/>
      <Input
        editable="true"
        id="General_Comment"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.Comment"
        value="FixedPropertyIncident.AssessmentComment"/>
      <Input
        action="UserContactDetailPopup.push(FixedPropertyIncident.InternalUser)"
        available="true"
        editable="true"
        id="InternalUser_Name"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.InternalUser.Name"
        value="FixedPropertyIncident.InternalUser"/>
      <Label
        label="displaykey.NVV.Incident.FixedProperty.Assessment.TrackLineItems"/>
      <Input
        editable="true"
        id="IncludeLineItems"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.IncludeLineItems"
        postOnChange="true"
        value="FixedPropertyIncident.IncludeLineItems"/>
      <Input
        editable="true"
        id="IncludeContentsLineItems"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.IncludeContentLineItems"
        postOnChange="true"
        value="FixedPropertyIncident.IncludeContentLineItems"/>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        def="FixPropAssessSourceLV(FixedPropertyIncident)"
        editable="true"
        label="displaykey.LV.Incident.FixedProperty.Assessment.AssessmentSource"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <Label
        label="displaykey.NVV.Incident.FixedProperty.Assessment.BuildingFinancials"
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <Input
        formatType="currency"
        id="ApproveTotal"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.ApprovedTotal"
        value="(FixedPropertyIncident as Incident).ApprovedTotal()"
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <Input
        formatType="currency"
        id="ReviewTotal"
        label="displaykey.NVV.Incident.FixedProperty.Assessment.ReviewTotal"
        value="(FixedPropertyIncident as Incident).ReviewTotal()"
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <Label
        label="displaykey.NVV.Incident.FixedProperty.Content.ContentFinancials"
        visible="FixedPropertyIncident.IncludeContentLineItems"/>
      <Input
        formatType="currency"
        id="ApproveContentTotal"
        label="displaykey.NVV.Incident.FixedProperty.Content.ApprovedTotal"
        value="(FixedPropertyIncident as Incident).ApprovedContentTotal()"
        visible="FixedPropertyIncident.IncludeContentLineItems"/>
      <Input
        formatType="currency"
        id="ReviewContentTotal"
        label="displaykey.NVV.Incident.FixedProperty.Content.ReviewTotal"
        value="(FixedPropertyIncident as Incident).ReviewContentTotal()"
        visible="FixedPropertyIncident.IncludeContentLineItems"/>
    </InputColumn>
    <InputFooterSection>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="FixPropAssessItemLV(FixedPropertyIncident)"
        editable="true"
        label="displaykey.LV.Incident.FixedProperty.AssessmentItem"
        labelAbove="true"
        visible="FixedPropertyIncident.IncludeLineItems">
        <Toolbar>
          <IteratorButtons/>
          <ToolbarDivider
            hideIfReadOnly="false"
            id="ActionSection"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentItem.ApproveAssessmentItem()"
            id="Approve"
            iterator="FixPropAssessItemLV"
            label="displaykey.LV.Incident.FixedProperty.AssessmentItem.Button.Approve"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentItem.DenyAssessmentItem()"
            id="Deny"
            iterator="FixPropAssessItemLV"
            label="displaykey.LV.Incident.FixedProperty.AssessmentItem.Button.Deny"/>
          <ToolbarDivider
            hideIfReadOnly="false"
            id="HistorySection1"/>
          <ToolbarRangeInput
            helpText="displaykey.LV.Incident.FixedProperty.AssessmentItem.Button.Source.Help"
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="SourceRange"
            label="displaykey.LV.Incident.FixedProperty.AssessmentItem.Button.Source"
            value="selectedSource"
            valueRange="FixedPropertyIncident.SourceLine"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentItem.AssociateAssessmentItem(selectedSource)"
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="Associate"
            iterator="FixPropAssessItemLV"
            label="displaykey.LV.Incident.FixedProperty.AssessmentItem.Button.Associate"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <ListViewInput
        boldLabel="true"
        def="FixPropContentItemLV(FixedPropertyIncident)"
        editable="true"
        label="displaykey.LV.Incident.FixedProperty.ContentItem"
        labelAbove="true"
        visible="FixedPropertyIncident.IncludeContentLineItems">
        <Toolbar>
          <IteratorButtons/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentContentItem.ApproveAssessmentItem()"
            id="ApproveContent"
            iterator="FixPropContentItemLV"
            label="displaykey.LV.Incident.FixedProperty.AssessmentContentItem.Button.Approve"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentContentItem.DenyAssessmentItem()"
            id="Deny"
            iterator="FixPropContentItemLV"
            label="displaykey.LV.Incident.FixedProperty.AssessmentContentItem.Button.Deny"/>
          <ToolbarDivider
            hideIfReadOnly="false"
            id="HistoryContentSection1"/>
          <ToolbarRangeInput
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="ContentSourceRange"
            label="displaykey.LV.Incident.FixedProperty.AssessmentContentItem.Button.Source"
            value="contentSelectedSource"
            valueRange="FixedPropertyIncident.SourceLine"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentContentItem.AssociateAssessmentItem(contentSelectedSource)"
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="AssociateContent"
            iterator="FixPropContentItemLV"
            label="displaykey.LV.Incident.FixedProperty.ContentItem.Button.Associate"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
