<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="VehIncidentAssessDV">
    <Require
      name="VehicleIncident"
      type="VehicleIncident"/>
    <Variable
      name="selectedSource"
      type="AssessmentSource"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Incident.Vehicle.Assessment.Summary"/>
      <Input
        editable="false"
        id="Display_Name"
        label="displaykey.NVV.Incident.Vehicle.Assessment.DisplayName"
        value="VehicleIncident.DisplayName"/>
      <Input
        editable="true"
        id="General_Description"
        label="displaykey.NVV.Incident.Vehicle.Assessment.Name"
        required="false"
        value="VehicleIncident.AssessmentName"/>
      <Input
        editable="true"
        id="Status"
        label="displaykey.NVV.Incident.Vehicle.Assessment.AssessmentStatus"
        postOnChange="true"
        required="false"
        value="VehicleIncident.AssessmentStatus"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="TargetCloseDate"
        label="displaykey.NVV.Incident.Vehicle.Assessment.TargetCloseDate"
        value="VehicleIncident.AssessmentTargetCloseDate"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="CloseDate"
        label="displaykey.NVV.Incident.Vehicle.Assessment.CloseDate"
        required="true"
        value="VehicleIncident.AssessmentCloseDate"
        visible=" VehicleIncident.AssessmentStatus == &quot;closed&quot; "/>
    </InputColumn>
    <InputColumn>
      <Input
        action="UserContactDetailPopup.push(VehicleIncident.InternalUser)"
        available="true"
        editable="true"
        id="InternalUser_Name"
        label="displaykey.NVV.Incident.Vehicle.Assessment.InternalUser.Name"
        value="VehicleIncident.InternalUser"/>
      <Input
        editable="true"
        id="General_Comment"
        label="displaykey.NVV.Incident.Vehicle.Assessment.Comment"
        value="VehicleIncident.AssessmentComment"/>
      <Input
        editable="false"
        formatType="currency"
        id="ApproveTotal"
        label="displaykey.NVV.Incident.Vehicle.Assessment.ApprovedTotal"
        value="(VehicleIncident as Incident).ApprovedTotal()"/>
      <!-- "(VehicleIncident as Incident).ReviewTotal()" -->
      <Input
        editable="false"
        formatType="currency"
        id="ReviewTotal"
        label="displaykey.NVV.Incident.Vehicle.Assessment.ReviewTotal"
        value="(VehicleIncident as Incident).ReviewTotal()"/>
    </InputColumn>
    <InputFooterSection>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="VehAssessSourceLV(VehicleIncident)"
        editable="true"
        label="displaykey.LV.Incident.Vehicle.Assessment.AssessmentSource"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            hideIfEditable="false"
            hideIfReadOnly="true"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="VehAssessItemLV(VehicleIncident)"
        editable="true"
        label="displaykey.LV.Incident.Vehicle.AssessmentItem"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
          <ToolbarDivider
            hideIfReadOnly="true"
            id="ActionSection"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentItem.ApproveAssessmentItem()"
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="Approve"
            iterator="VehAssessItemLV"
            label="displaykey.LV.Incident.Vehicle.AssessmentItem.Button.Approve"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentItem.DenyAssessmentItem()"
            hideIfReadOnly="true"
            id="Deny"
            iterator="VehAssessItemLV"
            label="displaykey.LV.Incident.Vehicle.AssessmentItem.Button.Deny"/>
          <ToolbarDivider
            hideIfReadOnly="false"
            id="HistorySection1"/>
          <ToolbarRangeInput
            helpText="displaykey.LV.Incident.Vehicle.AssessmentItem.Button.Source.Help"
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="SourceRange"
            label="displaykey.LV.Incident.Vehicle.AssessmentItem.Button.Source"
            showNoneSelected="true"
            value="selectedSource"
            valueRange="VehicleIncident.SourceLine"/>
          <CheckedValuesToolbarButton
            checkedRowAction="AssessmentItem.AssociateAssessmentItem(selectedSource)"
            hideIfEditable="false"
            hideIfReadOnly="true"
            id="Associate"
            iterator="VehAssessItemLV"
            label="displaykey.LV.Incident.Vehicle.AssessmentItem.Button.Associate"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
