<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    canEdit="false"
    canVisit="true"
    id="GeneralErrorWorksheet"
    tabLabel="displaykey.Web.GeneralErrorWorksheet.Title"
    title="displaykey.Web.GeneralErrorWorksheet.Title"
    validateOnBundleCommit="false">
    <LocationEntryPoint
      signature="GeneralErrorWorksheet(Message : String)"/>
    <Scope
      location="*"/>
    <Variable
      name="Message"
      type="String"/>
    <Screen
      id="GeneralErrorScreen">
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="GeneralErrorWorksheet_ClearButton"
          label="displaykey.Button.Clear"
          shortcut="L"/>
      </Toolbar>
      <Verbatim
        label="Message"/>
    </Screen>
  </Worksheet>
</PCF>
