<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <TabBar
    id="TabBar">
    <Tab
      action="Desktop.go()"
      id="DesktopTab"
      label="displaykey.Web.TabBar.Desktop"
      shortcut="K"
      subMenuOnDemand="true"
      visible="perm.System.viewdesktop"/>
    <Tab
      action="ClaimTabForward.go()"
      id="ClaimTab"
      label="gw.api.claim.ClaimUtil.getCurrentClaimNumber() != null ? displaykey.Web.TabBar.ClaimWithNumber(gw.api.claim.ClaimUtil.getCurrentClaimNumber()) : displaykey.Web.TabBar.Claim"
      shortcut="C"
      visible="perm.Claim.create or perm.Claim.genericviewclaim">
      <MenuItem
        action="FNOLWizard.go()"
        id="ClaimTab_FNOLWizard"
        label="displaykey.Web.TabBar.Claim.NewClaim"
        visible="perm.Claim.create"/>
      <SearchItem
        afterFailure="(searchCriteria as com.guidewire.cc.domain.claim.impl.ClaimSearchCriteriaWrapper).resetWithClaimNumber(searchText)"
        id="ClaimTab_FindClaim"
        label="displaykey.Web.TabBar.Claim.FindClaim"
        onFailure="ClaimSearch.go()"
        onResult="ClaimInfoForward.go(result as ClaimInfo)"
        property="Claim.Type.TypeInfo.getProperty(&quot;ClaimNumber&quot;)"
        search="gw.api.claim.ClaimNumberSearchUtil.search(searchText)"
        validationError="displaykey.Java.ClaimNumberSearchMenuItem.Error"
        visible="perm.Claim.genericviewclaim"/>
      <MenuItemIterator
        elementName="claimSessionRecentView"
        id="ClaimMenuIt"
        value="gw.api.claim.ClaimUtil.getRecentlyViewedClaims()">
        <MenuItem
          action="pcf.Claim.go(claimSessionRecentView.Claim)"
          id="ClaimMenuClaim"
          label="claimSessionRecentView.DisplayName"/>
      </MenuItemIterator>
    </Tab>
    <Tab
      action="Search.go()"
      id="SearchTab"
      label="displaykey.Web.TabBar.Search"
      shortcut="H"
      visible="perm.System.viewsearch"/>
    <Tab
      action="AddressBook.go()"
      id="AddressBookTab"
      label="displaykey.Web.TabBar.AddressBook"
      shortcut="A"
      visible="perm.Contact.viewsearchab"/>
    <Tab
      action="DashboardGroup.go()"
      id="DashboardTab"
      label="displaykey.Web.TabBar.Dashboard"
      visible="perm.User.viewanyedb and !gw.api.sree.SREEUtil.isEnabled()"/>
    <Tab
      action="Team.go()"
      id="TeamTab"
      label="displaykey.Web.TabBar.Team"
      shortcut="M"
      visible="perm.System.viewteam"/>
    <Tab
      action="Reports.go()"
      id="ReportTab"
      label="displaykey.Web.TabBar.Reporting"
      visible="perm.System.reporting_view and gw.api.sree.SREEUtil.isEnabled()"/>
    <Tab
      action="AdminWelcome.go()"
      id="AdminTab"
      label="displaykey.Web.TabBar.Administration"
      shortcut="T"
      visible="(perm.User.viewanyadmin or perm.Group.viewtree)">
      <MenuItem
        action="AdminWelcome.go()"
        id="AdminTab_Admin"
        label="displaykey.Web.TabBar.Administration"
        visible="perm.User.viewanyadmin"/>
      <MenuItem
        action="print.PrintUserGroupTreeViewAction.printUserGroupTree()"
        download="true"
        id="AdminTab_PrintUserGroupTree"
        label="displaykey.Web.TabBar.Administration.PrintUserGroupTree"
        visible="perm.Group.viewtree"/>
    </Tab>
    <Tab
      action="Vacation.go()"
      hideIfDisabled="false"
      id="VacationTab"
      label="displaykey.Web.TabBar.Vacation"
      visible="perm.System.viewvacation"/>
    <TabBarUnsavedWork
      id="UnsavedWorkTabBarLink"/>
    <TabBarLink
      id="LanguageTabBarLink"
      label="util.LocaleUtil.getCurrentLanguageLabel()"
      visible="util.LocaleUtil.canSwitchLanguage()">
      <MenuItemIterator
        elementName="lang"
        value="util.LocaleUtil.getAllLanguages() as LanguageType[]">
        <MenuItem
          action="gw.api.admin.BaseAdminUtil.setCurrentUsersLanguage(lang)"
          available="util.LocaleUtil.getCurrentUserLanguage() != lang"
          hideIfDisabled="false"
          id="language"
          label="util.LocaleUtil.getLanguageLabel(lang)"/>
      </MenuItemIterator>
    </TabBarLink>
    <TabBarLink
      action="Help.push()"
      id="HelpTabBarLink"
      label="displaykey.Web.TabBar.Help"/>
    <TabBarLink
      action="javascript:DHTML.popupAboutWindow();"
      id="AboutTabBarLink"
      label="displaykey.Web.TabBar.About"/>
    <TabBarLogout
      action="logout:*"
      id="LogoutTabBarLink"
      label="displaykey.Web.TabBar.Logout"
      shortcut="Z"/>
    <HiddenLink
      action="ProfilerPopup.push()"
      id="ProfilerHiddenLink"
      shortcut="ShiftP"/>
    <HiddenLink
      action="InternalTools.go()"
      id="InternalToolsHiddenLink"
      shortcut="ShiftT"/>
  </TabBar>
</PCF>
