<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="AttributeDetailDV">
    <Require
      name="Attribute"
      type="Attribute"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.AttributeDetailDV.Attribute"/>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.AttributeDetailDV.Name"
        required="true"
        value="Attribute.Name"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.Web.Admin.AttributeDetailDV.Description"
        numRows="3"
        value="Attribute.Description"/>
      <Input
        editable="true"
        id="Type"
        label="displaykey.Web.Admin.AttributeDetailDV.Type"
        required="true"
        value="Attribute.Type"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
