<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MedTreatPrescribedLV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <RowIterator
      editable="true"
      elementName="MedTreatPrescribed"
      hideCheckBoxesIfReadOnly="true"
      toAdd="Exposure.addToMedTreatmentsPrescribedExt(MedTreatPrescribed)"
      toRemove="Exposure.removeFromMedTreatmentsPrescribedExt(MedTreatPrescribed)"
      value="Exposure.MedTreatmentsPrescribedExt">
      <Row>
        <Cell
          action="MedTreatPrescribedPopup.push(MedTreatPrescribed)"
          id="ServiceFromDate"
          label="displaykey.MedicalTreatments.ServiceFrom"
          value="MedTreatPrescribed.ServiceFromDateExt"/>
        <Cell
          id="InvoiceNumber"
          label="displaykey.MedicalTreatments.InvoiceNum"
          numCols="10"
          value="MedTreatPrescribed.InvoiceNumberExt"/>
        <Cell
          id="Provider"
          label="displaykey.MedicalTreatments.Provider"
          numCols="8"
          value="MedTreatPrescribed.ProviderExt"/>
        <Cell
          id="RefServiceProv"
          label="displaykey.MedicalTreatments.RefServiceProvider"
          value="MedTreatPrescribed.RefServiceProviderExt"
          wrap="false"/>
        <Cell
          id="RenderingServiceProv"
          label="displaykey.MedicalTreatments.RendServiceProvider"
          value="MedTreatPrescribed.RendServiceProviderExt"
          wrap="false"/>
        <Cell
          id="Description"
          label="displaykey.MedicalTreatments.Desc"
          value="MedTreatPrescribed.DescriptionExt"
          wrap="false"/>
        <Cell
          id="AmountPaid"
          label="displaykey.MedicalTreatments.AmountPaid"
          numCols="10"
          value="MedTreatPrescribed.AmtPaidExt"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>