<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    canVisit="true"
    id="MedTreatPrescribedPopup"
    title="displaykey.MedicalTreatments.MedTreatmentPrescribed">
    <LocationEntryPoint
      signature="MedTreatPrescribedPopup(MedTreatment: MedTreatmentPrescribedExt)"/>
    <Variable
      name="MedTreatment"
      type="MedTreatmentPrescribedExt"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.MedicalTreatments.DMEData"
            visible="MedTreatment.ProviderExt == &quot;OCCM&quot;"/>
          <Label
            label="displaykey.MedicalTreatments.PharmacyData"
            visible="MedTreatment.ProviderExt == &quot;HCS&quot;"/>
          <Input
            id="ServiceFromDate"
            label="displaykey.MedicalTreatments.ServiceFrom"
            value="MedTreatment.ServiceFromDateExt"/>
          <Input
            id="ServiceToDate"
            label="displaykey.MedicalTreatments.ServiceTo"
            value="MedTreatment.ServiceToDateExt"/>
          <Input
            id="InvoiceNumber"
            label="displaykey.MedicalTreatments.InvoiceNum"
            value="MedTreatment.InvoiceNumberExt"/>
          <Input
            id="RefServiceProvider"
            label="displaykey.MedicalTreatments.RefServiceProvider"
            value="MedTreatment.RefServiceProviderExt"/>
          <Input
            id="RefServiceProvTaxID"
            label="displaykey.MedicalTreatments.RefServiceProviderTax"
            value="MedTreatment.RefServiceProvTaxIDExt"/>
          <Input
            id="RendServiceProvider"
            label="displaykey.MedicalTreatments.RendServiceProvider"
            value="MedTreatment.RendServiceProviderExt"/>
          <Input
            id="RendServiceProvTaxID"
            label="displaykey.MedicalTreatments.RendServiceProviderTax"
            value="MedTreatment.RendServiceProvTaxIDExt"/>
          <Input
            id="NDCNumber"
            label="displaykey.MedicalTreatments.NDCNum"
            value="MedTreatment.NDCNumExt"/>
          <Input
            id="Provider"
            label="displaykey.MedicalTreatments.Provider"
            value="MedTreatment.ProviderExt"/>
          <Input
            id="AmountPaid"
            label="displaykey.MedicalTreatments.AmountPaid"
            value="MedTreatment.AmtPaidExt"/>
          <Input
            id="PrescriptionNumber"
            label="displaykey.MedicalTreatments.PrescriptionNum"
            value="MedTreatment.PrescriptionNumExt"
            visible="MedTreatment.ProviderExt == &quot;HCS&quot;"/>
          <Input
            id="PrescriberID"
            label="displaykey.MedicalTreatments.PrescriberID"
            value="MedTreatment.PrescriberIDExt"
            visible="MedTreatment.ProviderExt == &quot;HCS&quot;"/>
          <Input
            id="Desc"
            label="displaykey.MedicalTreatments.Desc"
            value="MedTreatment.DescriptionExt"/>
          <Input
            id="DaysSupply"
            label="displaykey.MedicalTreatments.DaysSupply"
            value="MedTreatment.DaysSupplyExt"
            visible="MedTreatment.ProviderExt == &quot;HCS&quot;"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>