<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="VehAssessSourcePopup"
    startInEditMode="false"
    title="displaykey.NVV.Incident.Vehicle.AssessmentSource(AssessmentSource.Incident.DisplayName)">
    <LocationEntryPoint
      signature="VehAssessSourcePopup(AssessmentSource : AssessmentSource)"/>
    <Variable
      name="AssessmentSource"
      type="AssessmentSource"/>
    <Screen
      id="EditAssessmentSourceScreen">
      <Toolbar
        reflectOnBottom="true">
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="VehAssessSourceDetailsDV(AssessmentSource)"/>
    </Screen>
  </Popup>
</PCF>
