<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.reserve.delete(Reserve)"
    countsAsWork="false"
    id="DeleteReserveSet"
    parent="ClaimFinancialsTransactions(Claim)"
    startInEditMode="false"
    title="displaykey.JSP.DeleteReserveSet.Confirm.Title">
    <LocationEntryPoint
      signature="DeleteReserveSet(Claim : Claim, Reserve : Reserve)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Reserve"
      type="Reserve"/>
    <Screen
      id="DeleteReserveSetScreen">
      <Toolbar>
        <ToolbarButton
          action="financials.FinancialsUtil.deleteReserve(Reserve); financials.ClaimFinancialsTransactionsOption.RESERVE.saveOption(Claim); ClaimFinancialsTransactions.go(Claim)"
          id="DeleteReserveSet_DeleteButton"
          label="displaykey.Button.Delete"/>
        <ToolbarButton
          action="ClaimFinancialsTransactionsDetail.go(Claim, Reserve)"
          id="DeleteReserveSet_CancelButton"
          label="displaykey.Button.Cancel"
          shortcut="L"
          visible="true"/>
      </Toolbar>
      <Verbatim
        label="displaykey.JSP.DeleteReserveSet.Delete.Helper"/>
      <PanelRef
        def="DeleteReserveSetDV(Reserve.TransactionSet)"/>
    </Screen>
  </Page>
</PCF>
