<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RecoveryReservesSummaryDV">
    <Require
      name="NewRecoveryReserveSet"
      type="financials.RecoveryReserveWizardHelper"/>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        def="EditableRecoveryReservesLV(NewRecoveryReserveSet)"
        editable="true"
        labelAbove="true">
        <Toolbar/>
      </ListViewInput>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        def="TransactionSetDocumentsLV(NewRecoveryReserveSet.WorkingTransactionSet)"
        label="displaykey.NVV.Financials.RecoveryReservesSummary.RecoveryReserveSet.Documents"
        labelAbove="true"
        visible="perm.System.viewdocs">
        <Toolbar/>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
