<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- The next name value view controls the matter screens -->
  <DetailViewPanel
    id="NewMatterDV">
    <Require
      name="Matter"
      type="Matter"/>
    <Require
      name="AssigneeHolder"
      type="assignment.Assignee[]"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral"/>
      <Input
        editable="true"
        id="MatterType"
        label="displaykey.MatterGeneral.Matter.Type"
        postOnChange="true"
        required="true"
        value="matter.MatterType"/>
      <Input
        editable="true"
        id="Matter_Name"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Matter.Name"
        required="true"
        value="matter.Name"/>
      <Input
        editable="true"
        id="Matter_CaseNumber"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Matter.CaseNumber"
        required="false"
        value="matter.CaseNumber"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Plaintiff"
        label="displaykey.MatterGeneral.Matter.Plaintiff"
        required="false"
        value="Matter.Plaintiff"
        valueRange="Matter.Claim.getRelatedContacts()"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Defendant"
        label="displaykey.MatterGeneral.Matter.Defendant"
        required="false"
        value="Matter.Defendant"
        valueRange="Matter.Claim.getRelatedContacts()"/>
      <Input
        editable="true"
        id="TrialDetails_SubroRelated"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.TrialDetails.SubroRelated"
        required="false"
        value="matter.SubroRelated"/>
      <InputDivider/>
      <Label
        label="displaykey.MatterGeneral.Matter.Litigation"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Input
        editable="true"
        id="CourtType"
        label="displaykey.MatterGeneral.Matter.CourtType"
        postOnChange="true"
        required="false"
        value="Matter.CourtType"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Input
        editable="true"
        id="CourtDistrict"
        label="displaykey.MatterGeneral.Matter.CourtDistrict"
        required="false"
        value="Matter.CourtDistrict"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Input
        editable="true"
        id="LegalSpecialty"
        label="displaykey.MatterGeneral.Matter.LegalSpecialty"
        required="false"
        value="Matter.LegalSpecialty"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Input
        editable="true"
        id="TrialDetails_PrimaryCause"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.TrialDetails.PrimaryCause"
        required="false"
        value="matter.PrimaryCause"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <InputDivider
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;General&quot;"/>
      <Label
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_PlaintiffAttorney"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.PlaintiffAttorney"
        required="false"
        value="Matter.PlaintiffAtt"
        valueRange="Matter.Claim.RelatedAttorneyArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_PlaintiffLawFirm"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.PlaintiffLawFirm"
        required="false"
        value="Matter.PlaintiffFirm"
        valueRange="Matter.Claim.RelatedLawFirmArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_DefenseAttorney"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.DefenseAttorney"
        required="false"
        value="Matter.DefenseAttorney"
        valueRange="Matter.Claim.RelatedAttorneyArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <ClaimContactInput
        claim="Matter.Claim"
        editable="true"
        id="Counsel_DefenseLawFirm"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Counsel.DefenseLawFirm"
        required="false"
        value="Matter.DefenseFirm"
        valueRange="Matter.Claim.RelatedLawFirmArray"
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <InputDivider
        visible="matter.MatterType == &quot;Lawsuit&quot; || matter.MatterType == &quot;Arbitration&quot; || matter.MatterType == &quot;Hearing&quot; || matter.MatterType == &quot;General&quot;"/>
      <CCAssigneeInput
        assignable="Matter"
        claim="Matter != null ? Matter.Claim : null"
        editable="true"
        id="Matter_AssignActivity"
        label="displaykey.NVV.Matter.SubView.NewMatterGeneral.Matter.AssignActivity"
        showNoneSelected="false"
        sortValueRange="false"
        value="AssigneeHolder[0]"
        valueRange="Matter.SuggestedAssignees"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
