<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="ExposureDetailDV"
    mode="av_BodilyInjury">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Card
      id="BaggageDamage_DetailsCard"
      title="displaykey.NVV.Exposure.Baggage.Details">
      <PanelRef
        def="AviationBodilyInjuryDV(Exposure)"/>
    </Card>
    <Card
      id="Exposure_ISOCard"
      title="displaykey.NVV.Exposure.ISO"
      visible="!Exposure.Claim.ISOClaimLevelMessaging">
      <PanelRef
        def="ISODetailsDV(Exposure)"/>
    </Card>
  </CardViewPanel>
</PCF>