<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- PLEASE BE CAREFUL TO NOTICE THE VISIBLE ATTRIBUTE ON THE INPUT SETS IN THIS FILE
	     WHEN EDITING FIELDS!!! -->
  <InputSet
    id="InjuryDetailsInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Require
      name="ExpType"
      type="String"/>
    <Label
      label="displaykey.NVV.Exposure.SubView.PIP.Exposure.Medical"/>
    <TextAreaInput
      editable="true"
      id="DamageDescProp"
      label="Exposure.UIHelper.InjuryNatureDescExt_Label"
      numCols="40"
      numRows="3"
      value="Exposure.InjuryNatureDescExt"/>
    <Input
      editable="true"
      id="Severity"
      label="displaykey.NVV.Exposure.SubView.PIP.Exposure.Severity"
      required="false"
      value="Exposure.Incident.Severity"/>
    <!-- NOT VISIBLE FOR MED PAY -->
    <Input
      editable="true"
      id="LeadingInjury"
      label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.LeadingInjury"
      value="Exposure.LeadingInjuryExt"
      visible="Exposure.UIHelper.IsPrimaryInjuryTypeVisible(ExpType)"/>
    <!-- VISIBLE FOR Personal Injury, Bodily Injury -->
    <InputSet
      id="non_medpay_section"
      visible="(ExpType==&quot;BodilyInjury&quot; || ExpType==&quot;PersonalInjury&quot;|| Exposure.UIHelper.IsNonMedPayInjuryDetailsInputSetVisible) == true ? true : false">
      <Input
        editable="true"
        id="DetailedInjury"
        label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.DetailedInjury"
        value="Exposure.DetailedInjuryExt"
        visible="Exposure.ExposureType!=ExposureType.TC_AV_MEDPAY"/>
      <Input
        editable="true"
        id="PrimaryBodyPart"
        label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.PrimaryBodyPart"
        value="Exposure.PrimaryBodyPartExt"/>
      <Input
        editable="true"
        id="DetailedBodyPart"
        label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.DetailedBodyPart"
        value="Exposure.DetailedBodyPartExt"
        visible="Exposure.ExposureType!=ExposureType.TC_AV_MEDPAY"/>
      <Input
        editable="true"
        id="MedicalTreatment"
        label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.MedicalTreatment"
        value="Exposure.MedicalTreatmentExt"/>
      <Input
        editable="true"
        id="Impairment"
        label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.Impairment"
        value="Exposure.ImpairmentExt"
        visible="Exposure.ExposureType!=ExposureType.TC_AV_MEDPAY"/>
    </InputSet>
    <!-- VISIBLE FOR Med Pay -->
    <InputSet
      id="medpay_section"
      visible="(ExpType==&quot;MedPay&quot; || Exposure.UIHelper.IsMedPayInjuryDetailsInputSetVisible)== true ? true : false">
      <Input
        editable="true"
        id="MPLeadingInjury"
        label="displaykey.NVV.Exposure.SubView.NewMedPay.Exposure.LeadingInjury"
        value="Exposure.LeadingInjuryExt"/>
      <Input
        editable="true"
        id="MPPrimaryBodyPart"
        label="displaykey.NVV.Exposure.SubView.NewMedPay.Exposure.PrimaryBodyPart"
        value="Exposure.PrimaryBodyPartExt"/>
      <Input
        editable="true"
        id="MPMedicalTreatment"
        label="displaykey.NVV.Exposure.SubView.NewMedPay.Exposure.MedicalTreatment"
        value="Exposure.MedicalTreatmentExt"/>
    </InputSet>
    <!-- VISIBLE FOR PIP -->
    <InputSet
      id="pip_section"
      visible="ExpType==&quot;PIP&quot;">
      <TextAreaInput
        editable="true"
        id="AdditionalInformation"
        label="displaykey.NVV.Exposure.SubView.PIP.Exposure.AdditionalInfo"
        numCols="30"
        numRows="3"
        value="Exposure.Incident.Description"/>
      <RangeInput
        editable="true"
        id="DoctorsName"
        label="displaykey.NVV.Exposure.SubView.PIP.Exposure.PrimaryDoctor.Name"
        required="false"
        value="Exposure.Doctor"
        valueRange="Exposure.getDoctors()"/>
      <Input
        editable="true"
        id="TreatmentType"
        label="displaykey.NVV.Exposure.SubView.PIP.Exposure.TreatmentType"
        value="Exposure.MedicalTreatmentExt"/>
      <Input
        editable="true"
        id="LostWages"
        label="displaykey.NVV.Exposure.SubView.PIP.Exposure.LostWages"
        value="Exposure.LostWagesExt"/>
      <Input
        editable="true"
        id="WeeklyCompRate"
        label="displaykey.NVV.Exposure.SubView.PIP.Exposure.WklyCompRate"
        value="Exposure.WeeklyCompRateExt"/>
      <ListViewInput
        def="IMEPerformedLV(Exposure)"
        editable="true"
        id="IMEsPerformed"
        label="displaykey.NVV.Exposure.SubView.PIP.Exposure.IMEsPerformed">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputSet>
  </InputSet>
</PCF>