<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="InvolvedHorseInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <!-- DAMAGED PROPERTY VALUE SECTION -->
    <Label
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.DamagPropDesc"/>
    <TextAreaInput
      editable="true"
      id="DamageDescProp"
      numCols="40"
      numRows="3"
      value="Exposure.InjuryNatureDescExt"/>
    <InputDivider/>
    <Label
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.InvolvedHorse"/>
    <Input
      editable="true"
      id="Breed"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.Breed"
      value="Exposure.FixedPropertyIncident.Property.ex_Breed"/>
    <Input
      editable="true"
      id="AName"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalName"
      value="Exposure.FixedPropertyIncident.Property.LocationNumber"/>
    <!-- 08272008 MMANALILI Defect 1376 added validation expression and onChange attributes for Horse Age the same as in LocationDetailDV.EQUINE.pcf -->
    <Input
      editable="true"
      id="ABirthyear"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalBirthyear"
      onChange="if(util.custom_Ext.DateTime.getAge(Exposure.FixedPropertyIncident.Property.ex_DateofBirth) &gt;= 60){GeneralErrorWorksheet.goInWorkspace(displaykey.GAIC.Equine.LocationDetailDV.YearofBirth.HighValidation)}"
      postOnChange="true"
      validationExpression="(util.custom_Ext.DateTime.getAge(Exposure.FixedPropertyIncident.Property.ex_DateofBirth) &lt; 0) ? displaykey.GAIC.Equine.LocationDetailDV.YearofBirth.NegativeValidation : null"
      value="Exposure.FixedPropertyIncident.Property.ex_DateofBirth"/>
    <Input
      id="AAge"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalAge"
      value="Exposure.getPropertyAge()"/>
    <Input
      editable="true"
      id="ASex"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalSex"
      value="Exposure.FixedPropertyIncident.Property.ex_Sex"/>
    <Input
      editable="true"
      id="AUse"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalUse"
      postOnChange="true"
      value="Exposure.FixedPropertyIncident.Property.ex_AnimalUse"/>
    <Input
      editable="true"
      id="AUse2"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalUse2"
      value="Exposure.FixedPropertyIncident.Property.AnimalUse2Ext"
      visible="Exposure.FixedPropertyIncident.Property.ex_AnimalUse!=null"/>
    <Input
      editable="true"
      id="AValue"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.AnimalValue"
      value="Exposure.FixedPropertyIncident.Property.AnimalValueExt"/>
    <Input
      editable="true"
      id="VetBills"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.VetBills"
      value="Exposure.FixedPropertyIncident.Property.VetBillsExt"/>
    <Input
      editable="true"
      id="Boarding"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.Boarding"
      value="Exposure.FixedPropertyIncident.Property.BoardingExt"/>
    <InputDivider/>
  </InputSet>
</PCF>