<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ThirdPPropDamInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <!-- DAMAGED PROPERTY VALUE SECTION -->
    <Label
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.DamagPropDesc"
      visible="Exposure.UIHelper.IsDamagedPropertyDescVisible"/>
    <TextAreaInput
      editable="true"
      id="DamageDescProp"
      numCols="40"
      numRows="3"
      value="Exposure.InjuryNatureDescExt"
      visible="Exposure.UIHelper.IsDamagedPropertyDescVisible"/>
    <InputDivider
      visible="Exposure.UIHelper.IsDamagedPropertyDescVisible"/>
    <!-- RECOVERY SECTION -->
    <Label
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.Recovery"/>
    <Input
      editable="true"
      id="SalvPotential"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.SalvPotential"
      required="Exposure.UIHelper.IsSalvagePotentialRequired"
      value="Exposure.SalvagePotentialExt"
      visible="Exposure.UIHelper.IsSalvagePotentialVisible"/>
    <Input
      editable="true"
      id="ContributionPotential"
      label="displaykey.NVV.Exposure.SubView.NewMedPay.Exposure.ContPotential"
      required="Exposure.Claim.LossType==&quot;EXCESSLIABILITY&quot; || Exposure.Claim.LossType==&quot;EXCESSLIABILITYAUTO&quot; OR Exposure.Claim.LossType==LossType.TC_ALTMARKETSAUTO OR Exposure.Claim.LossType==LossType.TC_SHSAUTO OR Exposure.Claim.LossType==LossType.TC_TRUCKINGAUTO ? false : true"
      value="Exposure.ContribPotentialExt"/>
    <Input
      editable="true"
      id="DeductibleBooleanRadioInput"
      label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.IsThereDeductible"
      required="true"
      value="Exposure.DeductibleExistsExt"
      visible="Exposure.UIHelper.IsDeductibleVisible"/>
    <Input
      editable="true"
      id="SubroPotential"
      label="displaykey.NVV.Exposure.SubView.PropertyDamage.Exposure.SubroPotential"
      required="Exposure.UIHelper.IsSubgrogationPotentialRequired"
      value="Exposure.SubrogPotentialExt"
      visible="Exposure.UIHelper.IsCommAuto ? true : false"/>
    <InputDivider/>
    <!-- Recovery Section -->
    <Label
      label="displaykey.NVV.Claim.SubView.NewClaimLossDetailsProperty.Claim.Details"
      visible="(Exposure.UIHelper.IsCommAuto ? true : false) AND Exposure.ExposureType!=ExposureType.TC_AB_AUTOPROPDAM"/>
    <Input
      editable="true"
      id="Lien"
      label="displaykey.NVV.Exposure.SubView.NewBodilyInjuryDamage.Exposure.Lien"
      onChange="if((Exposure.IsLienExt==false)AND(Exposure.Liens!=null))for(lien in Exposure.Liens){lien.remove();Exposure.UIHelper.addFormerRole(lien)}"
      postOnChange="true"
      required="true"
      value="Exposure.IsLienExt"
      visible="(Exposure.UIHelper.IsCommAuto ? true : false) AND Exposure.ExposureType!=ExposureType.TC_AB_AUTOPROPDAM"/>
    <ListViewInput
      def="EditableLienDetailsLV(Exposure)"
      editable="Exposure.IsLienExt==true"
      id="LienDetails"
      labelAbove="true"
      visible="(Exposure.UIHelper.IsCommAuto ? true : false) AND Exposure.ExposureType!=ExposureType.TC_AB_AUTOPROPDAM">
      <Toolbar>
        <IteratorButtons/>
      </Toolbar>
    </ListViewInput>
    <InputDivider
      visible="Exposure.UIHelper.IsCommAuto ? true : false AND Exposure.ExposureType==ExposureType.TC_AB_PROPERTYDAMAGE"/>
  </InputSet>
</PCF>