<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="VehicleSummaryInputSet"
    visible="(Exposure.Claim.LossType==&quot;AGRIAUTO&quot; OR Exposure.UIHelper.IsCommAuto ? true : false) and (Exposure.ExposureType==ExposureType.TC_AB_AUTOPROPDAM or (Exposure.ExposureType==ExposureType.TC_AB_PHYSICALDAMAGE and Exposure.Coverage.Subtype==&quot;PolicyCoverage&quot;)) or Exposure.ExposureType == ExposureType.TC_PE_AUTOPROPDAMAGE or Exposure.ExposureType == ExposureType.TC_PE_PROPDAMAGE or Exposure.ExposureType == ExposureType.TC_PE_PHYSICALDAMAGE">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Variable
      initialValue="Exposure.populateVehicleIncident()"
      name="setVehicle"/>
    <!-- <Label
      label="displaykey.NVV.Exposure.SubView.Exposure.VehicleIncident.InvolvedVehicle"/> -->
    <!-- Basic Vehicle Details -->
    <Input
      editable="!(Exposure.LossParty==LossPartyType.TC_INSURED and Exposure.Coverage.SubType==&quot;VehicleCoverage&quot;)"
      id="Vehicle_Year"
      label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Year"
      postOnChange="true"
      required="false"
      value="Exposure.VehicleIncident.Vehicle.Year"/>
    <Input
      editable="!(Exposure.LossParty==LossPartyType.TC_INSURED and Exposure.Coverage.SubType==&quot;VehicleCoverage&quot;)"
      id="Vehicle_Make"
      label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Make"
      postOnChange="true"
      required="false"
      value="Exposure.VehicleIncident.Vehicle.Make"/>
    <Input
      editable="!(Exposure.LossParty==LossPartyType.TC_INSURED and Exposure.Coverage.Subtype==&quot;VehicleCoverage&quot;)"
      id="Vehicle_Model"
      label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.Model"
      postOnChange="true"
      required="false"
      value="Exposure.VehicleIncident.Vehicle.Model"/>
    <Input
      editable="!(Exposure.LossParty==LossPartyType.TC_INSURED and Exposure.Coverage.Subtype==&quot;VehicleCoverage&quot;)"
      id="Vehicle_VIN"
      label="displaykey.NVV.Policy.PolicyVehicleDetail.Vehicle.VIN"
      postOnChange="true"
      required="false"
      validationExpression="Exposure.validateVin()"
      value="Exposure.VehicleIncident.Vehicle.Vin"/>
  </InputSet>
</PCF>