<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- ### =================================================================================================================
  ###  WCInjury Damage subviews
  ### ================================================================================================================= -->
  <DetailViewPanel
    id="WCInjuryDamageDV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MPN"/>
      <Input
        editable="true"
        id="MPN_PTPinMPN"
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MPN.PTPinMPN"
        value="Exposure.Claim.PTPinMPN"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="MPN_InsurerSentMPNNotice"
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MPN.InsurerSentMPNNotice"
        value="Exposure.Claim.InsurerSentMPNNotice"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="MPN_EmpSentMPNNotice"
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MPN.EmpSentMPNNotice"
        value="Exposure.Claim.EmpSentMPNNotice"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="MPN_InjWkrInMPN"
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MPN.InjWkrInMPN"
        value="Exposure.Claim.InjWkrInMPN"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MMI"/>
      <DateInput
        dateFormat="long"
        editable="perm.System.editSensMCMdetails"
        id="MMI_MMIdate"
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MMI.MMIdate"
        value="Exposure.Claim.MMIdate"/>
      <TextAreaInput
        editable="perm.System.editSensMCMdetails"
        id="MMI_MMInote"
        label="displaykey.NVV.Claim.MedCaseMgrDetails.MMI.MMInote"
        numCols="30"
        numRows="3"
        value="Exposure.Claim.MMInote"/>
      <InputDivider/>
      <Label
        id="FirstProviderContact"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstProviderContact"/>
      <TextAreaInput
        editable="true"
        id="FirstNotice_SubjComplaints"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.SubjComplaints"
        numCols="30"
        numRows="3"
        value="Exposure.Claim.SubjComplaints"/>
      <TextAreaInput
        editable="true"
        id="FirstNotice_ObjFindings"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.ObjFindings"
        numCols="30"
        numRows="3"
        value="Exposure.Claim.ObjFindings"/>
      <Input
        editable="true"
        id="FirstNotice_DiagnosticConsistent"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.DiagnosticConsistent"
        value="Exposure.Claim.DiagnosticCnsistnt"/>
      <Input
        editable="true"
        id="FirstNotice_CurrentConditions"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.CurrentConditions"
        value="Exposure.Claim.CurrentConditions"/>
      <Input
        editable="true"
        id="FirstNotice_TreatedPatientBefore"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.TreatedPatientBefore"
        value="Exposure.Claim.TreatedPatientBfr"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice"/>
      <ClaimContactInput
        claim="Exposure.Claim"
        editable="true"
        id="FirstNotice_FirstIntakeDoctor"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.FirstIntakeDoctor"
        value="Exposure.Claim.FirstIntakeDoctor"
        valueRange="Exposure.Claim.getRelatedContacts(Exposure.Claim.getContactType(&quot;FirstIntakeDoctor&quot;)) as Doctor[]"/>
      <Input
        editable="true"
        id="FirstNotice_MedicalDiagnosis"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.MedicalDiagnosis"
        value="Exposure.Claim.MedicalDiagnosis"/>
      <DateInput
        dateFormat="long"
        editable="true"
        id="FirstNotice_ExaminationDate"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.ExaminationDate"
        value="Exposure.Claim.ExaminationDate"/>
      <RangeInput
        editable="true"
        id="FirstNotice_MedicalTreatment"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.MedicalTreatment"
        value="Exposure.Claim.ClaimInjuryIncident.MedicalTreatmentType"
        valueRange="typekey.MedicalTreatmentType.getTypeKeys(false).where(\ l -&gt; l.hasCategory(Exposure.Claim.LossType))"/>
      <Label/>
      <TextAreaInput
        editable="true"
        id="FirstNotice_TreatmentRend"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.TreatmentRend"
        numCols="30"
        numRows="3"
        value="Exposure.Claim.TreatmentRend"/>
      <Input
        editable="true"
        id="FirstNotice_FurtherTreatment"
        label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.FurtherTreatment"
        value="Exposure.Claim.FurtherTreatment"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Hospital_HospitalDate"
        label="displaykey.NVV.Exposure.WCInjuryDamage.Hospital.HospitalDate"
        value="Exposure.Claim.HospitalDate"/>
      <Input
        editable="true"
        id="Hospital_HospitalDays"
        label="displaykey.NVV.Exposure.WCInjuryDamage.Hospital.HospitalDays"
        value="Exposure.Claim.HospitalDays"/>
      <Input
        editable="true"
        id="Hospital_PreexDisability"
        label="displaykey.NVV.Exposure.WCInjuryDamage.Hospital.PreexDisability"
        postOnChange="true"
        value="Exposure.Claim.PreexDisblty"/>
      <Input
        editable="true"
        id="Hospital_PreexDisabilityInfo"
        label="displaykey.NVV.Exposure.WCInjuryDamage.Hospital.PreexDisabilityInfo"
        value="Exposure.Claim.PreexDisbltyInfo"
        visible="Exposure.Claim.PreexDisblty == true"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.SubView.WCInjuryDamage.Exposure.Settlement"/>
      <Input
        editable="true"
        id="SettlementDate"
        label="displaykey.NVV.Exposure.SubView.WCInjuryDamage.Exposure.SettlementDate"
        validationExpression="Exposure.SettleDate == null || Exposure.SettleDate &lt; util.DateUtil.currentDate() ? null : displaykey.Java.Validation.Date.ForbidFuture"
        value="Exposure.SettleDate"/>
      <Input
        editable="true"
        id="SettlementMethod"
        label="displaykey.NVV.Exposure.SubView.WCInjuryDamage.Exposure.SettlementMethod"
        value="Exposure.SettleMethod"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>