<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="WCInitialInjuryInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Variable
      initialValue="new pcf_gs.HospitalHelper(Exposure.Claim)"
      name="HospitalHelper"
      type="pcf_gs.HospitalHelper"/>
    <Label
      label="&quot;Initial Injury or Illness Information&quot;"/>
    <ClaimContactInput
      claim="Exposure.Claim"
      editable="true"
      id="MedCase_FirstIntakeDoctor"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.FirstIntakeDoctor"
      newContactMenu="ClaimNewDoctorForeignVendorDoctorPickerMenuItemSet"
      value="Exposure.Claim.FirstIntakeDoctor"
      valueRange="Exposure.Claim.getDoctorContacts()"
      visible="Exposure.Claim.Policy.Verified"/>
    <ClaimContactInput
      claim="Exposure.Claim"
      editable="true"
      id="MedCase_FirstIntakeDoctor_Unverified"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.FirstIntakeDoctor"
      newContactMenu="BlankNewContactPickerMenuItemSet()"
      value="Exposure.Claim.FirstIntakeDoctor"
      valueRange="Exposure.Claim.getDoctorContacts()"
      visible="!Exposure.Claim.Policy.Verified"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="MedCase_ExaminationDate"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.ExaminationDate"
      postOnChange="true"
      requestValidationExpression="VALUE != null and gw.api.util.DateUtil.compareIgnoreTime(VALUE,util.DateUtil.currentDate())&gt;0 ? displaykey.Java.Validation.Date.ForbidFuture : null"
      value="Exposure.Claim.ExaminationDate"/>
    <RangeInput
      editable="true"
      id="MedCase_MedicalTreatment"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.MedicalTreatment"
      value="Exposure.Claim.TreatmentTypeExt"
      valueRange="typekey.TreatmentTypeExt.getTypeKeys(false)"
      valueWidth="200"/>
    <BooleanRadioInput
      editable="true"
      id="PhsycialRestrictionIndicator"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.Phys"
      value="Exposure.Claim.EmploymentData.PhysRestrictionsExt"/>
    <BooleanRadioInput
      editable="true"
      id="EmergencyRoomTreatment"
      label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.EmergencyRoom"
      labelStyleClass="label_wrap"
      value="Exposure.Claim.EmergencyRoomTxExt"/>
    <BooleanRadioInput
      editable="true"
      id="FurtherTreatment"
      label="displaykey.NVV.Exposure.WCInjuryDamage.FirstNotice.FurtherTreatment"
      value="Exposure.FurtherTreatment"
      visible="false"/>
    <BooleanRadioInput
      editable="true"
      id="HospitalizedOvernight"
      label="displaykey.NVV.Claim.LossDetailsWorkersComp.Claim.HospitalizedOvernight"
      required="false"
      value="Exposure.Claim.HospitalOvernightExt"/>
    <ClaimContactInput
      claim="Exposure.Claim"
      editable="true"
      id="MedCase_Hospital"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.Hospital"
      newContactMenu="ClaimNewVendorForeignVendorPickerMenuItemSet"
      value="Exposure.Claim.firstintakehospital"
      valueRange="Exposure.Claim.getHospitalContacts()"
      visible="Exposure.Claim.Policy.Verified"/>
    <ClaimContactInput
      claim="Exposure.Claim"
      editable="true"
      id="MedCase_Hospital_Unverified"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.Hospital"
      newContactMenu="BlankNewContactPickerMenuItemSet()"
      value="Exposure.Claim.firstintakehospital"
      valueRange="Exposure.Claim.getHospitalContacts()"
      visible="!Exposure.Claim.Policy.Verified"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="MedCase_HospitalDate"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.HospitalDate"
      postOnChange="true"
      requestValidationExpression="VALUE != null and gw.api.util.DateUtil.compareIgnoreTime(VALUE,util.DateUtil.currentDate())&gt;0 ? displaykey.Java.Validation.Date.ForbidFuture : null"
      value="Exposure.Claim.HospitalDate"/>
    <Input
      editable="true"
      id="MedCase_HospitalDays"
      label="displaykey.NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.MedCase.HospitalDays"
      value="Exposure.Claim.HospitalDays"/>
    <BooleanRadioInput
      editable="true"
      id="PreexistingDisability"
      label="displaykey.NVV.Claim.MedCaseMgrDetails.Hospital.PreexDisability"
      required="false"
      value="Exposure.WCPreexDisblty"
      visible="false"/>
    <Input
      editable="true"
      id="PreexistingDisabilityDetail"
      label="displaykey.NVV.Claim.MedCaseMgrDetails.Hospital.PreexDiabilityDetail"
      required="false"
      value="Exposure.WCPreexDisbltyInfo"
      visible="false"/>
  </InputSet>
</PCF>