<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyVehicles500LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Variable
      initialValue="(SnapshotParam as snapshot.v500.Claim).Policy"
      name="Policy"
      type="snapshot.v500.Policy"/>
    <RowIterator
      editable="false"
      elementName="VehicleRU"
      value="getVehicles(Policy.RiskUnits)">
      <Row>
        <Cell
          id="VehicleNumber"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.VehicleNumber"
          sortOrder="1"
          value="(VehicleRU as snapshot.v500.VehicleRU).RUNumber"/>
        <Cell
          id="Make"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.Make"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.Make"/>
        <Cell
          id="Model"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.Model"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.Model"/>
        <Cell
          id="Year"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.Year"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.Year"/>
        <Cell
          id="Color"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.Color"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.Color"/>
        <Cell
          id="VIN"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.VIN"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.VIN"/>
        <Cell
          id="State"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.State"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.State"/>
        <Cell
          id="LicensePlate"
          label="displaykey.Web.ClaimSnapshotPolicyVehicles500LV.LicensePlate"
          value="(VehicleRU as snapshot.v500.VehicleRU).Vehicle.LicensePlate"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[
function getVehicles(riskUnits : snapshot.v500.RiskUnit[]) : Object[] {
  var list = new java.util.ArrayList()
  var result = new Object[0]
  for (ru in riskUnits) {
    if (ru.Subtype.Name == "VehicleRU") {
      list.add( ru )
    }
  }
  return list as Object[]
}
    ]]></Code>
  </ListViewPanel>
</PCF>
