<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotContact500DV"
    mode="Company|CompanyVendor|MedicalCareOrg|AutoRepairShop|LawFirm|AutoTowingAgcy">
    <Require
      name="ClaimContactParam"
      type="Object"/>
    <InputHeaderSection>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Claim"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ClaimRolesLV">
          <RowIterator
            editable="false"
            elementName="Role"
            value="asClaimContact().Roles">
            <Row>
              <Cell
                id="Role"
                label="displaykey.Web.ClaimSnapshotContact500DV.Company.Role"
                value="Role.Role"/>
              <Cell
                id="Owner"
                label="displaykey.Web.ClaimSnapshotContact500DV.Company.Owner"
                value="util.Snapshot.getRoleOwner(Role)"/>
              <Cell
                id="Active"
                label="displaykey.Web.ClaimSnapshotContact500DV.Company.Active"
                value="util.Snapshot.renderValue(Role.Active)"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotContact500DV.Company.Comments"
                value="Role.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputHeaderSection>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Organization"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Contact"
        value="asClaimContact().Contact.DisplayName"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Phone"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.PrimaryPhone"
        value="asClaimContact().Contact.PrimaryPhone"/>
      <Input
        id="WorkPhone"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.WorkPhone"
        value="asClaimContact().Contact.WorkPhone"/>
      <Input
        id="FaxPhone"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.FaxPhone"
        value="asClaimContact().Contact.FaxPhone"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Email"/>
      <Input
        id="EmailAddress1"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.EmailAddress1"
        value="asClaimContact().Contact.EmailAddress1"/>
      <Input
        id="EmailAddress2"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.EmailAddress2"
        value="asClaimContact().Contact.EmailAddress2"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Primary"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.PrimaryAddress"
        value="asClaimContact().Contact.PrimaryAddress.DisplayName"/>
      <Input
        id="County"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.County"
        value="asClaimContact().Contact.PrimaryAddress.County"/>
      <Input
        id="Country"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Country"
        value="asClaimContact().Contact.PrimaryAddress.Country"/>
      <Input
        id="AddressType"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.AddressType"
        value="asClaimContact().Contact.PrimaryAddress.AddressType"/>
      <Input
        id="Description"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Description"
        value="asClaimContact().Contact.PrimaryAddress.Description"/>
      <Input
        id="ValidUntil"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.ValidUntil"
        value="asClaimContact().Contact.PrimaryAddress.ValidUntil"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Additional"/>
      <Input
        id="TaxID"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.TaxID"
        value="asClaimContact().Contact.TaxID"/>
      <Input
        id="WithholdingRate"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.WithholdingRate"
        value="asClaimContact().Contact.WithholdingRate"/>
      <Input
        id="TaxStatus"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.TaxStatus"
        value="asClaimContact().Contact.TaxStatus"/>
      <Input
        id="PrimaryContact"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.PrimaryContact"
        value="util.Snapshot.renderValue(asClaimContact().Contact.PrimaryContact)"/>
      <Input
        id="PreferredCurrency"
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.PreferredCurrency"
        value="asClaimContact().Contact.PreferredCurrency"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotContact500DV.Company.Notes"/>
      <TextAreaInput
        id="Notes"
        numCols="30"
        numRows="3"
        value="asClaimContact().Contact.Notes"/>
      <InputDivider/>
    </InputColumn>
    <Code><![CDATA[
      function asClaimContact() : snapshot.v500.ClaimContact {
        return ClaimContactParam as snapshot.v500.ClaimContact;
      }
    ]]></Code>
  </DetailViewPanel>
</PCF>
