<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyTrips500LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Variable
      initialValue="(SnapshotParam as snapshot.v500.Claim).Policy"
      name="Policy"
      type="snapshot.v500.Policy"/>
    <RowIterator
      editable="false"
      elementName="TripRU"
      value="Policy.RiskUnits">
      <Row>
        <Cell
          id="TripNumber"
          label="displaykey.Web.ClaimSnapshotPolicyTrip500LV.TripNumber"
          sortOrder="1"
          value="(TripRU as snapshot.v500.TripRU).RUNumber"/>
        <Cell
          id="TripDescription"
          label="displaykey.Web.ClaimSnapshotPolicyTrip500LV.Description"
          value="(TripRU as snapshot.v500.TripRU).TripDescription"/>
        <Cell
          id="StartDate"
          label="displaykey.Web.ClaimSnapshotPolicyTrip500LV.StartDate"
          value="(TripRU as snapshot.v500.TripRU).StartDate"/>
        <Cell
          id="EndDate"
          label="displaykey.Web.ClaimSnapshotPolicyTrip500LV.EndDate"
          value="(TripRU as snapshot.v500.TripRU).EndDate"/>
        <Cell
          id="GeographicalRegion"
          label="displaykey.Web.ClaimSnapshotPolicyTrip500LV.GeographicalRegion"
          value="(TripRU as snapshot.v500.TripRU).GeographicalRegion"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
