<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposureWageBenefits500DV">
    <Require
      name="Exposure"
      type="snapshot.v500.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData"/>
      <Input
        id="PIPDamages_Claimant"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="Person_Occupation"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.Occupation"
        value="Exposure.Claimant.Occupation"/>
      <Input
        id="Person_Employer"
        label="displaykey.Web.ClaimSnapshotExposure500.Contact.MainContact"
        value="Exposure.Claimant.ContactCompany.DisplayName"/>
      <Input
        id="Company_PrimaryContact"
        label="displaykey.Web.ClaimSnapshotExposure500.Contact.PrimaryContact"
        value="Exposure.Claimant.ContactCompany.PrimaryContact.DisplayName"/>
      <DateInput
        dateFormat="short"
        id="EmploymentData_HireDate"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.HireDate"
        value="Exposure.PriorEmpData.HireDate"/>
      <Input
        id="EmploymentData_EmploymentStatus"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.EmploymentStatus"
        value="Exposure.PriorEmpData.EmploymentStatus"/>
      <Input
        id="EmploymentData_NumHoursWorkedPerDay"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.HoursPerDay"
        value="Exposure.PriorEmpData.NumHoursWorked"/>
      <Input
        id="EmploymentData_NumDaysWorkedPerWeek"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.DaysPerWeek"
        value="Exposure.PriorEmpData.NumDaysWorked"/>
      <Input
        id="EmploymentData_WageAmount"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.AvgWeeklyWages"
        value="Exposure.PriorEmpData.WageAmount"/>
      <Input
        id="EmploymentData_OvertimeRate"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.OvertimeRate"
        value="Exposure.PriorEmpData.OvertimeRate"/>
      <Input
        id="EmploymentData_LastYearIncome"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.IncomeLastYear"
        value="Exposure.PriorEmpData.LastYearIncome"/>
      <Input
        id="EmploymentData_PayPeriod"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.PayPeriod"
        value="Exposure.PriorEmpData.PayPeriod"/>
      <Input
        id="EmploymentData_WagePaymentCont"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.ClaimantSalaryContinued"
        value="Exposure.PriorEmpData.WagePaymentCont"/>
      <DateInput
        dateFormat="short"
        id="EmploymentData_InjuryStartTime"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.LastWorkDay"
        timeFormat="short"
        value="Exposure.PriorEmpData.InjuryStartTime"/>
      <Input
        id="EmploymentData_DaysWorkedWeek"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.DaysWorkedPerWeek"
        value="Exposure.PriorEmpData.DaysWorkedWeek"/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.EmploymentData.WorkStatus"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="WorkStatusChangesLV">
          <RowIterator
            editable="false"
            elementName="WorkStatusChange"
            value="Exposure.PriorEmpData.WorkStatusChanges">
            <Row>
              <Cell
                id="StatusDate"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Pipdamages.StatusDate"
                value="util.Snapshot.renderValue(WorkStatusChange.StatusDate)"
                wrap="false"/>
              <Cell
                id="Status"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Pipdamages.Status"
                value="WorkStatusChange.Status"
                wrap="false"/>
              <Cell
                id="Comments"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Pipdamages.Comments"
                value="WorkStatusChange.Comments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation"/>
      <Input
        id="CompBenefits_BenefitsBeginDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.BeginDate"
        value="Exposure.CompBenefits.BenefitsBeginDate"/>
      <Input
        id="CompBenefits_BenefitsEndDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.EndDate"
        value="Exposure.CompBenefits.BenefitsEndDate"/>
      <Input
        id="CompBenefits_WeeklyCompRate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.WeeklyRate"
        value="Exposure.CompBenefits.WeeklyCompRate"/>
      <Input
        id="CompBenefits_PaymentFrequency"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.PaymentFrequency"
        value="Exposure.CompBenefits.PaymentFrequency"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.WorkComp.Benefits"/>
      <Input
        id="WorkersCompCollected_Question"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.WorkComp.InCollection"
        value="Exposure.WCBenefit"/>
      <InputSet
        visible="Exposure.WCBenefit">
        <Input
          id="PIPDamages_WCCarrier"
          label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.WorkComp.Carrier"
          value="Exposure.WCCarrier.DisplayName"/>
        <Input
          id="WCCarrier_PrimaryAddress"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.Address"
          value="Exposure.WCCarrier.PrimaryAddressDisplayValue"/>
        <Input
          id="WCCarrier_PrimaryContact"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.MainContact"
          value="Exposure.WCCarrier.PrimaryContact.DisplayName"/>
        <Input
          id="WCCarrier_PrimaryPhone"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.PrimaryPhone"
          value="Exposure.WCCarrier.PrimaryPhoneValue"/>
        <Input
          id="WCBenefits_BenefitsBeginDate"
          label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.BeginDate"
          value="Exposure.WCBenefits.BenefitsBeginDate"/>
      </InputSet>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.SocialSecurityDisability"/>
      <Input
        id="SSCollected_Question"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.SocialSecurityDisability.InCollection"
        value="Exposure.SSBenefit"/>
      <Input
        id="SSDIBenefits_BeginDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.BeginDate"
        value="Exposure.SSDIBenefits.BenefitsBeginDate"
        visible=" Exposure.SSBenefit"/>
      <Input
        id="LostWagesBenefits_MonthlyCompRate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.MonthlyRate"
        value="Exposure.SSDIBenefits.MonthlyCompRate"
        visible=" Exposure.SSBenefit"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.PartialEmployment"/>
      <Input
        id="PartialWageBenefitCollected_Question"
        label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.PartialEmployment.InCollection"
        value="Exposure.WageBenefit"/>
      <InputSet
        visible="Exposure.WageBenefit">
        <Input
          id="PartialPIPDamages_Employer"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.Employer"
          value="Exposure.Employer.DisplayName"/>
        <Input
          id="PartialEmployer_PrimaryAddress"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.Address"
          value="Exposure.Employer.PrimaryAddressDisplayValue"/>
        <Input
          id="PartialEmployer_PrimaryContact"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.MainContact"
          value="Exposure.Employer.PrimaryContact.DisplayName"/>
        <Input
          id="PartialEmployer_PrimaryPhone"
          label="displaykey.Web.ClaimSnapshotExposure500.Contact.PrimaryPhone"
          value="Exposure.Employer.PrimaryPhoneValue"/>
        <Input
          id="PartialEmploymentData_NumHoursWorkedPerDay"
          label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.PartialEmployment.HoursPerDay"
          value="Exposure.NewEmpData.NumHoursWorked"/>
        <Input
          id="PartialEmploymentData_NumDaysWorkedPerWeek"
          label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.PartialEmployment.DaysPerWeek"
          value="Exposure.NewEmpData.NumDaysWorked"/>
        <Input
          id="PartialEmploymentData_WageAmount"
          label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.PartialEmployment.AvgWeeklyWages"
          value="Exposure.NewEmpData.WageAmount"/>
        <Input
          id="PartialEmploymentData_PayPeriod"
          label="displaykey.Web.ClaimSnapshotExposure500.WageBenefits.PartialEmployment.PayPeriod"
          value="Exposure.NewEmpData.PayPeriod"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>
