<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposureDeathBenefits500DV">
    <Require
      name="Exposure"
      type="snapshot.v500.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation"/>
      <Input
        id="LostWagesBenefits_BenefitsBeginDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.BeginDate"
        value="Exposure.PIPDeathBenefits.BenefitsBeginDate"/>
      <Input
        id="LostWagesBenefits_BenefitsEndDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.EndDate"
        value="Exposure.PIPDeathBenefits.BenefitsEndDate"/>
      <Input
        formatType="currency"
        id="LostWagesBenefits_WeeklyCompRate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.WeeklyRate"
        value="Exposure.PIPDeathBenefits.WeeklyCompRate"/>
      <Input
        id="LostWagesBenefits_PaymentFrequency"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.PaymentFrequency"
        value="Exposure.PIPDeathBenefits.PaymentFrequency"/>
      <Input
        formatType="currency"
        id="LostWagesBenefits_MaxBurialRate"
        label="displaykey.Web.ClaimSnapshotExposure500.DeathBenefits.MaxBurialRate"
        value="Exposure.PIPDeathBenefits.MaxBurialRate"/>
      <Input
        id="LostWagesBenefits_Description"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.AdditionalInformation"
        value="Exposure.PIPDeathBenefits.Description"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
