<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposureReplacementServices500DV">
    <Require
      name="Exposure"
      type="snapshot.v500.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation"/>
      <Input
        id="LostWagesBenefits_BenefitsBeginDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.BeginDate"
        value="Exposure.RSBenefits.BenefitsBeginDate "/>
      <Input
        id="LostWagesBenefits_BenefitsEndDate"
        label="displaykey.Web.ClaimSnapshotExposure500.Compensation.Benefits.EndDate"
        value="Exposure.RSBenefits.BenefitsEndDate"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposure500.ReplacementServices.ServiceProviders">
        <Toolbar/>
        <ListViewPanel>
          <RowIterator
            canPick="false"
            editable="false"
            elementName="ClaimContactRole"
            hideCheckBoxesIfReadOnly="true"
            type="snapshot.v500.ClaimContactRole"
            value="util.Snapshot.getClaimContactRolesByRole(Exposure.Claim, &quot;rsbenprovider&quot;)">
            <Row>
              <Cell
                id="Exposure_RSBenProvider"
                label="displaykey.Web.ClaimSnapshotExposure500.ReplacementServices.BenefitProvider"
                value="ClaimContactRole.ClaimContact.Contact"/>
              <Cell
                id="EditableServiceProvider_Phone"
                label="displaykey.Web.ClaimSnapshotExposure500.ReplacementServices.Phone"
                value="ClaimContactRole.ClaimContact.Contact.PrimaryPhoneValue"/>
              <Cell
                id="EditableServiceProvider_ServiceType"
                label="displaykey.Web.ClaimSnapshotExposure500.ReplacementServices.ServiceType"
                value="ClaimContactRole.ClaimContact.EssentialServiceType"/>
              <Cell
                id="EditableServiceProvider_ProviderType"
                label="displaykey.Web.ClaimSnapshotExposure500.ReplacementServices.ProviderType"
                value="ClaimContactRole.ClaimContact.ProviderType"/>
              <Cell
                id="EditableServiceProvider_Service"
                label="displaykey.Web.ClaimSnapshotExposure500.ReplacementServices.Service"
                value="ClaimContactRole.ClaimContact.Service"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
