<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotVehicleIncident500DV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="VehicleIncident"
      type="snapshot.v500.VehicleIncident"/>
    <InputColumn>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Vehicle"/>
      <Input
        id="Vehicle_LossParty"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.LossParty"
        value="VehicleIncident.VehicleLossParty"/>
      <Input
        id="Vehicle_VehicleType"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.Type"
        value="VehicleIncident.VehicleType"/>
      <Input
        id="Vehicle_Year"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.Year"
        value="VehicleIncident.Vehicle.Year"/>
      <Input
        id="Vehicle_Make"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.Make"
        value="VehicleIncident.Vehicle.Make"/>
      <Input
        id="Vehicle_Model"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.Model"
        value="VehicleIncident.Vehicle.Model"/>
      <Input
        id="Vehicle_Style"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.Style"
        value="VehicleIncident.Vehicle.Style"/>
      <Input
        id="Vehicle_Color"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.Color"
        value="VehicleIncident.Vehicle.Color"/>
      <Input
        id="Vehicle_VIN"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.VIN"
        value="VehicleIncident.Vehicle.Vin"
        visible="VehicleIncident.Vehicle.Style.Code != &quot;boat&quot; and VehicleIncident.Vehicle.Style.Code != &quot;ATV&quot; and VehicleIncident.Vehicle.Style.Code != &quot;snowmobile&quot;"/>
      <Input
        id="Vehicle_SerialNumber"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.SerialNumber"
        value="VehicleIncident.Vehicle.SerialNumber"
        visible="VehicleIncident.Vehicle.Style.Code == &quot;boat&quot; or VehicleIncident.Vehicle.Style.Code == &quot;ATV&quot; or VehicleIncident.Vehicle.Style.Code == &quot;snowmobile&quot;"/>
      <Input
        id="Vehicle_State"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.State"
        value="VehicleIncident.Vehicle.State"/>
      <Input
        id="Vehicle_LicensePlate"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.LicensePlate"
        value="VehicleIncident.Vehicle.LicensePlate"/>
      <Input
        id="Vehicle_BoatType"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.BoatType"
        value="VehicleIncident.Vehicle.BoatType"
        visible="VehicleIncident.Vehicle.Style.Code == &quot;boat&quot;"/>
      <Input
        id="Vehicle_OffRoadStyle"
        label="displaykey.Web.VehicleIncidentDV.Vehicle.OffRoadStyle"
        value="VehicleIncident.Vehicle.OffRoadStyle"
        visible="VehicleIncident.Vehicle.Style.Code == &quot;ATV&quot; or VehicleIncident.Vehicle.Style.Code == &quot;snowmobile&quot;"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Driver"/>
      <Input
        id="Driver"
        label="displaykey.Web.VehicleIncidentDV.Driver.Picker"
        value="VehicleIncident.Driver.DisplayName"/>
      <Input
        id="ReasonForUse"
        label="displaykey.Web.VehicleIncidentDV.ReasonForUse"
        value="VehicleIncident.VehicleUseReason"/>
      <Input
        id="RelationToInsured"
        label="displaykey.Web.VehicleIncidentDV.Driver.RelationToInsured"
        value="VehicleIncident.DriverRelation"/>
      <Input
        id="RelationToOwner"
        label="displaykey.Web.VehicleIncidentDV.Driver.RelationToOwner"
        value="VehicleIncident.DriverRelToOwner"/>
      <BooleanRadioInput
        id="OwnersPermission"
        label="displaykey.Web.VehicleIncidentDV.OwnersPermission"
        value="VehicleIncident.OwnersPermission"/>
      <Input
        id="Driver_IsKidInPolicy"
        label="displaykey.Web.VehicleIncidentDV.Driver.IsKidInPolicy"
        value="VehicleIncident.MinorOnPolicy"
        visible=" VehicleIncident.DriverRelToOwner.Code == &quot;child&quot; "/>
      <Input
        id="Driver_Phone"
        label="displaykey.Web.VehicleIncidentDV.Driver.Phone"
        value="VehicleIncident.Driver.PrimaryPhoneValue"/>
      <Input
        id="Driver_IsKidInPolicy_Percentagedriven"
        label="displaykey.Web.VehicleIncidentDV.Driver.IsKidInPolicy.Percentagedriven"
        value="VehicleIncident.PercentagedrivenByMinor"
        visible=" VehicleIncident.DriverRelToOwner.Code == &quot;child&quot; and VehicleIncident.MinorOnPolicy.Code == &quot;No&quot; "/>
      <TextAreaInput
        id="Driver_Address"
        label="displaykey.Web.VehicleIncidentDV.Driver.Address"
        numCols="35"
        numRows="2"
        value="VehicleIncident.Driver.PrimaryAddressDisplayValue"/>
      <Input
        id="Driver_License"
        label="displaykey.Web.VehicleIncidentDV.Driver.License"
        value="VehicleIncident.Driver.LicenseNumber"/>
      <Input
        id="Driver_LicenseState"
        label="displaykey.Web.VehicleIncidentDV.Driver.LicenseState"
        value="VehicleIncident.Driver.LicenseState"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.LoanInformationDV"/>
      <BooleanRadioInput
        id="LoanInformation_Loan"
        label="displaykey.Web.LoanInformationDV.Loan"
        value="VehicleIncident.Vehicle.Loan"/>
      <Input
        id="MonthlyPayment"
        label="displaykey.Web.LoanInformationDV.MonthlyPayment"
        value="VehicleIncident.Vehicle.LoanMonthlyPayment"
        visible="VehicleIncident.Vehicle.Loan"/>
      <Input
        id="MonthsRemaining"
        label="displaykey.Web.LoanInformationDV.MonthsRemaining"
        value="VehicleIncident.Vehicle.LoanMonthsRemaining"
        visible=" VehicleIncident.Vehicle.Loan"/>
      <Input
        id="PayoffAmount"
        label="displaykey.Web.LoanInformationDV.PayoffAmount"
        value="VehicleIncident.Vehicle.LoanPayoffAmount"
        visible="VehicleIncident.Vehicle.Loan"/>
      <InputDivider/>
      <ListViewInput>
        <Toolbar/>
        <ListViewPanel
          id="DriverCitationsLV">
          <RowIterator
            editable="true"
            elementName="Citation"
            value="VehicleIncident.Citations">
            <Row>
              <Cell
                id="CitationsArray_CitationNumber"
                label="displaykey.LV.Claim.CitationsArray.CitationNumber"
                sortOrder="1"
                value="Citation.CitationNumber"
                wrap="false"/>
              <Cell
                id="CitationsArray_CitationAuthority"
                label="displaykey.LV.Claim.CitationsArray.CitationAuthority"
                sortOrder="2"
                value="Citation.CitationAuthority"
                wrap="false"/>
              <Cell
                id="CitationsArray_CitationType"
                label="displaykey.LV.Claim.CitationsArray.CitationType"
                sortOrder="3"
                value="Citation.CitationType"
                wrap="false"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Damage"/>
      <TextAreaInput
        id="Description"
        label="displaykey.Web.VehicleIncidentDV.Description"
        numCols="30"
        numRows="3"
        value="VehicleIncident.Description"/>
      <BooleanRadioInput
        id="Exposure_AirbagsDeployed"
        label="displaykey.Web.VehicleIncidentDV.AirbagsDeployed"
        value="VehicleIncident.AirbagsDeployed"/>
      <BooleanRadioInput
        id="TotalLoss"
        label="displaykey.Web.VehicleIncidentDV.TotalLoss"
        value="VehicleIncident.TotalLoss"/>
      <BooleanRadioInput
        id="Exposure_EquipmentFailure"
        label="displaykey.Web.VehicleIncidentDV.EquipmentFailure"
        value="VehicleIncident.EquipmentFailure"/>
      <BooleanRadioInput
        id="Operable"
        label="displaykey.Web.VehicleIncidentDV.Operable"
        value="VehicleIncident.VehicleOperable"/>
      <Input
        id="LossEstimate"
        label="displaykey.Web.VehicleIncidentDV.LossEstimate"
        value="VehicleIncident.LossEstimate"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Towing"/>
      <Input
        id="TowingAgcy_Picker"
        label="displaykey.Web.VehicleIncidentDV.TowingAgcyPicker"
        value="VehicleIncident.TowingAgcy.DisplayName"/>
      <Input
        id="TowingAgcy_Phone"
        label="displaykey.Web.VehicleIncidentDV.TowingAgcyPhone"
        value="VehicleIncident.TowingAgcy.PrimaryPhoneValue"/>
      <BooleanRadioInput
        id="RepWhereDisInd"
        label="displaykey.Web.VehicleIncidentDV.RepWhereDisInd"
        value="VehicleIncident.RepWhereDisInd"/>
      <Input
        id="RepairShop_Picker"
        label="displaykey.Web.VehicleIncidentDV.RepairShopPicker"
        value="VehicleIncident.RepairShop.DisplayName"/>
      <Input
        id="RepairShop_Phone"
        label="displaykey.Web.VehicleIncidentDV.RepairShopPhone"
        value="VehicleIncident.RepairShop.PrimaryPhoneValue"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Collision"/>
      <BooleanRadioInput
        id="Collision_Indicator"
        label="displaykey.Web.VehicleIncidentDV.CollisionIndicator"
        value="VehicleIncident.Collision"/>
      <Input
        id="Speed"
        label="displaykey.Web.VehicleIncidentDV.Speed"
        value="VehicleIncident.Speed"
        visible="VehicleIncident.Collision"/>
      <Input
        id="VehicleDirection"
        label="displaykey.Web.VehicleIncidentDV.VehicleDirection"
        value="VehicleIncident.VehicleDirection"
        visible="VehicleIncident.Collision"/>
      <Input
        id="CollisionPoint"
        label="displaykey.Web.VehicleIncidentDV.CollisionPoint"
        value="VehicleIncident.CollisionPoint"
        visible="VehicleIncident.Collision"/>
      <Input
        id="Exposure_TrafficViolation"
        label="displaykey.Web.VehicleIncidentDV.TrafficViolation"
        value="VehicleIncident.TrafficViolation"
        visible="VehicleIncident.Collision"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Inspection"/>
      <BooleanRadioInput
        id="InspectionRequired"
        label="displaykey.Web.VehicleIncidentDV.InspectionRequired"
        value="VehicleIncident.InspectionRequired"/>
      <Input
        id="WhenToView"
        label="displaykey.Web.VehicleIncidentDV.WhenToView"
        value="VehicleIncident.WhenToView"
        visible="VehicleIncident.InspectionRequired"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.VehicleIncidentDV.VehicleLocation"
        visible="VehicleIncident.InspectionRequired"/>
      <BooleanRadioInput
        id="VehicleLocationInd"
        label="displaykey.Web.VehicleIncidentDV.VehicleLocationInd"
        value="VehicleIncident.LocationInd"
        visible="VehicleIncident.InspectionRequired"/>
      <Input
        id="VehicleLocationStreet"
        label="displaykey.Web.VehicleIncidentDV.VehicleLocationStreet"
        value="VehicleIncident.LocationAddress.AddressLine1"
        visible="VehicleIncident.LocationInd"/>
      <Input
        id="VehicleLocationCity"
        label="displaykey.Web.VehicleIncidentDV.VehicleLocationCity"
        value="VehicleIncident.LocationAddress.City"
        visible="VehicleIncident.LocationInd"/>
      <Input
        id="VehicleLocationState"
        label="displaykey.Web.VehicleIncidentDV.VehicleLocationState"
        value="VehicleIncident.LocationAddress.State"
        visible="VehicleIncident.LocationInd"/>
      <Input
        id="VehicleLocationZip"
        label="displaykey.Web.VehicleIncidentDV.VehicleLocationZip"
        value="VehicleIncident.LocationAddress.PostalCode"
        visible="VehicleIncident.LocationInd"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.VehicleIncidentDV.Rental"/>
      <BooleanRadioInput
        id="RentalRequired"
        label="displaykey.Web.VehicleIncidentDV.RentalRequired"
        value="VehicleIncident.RentalRequired"/>
      <DateInput
        dateFormat="short"
        id="RentalBeginDate"
        label="displaykey.Web.VehicleIncidentDV.RentalBeginDate"
        value="VehicleIncident.RentalBeginDate"
        visible="VehicleIncident.RentalRequired"/>
      <DateInput
        dateFormat="short"
        id="RentalEndDate"
        label="displaykey.Web.VehicleIncidentDV.RentalEndDate"
        value="VehicleIncident.RentalEndDate"
        visible="VehicleIncident.RentalRequired"/>
      <Input
        id="RentalDailyRate"
        label="displaykey.Web.VehicleIncidentDV.RentalDailyRate"
        value="VehicleIncident.RentalDailyRate"
        visible="VehicleIncident.RentalRequired"/>
      <Input
        id="RentalAgency"
        label="displaykey.Web.VehicleIncidentDV.RentalAgency"
        value="VehicleIncident.RentalAgency"
        visible="VehicleIncident.RentalRequired"/>
      <Input
        id="RentalReservationNumber"
        label="displaykey.Web.VehicleIncidentDV.RentalReservationNumber"
        value="VehicleIncident.RentalReserveNo"
        visible="VehicleIncident.RentalRequired"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
