<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure500DV"
    mode="TowOnly">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v500.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Overall"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.LossParty"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Coverage"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.CreateTime"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.StatLine"
        value="Exposure.StatLine"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ClaimantType"
        value="Exposure.ClaimantType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactProhibited_2"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <Input
        id="ClaimantAddress"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ClaimantAddress"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.IncidentOverview"/>
      <Input
        action="ClaimSnapshotVehicleIncidentPopup.push(Claim, Exposure.VehicleIncident)"
        id="Vehicle_Incident"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.VehicleIncident"
        value="Exposure.VehicleIncident.DisplayName"/>
      <Input
        id="Incident_Driver"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Incident.Driver"
        value="Exposure.VehicleIncident.Driver.DisplayName"/>
      <Input
        id="Incident_Description"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Incident.Description"
        value="Exposure.VehicleIncident.Description"/>
      <BooleanRadioInput
        id="Incident_VehicleOperable"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Incident.VehicleOperable"
        value="Exposure.VehicleIncident.VehicleOperable"/>
      <Input
        id="Incident_LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Incident.LossEstimate"
        value="Exposure.VehicleIncident.LossEstimate"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Coding"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.JurisdictionState"
        value="Exposure.JurisdictionState"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactProhibited_2"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposure500DV.Towonly.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
