<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.wcrefmanage"
    canVisit="perm.System.wcrefview"
    id="DenialPeriods"
    title="displaykey.Web.Admin.DenialPeriods">
    <LocationEntryPoint
      signature="DenialPeriods()"/>
    <Variable
      initialValue="find (var dp in WCDenialPeriod)"
      name="WCDenialPeriods"
      type="WCDenialPeriodQuery"/>
    <Screen
      id="DenialPeriodsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.DenialPeriods"/>
      <Toolbar
        reflectOnBottom="true"
        visible="true">
        <ToolbarButton
          action="DenialPeriodPopup.push()"
          id="CustomAdd"
          label="displaykey.Term.Add.Proper"/>
        <IteratorButtons
          addVisible="false"
          hideIfReadOnly="false"
          removeVisible="true"/>
      </Toolbar>
      <PanelRef
        def="DenialPeriodsLV(WCDenialPeriods)"/>
    </Screen>
  </Page>
</PCF>
