<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="NotesLV">
    <Require
      name="NoteList"
      type="NoteQuery"/>
    <RowIterator
      editable="false"
      elementName="Note"
      pageSize="5"
      value="NoteList">
      <Row>
        <ContentCell
          id="col1">
          <DetailViewPanel>
            <InputColumn>
              <ContentInput
                labelAbove="true"
                visible="Note.Confidential">
                <Link
                  icon="&quot;alert.png&quot;"
                  id="ConfidentialIcon"/>
                <Link
                  id="ConfidentialLabel"
                  label="displaykey.Java.Note.Confidential"/>
              </ContentInput>
              <Input
                boldValue="true"
                id="Subject"
                labelAbove="true"
                value="Note.Subject"
                visible="Note.Subject != null"/>
              <NoteBodyInput
                flatten="true"
                id="Body"
                labelAbove="true"
                value="Note.Body"/>
              <Input
                align="left"
                id="Author"
                labelAbove="true"
                value="displaykey.Web.Note.Author( Note.Author, gw.api.util.StringUtil.formatDate(Note.AuthoringDate, &quot;short&quot;), gw.api.util.StringUtil.formatTime(Note.AuthoringDate, &quot;short&quot;))"
                visible=""/>
            </InputColumn>
          </DetailViewPanel>
        </ContentCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
