<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="ClaimIndicatorInputSet"
    mode="FlagClaimIndicator">
    <Require
      name="indicator"
      type="ClaimIndicator"/>
    <ContentInput
      id="FlagIndicatorLabel"
      label="displaykey.Web.Claim.FlagClaimIndicator.FlaggedLabel">
      <Link
        icon="indicator.Icon"
        id="FlagIndicatorIcon"
        tooltip="indicator.HoverText"
        visible="indicator.IsOn"/>
      <Link
        id="FlagIndicatorText"
        label="indicator.Text"/>
    </ContentInput>
    <Input
      id="FlaggedDate"
      label="displaykey.Web.Claim.FlagClaimIndicator.DateFlagged"
      value="indicator.Claim.FlaggedDate"
      visible="isFlagged"/>
    <TextAreaInput
      id="FlaggedReason"
      label="displaykey.Web.Claim.FlagClaimIndicator.FlaggedReason"
      numCols="30"
      numRows="3"
      value="indicator.Claim.FlaggedReason"
      visible="isFlagged"/>
    <Code><![CDATA[
property get isFlagged() : boolean {
  return indicator.Claim.Flagged == FlaggedType.TC_ISFLAGGED
}
    ]]></Code>
  </InputSet>
</PCF>
