<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="InvalidCoverageForFaultLV">
    <Require
      name="InvalidCoverageForFaultList"
      type="InvalidCoverageForFaultQuery"/>
    <RowIterator
      editable="true"
      elementName="InvalidCoverageForFault"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="false"
      numEntriesToAdd="1"
      toCreateAndAdd="new InvalidCoverageForFault()"
      toRemove="InvalidCoverageForFault.remove()"
      value="InvalidCoverageForFaultList">
      <Row>
        <Cell
          editable="true"
          id="PolicyType"
          label="displaykey.LV.Admin.InvalidCoverageForFault.PolicyType"
          postOnChange="true"
          required="true"
          sortOrder="1"
          value="InvalidCoverageForFault.PolicyType"
          wrap="false"/>
        <Cell
          editable="InvalidCoverageForFault.PolicyType!=null"
          id="PrimaryCoverage"
          label="displaykey.LV.Admin.InvalidCoverageForFault.PrimaryCoverage"
          postOnChange="true"
          required="true"
          sortOrder="2"
          value="InvalidCoverageForFault.PrimaryCoverage"
          wrap="false"/>
        <Cell
          editable="InvalidCoverageForFault.PrimaryCoverage!=null"
          id="Fault"
          label="displaykey.LV.Admin.InvalidCoverageForFault.Fault"
          postOnChange="true"
          required="true"
          sortOrder="4"
          value="InvalidCoverageForFault.FaultRating"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
