<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="PickEmailTemplatePopup"
    returnType="gw.plugin.email.IEmailTemplateDescriptor"
    title="displaykey.Web.EmailTemplateSearch.Title">
    <LocationEntryPoint
      signature="PickEmailTemplatePopup(inSearchCriteria : gw.api.email.EmailTemplateSearchCriteria)"/>
    <Variable
      name="inSearchCriteria"
      type="gw.api.email.EmailTemplateSearchCriteria"/>
    <Screen
      id="PickEmailTemplateScreen">
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel();"
          id="PickEmailTemplatePopup_CancelButton"
          label="displaykey.Button.Cancel"
          shortcut="L"/>
      </Toolbar>
      <SearchPanel
        criteriaName="searchCriteria"
        resultsName="EmailTemplateDescriptorList"
        search="searchCriteria.performSearch()"
        searchCriteria="inSearchCriteria.copy()"
        searchResultsType="gw.plugin.email.IEmailTemplateDescriptor[]">
        <PanelRef
          def="EmailTemplateSearchDV(searchCriteria)"/>
        <PanelRef
          def="EmailTemplateSearchResultLV(EmailTemplateDescriptorList)"/>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>
