<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewLostWagesSummaryDV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.Overall"/>
      <Input
        id="LossParty"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.LossParty"
        required="true"
        value="Exposure.LossParty"/>
      <Input
        id="ClosedDate"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.ClosedDate"
        value="Exposure.CloseDate"
        visible=" Exposure.State == &quot;closed&quot; "/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.ClosedOutcome"
        value="Exposure.ClosedOutcome"
        visible=" Exposure.State == &quot;closed&quot; "/>
      <!-- Coverage Subtype does not make sense for a work comp claim -->
      <Input
        action="UserContactDetailPopup.push(Exposure.AssignedUser)"
        available="Exposure.AssignedUser.Contact != null"
        id="AssignedUser_Name"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.AssignedUser.Name"
        value="Exposure.AssigneeDisplayString"/>
      <DateInput
        dateFormat="short"
        id="ReOpenDate"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.ReOpenDate"
        value="Exposure.ReOpenDate"
        visible=" exposure.ReOpenDate != null "/>
      <Input
        id="AssignedGroup_Name"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.AssignedGroup.Name"
        value="Exposure.AssigneeGroupOnlyDisplayString"/>
      <Input
        id="ReopenedReason"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.ReopenedReason"
        value="Exposure.ReopenedReason"
        visible=" exposure.ReOpenDate != null "/>
      <Input
        id="State"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.State"
        value="Exposure.State"/>
      <Input
        id="CreateTime"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.CreateTime"
        value="Exposure.CreateTime"/>
      <InputSet
        visible="Exposure.Claim.Policy.StatCodingEnabled">
        <PolicyStatCodePickerInput
          action="ClaimPolicyStatCodePickerPopup.push(Exposure.Claim)"
          editable="true"
          id="StatLine"
          label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.StatLine"
          value="Exposure.StatLine"
          valueRange="Exposure.Claim.Policy.CappedStatCodes"/>
        <InputSet
          hideIfReadOnly="true"
          visible="true">
          <TextInput
            id="StatLine_Warning"
            value="displaykey.Java.StatCodes.StatCodeListCappedWarning(Exposure.Claim.Policy.StatCodeListCap, Exposure.Claim.Policy.StatCodes.length)"
            visible="Exposure.Claim.Policy.StatCodeListCapped"/>
        </InputSet>
      </InputSet>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.NewLostWagesSummary.LostWages.Dependents"/>
      <ListViewInput
        def="EditableClaimantDependentsLV(Exposure.getClaimContactRolesByRole(&quot;claimantdep&quot;), Exposure, &quot;claimantdep&quot;)"
        editable="true"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.LostWages.DependentsArray"
        labelAbove="true">
        <Toolbar/>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.Benefits.Compensation"/>
      <Input
        editable="true"
        id="AverageWeeklyWages"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.AverageWeeklyWages"
        value="Exposure.AverageWeeklyWages"/>
      <Input
        editable="true"
        id="DaysInWeek"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.DaysInWeek"
        value="Exposure.DaysInWeek"/>
      <Input
        editable="true"
        id="LastDayWorked"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.LastDayWorked"
        value="Exposure.LastDayWorked"/>
      <Input
        editable="true"
        id="LWImpairment"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.LWImpairment"
        value="Exposure.InjuryIncident.Impairment"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.Coding"/>
      <Input
        editable="true"
        id="JurisdictionState"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.JurisdictionState"
        value="Exposure.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Input
        id="Segment"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.Segment"
        value="Exposure.Segment"/>
      <Input
        id="Strategy"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.Strategy"
        value="Exposure.Strategy"/>
      <Input
        id="ValidationLevel"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.ValidationLevel"
        value="Exposure.ValidationLevel"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.Financials"/>
      <Input
        formatType="currency"
        id="RemainingReserves"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.RemainingReserves"
        value="Exposure.ExposureRpt.RemainingReserves"/>
      <Input
        id="FuturePayments"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.FuturePayments"
        value="Exposure.ExposureRpt.FuturePayments"/>
      <Input
        id="TotalPayments"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.TotalPayments"
        value="Exposure.ExposureRpt.TotalPayments"/>
      <Input
        id="TotalRecoveries"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.TotalRecoveries"
        value="Exposure.ExposureRpt.TotalRecoveries"/>
      <Input
        formatType="currency"
        id="TotalIncurredNet"
        label="displaykey.NVV.Exposure.NewLostWagesSummary.Exposure.TotalIncurredNet"
        value="Exposure.ExposureRpt.TotalIncurredNet"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
