<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.Claim.genericviewclaim and perm.System.viewsearch"
    countsAsWork="false"
    id="ClaimSearch"
    title="displaykey.JSP.ClaimSearch.Search.ClaimSearch">
    <LocationEntryPoint
      signature="ClaimSearch()"/>
    <LocationEntryPoint
      signature="ClaimSearch(ErrorMessage : String)"/>
    <Variable
      name="ErrorMessage"
      type="String"/>
    <Variable
      initialValue="populateErrorMessage()"
      name="CheckedErrorMessage"
      recalculateOnRefresh="true"/>
    <ScreenRef
      def="ClaimSearchScreen(true)"/>
    <Code><![CDATA[
      function populateErrorMessage() : String{
        if(ErrorMessage != null) {
          util.LocationUtil.addRequestScopedErrorMessage(ErrorMessage)
        }
        return ErrorMessage
      }
    ]]></Code>
  </Page>
</PCF>
