<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="MetroFlows.go()"
    afterCommit="MetroFlows.go()"
    id="MetroFlowDetail"
    parent="MetroFlows()"
    showUpLink="true"
    title="displaykey.Web.InternalTools.MetroFlowDetail">
    <LocationEntryPoint
      signature="MetroFlowDetail(Workflow : Workflow)"/>
    <Variable
      name="Workflow"
      type="Workflow"/>
    <Screen
      id="MetroFlowDetailScreen">
      <Toolbar>
        <ToolbarButton
          action="MetroFlows.go()"
          id="MetroFlowDetail_PreciousButton"
          label="displaykey.Button.Previous"/>
        <ToolbarButton
          action="null"
          id="MetroFlowDetail_RefreshButtonButton"
          label="displaykey.Button.Refresh"/>
        <ToolbarButton
          action="gw.api.admin.WorkflowUtil.suspend(Workflow)"
          confirmMessage="displaykey.Web.InternalTools.MetroFlowDetail.ConfirmCancel"
          id="MetroFlowDetail_SuspendButton"
          label="displaykey.Web.InternalTools.MetroFlowDetail.SuspendButton"
          visible="(Workflow.State == &quot;Active&quot;)"/>
        <ToolbarButton
          action="gw.api.admin.WorkflowUtil.resumeWorkflow(Workflow)"
          id="MetroFlowDetail_ResumeButton"
          label="displaykey.Button.Resume"
          visible="Workflow.State == &quot;Error&quot;"/>
      </Toolbar>
      <PanelRef
        def="MetroFlowDetailDV(Workflow)"/>
    </Screen>
  </Page>
</PCF>
