<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MetroFlowsLV">
    <Require
      name="Workflows"
      type="WorkflowQuery"/>
    <RowIterator
      editable="false"
      elementName="Workflow"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="false"
      value="Workflows">
      <ToolbarFlag
        condition="Workflow.State == &quot;Error&quot;"
        name="InErrorWorkflow"/>
      <Row>
        <DateCell
          align="left"
          dateFormat="medium"
          id="StartTime"
          label="displaykey.Web.InternalTools.MetroFlows.StartTime"
          sortDirection="descending"
          sortOrder="1"
          timeFormat="medium"
          value="Workflow.CreateTime"/>
        <DateCell
          align="left"
          dateFormat="medium"
          id="UpdateTime"
          label="displaykey.Web.InternalTools.MetroFlows.UpdateTime"
          timeFormat="medium"
          value="Workflow.UpdateTime"/>
        <Cell
          action="MetroFlowDetail.go(Workflow)"
          align="left"
          id="CurrentStep"
          label="displaykey.Web.InternalTools.MetroFlows.Step"
          value="Workflow.CurrentStep"/>
        <Cell
          align="left"
          id="Status"
          label="displaykey.Web.InternalTools.MetroFlows.Status"
          value="Workflow.State"/>
        <Cell
          align="left"
          id="ProcessVersion"
          label="displaykey.Web.InternalTools.MetroFlows.ProcessVersion"
          value="Workflow.ProcessVersion"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
