<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.workflowview"
    countsAsWork="false"
    id="MetroFlows"
    parent="ServerTools()"
    showUpLink="true"
    title="displaykey.Web.InternalTools.MetroFlows">
    <Screen
      id="MetroFlowsScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="WorkflowsResults"
        search="SearchCriteria.performSearch()"
        searchCriteria="new WorkflowSearchCriteria()"
        searchResultsType="WorkflowQuery">
        <PanelRef
          def="MetroFlowsDV(SearchCriteria)"/>
        <PanelRef
          def="MetroFlowsLV(WorkflowsResults)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.InternalTools.MetroFlows.Results"/>
          <Toolbar>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="gw.api.admin.WorkflowUtil.resumeWorkflows(CheckedValues)"
              flags="all InErrorWorkflow"
              id="MetroFlows_ResumeButton"
              iterator="MetroFlowsLV"
              label="displaykey.Button.Resume"
              shortcut="E"/>
            <ToolbarButton
              action="gw.api.admin.WorkflowUtil.resumeAllWorkflows()"
              confirmMessage="displaykey.Web.InternalTools.MetroFlows.ConfirmRestartAll"
              id="MetroFlows_ResumeAllButton"
              label="displaykey.Button.ResumeAll"
              shortcut="A"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>
