<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SecurityZoneDetailDV">
    <Require
      name="SecurityZone"
      type="SecurityZone"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.SecurityZoneDetailDV.SecurityZone"/>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.SecurityZoneDetailDV.Name"
        required="true"
        value="SecurityZone.Name"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.Web.Admin.SecurityZoneDetailDV.Description"
        numRows="3"
        value="SecurityZone.Description"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
