<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSIRSelectionLV">
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="false"
      elementName="aExposure"
      value="Claim.getSIR()">
      <Row>
        <Cell
          id="featuretest"
          label="displaykey.Exposure.EditableClaimSIRLV.FeatureInsuringAgreement"
          sortOrder="1"
          value="(aExposure.SIRsExt.InsuringAgreementExt.DisplayName) !=null ? aExposure.DisplayName + &quot;/&quot; + aExposure.SIRsExt.InsuringAgreementExt.DisplayName : aExposure.DisplayName + &quot;/Insuring Agreement&quot;"/>
        <Cell
          id="sir"
          label="displaykey.Exposure.EditableClaimSIRLV.SIR"
          numCols="12"
          value="aExposure.SIRsExt.SIR"/>
        <Cell
          id="totalsir"
          label="displaykey.Exposure.EditableClaimSIRLV.SIRCreditTotal"
          numCols="12"
          value="(aExposure.SIRsExt.SIRInvoicesExt*.CreditSIR !=null ? (aExposure.SIRsExt.SIRInvoicesExt*.CreditSIR.sum()) : null)"/>
        <Cell
          id="siramtrem"
          label="displaykey.Exposure.EditableClaimSIRLV.AmountRemaining"
          numCols="12"
          value="(aExposure.SIRsExt.SIR - aExposure.SIRsExt.SIRInvoicesExt*.CreditSIR.sum())!= null ? aExposure.SIRsExt.SIR - aExposure.SIRsExt.SIRInvoicesExt*.CreditSIR.sum() : null"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>