<?xml version="1.0" encoding="UTF-8"?>
<PCF xsi:noNamespaceSchemaLocation="../../../schema/pcf.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <MenuItemSet id="ClaimNewInvestigationMenuItemSet">
    <Require name="Claim" type="Claim"/>
    	<MenuItem label="displaykey.Web.ClaimMenuActions.SpecialInvestigation.Investigation" 
    		visible="Claim != null" id="ClaimMenuActions_NewInvestigation" action="NewSIDetails.go(Claim)"/>
    	<MenuItem label="displaykey.Web.ClaimMenuActions.SpecialInvestigation.DataResearch" 
    		visible="Claim != null" id="ClaimMenuActions_NewDataResearch" action="NewDataResearchDetails.go(Claim)"/>
  </MenuItemSet>
</PCF>
