<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="DataResearchDetailsDV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Investigation"
      type="SIUInvestigationExt"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.SIU.SIUReferral"/>
      <RangeInput
        editable="true"
        id="SIUInvestigator"
        label="displaykey.NVV.SIU.SIUInvestigator"
        required="false"
        sortValueRange="false"
        value="Investigation.SIUInvestigator"
        valueRange="Claim.getSIUDataResearchers()"
        visible="User.util.getCurrentUser().hasUserRole(&quot;siu manager&quot;)"/>
      <Input
        id="ReferralDate"
        label="displaykey.NVV.SIU.ReferralDate"
        onChange="Investigation.SIUCloseDate=Investigation.ReferralDate"
        postOnChange="true"
        validationExpression="Investigation.ReferralDate!=null ? gw.api.util.DateUtil.compareIgnoreTime(Investigation.ReferralDate, util.DateUtil.currentDate())&lt;=0 ? null : displaykey.NVV.SIU.ReferralDate.Warning : null"
        value="Investigation.ReferralDate"/>
      <TextAreaInput
        editable="true"
        id="ReferralReason"
        label="displaykey.NVV.SIU.ReferralReason"
        numCols="50"
        numRows="3"
        required="true"
        value="Investigation.ReferralReason"/>
      <TypeKeyInput
        editable="true"
        id="SIUClaimType"
        label="displaykey.NVV.SIU.SIUClaimType"
        onChange="resetOtherType(Investigation)"
        postOnChange="true"
        required="true"
        value="Investigation.SIUClaimType"/>
      <Input
        editable="true"
        id="OtherType"
        label="displaykey.NVV.SIU.OtherType"
        required="true"
        value="Investigation.OtherType"
        visible="Investigation.SIUClaimType==&quot;other&quot;"/>
      <Input
        id="ReferralType"
        label="displaykey.NVV.SIU.ReferralType"
        value="Investigation.SIUReferralType"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="Claimant"
        label="displaykey.NVV.SIU.Claimant"
        newContactMenu="BlankNewContactPickerMenuItemSet()"
        required="true"
        showSearchInMenu="false"
        validationExpression="Investigation.isDisassociatedClaimant() ? displaykey.NVV.SIU.SIUClaimant.Error : null"
        value="Investigation.SIUClaimant"
        valueRange="Claim.getClaimantsExt()"/>
    </InputColumn>
    <InputFooterSection>
      <Label
        label="displaykey.NVV.SIU.LV.DataResearchParties"/>
      <ListViewInput
        editable="true"
        validationExpression="Claim.getDataResearchParties(Investigation)">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
        <ListViewPanel
          id="DataResearchPartiesLV"
          validationExpression="null  //(Claim.geDataResearchParties(Investigation)==false)? &quot;stuff&quot;:null    //?displaykey.NVV.SIU.ValidationResearchType:null">
          <RowIterator
            editable="true"
            elementName="Party"
            hideCheckBoxesIfReadOnly="true"
            pageSize="25"
            toAdd="Investigation.addToDataResearchParties(Party)"
            toRemove="Investigation.removeFromDataResearchParties(Party)"
            value="Investigation.DataResearchParties">
            <Row>
              <ClaimContactCell
                claim="Claim"
                editable="true"
                id="Name"
                label="displaykey.NVV.SIU.Name"
                postOnChange="true"
                required="true"
                unique="true"
                validationExpression="null //Claim.getDataResearchPartiesNameError(Investigation)"
                value="Party.Contact"
                valueRange="Claim.getRelatedContacts()"/>
              <Cell
                id="Address"
                label="displaykey.NVV.SIU.Address"
                value="Party.Contact.PrimaryAddress.AddressLine1"/>
              <Cell
                id="City"
                label="displaykey.NVV.SIU.City"
                value="Party.Contact.PrimaryAddress.City"/>
              <Cell
                id="State"
                label="displaykey.NVV.SIU.State"
                value="Party.Contact.PrimaryAddress.State"/>
              <Cell
                id="ZipCode"
                label="displaykey.NVV.SIU.ZipCode"
                value="Party.Contact.PrimaryAddress.PostalCode"/>
              <Cell
                action="ResearchTypePopup.push(Claim, Party)"
                id="ResearchType"
                label="displaykey.NVV.SIU.ResearchType.Type"
                outputConversion="Claim.getResearchTypes(Party)"
                required="true"
                value="Party.ResearchTypes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="VendorsUsedLV(Claim, Investigation)"
        editable="perm.System.editSIUInvestigation"
        label="displaykey.NVV.SIU.LV.VendorsUsed"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        def="InvestigationDocumentsLV(Claim, Investigation)"
        label="displaykey.NVV.Activity.SubView.ActivityDocument.Documents"
        labelAbove="true"
        visible="perm.System.viewdocs and Investigation.InvestigationDocs.length&gt;0">
        <Toolbar/>
      </ListViewInput>
    </InputFooterSection>
    <Code><![CDATA[
    function resetOtherType(invest : SIUInvestigationExt){
    	if(invest.SIUClaimType!="other"){
    		invest.OtherType = null;
    	}
    }
    ]]></Code>
  </DetailViewPanel>
</PCF>