<html>
<head>
  <title>
    <%= title %>
  </title>
  <%= head %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Page-Enter" content="RevealTrans(Duration=0,Transition=0)">
  <meta http-equiv="Cache-Control" content="max-age=300">
  <link href="css/trans.css?ver=<%= AppVersion %>" rel="stylesheet" type="text/css" media="screen">
  <link href="css/print_trans.css?ver=<%= AppVersion %>" rel="stylesheet" type="text/css" media="print">
  <link rel="SHORTCUT ICON" href="images/favicon.ico">
  <script type="text/javascript" src="<%= jsDir %>global.js?ver=<%= AppVersion %>"></script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="login" <%= bodytag %>>
<%= formtag %>
<%= prescript %>
<div id="loginTable" class="screen">
  <div id="loginHeader"></div>
   <%= content %>

</div>
</form>
<%= postscript %>
</body>
</html>
