<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- rbr -->
  <ExitPoint
    id="ePolicyPage"
    popup="true"
    url="https://epolicy.gaic.com"/>
</PCF>