<html>
<head>
  <title>View User Sample</title>
</head>
<body>
<p><b>Sample View User Display</b></p>

<p>This is a sample Velocity template for viewing information
about the current user using the "ViewUser.do" action.</p>

<p>Current User Name: <b>$user.Contact.FirstName $user.Contact.LastName</b></p>

<p>Current User Login: <b>$user.Credential.UserName</b></p>

#if ($activities)
<p><b>User's Activities:</b></p>
#foreach($key in $activities)
  <li>Activity "$key.Subject"
#end
#end

#if ($claims)
<p><b>User's Claims:</b></p>
#foreach($key in $claims)
  <li>Claim #$key.ClaimNumber
#end
#end

</body>
</html>
