<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="TaxWithholdingWorksheetScreen">
    <Require
      name="taxCode"
      type="TaxStatusCode"/>
    <Toolbar>
      <ToolbarButton
        action="CurrentLocation.cancel()"
        id="AddressBookMatchWorksheet_OkButton"
        label="displaykey.Button.OK"/>
    </Toolbar>
    <Verbatim
      label="displaykey.NVV.Check.TaxWithholding.Warning.Backup"
      visible="taxCode.code == &quot;B&quot;"/>
    <Verbatim
      label="displaykey.NVV.Check.TaxWithholding.Warning.Levy"
      visible="taxCode.Code == &quot;T&quot;"/>
  </Screen>
</PCF>
