<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <EditCheckWizard
    afterCancel="ClaimFinancialsChecks.go(Claim)"
    afterFinish="ClaimFinancialsChecks.go(Claim)"
    cancelWarning="displaykey.Wizard.NewCheckWizard.CancelWarning"
    id="EditCheckWizard"
    parent="ClaimFinancialsChecksDetail(Claim, Check)">
    <LocationEntryPoint
      signature="EditCheckWizard(Claim : Claim, Check : Check)"/>
    <LocationEntryPoint
      signature="EditCheckWizard(Claim : Claim, Payment : Payment, Check : Check)"/>
    <Variable
      initialValue="new financials.EditCheckWizardInfo(CurrentLocation)"
      name="Wizard"
      type="financials.EditCheckWizardInfo"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Payment"
      type="Payment"/>
    <Variable
      name="Check"
      type="Check"/>
    <WizardStep
      allowFinish="false"
      id="NewCheckPayees"
      label="displaykey.Wizard.NewCheckWizard.NewCheckPayees.Label"
      onExit="Wizard.validateAllCheckPayees(); Wizard.createNewCheckPortionsIfNecessary()"
      screen="CheckWizard_CheckPayeesScreen(Claim, Wizard)"
      title="displaykey.Wizard.NewCheckWizard.NewCheckPayees.Step( Wizard.CurrentStepNumber ,  Wizard.TotalNumberOfSteps)"/>
    <WizardStep
      id="NewCheckPayments"
      label="displaykey.Wizard.NewCheckWizard.NewCheckPayments.Label"
      onExit="Wizard.validatePayments(); Wizard.Check.validateNoFormerDeductibleLineItems()"
      screen="CheckWizard_CheckPaymentsScreen(Claim, Wizard)"
      title="displaykey.Wizard.NewCheckWizard.NewCheckPayments.Step( Wizard.CurrentStepNumber ,  Wizard.TotalNumberOfSteps)"
      visible="Wizard.showPaymentsStep()"/>
    <WizardStep
      id="NewCheckInstructions"
      label="displaykey.Wizard.NewCheckWizard.NewCheckInstructions.Label"
      screen="CheckWizard_CheckInstructionsScreen(Claim, Wizard)"
      title="displaykey.Wizard.NewCheckWizard.NewCheckInstructions.Step( Wizard.CurrentStepNumber ,  Wizard.TotalNumberOfSteps)"/>
  </EditCheckWizard>
</PCF>
