<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UserRegionLV">
    <Require
      name="User"
      type="User"/>
    <RowIterator
      conversionExpression="gw.api.admin.UserRegionUtil.createUserRegions(PickedValue, CurrentLocation)"
      editable="true"
      elementName="UserRegion"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="UserRegionPopup.push()"
      toAdd="User.addToRegions(UserRegion)"
      toRemove="User.removeFromRegions(UserRegion)"
      value="User.Regions">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.RegionDetailDV.Name"
          value="UserRegion.Region.Name"/>
        <Cell
          enableSort="false"
          id="Zones"
          label="displaykey.Web.Admin.RegionDetailDV.Zones"
          value="UserRegion.Region.Zones"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
