<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="UserAttributesSearchDV">
    <Require
      name="SearchCriteria"
      type="gw.api.admin.AttributeSearchCriteria"/>
    <InputColumn>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.UserAttributesSearch.Name"
        required="false"
        value="SearchCriteria.AttributeName"/>
      <TypeKeyInput
        editable="true"
        id="Type"
        label="displaykey.Web.Admin.UserAttributesSearch.Type"
        noneSelectedLabel="displaykey.Java.Select.All"
        required="false"
        value="SearchCriteria.AttributeType"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
