<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="UserAttributesPopup"
    returnType="Attribute[]"
    title="displaykey.JSP.AttributeSearch.Title">
    <Screen
      id="UserAttributesPopupScreen">
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="UserAttributesPopup_CancelButton"
          label="displaykey.Button.Cancel"
          shortcut="L"/>
      </Toolbar>
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="SearchResult"
        search="SearchCriteria.performSearch()"
        searchCriteria="new gw.api.admin.AttributeSearchCriteria()"
        searchResultsType="AttributeQuery">
        <PanelRef
          def="UserAttributesSearchDV(SearchCriteria)"/>
        <PanelRef
          def="UserAttributesSearchLV(SearchResult)">
          <Toolbar>
            <CheckedValuesToolbarButton
              id="UserAttributesPopup_SelectButton"
              iterator="UserAttributesSearchLV"
              label="displaykey.Button.Select"
              pickValue="CheckedValues"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>
