<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.view"
    id="UserActivitiesPage"
    title="displaykey.Web.Admin.UserDetail(User.DisplayName)">
    <LocationEntryPoint
      signature="UserActivitiesPage(User : User)"/>
    <Variable
      name="User"
      type="User"/>
    <Variable
      initialValue="ActivityDesktopView.finder.findAssignedToUser(User)"
      name="ActivityDesktopViewList"
      type="ActivityDesktopViewQuery"/>
    <Screen
      id="UserActivitiesScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.UserDetail.Activities(User.DisplayName)"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignActivitiesPopup.push(new activity.ActivityAssignmentPopup(CheckedValues))"
          flags="all CanAssignActivity"
          id="UserActivitiesPage_AssignButton"
          iterator="DesktopActivitiesLV"
          label="displaykey.Web.DesktopActivities.Assign"
          shortcut="G"/>
        <ToolbarDivider/>
      </Toolbar>
      <PanelRef
        def="DesktopActivitiesLV(ActivityDesktopViewList)"/>
    </Screen>
  </Page>
</PCF>
