<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.view"
    id="UserClaimsPage"
    title="displaykey.Web.Admin.UserDetail(User.DisplayName)">
    <LocationEntryPoint
      signature="UserClaimsPage(User : User)"/>
    <Variable
      name="User"
      type="User"/>
    <Variable
      initialValue="ClaimDesktopView.finder.findAllAndAttachClaimants()"
      name="ClaimDesktopViewList"
      type="ClaimDesktopViewQuery"/>
    <Screen
      id="UserClaimsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.UserDetail.Claims(User.DisplayName)"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignClaimsPopup.push(new claim.ClaimAssignmentPopup(CheckedValues))"
          default="true"
          flags="any ClaimDesktopView"
          id="UserClaimsPage_AssignButton"
          iterator="DesktopClaimsLV"
          label="displaykey.Web.DesktopExposures.Assign"
          shortcut="G"/>
        <ToolbarDivider/>
      </Toolbar>
      <PanelRef
        def="DesktopClaimsLV(ClaimDesktopViewList, User, false)"/>
    </Screen>
  </Page>
</PCF>
