<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.view"
    id="UserMattersPage"
    title="displaykey.Web.Admin.UserDetail(User.DisplayName)">
    <LocationEntryPoint
      signature="UserMattersPage(User : User)"/>
    <Variable
      name="User"
      type="User"/>
    <Variable
      initialValue="MatterUserView.finder.findAssignedToUser(User)"
      name="MatterUserViewList"
      type="MatterUserViewQuery"/>
    <Screen
      id="UserMattersScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.UserDetail.Matters(User.DisplayName)"/>
      <Toolbar
        reflectOnBottom="true">
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignMattersPopup.push(new matter.MatterAssignmentPopup(CheckedValues))"
          default="true"
          flags="any Matter"
          id="UserMattersPage_AssignButton"
          iterator="UserMattersLV"
          label="displaykey.Web.Admin.UserDetail.Matters.Assign"
          shortcut="G"/>
        <ToolbarDivider/>
      </Toolbar>
      <PanelRef
        def="UserMattersLV(MatterUserViewList)"/>
    </Screen>
  </Page>
</PCF>
