<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="UserAttributesLV">
    <Require
      name="User"
      type="User"/>
    <RowIterator
      conversionExpression="gw.api.admin.UserAttributeUtil.createAttributeUsers(PickedValue, CurrentLocation)"
      editable="true"
      elementName="Attribute"
      hasCheckBoxes="true"
      pickLocation="UserAttributesPopup.push()"
      toAdd="User.addToAttributes(Attribute)"
      toRemove="User.removeFromAttributes(Attribute)"
      value="User.Attributes">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.UserAttributes.Name"
          outputConversion="Attribute.Attribute.Name"
          required="true"
          sortOrder="2"
          value="Attribute.Attribute.Name"/>
        <Cell
          id="Type"
          label="displaykey.Web.Admin.UserAttributes.Type"
          sortOrder="1"
          value="Attribute.Attribute.Type"/>
        <Cell
          editable="true"
          id="State"
          label="displaykey.Web.Admin.UserAttributes.State"
          value="Attribute.State"/>
        <Cell
          editable="true"
          id="Value"
          label="displaykey.Web.Admin.UserAttributes.Value"
          value="Attribute.Value"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
