<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="UserDetailDV">
    <Require
      name="User"
      type="User"/>
    <Require
      name="linkStatus"
      type="contact.LinkStatus"/>
    <Variable
      initialValue="Role.finder.allOrderedByName()"
      name="AllRoles"
      type="RoleQuery"/>
    <Variable
      initialValue="getContact()"
      name="UserContact"
      type="UserContact"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.UserDetail.Locked"
        visible="User.AccountLocked"/>
      <Label
        label="linkStatus.LinkStatusMessage"/>
      <Label
        label="displaykey.NVV.Admin.UserBasics.AdminUserDetails.Security"/>
      <Input
        editable="true"
        id="FirstName"
        label="displaykey.Web.Admin.UserDetailDV.FirstName"
        required="true"
        value="UserContact.FirstName"/>
      <Input
        editable="true"
        id="LastName"
        label="displaykey.Web.Admin.UserDetailDV.LastName"
        required="true"
        value="UserContact.LastName"/>
      <Input
        editable="true"
        id="Username"
        label="displaykey.Web.Admin.UserDetailDV.Username"
        required="true"
        value="User.Credential.Username"/>
      <ConfirmPasswordInput
        confirmLabel="displaykey.Web.Admin.UserDetailDV.ConfirmPassword"
        editable="true"
        id="Password"
        label="displaykey.Web.Admin.UserDetailDV.Password"
        required="User.New"
        value="User.Credential.Password"/>
      <Input
        editable="true"
        id="Active"
        label="displaykey.Web.Admin.UserDetailDV.Active"
        required="true"
        value="User.Credential.Active"/>
      <Input
        editable="true"
        id="AccountLocked"
        label="displaykey.Web.Admin.UserDetailDV.AccountLocked"
        value="User.AccountLocked"/>
      <RangeInput
        editable="true"
        id="StartupPage"
        label="displaykey.NVV.Admin.UserBasics.AdminUserDetails.StartupView"
        value="User.UserSettings.StartupPage"
        valueRange="User.VisibleStartupPages"
        visible="!User.New"/>
      <Input
        editable="true"
        id="VacationStatus"
        label="displaykey.Web.Admin.UserDetailDV.VacationStatus"
        required="true"
        value="User.VacationStatus"/>
      <UserInput
        editable="true"
        id="BackupUser"
        label="displaykey.Web.Admin.UserDetailDV.BackupUser"
        value="User.BackupUser"/>
      <InputDivider/>
      <ListViewInput
        editable="true"
        label="displaykey.Web.Admin.UserDetailDV.Roles">
        <Toolbar>
          <IteratorButtons
            removeShortcut="O"/>
        </Toolbar>
        <ListViewPanel
          id="UserRolesLV">
          <RowIterator
            editable="true"
            elementName="UserRole"
            toAdd="User.addToRoles(UserRole)"
            toRemove="User.removeFromRoles(UserRole)"
            value="User.Roles">
            <Row>
              <RangeCell
                editable="true"
                id="Name"
                label="displaykey.Web.UserRoles.Role.Name"
                postOnChange="false"
                required="true"
                unique="true"
                value="UserRole.Role"
                valueRange="AllRoles"/>
              <Cell
                id="Description"
                label="displaykey.Web.UserRoles.Role.Description"
                value="UserRole.Role.Description">
                <Reflect
                  triggerIds="Name"/>
              </Cell>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        def="UserGroupsLV(User)"
        editable="true"
        label="displaykey.Web.Admin.UserDetailDV.Groups">
        <Toolbar>
          <IteratorButtons
            removeShortcut="E"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[
function getContact() : UserContact {
  if (User.Contact == null) {
    User.Contact = new UserContact()
  } 
  return User.Contact
}
      
    ]]></Code>
  </DetailViewPanel>
</PCF>
