<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableSecondaryAttorneyLV">
    <Require
      name="matter"
      type="Matter"/>
    <RowIterator
      editable="true"
      elementName="ClaimContactRole"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="Matter.addEmptyRole(&quot;secdefattorney&quot;)"
      toRemove="Matter.removeFromRoles(ClaimContactRole);Matter.removeRole(ClaimContactRole)"
      value="Matter.getClaimContactRolesByRole(&quot;secdefattorney&quot;)">
      <Row
        editable="ClaimContactRole.isEditableInELV()">
        <ClaimContactCell
          claim="matter.Claim"
          editable="true"
          forceContactSubtype="Attorney.Type"
          id="Contact"
          label="displaykey.Web.EditableSecondaryAttorneyLV.Contact"
          required="true"
          sortValueRange="false"
          value="ClaimContactRole.ClaimContact.Contact"
          valueRange="matter.Claim.RelatedAttorneyArray"/>
        <Cell
          editable="true"
          id="IsActive"
          label="displaykey.Web.EditableSecondaryAttorneyLV.IsActive"
          required="true"
          value="ClaimContactRole.Active"/>
        <Cell
          editable="true"
          id="Comments"
          label="displaykey.Web.EditableSecondaryAttorneyLV.Comments"
          value="ClaimContactRole.Comments"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
