<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ICDLV">
    <Require
      name="ICDs"
      type="ICDCodeQuery"/>
    <RowIterator
      editable="false"
      elementName="ICD_Code"
      hideCheckBoxesIfReadOnly="true"
      id="ICDIterator"
      numEntriesToAdd="1"
      pageSize="60"
      pickLocation="ICDPopup.push()"
      value="ICDs">
      <Row>
        <Cell
          action="ICDPopup.push(ICD_Code)"
          id="ICDFullCode"
          label="displaykey.Web.Admin.ICD.ICDCode"
          numCols="6"
          sortOrder="1"
          styleClass="bold"
          value="ICD_Code.Code"/>
        <Cell
          id="ICDDesc"
          label="displaykey.Web.Admin.ICD.CodeDescription"
          numCols="30"
          value="ICD_Code.CodeDesc"/>
        <TypeKeyCell
          id="Body_System"
          label="displaykey.Web.Admin.ICD.BodySystem"
          value="ICD_Code.BodySystem"/>
        <CheckBoxCell
          id="Chronic"
          label="displaykey.Web.Admin.ICD.Chronic"
          value="ICD_Code.Chronic"/>
        <DateCell
          dateFormat="short"
          id="Date_Available"
          label="displaykey.Web.Admin.ICD.AvailableFrom"
          value="ICD_Code.AvailabilityDate"/>
        <DateCell
          dateFormat="short"
          id="Expiry_Date"
          label="displaykey.Web.Admin.ICD.ExpiresOn"
          value="ICD_Code.ExpiryDate"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
