<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PendingApprovalReservesResultsLV">
    <Require
      name="PendingApprovalReserves"
      type="Reserve[]"/>
    <RowIterator
      editable="false"
      elementName="Reserve"
      value="PendingApprovalReserves">
      <Row>
        <Cell
          formatType="currency"
          id="ReserveAmount"
          label="displaykey.LV.Financials.Transactions.Amount"
          value="Reserve.Amount"/>
        <Cell
          id="FeatureNumber"
          label="displaykey.LV.Financials.Transactions.Exposure"
          value="Reserve.Exposure.DisplayName"
          width="100%"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
