<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ReserveSetWorksheetLV">
    <Require
      name="ReserveList"
      type="Reserve[]"/>
    <RowIterator
      editable="false"
      elementName="Reserve"
      pageSize="6"
      value="ReserveList">
      <Row>
        <Cell
          footerLabel="displaykey.Java.ListView.Sum"
          id="Exposure"
          label="displaykey.LV.Financials.ReserveSet.Reserves.Exposure"
          sortOrder="1"
          value="Reserve.Exposure.FullDescription"/>
        <Cell
          id="Coverage"
          label="displaykey.LV.Financials.ReserveSet.Reserves.Coverage"
          sortOrder="2"
          value="Reserve.Exposure.PrimaryCoverage"/>
        <Cell
          id="CostType"
          label="displaykey.LV.Financials.ReserveSet.Reserves.CostType"
          sortOrder="3"
          value="Reserve.CostType"/>
        <Cell
          id="CostCategories"
          label="displaykey.LV.Financials.ReserveSet.Reserves.CostCategories"
          value="Reserve.CostCategory"/>
        <Cell
          footerSumValue="financials.FinancialsCalculationUtil.getOpenReserves().getAmount(Reserve.ReserveLine)"
          formatType="currency"
          id="OpenReserves"
          label="displaykey.LV.Financials.ReserveSet.Reserves.OpenReserves"
          value="financials.FinancialsCalculationUtil.getOpenReserves().getAmount(Reserve.ReserveLine)"/>
        <!-- old value - "Reserves.getOpenReserves()" this was causing exception, not sure how it ever worked. -->
        <Cell
          action="ClaimFinancialsTransactionsDetail.goInMain(Reserve.Claim, Reserve)"
          footerSumValue="Reserve.TransactionAmount"
          formatType="currency"
          id="Amount"
          label="displaykey.LV.Financials.ReserveSet.Reserves.Amount"
          value="Reserve.TransactionAmount"/>
        <Cell
          id="ReserveRationale"
          label="displaykey.LV.Financials.ReserveSet.Reserves.Rationale"
          value="Reserve.Comments"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>