<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.User.viewanyadmin"
    id="Admin"
    menuActions="AdminMenuActions()"
    menuTree="AdminMenuTree()"
    parent="AdminWelcome()"
    title="displaykey.Web.TabBar.Administration">
    <LocationEntryPoint
      signature="Admin()"/>
    <LocationRef
      location="AdminUserSearchPage()"/>
    <LocationRef
      location="AdminGroupSearchPage()"/>
    <!-- <LocationRef
      location="AdminRegionSearchPage()"/> -->
    <!-- GW ADDED -->
    <LocationRef
      location="ActivityPatterns()"/>
    <LocationRef
      location="Attributes()"/>
    <LocationRef
      location="Catastrophes()"/>
    <LocationRef
      location="AuthorityLimitProfiles()"/>
    <LocationRef
      location="Roles()"/>
    <LocationRef
      location="Regions()"/>
    <!-- <LocationRef
      location="Holidays()"/> -->
    <!-- GW ADDED -->
    <LocationRef
      location="MessagingDestinationControlList()"/>
    <LocationRef
      location="ScriptParametersPage()"/>
    <LocationRef
      location="GAICParameters()"/>
    <!-- <LocationRef
      location="Workflows()"/> -->
    <!-- GW ADDED -->
    <LocationRef
      location="ImportExport()"/>
    <LocationRef
      label="displaykey.Web.TabBar.ReportsManager"
      location="TryReportsManager()"/>
    <LocationRef
      location="SecurityZones()"/>
    <LocationRef
      location="SecurityManagement()"/>
    <LocationRef
      location="ProfitCenterGrouping()"/>
    <LocationRef
      location="TPAAdmin()"/>
    <LocationRef
      location="GAIBusinessUnit()"/>
    <!-- <LocationRef
      location="CoverageDetermination()"/> -->
    <!-- <LocationRef
      location="WCParms()"/> -->
    <!-- <LocationRef
      location="ReinsuranceThresholds()"/> -->
    <!-- <LocationRef
      label="displaykey.Web.Admin.ICD"
      location="ICD()"/> -->
    <!-- <LocationRef
      location="KeyMetrics()"/> -->
    <!-- <LocationRef
      location="BusinessWeek()"/> -->
    <LocationRef
      location="LSSAdmin()"/>
    <!-- GW ADDED -->
    <LocationRef
      hideIfDisabled="true"
      location="LitAdvisor()"/>
    <LocationRef
      location="AutoAck()"/>
    <LocationRef
      location="AutoMedLetter()"/>
    <LocationRef
      location="ISOReference()"/>
    <LocationRef
      location="PerformanceTest()"/>
    <LocationRef
      label="&quot;Script Tool&quot;"
      location="ScriptTool()"/>
    <LocationRef
      location="EDWPushHolderTableTool()"/>
    <LocationRef
      location="EDWPushHolderTableToolConvClm()"/>
    <LocationRef
      location="IssuingCompany()"/>
    <LocationRef
      location="CorporateAccountsAdmin()"/>
  </LocationGroup>
</PCF>