<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="perm.Group.edit"
    canVisit="perm.Group.view"
    id="GroupDetailPage"
    parent="Admin()"
    title="displaykey.Web.Admin.GroupDetail(Group.DisplayName)">
    <LocationEntryPoint
      signature="GroupDetailPage(Group : Group)"/>
    <Variable
      name="Group"
      type="Group"/>
    <Variable
      initialValue="Group"
      name="Parent"
      type="Group"/>
    <Variable
      initialValue="AssignableQueue.finder.findVisibleQueuesForUser(User.Util.CurrentUser)"
      name="AssignableQueues"
      type="AssignableQueueQuery"/>
    <Screen
      id="GroupDetailScreen">
      <Toolbar
        reflectOnBottom="true">
        <ToolbarButtonSetRef
          toolbarButtonSet="GroupDetailToolbarButtonSet(Group)"/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="GroupDetail_BasicCard"
          shortcut="P"
          title="displaykey.Web.Admin.GroupDetail.Basic">
          <PanelRef
            def="GroupDetailDV(Group)"/>
          <!-- GW ADDED
          <DetailViewPanel>
            <InputColumn>
              <ListViewInput
                def="GroupUsersLV(Group)"
                editable="true"
                label="displaykey.Web.Admin.GroupDetail.BasicDV.Users"
                labelAbove="true">
                <Toolbar>
                  <IteratorButtons/>
                  <CheckedValuesToolbarButton
                    checkedRowAction="GroupUser.User.BackupUser = null"
                    hideIfReadOnly="true"
                    id="GroupDetailDV_ClearBackupUserButton"
                    iterator="GroupUsersLV"
                    label="displaykey.Java.Admin.GroupUsers.ClearBackupUser"/>
                </Toolbar>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel> -->
        </Card>
        <Card
          id="GroupDetail_QueuesCard"
          shortcut="Q"
          title="displaykey.Web.Admin.GroupDetail.Queues">
          <PanelRef
            def="GroupQueuesDV(Group)">
            <Toolbar/>
          </PanelRef>
        </Card>
        <Card
          id="GroupDetail_RegionsCard"
          shortcut="I"
          title="displaykey.Web.Admin.GroupDetail.Regions">
          <PanelRef
            def="GroupRegionLV(Group)">
            <Toolbar>
              <IteratorButtons
                removeShortcut="E"/>
            </Toolbar>
          </PanelRef>
        </Card>
      </CardViewPanel>
      <!-- GW ADDED
      <PanelDivider/> -->
      <!-- GW ADDED
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.NVV.Admin.GroupBasics.AdminGroupDetails.Assignment"/>
          <Input
            editable="true"
            id="LoadFactor"
            label="displaykey.NVV.Admin.GroupBasics.AdminGroupDetails.Assignment.LoadFactor"
            required="true"
            validationExpression="!(Group.LoadFactor &lt; 0 or Group.LoadFactor &gt; 100) ? null : displaykey.NVV.Admin.GroupBasics.AdminGroupDetails.Assignment.LoadFactor.OutOfRange"
            value="Group.LoadFactor"/>
        </InputColumn>
      </DetailViewPanel> -->
    </Screen>
  </Page>
</PCF>