<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookVendorW9InfoInputSet">
    <Require
      name="contact"
      type="Contact"/>
    <Input
      editable="true"
      id="W9received"
      label="displaykey.Web.ContactDetail.TaxInfo.W9received"
      value="contact.W9received"/>
    <Input
      editable="true"
      id="W9receivedDate"
      label="displaykey.Web.ContactDetail.TaxInfo.W9receivedDate"
      value="contact.W9receivedDate"/>
    <Input
      editable="true"
      id="W9Forwarded"
      label="displaykey.Web.ContactDetail.TaxInfo.W9Forwarded"
      value="contact.W9ForwardedExt"/>
  </InputSet>
</PCF>
