<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- -Disabled "Legal Specialty" / "Law Firm Specialty" field for Defect #6022 - Matters-1 -->
  <DetailViewPanel
    id="AddressBookSearchDV">
    <Require
      name="searchCriteria"
      type="ContactSearchCriteria"/>
    <Require
      name="addressBookPageHelper"
      type="contact.CCProximitySearchPageHelper"/>
    <!-- <Require
      name="proximitySearchPageHelper"
      type="contact.CCProximitySearchPageHelper"/> -->
    <!-- GW ADDED -->
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="externalSearchEnabled"
      type="boolean"/>
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="SIRScreen"
      type="boolean"/>
    <Require
      name="allowPlace"
      type="Boolean"/>
    <Variable
      initialValue="gw.util.Geocode.setDefaultSearchRange(addressBookPageHelper, searchCriteria)"
      name="pspRange"/>
    <InputColumn>
      <Input
        editable="true"
        id="SearchType"
        label="displaykey.Web.AddressBook.Search.SearchType"
        postOnChange="true"
        required="true"
        value="searchCriteria.SearchType"
        visible="externalSearchEnabled and ContactSearchType.getTypeKeys(false).Count &gt; 1"/>
      <!-- Defect 149 - djohnson take out agency  Defect 424 - zthomas - take out Legal Venue, Auto Repair Shop, Auto Towing Agency, and Place.  Moved filter code to gscript function isAllowedInABSearch().  Defect 521 - djohnson Add contact type to the serach display results. -->
      <RangeInput
        editable="true"
        filter="searchCriteria.isAllowedInABSearch(VALUE)"
        id="ContactSubtype"
        label="displaykey.Web.AddressBook.Search.Type"
        optionLabel="searchCriteria.getContactTypeName(VALUE, requiredContactType)"
        postOnChange="true"
        required="true"
        sortValueRange="false"
        value="searchCriteria.ContactSubtype"
        valueRange="searchCriteria.getABSearchContactTypes(requiredContactType, SIRScreen, allowPlace)"/>
      <InputSet>
        <Input
          editable="true"
          id="TaxID"
          label="displaykey.Web.AddressBook.Search.TaxID"
          value="SearchCriteria.TaxID"/>
      </InputSet>
      <InputSet
        visible="searchCriteria.isSearchFor(entity.Person)">
        <Input
          editable="true"
          id="FirstName"
          label="displaykey.Web.AddressBook.Search.FirstName"
          value="searchCriteria.FirstName"/>
      </InputSet>
      <!-- Keyword is the general term for Name and LastName -->
      <Input
        editable="true"
        id="Keyword"
        label=" searchCriteria.isSearchFor(entity.Person) ? displaykey.Web.AddressBook.Search.LastName : ( (searchCriteria.isSearchFor(entity.Company) or searchCriteria.isSearchFor(entity.Place))? displaykey.Web.AddressBook.Search.Name : displaykey.Web.AddressBook.Search.ContactName)"
        value="searchCriteria.Keyword"/>
      <InputSet
        visible="searchCriteria.isSearchFor(entity.Person) and !(searchCriteria.isSearchFor(entity.PersonVendor) or searchCriteria.isSearchFor(entity.UserContact))">
        <Input
          editable="true"
          id="OrganizationName"
          label="displaykey.Web.AddressBook.Search.OrganizationName"
          value="searchCriteria.OrganizationName"/>
      </InputSet>
      <Input
        editable="true"
        id="DBA"
        label="displaykey.Web.ContactSearch.Tax.DoingBusinessAs"
        value="SearchCriteria.DoingBusinessAsExt"/>
      <Input
        editable="true"
        id="TaxReportingName"
        label="displaykey.Web.ContactSearch.Tax.ReportingName"
        value="SearchCriteria.Ex_TaxReportingName"/>
      <!-- <InputSet
        visible="searchCriteria.isSearchFor(entity.Attorney)">
        <Input
          editable="true"
          id="AttorneySpecialty"
          label="displaykey.Web.AddressBook.Search.AttorneySpecialty"
          value="searchCriteria.AttorneySpecialty"/>
      </InputSet> -->
      <InputSet
        visible="searchCriteria.isSearchFor(entity.Doctor)">
        <Input
          editable="true"
          id="DoctorSpecialty"
          label="displaykey.Web.AddressBook.Search.DoctorSpecialty"
          value="searchCriteria.DoctorSpecialty"/>
      </InputSet>
      <!-- <InputSet
        visible="searchCriteria.isSearchFor(entity.Adjudicator)">
        <Input
          editable="true"
          id="AdjudicativeDomain"
          label="displaykey.Web.AddressBook.Search.AdjudicativeDomain"
          value="searchCriteria.AdjudicativeDomain"/>
      </InputSet> -->
      <!-- 04/26/2007 djohnson No Adjudicator option, Defect 340 -->
      <InputSet
        visible="searchCriteria.isSearchFor(entity.MedicalCareOrg)">
        <Input
          editable="true"
          id="MedicalSpecialty"
          label="displaykey.Web.AddressBook.Search.MedicalSpecialty"
          value="searchCriteria.MedicalOrgSpecialty"/>
      </InputSet>
      <!-- <InputSet
        visible="searchCriteria.isSearchFor(entity.LawFirm)">
        <Input
          editable="true"
          id="LawFirmSpecialty"
          label="displaykey.Web.AddressBook.Search.LawFirmSpecialty"
          value="searchCriteria.LawFirmSpecialty"/>
      </InputSet> -->
      <InputSet
        visible="searchCriteria.isSearchFor(entity.PersonVendor) or searchCriteria.isSearchFor(entity.CompanyVendor)">
        <Input
          editable="true"
          id="PreferredVendors"
          label="displaykey.Web.AddressBook.Search.PreferredVendors"
          value="searchCriteria.PreferredVendors"/>
        <!-- <RangeInput
          editable="true"
          id="MinimumScore"
          label="displaykey.Web.Reviews.MinimumScore"
          value="searchCriteria.Score"
          valueRange="scoreRange()"
          visible="gw.api.contact.ReviewUtil.haveReviewTypeForContactSubtype( searchCriteria.ContactSubtype ) "/> -->
      </InputSet>
    </InputColumn>
    <InputColumn>
      <!-- <InputSetRef
        def="AddressBookSearchLocationInputSet(searchCriteria)"
        mode="searchCriteria.Address.Country != null ? searchCriteria.Address.Country : gw.api.admin.BaseAdminUtil.getDefaultCountry()"/> -->
      <!-- GW ADDED -->
      <Label
        label="displaykey.Web.AddressBook.Search.Location"/>
      <Input
        editable="true"
        id="City"
        label="displaykey.Web.AddressBook.Search.Location.City"
        value="searchCriteria.Address.City"/>
      <Input
        editable="true"
        id="State"
        label="displaykey.Web.AddressBook.Search.Location.State"
        value="searchCriteria.Address.State"/>
      <TextInput
        editable="true"
        id="PostalCode"
        inputMask="&quot;#####-####&quot;"
        label="displaykey.Web.AddressBook.Search.Location.PostalCode"
        value="searchCriteria.Address.PostalCode"/>
    </InputColumn>
    <InputColumn>
      <!-- <InputSetRef
        def="AddressBookSearchProximityAddressInputSet(searchCriteria, proximitySearchPageHelper, claim)"
        mode="searchCriteria.ProximitySearchCenter.Country != null ? searchCriteria.ProximitySearchCenter.Country : gw.api.admin.BaseAdminUtil.getDefaultCountry()"
        visible="proximitySearchPageHelper.useGeocodeUIinAddressBook()"/> -->
      <!-- <InputSet
        visible="addressBookPageHelper.useGeocodeUIinAddressBook() and !searchCriteria.isExternalSearch()">
        <Label
          label="displaykey.Web.AddressBook.Search.ProximitySearch"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()"/>
        <RangeInput
          editable="claim != null"
          id="LossLocation_Name"
          label="displaykey.NVV.Claim.SubView.LossDetailsAuto.Claim.LossLocation.Name"
          required="false"
          sortValueRange="false"
          value="claim.LossLocation"
          valueRange="claim.Addresses"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook() AND (claim !=null)"/>
        <RangeInput
          editable="true"
          id="ProximitySearchType"
          label="displaykey.Web.AddressBook.Search.ProximitySearch.Radius"
          optionLabel="VALUE.getLabel()"
          sortValueRange="false"
          value="searchCriteria.ProximitySearchParameters"
          valueRange="pspRange"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()"/>
        <Input
          editable="true"
          id="ProximityAddressLine1"
          label="displaykey.Web.AddressBook.Search.ProximitySearch.AddressLine1"
          value="SearchCriteria.ProximitySearchCenter.AddressLine1"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()">
          <Reflect
            triggerIds="LossLocation_Name"
            value="VALUE.AddressLine1"/>
        </Input>
        <Input
          editable="true"
          id="ProximityAddressLine2"
          label="displaykey.Web.AddressBook.Search.ProximitySearch.AddressLine2"
          value="SearchCriteria.ProximitySearchCenter.AddressLine2"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()">
          <Reflect
            triggerIds="LossLocation_Name"
            value="VALUE.AddressLine2"/>
        </Input>
        <Input
          editable="true"
          id="ProximityCity"
          label="displaykey.Web.AddressBook.Search.ProximitySearch.City"
          value="SearchCriteria.ProximitySearchCenter.City"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()">
          <Reflect
            triggerIds="LossLocation_Name"
            value="VALUE.City"/>
        </Input>
        <Input
          editable="true"
          id="ProximityState"
          label="displaykey.Web.AddressBook.Search.ProximitySearch.State"
          value="SearchCriteria.ProximitySearchCenter.State"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()">
          <Reflect
            triggerIds="LossLocation_Name"
            value="VALUE.State"/>
        </Input>
        <Input
          editable="true"
          id="ProximityPostalCode"
          label="displaykey.Web.AddressBook.Search.ProximitySearch.PostalCode"
          value="SearchCriteria.ProximitySearchCenter.PostalCode"
          visible="addressBookPageHelper.useGeocodeUIinAddressBook()">
          <Reflect
            triggerIds="LossLocation_Name"
            value="VALUE.PostalCode"/>
        </Input>
      </InputSet> -->
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
    <Code><![CDATA[function scoreRange() : String[] {
        return new String[]{ "0", "10", "20", "30", "40", "50", "60", "70", "80", "90" };
      }]]></Code>
  </DetailViewPanel>
</PCF>