<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookCompanyVendorAdditionalInfoInputSet"
    mode="CompanyVendor">
    <Require
      name="company"
      type="Company"/>
    <Label
      label="displaykey.Web.ContactDetail.AdditionalInfo"/>
    <InputSetRef
      def="AddressBookCompanyVendorSpecialtyInputSet(company as companyVendor)"
      mode="company.subType"/>
    <Input
      editable="perm.Contact.createpreferredab"
      id="IsPreferredVendor"
      label="displaykey.Web.ContactDetail.AdditionalInfo.IsPreferredVendor"
      required="false"
      validationExpression="(!(company as companyVendor).PayableExt and (company as companyVendor).Preferred ? &quot;Vendor needs to be Payable before being Preferred&quot; : null)"
      value="(company as companyVendor).Preferred"/>
    <Input
      editable="perm.System.vendorpayable"
      id="IsPayable"
      label="displaykey.Web.ContactDetail.AddidiontalInfo.PayableExt"
      postOnChange="true"
      value="(company as companyVendor).PayableExt"
      visible="true"/>
    <Input
      id="CMFContactInput"
      label="displaykey.Web.ContactDetail.AdditionalInfo.CMFContact"
      postOnChange="true"
      value="(company as CompanyVendor).CMFContactExt"
      visible="true"/>
    <InputDivider/>
  </InputSet>
</PCF>