<?xml version="1.0" encoding="UTF-8"?>
<PCF xsi:noNamespaceSchemaLocation="../../schema/pcf.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <InputSet id="AddressBookAdjudicatorAdditionalInfoInputSet" mode="Adjudicator">
    <Require name="contact" type="Contact"/>
    <Require name="externalContactSource" type="contact.ExternalContactSource"/>
    <Input id="AdjudicatorLicense" label="displaykey.Web.ContactDetail.Adjudicator.AdjudicatorLicense"
           value="(contact as Adjudicator).AdjudicatorLicense" editable="true"/>
    <Input id="AdjudicativeDomain" label="displaykey.Web.ContactDetail.Adjudicator.AdjudicativeDomain"
           value="(contact as Adjudicator).AdjudicativeDomain" editable="true"/>
    <Input id="TaxID" label="displaykey.Web.ContactDetail.AdditionalInfo.TaxID" value="(contact as Adjudicator).TaxID"
           editable="true"/>
    <AddressBookContactInput id="Organization"
                             label="displaykey.Web.ContactDetail.Company.Organization"
                             value="(contact as Adjudicator).Employer" editable="true" parentContact="contact"/>
  </InputSet>

</PCF>
