<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="AddressBook.go()"
    afterCommit="util.gaic.EDW.EDWPartyFunctions.getInstance().sendABParties(contact); AddressBookContactDetail.go(externalContactSource.wrap(contact));"
    canEdit="true"
    canVisit="perm.Contact.createab(contactType)"
    id="NewAddressBookContact"
    parent="AddressBook()"
    startInEditMode="true"
    title="displaykey.Web.NewContact.Title(contactType.TypeInfo.DisplayName)">
    <LocationEntryPoint
      signature="NewAddressBookContact(contactType : Type)"/>
    <Variable
      initialValue="new gw.api.contact.ProximitySearchPageHelper()"
      name="PageHelper"/>
    <Variable
      name="contactType"
      type="Type"/>
    <Variable
      initialValue="gw.api.contact.AddressBookUtil.newAddressBookContactSource()"
      name="externalContactSource"
      type="gw.api.contact.ExternalContactSource"/>
    <Variable
      initialValue="externalContactSource.newContact(contactType)"
      name="contact"
      type="Contact"/>
    <ScreenRef
      def="AddressBookContactDetailScreen(contact, externalContactSource)"/>
  </Page>
</PCF>