<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    compress="true"
    id="WCBenefitFactorsLV">
    <Require
      name="WCBenefitParameterSet"
      type="WCBenefitParameterSet"/>
    <Row
      useHeaderStyle="true"
      useTitleStyle="false">
      <Cell
        colspan="4"
        editable="true"
        hideIfReadOnly="true"
        id="empty1"/>
      <Cell
        colspan="4"
        id="AppliesTo"
        value="displaykey.LV.Admin.WCBenefitFactor.ApplicableTo"/>
    </Row>
    <RowIterator
      editable="true"
      elementName="WCBenefitFactorDetail"
      hideCheckBoxesIfReadOnly="true"
      id="WCBenefitFactor"
      toAdd="WCBenefitParameterSet.addToWCBenefitFactors(WCBenefitFactorDetail )"
      toRemove="WCBenefitParameterSet.removeFromWCBenefitFactors( WCBenefitFactorDetail )"
      value="WCBenefitParameterSet.WCBenefitFactors">
      <Row>
        <TypeKeyCell
          editable="true"
          hideIfReadOnly="true"
          id="FactorCategory"
          label="displaykey.LV.Admin.WCBenefitFactor.FactorCategory"
          value="WCBenefitFactorDetail.FactorCategory"/>
        <TypeKeyCell
          editable="true"
          hideIfReadOnly="true"
          id="DetailedFactor"
          label="displaykey.LV.Admin.WCBenefitFactor.DetailedFactor"
          required="true"
          value="WCBenefitFactorDetail.DetailedFactor"
          width=".3"/>
        <Cell
          editable="true"
          hideIfReadOnly="true"
          id="Units"
          label="displaykey.LV.Admin.WCBenefitFactor.Units"
          value="WCBenefitFactorDetail.FactorValue"
          width=".25"/>
        <TextCell
          bold="false"
          editable="true"
          hideIfEditable="false"
          hideIfReadOnly="true"
          id="FactorComment"
          label="displaykey.LV.Admin.WCBenefitFactor.Comment"
          maxChars="40"
          value="WCBenefitFactorDetail.FactorComment"
          valueVisible="WCBenefitFactorDetail.DetailedFactor == &quot;other&quot; "
          visible="true"/>
        <CheckBoxCell
          bold="false"
          editable="true"
          id="AppliesToTTD"
          label="displaykey.LV.Admin.WCBenefitFactor.TTD"
          value="WCBenefitFactorDetail.AppliesToTTD"/>
        <CheckBoxCell
          bold="false"
          editable="true"
          id="AppliesToTPD"
          label="displaykey.LV.Admin.WCBenefitFactor.TPD"
          value="WCBenefitFactorDetail.AppliesToTPD"/>
        <CheckBoxCell
          bold="false"
          editable="true"
          id="AppliesToPTD"
          label="displaykey.LV.Admin.WCBenefitFactor.PTD"
          value="WCBenefitFactorDetail.AppliesToPTD"/>
        <CheckBoxCell
          bold="false"
          editable="true"
          id="AppliesToPPD"
          label="displaykey.LV.Admin.WCBenefitFactor.PPD"
          value="WCBenefitFactorDetail.AppliesToPPD"/>
        <Cell
          hideChildrenIfReadOnly="false"
          hideIfEditable="true"
          hideIfReadOnly="false"
          id="FactorWithUnit"
          label="displaykey.LV.Admin.WCBenefitFactor.FactorName"
          postOnChange="true"
          value="WCBenefitFactorDetail.DisplayName"
          visible="(CurrentLocation.InEditMode != true)"
          width=".3"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
