<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="WCBenefitParameterSetDV">
    <Require
      name="WCBenefitParameterSet"
      type="WCBenefitParameterSet"/>
    <InputColumn>
      <Label
        id="General"
        label="displaykey.DV.Admin.WCBenefitParameterSet.General"/>
      <Input
        editable="true"
        id="Jurisdiction"
        label="displaykey.DV.Admin.WCBenefitParameterSet.JurisdictionState"
        required="true"
        value="WCBenefitParameterSet.JurisdictionState"/>
      <Input
        editable="true"
        id="StartDate"
        label="displaykey.DV.Admin.WCBenefitParameterSet.StartDate"
        required="true"
        validationExpression="validateThisDate()"
        value="WCBenefitParameterSet.StartDate"/>
      <Input
        editable="true"
        id="EndDate"
        label="displaykey.DV.Admin.WCBenefitParameterSet.EndDate"
        required="true"
        validationExpression="validateThisDate()"
        value="WCBenefitParameterSet.EndDate"/>
      <TextInput
        editable="true"
        id="RateCommentsw"
        label="displaykey.DV.Admin.WCBenefitParameterSet.RateComments"
        value="WCBenefitParameterSet.RateComments"/>
      <InputDivider/>
      <Label
        id="TTD"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TTD"/>
      <Input
        editable="true"
        id="TTDPercentOfWages"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TTDPercentOfWages"
        value="WCBenefitParameterSet.TTDPercentOfWages"/>
      <Input
        editable="true"
        id="TTDMax"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TTDMax"
        validationExpression="validateTTDBenefit(WCBenefitParameterSet.TTDMin, WCBenefitParameterSet.TTDMax)"
        value="WCBenefitParameterSet.TTDMax"/>
      <Input
        editable="true"
        id="TTDMin"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TTDMin"
        validationExpression="validateTTDBenefit(WCBenefitParameterSet.TTDMin, WCBenefitParameterSet.TTDMax)"
        value="WCBenefitParameterSet.TTDMin"/>
      <Input
        editable="true"
        id="TTDMinAdjToAWW"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TTDMinAdjToAWW"
        value="WCBenefitParameterSet.TTDMinAdjToAWW"/>
      <InputDivider/>
      <Label
        id="TPD"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TPD"/>
      <Input
        editable="true"
        id="TPDPercentOfWages"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TPDPercentOfWages"
        value="WCBenefitParameterSet.TPDPercentOfWages"/>
      <Input
        editable="true"
        id="TPDMax"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TPDMax"
        validationExpression="validateTPDBenefit(WCBenefitParameterSet.TPDMin, WCBenefitParameterSet.TPDMax)"
        value="WCBenefitParameterSet.TPDMax"/>
      <Input
        editable="true"
        id="TPDMin"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TPDMin"
        validationExpression="validateTPDBenefit(WCBenefitParameterSet.TPDMin, WCBenefitParameterSet.TPDMax)"
        value="WCBenefitParameterSet.TPDMin"/>
      <Input
        editable="true"
        id="TPDMinAdjToAWW"
        label="displaykey.DV.Admin.WCBenefitParameterSet.TPDMinAdjToAWW"
        value="WCBenefitParameterSet.TPDMinAdjToAWW"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        id="WaitingPeriod"
        label="displaykey.DV.Admin.WCBenefitParameterSet.WaitingPeriod"/>
      <Input
        editable="true"
        id="WaitingPeriodDays"
        label="displaykey.DV.Admin.WCBenefitParameterSet.NumberOfDays"
        validationExpression="WCBenefitParameterSet.WaitingPeriodDays &lt; 0 ? displaykey.DV.Admin.WCBenefitParameterSet.Message.NegativeNumberOfDays : null"
        value="WCBenefitParameterSet.WaitingPeriodDays"/>
      <Input
        editable="true"
        id="RetroactivePeriod"
        label="displaykey.DV.Admin.WCBenefitParameterSet.RetroactivePeriod"
        validationExpression="WCBenefitParameterSet.RetroactivePeriod &lt; 0 ?  displaykey.DV.Admin.WCBenefitParameterSet.Message.NegativeRetroactivePeriod : null"
        value="WCBenefitParameterSet.RetroactivePeriod"/>
      <CheckBoxInput
        editable="true"
        id="WPNotAppliedToPTD"
        label="displaykey.DV.Admin.WCBenefitParameterSet.WPNotAppliedToPTD"
        value="WCBenefitParameterSet.WPNotAppliedToPTD"/>
      <CheckBoxInput
        editable="true"
        id="WPNotAppliedToPPD"
        label="displaykey.DV.Admin.WCBenefitParameterSet.WPNotAppliedToPPD"
        value="WCBenefitParameterSet.WPNotAppliedToPPD"/>
      <InputDivider/>
      <Label
        id="PTD"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PTD"/>
      <Input
        editable="true"
        id="PTDPercentOfWages"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PTDPercentOfWages"
        value="WCBenefitParameterSet.PTDPercentOfWages"/>
      <Input
        editable="true"
        id="TPTDMax"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PTDMax"
        validationExpression="validatePTDBenefit(WCBenefitParameterSet.PTDMin, WCBenefitParameterSet.PTDMax)"
        value="WCBenefitParameterSet.PTDMax"/>
      <Input
        editable="true"
        id="PTDMin"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PTDMin"
        validationExpression="validatePTDBenefit(WCBenefitParameterSet.PTDMin, WCBenefitParameterSet.PTDMax)"
        value="WCBenefitParameterSet.PTDMin"/>
      <Input
        editable="true"
        id="PTDMinAdjToAWW"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PTDMinAdjToAWW"
        value="WCBenefitParameterSet.PTDMinAdjToAWW"/>
      <InputDivider/>
      <Label
        id="PPD"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PPD"/>
      <Input
        editable="true"
        id="PPDPercentOfWages"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PPDPercentOfWages"
        value="WCBenefitParameterSet.PPDPercentOfWages"/>
      <Input
        editable="true"
        id="PPDMax"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PPDMax"
        validationExpression="validatePPDBenefit(WCBenefitParameterSet.PPDMin, WCBenefitParameterSet.PPDMax)"
        value="WCBenefitParameterSet.PPDMax"/>
      <Input
        editable="true"
        id="PPDMin"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PPDMin"
        validationExpression="validatePPDBenefit(WCBenefitParameterSet.PPDMin, WCBenefitParameterSet.PPDMax)"
        value="WCBenefitParameterSet.PPDMin"/>
      <Input
        editable="true"
        id="PPDMinAdjToAWW"
        label="displaykey.DV.Admin.WCBenefitParameterSet.PPDMinAdjToAWW"
        value="WCBenefitParameterSet.PPDMinAdjToAWW"/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        def="WCBenefitFactorsLV(WCBenefitParameterSet)"
        id="Factors">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
    <Code><![CDATA[
function validateThisDate() : String {
  if (WCBenefitParameterSet.StartDate > WCBenefitParameterSet.EndDate ) {
     return displaykey.Rules.Validation.Admin.EffDateGTExpiryDate
  } else {
    return null
  }
}

function validateTTDBenefit(min : java.math.BigDecimal, max : java.math.BigDecimal) : String {
  if (testMinMax( min, max )) {
    return displaykey.DV.Admin.WCBenefitParameterSet.TTD.MinMaxException
  } else {    
    return null
  }
}

function validateTPDBenefit(min : java.math.BigDecimal, max : java.math.BigDecimal) : String {
  if (testMinMax( min, max )) {
    return displaykey.DV.Admin.WCBenefitParameterSet.TPD.MinMaxException
  } else {
    return null
  }
}

function validatePTDBenefit(min : java.math.BigDecimal, max : java.math.BigDecimal) : String {
  if (testMinMax( min, max )) {
    return displaykey.DV.Admin.WCBenefitParameterSet.PTD.MinMaxException
  } else {
    return null
  }
}

function validatePPDBenefit(min : java.math.BigDecimal, max : java.math.BigDecimal) : String {
  if (testMinMax( min, max )) {
    return displaykey.DV.Admin.WCBenefitParameterSet.PPD.MinMaxException
  } else {
    return null
  }
}

private function testMinMax(min : java.math.BigDecimal, max : java.math.BigDecimal) : boolean {
  return (min != null and max != null) and (min > max)  
}
      
    ]]></Code>
  </DetailViewPanel>
</PCF>
