<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="WCPDWeeksAndLimitsLV">
    <Require
      name="ref_WC_PD_WeeksAndLimitsList"
      type="ref_WC_PD_WeeksAndLimitsQuery"/>
    <RowIterator
      editable="true"
      elementName="ref_WC_PD_WeeksAndLimits"
      hasCheckBoxes="true"
      numEntriesToAdd="1"
      toCreateAndAdd="new ref_WC_PD_WeeksAndLimits()"
      toRemove="ref_WC_PD_WeeksAndLimits.remove()"
      value="ref_WC_PD_WeeksAndLimitsList">
      <Row>
        <TypeKeyCell
          editable="true"
          id="JurisdictionState"
          label="displaykey.LV.Admin.ref_WC_PD_WeeksAndLimits.JurisdictionState"
          required="true"
          sortOrder="1"
          value="ref_WC_PD_WeeksAndLimits.JurisdictionState"
          wrap="false"
          wrapLabel="true"/>
        <Cell
          editable="true"
          id="PD_BenefitStartDate"
          label="displaykey.LV.Admin.ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate"
          required="true"
          sortOrder="2"
          validationExpression="(ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate &gt; ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate ? displaykey.Rules.Validation.Admin.EffDateGTExpiryDate : null)"
          value="ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate"
          wrap="false"
          wrapLabel="true"/>
        <Cell
          editable="true"
          id="PD_BenefitEndDate"
          label="displaykey.LV.Admin.ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate"
          required="true"
          sortOrder="3"
          validationExpression="(ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate &gt; ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate ? displaykey.Rules.Validation.Admin.EffDateGTExpiryDate : null)"
          value="ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate"
          wrap="false"
          wrapLabel="true"/>
        <Cell
          editable="true"
          id="DisabilityPercent"
          label="displaykey.LV.Admin.ref_WC_PD_WeeksAndLimits.DisabilityPercent"
          required="true"
          sortOrder="4"
          value="ref_WC_PD_WeeksAndLimits.DisabilityPercent"
          wrap="false"
          wrapLabel="true"/>
        <Cell
          editable="true"
          formatType="general"
          id="PD_NumWeeks"
          label="displaykey.LV.Admin.ref_WC_PD_WeeksAndLimits.PD_NumWeeks"
          required="true"
          sortOrder="5"
          value="ref_WC_PD_WeeksAndLimits.PD_NumWeeks"
          wrap="false"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
