<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    beforeCommit="verifyBenefits()"
    canEdit="perm.System.wcrefmanage"
    canVisit="perm.System.wcrefview"
    id="WCPDBenefits"
    title="displaykey.Web.Admin.WCPDBenefits">
    <Variable
      initialValue="find (var a in ref_WC_PD_benefits)"
      name="ref_WC_PD_Benefits"
      type="ref_WC_PD_benefitsQuery"/>
    <Screen
      id="ref_WC_PD_BenefitsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.WCPDBenefits"/>
      <Toolbar
        reflectOnBottom="true"
        visible="true">
        <EditButtons/>
        <IteratorButtons
          addVisible="true"
          removeVisible="true"/>
      </Toolbar>
      <PanelRef
        def="WCPDBenefitsLV(ref_WC_PD_Benefits)"/>
    </Screen>
    <Code><![CDATA[function verifyBenefits() {
  var foundError = false
  var bundle = gw.transaction.Transaction.getCurrent()

  var modifiedEntries = bundle.getInsertedAndUpdatedBeansOfType(entity.ref_WC_PD_benefits)
  var modifiedAndRemoved = bundle.getAllModifiedBeansOfType(entity.ref_WC_PD_benefits)
    
  var modifiedByState = modifiedEntries.partition(\ r -> r.JurisdictionState)
  for (state in modifiedByState.Keys) {
    var modifiedBenefitsWithState = modifiedByState[state] 
    var unmodifiedBenefitsWithState = new java.util.ArrayList<ref_WC_PD_benefits>()
    for (ref in find (r in ref_WC_PD_benefits where r.JurisdictionState == state)) {
      if (!modifiedAndRemoved.contains(ref)) {
        unmodifiedBenefitsWithState.add(ref)
      }
    }
    for (ref in modifiedBenefitsWithState index i) {
      var overlapsWithModified = ref.findOverlaps(modifiedBenefitsWithState.toList().subList(i + 1, modifiedBenefitsWithState.Count))
      var overlapsWithUnmodified = ref.findOverlaps(unmodifiedBenefitsWithState)
      if (overlapsWithModified or overlapsWithUnmodified) {
        foundError = true
      }
    }   
  }
  
  if (foundError) {
    throw new util.DisplayableException(displaykey.Web.Admin.WCParams.PDBenefits.ConflictWarning)
  }
}]]></Code>
  </Page>
</PCF>
