<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="ExposureCertificateInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Label
      id="CertInfoLabel"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation"/>
    <Input
      editable="true"
      id="AppliesToCertAggLimitInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.FeatureAppliesToAggLimit"
      labelStyleClass="label_wrap"
      onChange="Exposure.UIHelper.AppliesToCertAggLimit_OnChange()"
      postOnChange="true"
      required="true"
      value="Exposure.AppliesToCertAggLimitExt"/>
    <Input
      editable="true"
      id="CertCoverageDescExtInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.CertificateCoverageDescription"
      required="true"
      value="Exposure.CertCoverageDescExt"
      visible="Exposure.AppliesToCertAggLimitExt == false"/>
    <Input
      editable="true"
      formatType="exactNumber"
      id="CertificateSublimitAggregateInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.CertificateAggregateSublimit"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      postOnChange="true"
      validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(Exposure.CertSublimitAggregateExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
      value="Exposure.CertSublimitAggregateExt"
      visible="Exposure.AppliesToCertAggLimitExt == false"/>
    <Input
      editable="true"
      formatType="exactNumber"
      id="CertificateSublimitInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.CertificateSublimit"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      postOnChange="true"
      required="true"
      validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(Exposure.CertSublimitExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
      value="Exposure.CertSublimitExt"
      visible="Exposure.AppliesToCertAggLimitExt == false"/>
    <RangeInput
      editable="true"
      id="CertificateSublimitAppliesToInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.CertificateSublimitAppliesTo"
      labelStyleClass="label_wrap"
      postOnChange="true"
      required="true"
      value="Exposure.CertSublimitAppExt"
      valueRange="LimitApplicationExt.TF_CERTIFICATESUBLIMITAPPLIESTO.TypeKeys"
      valueWidth="250"
      visible="Exposure.AppliesToCertAggLimitExt == false"/>
    <Input
      editable="true"
      formatType="exactNumber"
      id="CertificateSublimitDeductibletInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.CertificateSublimitDeductible"
      outputConversion="util.StringUtils.removeDecimal(CurrentLocation.InEditMode, VALUE as java.lang.Double)"
      postOnChange="true"
      required="true"
      validationExpression="util.custom_Ext.ValidateCoverageAmounts.validateCoverageAmount(Exposure.CertSublimitDeductibleExt) ? null : displaykey.Java.Validation.Number.NotAnInteger"
      value="Exposure.CertSublimitDeductibleExt"
      visible="Exposure.AppliesToCertAggLimitExt == false"/>
    <TypeKeyInput
      editable="true"
      id="CertificateSublimitDeductibleAppliesToInput"
      label="displaykey.NVV.Exposure.SubView.ExposureDetails.CertificateInformation.CertificateSublimitDeductibleAppliesTo"
      labelStyleClass="label_wrap"
      postOnChange="true"
      required="true"
      value="Exposure.CertSublimitDeductibleAppExt"
      valueWidth="250"
      visible="Exposure.AppliesToCertAggLimitExt == false"/>
  </InputSet>
</PCF>