<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    id="DocumentDetailsPrint"
    parent="ClaimPrintout(Claim)"
    title="displaykey.Web.DocumentDetails.Title">
    <LocationEntryPoint
      signature="DocumentDetailsPrint(Claim : Claim, DocumentParam : Document)"/>
    <Variable
      name="DocumentParam"
      type="Document"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="new gw.document.DocumentDetailsInfo(DocumentParam)"
      name="DocumentDetailsInfo"
      type="gw.document.DocumentDetailsInfo"/>
    <Screen
      id="DocumentDetailsPrintScreen">
      <Toolbar/>
      <PanelRef
        def="ClaimDocumentDetailsDV(DocumentDetailsInfo.Document, DocumentDetailsInfo)"/>
    </Screen>
  </Page>
</PCF>
