<html>
<head>
  <title>Document Control</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
</head>
<body onLoad="maybeTriggerRefresh()">
<script>
function get_window_top (){
  if (window.top.selenium_myiframe ) {
    return window.top.selenium_myiframe;
  } else {
      return window.top;
  }
}
var triggerRefresh = <%=triggerRefresh%>;
var userMessage = <%=userMessage%>;
function maybeTriggerRefresh() {
  if (userMessage) {
    get_window_top().top_frame.alert(userMessage);
  }
  if (triggerRefresh) {
    get_window_top().top_frame.Events.refresh();   
  }
}
</script>
<form name="fileUploadForm" action="<%=fileUploadAction%>" method="post" enctype="multipart/form-data">
  <input name="widgetRenderId" type="hidden" id="widgetRenderId"/>
  <input name="filePath" type="hidden" id="filePath"/>
  <input name="commitCurrentLocation" type="hidden" id="commitCurrentLocation"/>
  <input name="fileContent" type="file" id="fileContent" size="60" onChange="document.all.fileUploadForm.submit()"/>
</form>
</body>
</html>
