<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuTree
    height="300"
    id="TeamMenuTree">
    <Variable
      initialValue="new web.team.CCTeamTreeViewRootModel()"
      name="teamRoot"/>
    <TreeView
      elementLabel="element"
      elementName="element"
      elementType="web.team.CCTeamTreeViewModel"
      id="TeamMenuTree"
      onClickElement="element.treeElementClicked(CurrentLocation)"
      value="teamRoot"/>
  </MenuTree>
</PCF>
