<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.BulkInvoice.view"
    id="BulkPay"
    title="displaykey.Web.Financials.BulkPay.Invoice.BulkInvoices">
    <LocationEntryPoint
      signature="BulkPay()"/>
    <Variable
      initialValue="new pcf_gs.bulkinvoice.BulkPayHelper()"
      name="helper"/>
    <Variable
      initialValue="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.ALL"
      name="typeFilter"/>
    <Variable
      initialValue="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ALL"
      name="statusFilter"/>
    <Variable
      initialValue="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.ALL"
      name="defaultTypeFilter"
      type="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters"/>
    <Variable
      initialValue="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ALL"
      name="defaultStatusFilter"
      type="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters"/>
    <Variable
      name="savedOption"
      recalculateOnRefresh="true"
      type="String"/>
    <Screen
      id="BulkPayScreen">
      <Toolbar>
        <ToolbarFilter
          id="BulkInvoiceTypeToolbarFilter"
          iterator="BulkInvoiceRowIterator"
          name="typeFilter">
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceTypeFilter(pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.ALL)"
            label="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.ALL.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceTypeFilter(pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.HEALTHCARE_SOLUTIONS)"
            label="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.HEALTHCARE_SOLUTIONS.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceTypeFilter(pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.LIT_ADVISOR)"
            label="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.LIT_ADVISOR.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceTypeFilter(pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.MITCHELL)"
            label="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.MITCHELL.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceTypeFilter(pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.ONE_CALL_CARE)"
            label="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.ONE_CALL_CARE.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceTypeFilter(pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.OTHER)"
            label="pcf_gs.bulkinvoice.BulkInvoiceTypeFilters.OTHER.DisplayValue"/>
        </ToolbarFilter>
        <ToolbarFilter
          id="BulkInvoiceStatusToolbarFilter"
          iterator="BulkInvoiceRowIterator"
          name="statusFilter">
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ALL)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ALL.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.AWAITING_SUBMISSION)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.AWAITING_SUBMISSION.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.CLEARED)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.CLEARED.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.DRAFT)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.DRAFT.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.INVALID_ITEMS)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.INVALID_ITEMS.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ISSUED)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ISSUED.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ON_HOLD)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.ON_HOLD.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_APPROVAL)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_APPROVAL.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_ITEM_VALIDATION)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_ITEM_VALIDATION.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_STOP)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_STOP.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_VOID)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.PENDING_VOID.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.REJECTED)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.REJECTED.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.REQUESTED)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.REQUESTED.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.REQUESTING)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.REQUESTING.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.STOPPED)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.STOPPED.DisplayValue"/>
          <ToolbarFilterOption
            filter="new pcf_gs.bulkinvoice.BulkInvoiceStatusFilter(pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.VOIDED)"
            label="pcf_gs.bulkinvoice.BulkInvoiceStatusFilters.VOIDED.DisplayValue"/>
        </ToolbarFilter>
        <!-- <ToolbarRangeInput id="BulkInvoiceTypeFilter" value="typeFilter" postOnChange="true">
          <Option value="&quot;All&quot;" label="&quot;All BIN Types&quot;"/>
          <Option value="&quot;lit_advisor&quot;" label="&quot;Lit Advisor&quot;"/>
          <Option value="&quot;other&quot;" label="&quot;Other (Manual)&quot;"/>
        </ToolbarRangeInput>
        <ToolbarRangeInput id="BulkInvoiceStatusFilter" value="statusFilter" postOnChange="true">
          <Option value="&quot;All&quot;" label="&quot;All Status Types&quot;"/>
          <Option value="&quot;draft&quot;" label="&quot;Draft&quot;"/>
          <Option value="&quot;inreview&quot;" label="&quot;Pending Approval&quot;"/>
          <Option value="&quot;pendingitemvalidation&quot;" label="&quot;Pending Bulk Invoice Item Validation&quot;"/>
          <Option value="&quot;invaliditems&quot;" label="&quot;Invalid Items&quot;"/>
          <Option value="&quot;awaitingsubmission&quot;" label="&quot;Awaiting Submission&quot;"/>
          <Option value="&quot;requesting&quot;" label="&quot;Requesting&quot;"/>
          <Option value="&quot;requested&quot;" label="&quot;Requested&quot;"/>
          <Option value="&quot;cleared&quot;" label="&quot;Cleared&quot;"/>
          <Option value="&quot;issued&quot;" label="&quot;Issued&quot;"/>
          <Option value="&quot;rejected&quot;" label="&quot;Rejected&quot;"/>
          <Option value="&quot;pendingvoid&quot;" label="&quot;Pending Void&quot;"/>
          <Option value="&quot;pendingstop&quot;" label="&quot;Pending Stop&quot;"/>
          <Option value="&quot;voided&quot;" label="&quot;Voided&quot;"/>
          <Option value="&quot;stopped&quot;" label="&quot;Stopped&quot;"/>
          <Option value="&quot;onhold&quot;" label="&quot;On Hold&quot;"/>
          
        </ToolbarRangeInput> -->
        <ToolbarButton
          action="NewBulkInvoiceDetail.go()"
          id="CreateNewButton"
          label="displaykey.Web.Financials.BulkPay.Button.CreateNew"
          visible="perm.BulkInvoice.create"/>
        <CheckedValuesToolbarButton
          checkedRowAction="BulkInvoice.delete()"
          confirmMessage="displaykey.Web.Financials.BulkPay.Invoice.Delete.Confirm"
          flags="all Deleteable"
          id="DeleteButton"
          iterator="BulkInvoicesLV"
          label="displaykey.Web.Financials.BulkPay.Button.Delete"
          visible="perm.BulkInvoice.delete"/>
        <ToolbarDivider/>
        <CheckedValuesToolbarButton
          checkedRowAction="BulkInvoice.validate()"
          flags="one Validateable, all Validateable"
          id="ValidateButton"
          iterator="BulkInvoicesLV"
          label="displaykey.Web.Financials.BulkPay.Button.Validate"
          visible="perm.BulkInvoice.edit"/>
        <CheckedValuesToolbarButton
          checkedRowAction="bulkInvoice.BulkInvoice_OnSubmit();bulkInvoice.submitForApproval()"
          flags="one Submittable, all Submittable"
          id="SubmitButton"
          iterator="BulkInvoicesLV"
          label="displaykey.Web.Financials.BulkPay.Button.Submit"
          visible="perm.BulkInvoice.edit"/>
        <ToolbarDivider/>
        <!-- <CheckedValuesToolbarButton
          checkedRowAction="BulkInvoice.stopBulkInvoice()"
          flags="one Stoppable, all Stoppable"
          id="StopButton"
          iterator="BulkInvoicesLV"
          label="displaykey.Web.Financials.BulkPay.Button.Stop"
          visible="perm.BulkInvoice.edit"/> -->
        <!-- <CheckedValuesToolbarButton
          checkedRowAction="BulkInvoice.voidBulkInvoice()"
          flags="one Voidable, all Voidable"
          id="VoidButton"
          iterator="BulkInvoicesLV"
          label="displaykey.Web.Financials.BulkPay.Button.Void"
          visible="perm.BulkInvoice.edit"/> -->
        <!-- sprzygocki 12/22/09 Removing the void stop buttons on the main screen now that we have the individual void stop buttons working. -->
        <ToolbarDivider/>
        <ToolbarButton
          action="helper.clearMessages()"
          confirmMessage="displaykey.Web.BulkPay.UpdateBulkInvoices.Warning"
          id="RefreshButton"
          label="displaykey.Web.Financials.BulkPay.Button.UpdateStatus"/>
      </Toolbar>
      <PanelRef
        def="BulkInvoicesLV(helper.AllBulkInvoices.toList() as List&lt;BulkInvoice&gt;)"/>
    </Screen>
  </Page>
</PCF>