<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ManualBulkInvoiceCheckIssuanceInputSet">
    <Require
      name="BulkInvoice"
      type="BulkInvoice"/>
    <Label
      label="displaykey.NVV.Financials.ManualPaymentInstructions.Check.Issuance"
      visible="bulkInvoice.PaymentMethod == &quot;manual&quot;"/>
    <TypeKeyInput
      editable="true"
      filter="BulkInvoice.filterManualPaymentMethodExternal(VALUE)"
      id="ManualPayMethod"
      label="displaykey.NVV.Financials.NewCheckPayee.Check.ManualMethod"
      onChange="BulkInvoice.ManualPaymentMethod_OnChange()"
      postOnChange="true"
      required="true"
      value="BulkInvoice.ManualPaymentMethodExt"/>
    <Input
      editable="true"
      id="Check_IssueDate"
      label="displaykey.NVV.Financials.ManualPaymentInstructions.Check.IssueDate"
      required="true"
      validationExpression="BulkInvoice.IssueDate == NULL || BulkInvoice.IssueDate &lt;= util.DateUtil.currentDate() ? null : displaykey.Java.NewPayment.Error.IssueDate"
      value="BulkInvoice.IssueDate"/>
    <Input
      editable="true"
      id="Check_CheckNumber"
      label="displaykey.NVV.Financials.ManualPaymentInstructions.Check.CheckNumber"
      required="true"
      validationExpression="BulkInvoice.validateManualCheckNumber()"
      value="BulkInvoice.CheckNumber"/>
    <TypeKeyInput
      editable="true"
      id="ADIS"
      label="displaykey.NVV.Financials.ManualPaymentInstructions.Check.ADIS "
      required="true"
      value="BulkInvoice.PrefixExt"
      visible="BulkInvoice.isCheckPrefixVisible"/>
    <TypeKeyInput
      editable="true"
      id="Draft_Region"
      label="displaykey.NVV.Financials.ManualPaymentInstructions.Check.DraftRegion "
      required="true"
      value="BulkInvoice.DraftRegionExt"
      visible="BulkInvoice.isDraftRegionVisible"/>
  </InputSet>
</PCF>