<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.ScriptParameter.edit"
    canVisit="true"
    id="ListISOReference"
    title="displaykey.Web.Admin.ISOReferenceValues">
    <Variable
      initialValue="find (var isoref in ISOReferenceValuesExt)"
      name="ISOReferences"
      type="ISOReferenceValuesExtQuery"/>
    <Screen
      id="ref_isoreferenceScreen">
      <TitleBar
        id="ISOReferenceTitleBar"
        title="displaykey.Web.Admin.ISOReferenceValues"/>
      <Toolbar>
        <EditButtons/>
        <IteratorButtons/>
      </Toolbar>
      <PanelRef
        def="ListISOReferenceValuesLV(ISOReferences)"
        id="ISOReferenceValues"/>
    </Screen>
  </Page>
</PCF>
