<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="Used to construct the New Contact menu for Contact pickers"
    id="ContextObjectContactPickerMenuItemSet">
    <Require
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="contextObjectName"
      type="String"/>
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="claim"
      type="Claim"/>
    <Variable
      initialValue="null"
      name="parentContact"
      type="Contact"/>
    <!-- It is recommended not to use "isAsssignableFrom()" clauses in the visible expression of menues intermidiate levels.   Try it, and you'll see that the expessions get too complicated. :) -->
    <MenuItem
      id="NewContactPickerMenuItemSet_NewPerson"
      label="displaykey.Web.NewContactMenu.NewPerson"
      visible="requiredContactType == entity.Contact or                        requiredContactType == entity.Person"/>
    <!-- It is recommended not to use "isAsssignableFrom()" clauses in the visible expression of menues intermidiate levels.   Try it, and you'll see that the expessions get too complicated. :) -->
    <MenuItem
      action="NewContactPopup.push(entity.Person, parentContact, claim)"
      id="NewContactPickerMenuItemSet_ClaimNewPerson"
      label="displaykey.Web.NewContactMenu.ClaimNewPerson"
      visible="requiredContactType.isAssignableFrom(entity.Person)"/>
    <MenuItem
      action="NewContactPopup.push(entity.Company, parentContact, claim)"
      id="NewContactPickerMenuItemSet_Company"
      label="displaykey.Web.NewContactMenu.Company"
      visible="requiredContactType.isAssignableFrom(entity.Company)"/>
    <!-- It is recommended not to use "isAsssignableFrom()" clauses in the visible expression of menues intermidiate levels.   Try it, and you'll see that the expessions get too complicated. :) -->
    <MenuItem
      id="NewContactPickerMenuItemSet_NewVendor"
      label="displaykey.Web.NewContactMenu.NewVendor"
      visible="requiredContactType == entity.Contact or                        requiredContactType == entity.Company or                        requiredContactType == entity.Person or                        requiredContactType == entity.PersonVendor or                        requiredContactType == entity.CompanyVendor or         requiredContactType == entity.Ex_GAIVendor or         requiredContactType == entity.Attorney or                                               requiredContactType == entity.Doctor or                        requiredContactType == entity.LawFirm or                      requiredContactType == entity.MedicalCareOrg">
      <MenuItem
        action="NewContactPopup.push(entity.Attorney, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Attorney"
        label="displaykey.Web.NewContactMenu.ClaimAttorney"
        visible="requiredContactType.isAssignableFrom(entity.Attorney)"/>
      <MenuItem
        action="NewContactPopup.push(entity.CompanyVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_CompanyVendor"
        label="displaykey.Web.NewContactMenu.CompanyVendor"
        visible="requiredContactType.isAssignableFrom(entity.CompanyVendor)"/>
      <MenuItem
        action="NewContactPopup.push(entity.Doctor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Doctor"
        label="displaykey.Web.NewContactMenu.ClaimDoctor"
        visible="requiredContactType.isAssignableFrom(entity.Doctor)"/>
      <MenuItem
        action="NewContactPopup.push(entity.LawFirm, parentContact, claim)"
        id="NewContactPickerMenuItemSet_LawFirm"
        label="displaykey.Web.NewContactMenu.ClaimLawFirm"
        visible="requiredContactType.isAssignableFrom(entity.LawFirm)"/>
      <MenuItem
        action="NewContactPopup.push(entity.MedicalCareOrg, parentContact, claim)"
        id="NewContactPickerMenuItemSet_MedicalCareOrg"
        label="displaykey.Web.NewContactMenu.ClaimMedicalCareOrg"
        visible="requiredContactType.isAssignableFrom(entity.MedicalCareOrg)"/>
      <MenuItem
        action="NewContactPopup.push(entity.PersonVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_PersonVendor"
        label="displaykey.Web.NewContactMenu.PersonVendor"
        visible="requiredContactType.isAssignableFrom(entity.PersonVendor)"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_GAIVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_GAIVendor"
        label="displaykey.Web.NewContactMenu.GAIVendor"
        visible="requiredContactType.isAssignableFrom(entity.Ex_GAIVendor)"/>
    </MenuItem>
    <MenuItem
      id="NewContactPickerMenuItemSet_NewForeignVendor"
      label="displaykey.Web.NewContactMenu.ClaimNewForeignVendor"
      visible="requiredContactType == entity.Contact or         requiredContactType == entity.ex_ForeignCoVendor or                        requiredContactType == entity.Ex_ForeignCoVenMedOrg or                        requiredContactType == entity.Ex_ForeignCoVenLawFrm or                        requiredContactType == entity.Ex_ForeignPerVndrAttny or                        requiredContactType == entity.Ex_ForeignPerVndrDoc or requiredContactType == entity.ex_ForeignPersonVndr">
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignPerVndrAttny, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignPerVndrAttny"
        label="displaykey.Web.NewContactMenu.Ex_ForeignPerVndrAttny"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignPerVndrAttny)"/>
      <MenuItem
        action="NewContactPopup.push(entity.ex_ForeignCoVendor, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ex_ForeignCoVendor"
        label="displaykey.Web.NewContactMenu.ex_ForeignCoVendor"
        visible="requiredContactType.isAssignableFrom(entity.ex_ForeignCoVendor)"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignPerVndrDoc, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignPerVndrDoc"
        label="displaykey.Web.NewContactMenu.Ex_ForeignPerVndrDoc"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignPerVndrDoc)"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignCoVenLawFrm, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignCoVenLawFrm"
        label="displaykey.Web.NewContactMenu.Ex_ForeignCoVenLawFrm"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignCoVenLawFrm)"/>
      <MenuItem
        action="NewContactPopup.push(entity.Ex_ForeignCoVenMedOrg, parentContact, claim)"
        id="NewContactPickerMenuItemSet_Ex_ForeignCoVenMedOrg"
        label="displaykey.Web.NewContactMenu.Ex_ForeignCoVenMedOrg"
        visible="requiredContactType.isAssignableFrom(entity.Ex_ForeignCoVenMedOrg)"/>
      <MenuItem
        action="NewContactPopup.push(entity.ex_ForeignPersonVndr, parentContact, claim)"
        id="NewContactPickerMenuItemSet_ex_ForeignPersonVndr"
        label="displaykey.Web.NewContactMenu.ex_ForeignPersonVndr"
        visible="requiredContactType.isAssignableFrom(entity.ex_ForeignPersonVndr)"/>
    </MenuItem>
  </MenuItemSet>
</PCF>