<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="GroupQueuesDV">
    <Require
      name="Group"
      type="Group"/>
    <InputHeaderSection>
      <ListViewInput
        def="GroupQueuesLV(Group)">
        <Toolbar>
          <IteratorButtons
            removeConfirmMessage="displaykey.Web.Admin.GroupDetail.Queues.DeleteConfirm"
            removeShortcut="E"
            removeVisible="Group.AssignableQueues.length &gt; 0"
            showRemoveConfirmMessage="true"/>
        </Toolbar>
      </ListViewInput>
    </InputHeaderSection>
    <InputColumn/>
  </DetailViewPanel>
</PCF>
