<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="GroupDetailDV">
    <Require
      name="Group"
      type="Group"/>
    <InputColumn>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Name"
        required="true"
        value="Group.Name"/>
      <Input
        editable="true"
        id="Type"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Type"
        required="true"
        value="Group.GroupType"/>
      <GroupInput
        action="GroupDetailPage.go(Group.Parent)"
        editable="true"
        id="Parent"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Parent"
        required="true"
        searchLocation="GroupSearchPopup.push(Group)"
        selectLocation="OrganizationGroupTreePopup.push(Group.makeOrganizationSelection(), Group)"
        value="Group.Parent"
        visible="Group.Parent != null"/>
      <UserInput
        action="UserDetailPage.go(Group.Supervisor)"
        editable="true"
        id="Supervisor"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Supervisor"
        required="true"
        value="Group.Supervisor"/>
      <RangeInput
        action="SecurityZoneDetail.go(Group.SecurityZone)"
        editable="true"
        id="SecurityZone"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.SecurityZone"
        required="true"
        value="Group.SecurityZone"
        valueRange="find (securityZone in SecurityZone)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
