<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="OrganizationsLV">
    <Require
      name="Organizations"
      type="OrganizationQuery"/>
    <RowIterator
      editable="false"
      elementName="Organization"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="false"
      value="Organizations">
      <Row>
        <Cell
          action="OrganizationDetail.go(Organization)"
          align="left"
          id="Name"
          label="displaykey.Web.Admin.OrganizationsLV.Name"
          value="Organization.Name"/>
        <Cell
          align="left"
          id="Type"
          label="displaykey.Web.Admin.OrganizationsLV.Type"
          value="Organization.Type"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
