<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="OrganizationSearchResultsLV">
    <Require
      name="Organizations"
      type="OrganizationQuery"/>
    <RowIterator
      editable="false"
      elementName="Organization"
      pickValue="Organization"
      value="Organizations">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.OrganizationSearch.Name"
          sortDirection="ascending"
          sortOrder="1"
          value="Organization.Name"/>
        <Cell
          id="Type"
          label="displaykey.Web.Admin.OrganizationSearch.Type"
          value="Organization.Type"/>
        <Cell
          id="ContactName"
          label="displaykey.Web.Admin.OrganizationSearch.ContactName"
          value="Organization.Contact.Name"/>
        <Cell
          id="ContactCity"
          label="displaykey.Web.Admin.OrganizationSearch.ContactCity"
          value="Organization.Contact.PrimaryAddress.City"/>
        <Cell
          id="ContactState"
          label="displaykey.Web.Admin.OrganizationSearch.ContactState"
          value="Organization.Contact.PrimaryAddress.State"/>
        <Cell
          id="ContactPostal"
          label="displaykey.Web.Admin.OrganizationSearch.ContactPostal"
          value="Organization.Contact.PrimaryAddress.PostalCode"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
