<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="AddressInputSet"
    mode="default">
    <Require
      name="addressOwner"
      type="gw.api.address.CCAddressOwner"/>
    <Input
      hideIfEditable="true"
      id="Address_Name"
      label="addressOwner.AddressNameLabel != null ? addressOwner.AddressNameLabel : displaykey.Web.Address.Default.Name"
      value="addressOwner.Address"
      visible="addressOwner.ShowAddressSummary"/>
    <RangeInput
      editable="true"
      hideIfReadOnly="true"
      id="Address_Picker"
      label="addressOwner.AddressNameLabel != null ? addressOwner.AddressNameLabel : displaykey.Web.Address.Default.Name"
      newValue="addressOwner.getOrCreateNewAddress()"
      optionLabel="gw.util.RangeInputUtil.formatLabel(addressOwner.getOrCreateNewAddress(), VALUE)"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESS_NAME)"
      sortValueRange="false"
      value="addressOwner.Address"
      valueRange="addressOwner.Addresses"
      valueWidth="228"
      visible="addressOwner.Addresses != null"/>
    <Input
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_AddressLine1"
      label="displaykey.Web.Address.Default.Address1"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESSLINE1)"
      value="addressOwner.Address.AddressLine1"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESSLINE1)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.AddressLine1"/>
    </Input>
    <Input
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_AddressLine2"
      label="displaykey.Web.Address.Default.Address2"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESSLINE2)"
      value="addressOwner.Address.AddressLine2"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESSLINE2)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.AddressLine2"/>
    </Input>
    <Input
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_City"
      label="displaykey.Web.Address.Default.City"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.CITY)"
      value="addressOwner.Address.City"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.CITY)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.City"/>
    </Input>
    <TextInput
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_County"
      label="displaykey.Web.Address.Default.County"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.COUNTY)"
      value="addressOwner.Address.County"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.COUNTY)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.County"/>
    </TextInput>
    <RangeInput
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_State"
      label="displaykey.Web.Address.Default.State"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.STATE)"
      value="addressOwner.Address.State"
      valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(addressOwner.InputSetMode)"
      valueWidth="228"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.STATE) and gw.api.address.CountryAddressFields.forCountry(addressOwner.InputSetMode).IsCountryWithStates">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="gw.api.contact.AddressAutocompleteUtil.getStates(VALUE.Country).firstWhere(\ s-&gt; s == VALUE.State)"
        valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(VALUE.Country)"/>
    </RangeInput>
    <Input
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_ZIP"
      label="displaykey.Web.Address.Default.PostalCode"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.POSTALCODE)"
      value="addressOwner.Address.PostalCode"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.POSTALCODE)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        inputMask="gw.api.contact.AddressAutocompleteUtil.getInputMask(VALUE, &quot;PostalCode&quot;)"
        triggerIds="Address_Picker"
        value="VALUE.PostalCode"/>
    </Input>
    <TypeKeyInput
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      confirmMessage="displaykey.RangeInputAddress.CountryChangeWarning"
      editable="true"
      id="Address_Country"
      label="displaykey.Web.Address.Default.Country"
      postOnChange="true"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.COUNTRY)"
      showConfirmMessage="addressOwner.ConfirmCountryChange"
      value="addressOwner.SelectedCountry"
      valueWidth="228"
      visible="not addressOwner.ShowAddressSummary and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.COUNTRY)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.Country != null ? VALUE.Country : addressOwner.DefaultCountry"/>
    </TypeKeyInput>
    <TypeKeyInput
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_AddressType"
      label="displaykey.Web.Address.Default.AddressType"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESSTYPE)"
      value="addressOwner.Address.AddressType"
      visible="not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.ADDRESSTYPE)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.AddressType"/>
    </TypeKeyInput>
    <Input
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      editable="true"
      id="Address_Description"
      label="displaykey.Web.Address.Default.Description"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.DESCRIPTION)"
      value="addressOwner.Address.Description"
      visible="not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.DESCRIPTION)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.Description"/>
    </Input>
    <DateInput
      available="not addressOwner.NonEditableAddresses.contains(addressOwner.Address)"
      dateFormat="short"
      editable="true"
      id="Address_ValidUntil"
      label="displaykey.Web.Address.Default.ValidUntil"
      required="addressOwner.RequiredFields.contains(gw.api.address.CCAddressOwnerFieldId.VALIDUNTIL)"
      value="addressOwner.Address.ValidUntil"
      visible="not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.VALIDUNTIL)">
      <Reflect
        available="not addressOwner.NonEditableAddresses.contains(VALUE)"
        triggerIds="Address_Picker"
        value="VALUE.ValidUntil"/>
    </DateInput>
    <Input
      editable="true"
      id="Claim_LocationCode"
      label="displaykey.NVV.Claim.SubView.LossDetailsAuto.Claim.LocationCode"
      value="addressOwner.Claim.LossLocationCode"
      visible="addressOwner.Claim != null and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.LOCATIONCODE)"/>
    <RangeInput
      editable="true"
      id="Claim_JurisdictionState"
      label="displaykey.NVV.Claim.SubView.LossDetailsAuto.Claim.JurisdictionState"
      value="addressOwner.Claim.JurisdictionState"
      valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(addressOwner.InputSetMode)"
      visible="addressOwner.Claim != null and not addressOwner.HiddenFields.contains(gw.api.address.CCAddressOwnerFieldId.JURISDICTIONSTATE) and gw.api.address.CountryAddressFields.forCountry(addressOwner.InputSetMode).IsCountryWithStates">
      <Reflect
        triggerIds="Address_Picker,Address_State"
        value="TRIGGER_INDEX == 1 ? VALUE1.State : VALUE2"
        valueRange="gw.api.contact.AddressAutocompleteUtil.getStates(VALUE1.Country)"/>
    </RangeInput>
  </InputSet>
</PCF>
