<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <!-- Building Number was copied over from LocationDetailInputSet -->
  <InputSet
    id="LocationRUInputSet">
    <Require
      name="aLocationBasedRu"
      type="LocationBasedRU"/>
    <Input
      editable="true"
      id="Number"
      label="displaykey.Web.Address.Default.Number"
      required="true"
      value="aLocationBasedRU.RUNumber"/>
    <Input
      editable="true"
      id="LocationNumber"
      label="displaykey.Web.Address.Default.LocationNumber"
      required="false"
      value="aLocationBasedRU.Property.LocationNumber"/>
  </InputSet>
</PCF>
