<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure600DV"
    mode="PropertyDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v600.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.LossParty"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Coverage"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.CreateTime"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.StatLine"
        value="util.Snapshot.renderValue(Exposure.StatLine)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ClaimantType"
        value="Exposure.ClaimantType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.PrimaryAddress"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.IncidentOverview"/>
      <Input
        action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, Exposure.FixedPropertyIncident)"
        id="Property_Incident"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.FixedPropertyIncident"
        value="Exposure.FixedPropertyIncident.DisplayName"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Coding"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.JurisdictionState"
        value="Exposure.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <InputDivider
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactProhibited_2"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposureDV.Propertydamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
