<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure600DV"
    mode="VehicleDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v600.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.LossParty"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Coverage"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.CreateTime"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.StatLine"
        value="Exposure.StatLine"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ClaimantType"
        value="Exposure.ClaimantType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <Input
        id="ClaimantAddress"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ClaimantAddress"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.IncidentOverview"/>
      <Input
        action="ClaimSnapshotVehicleIncidentPopup.push(Claim, Exposure.VehicleIncident)"
        id="Vehicle_Incident"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.VehicleIncident"
        value="Exposure.VehicleIncident.DisplayName"/>
      <Input
        id="Incident_Driver"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Incident.Driver"
        value="Exposure.VehicleIncident.Driver.DisplayName"/>
      <Input
        id="Incident_Description"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Incident.Description"
        value="Exposure.VehicleIncident.Description"/>
      <BooleanRadioInput
        id="Incident_VehicleOperable"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Incident.VehicleOperable"
        value="Exposure.VehicleIncident.VehicleOperable"/>
      <Input
        id="Incident_LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Incident.LossEstimate"
        value="Exposure.VehicleIncident.LossEstimate"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Coding"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.JurisdictionState"
        value="Exposure.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <InputDivider
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactProhibited_2"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposureDV.Vehicledamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
