<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotInjuryIncident600DV">
    <Require
      name="InjuryIncidentInstance"
      type="snapshot.v600.InjuryIncident"/>
    <Variable
      initialValue="InjuryIncidentInstance.MedicalTreatmentType != null || InjuryIncidentInstance.PrimaryDoctor != null"
      name="treatment"
      type="boolean"/>
    <InputColumn>
      <InputSet
        id="InjuryIncidentInputSet">
        <Variable
          initialValue="InjuryIncidentInstance.MedicalTreatmentType != null || InjuryIncidentInstance.PrimaryDoctor != null"
          name="treatment"
          type="boolean"/>
        <Input
          id="Severity"
          label="displaykey.Web.InjuryIncidentInputSet.Severity.Label"
          value="InjuryIncidentInstance.Severity"/>
        <TextAreaInput
          id="InjuryDescription"
          label="displaykey.Web.InjuryIncidentInputSet.Description.Label"
          numRows="3"
          value="InjuryIncidentInstance.Description"/>
        <Input
          id="PrimaryInjuryType"
          label="displaykey.Web.InjuryIncidentInputSet.GeneralInjuryType.Label"
          value="InjuryIncidentInstance.GeneralInjuryType"/>
        <Input
          id="DetailedInjuryType"
          label="displaykey.Web.InjuryIncidentInputSet.DetailedInjuryType.Label"
          value="InjuryIncidentInstance.DetailedInjuryType"/>
        <ListViewInput
          boldLabel="true"
          editable="false"
          label="displaykey.LV.Incident.Injury.BodyPartDetails.Title"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="BodyPartDetails"
              hideCheckBoxesIfReadOnly="true"
              pageSize="0"
              toCreateAndAdd=""
              toRemove=""
              value="InjuryIncidentInstance.BodyParts">
              <ToolbarFlag
                condition="BodyPartDetails.Ordering == null || (BodyPartDetails.Ordering as Number) &gt; (InjuryIncidentInstance.FirstBodyPart.Ordering as Number)"
                name="NotFirstBP"/>
              <Row>
                <Cell
                  id="Ordering"
                  label="displaykey.LV.Incident.Injury.BodyPartDetails.Ordering"
                  sortOrder="1"
                  value="BodyPartDetails.Ordering"
                  visible="false"/>
                <Cell
                  id="PrimaryBodyPart"
                  label="displaykey.LV.Incident.Injury.BodyPartDetails.PrimaryBodyPart"
                  required="true"
                  value="BodyPartDetails.PrimaryBodyPart"/>
                <Cell
                  id="DetailedBodyPart"
                  label="displaykey.LV.Incident.Injury.BodyPartDetails.DetailedBodyPart"
                  required="false"
                  value="BodyPartDetails.DetailedBodyPart"/>
                <Cell
                  enableSort="false"
                  id="CompensabilityDecision"
                  label="displaykey.LV.Incident.Injury.BodyPartDetails.CompensabilityDecision"
                  required="false"
                  value="BodyPartDetails.CompensabilityDecision"
                  visible="true"
                  wrapLabel="true"/>
                <Cell
                  enableSort="false"
                  id="CompensabilityDecisionDate"
                  label="displaykey.LV.Incident.Injury.BodyPartDetails.CompensabilityDecisionDate"
                  required="false"
                  value="BodyPartDetails.CompensabilityDecisionDate"
                  visible="true"
                  wrapLabel="true"/>
                <Cell
                  enableSort="false"
                  id="CompensabilityComments"
                  label="displaykey.LV.Incident.Injury.BodyPartDetails.CompensabilityComments"
                  required="false"
                  value="BodyPartDetails.CompensabilityComments"
                  visible="true"
                  wrapLabel="true"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Input
          id="ReceivedTreatment"
          label="displaykey.Web.InjuryIncidentInputSet.ReceivedTreatment.Label"
          postOnChange="true"
          value="treatment"/>
        <Input
          id="TreatmentType"
          label="displaykey.Web.InjuryIncidentInputSet.TreatmentType.Label"
          value="InjuryIncidentInstance.MedicalTreatmentType"
          visible="treatment"/>
        <Input
          id="PrimaryDoctor"
          label="displaykey.Web.InjuryIncidentInputSet.PrimaryDoctor.Label"
          value="InjuryIncidentInstance.PrimaryDoctor"/>
        <Input
          id="LostWages"
          label="displaykey.Web.InjuryIncidentInputSet.LostWages.Label"
          postOnChange="true"
          value="InjuryIncidentInstance.LostWages"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>
