<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure600DV"
    mode="BodilyInjuryDamage|MedPay">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v600.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.LossParty"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Coverage"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.CreateTime"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.StatLine"
        value="Exposure.StatLine"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ClaimantType"
        value="Exposure.ClaimantType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.PrimaryAddress"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"/>
      <Input
        id="AltContact"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.AltContact"
        value="util.Snapshot.renderValue(Exposure.AltContact)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Injury"/>
      <Input
        id="Severity"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Severity"
        value="Exposure.Incident.Severity"/>
      <Input
        id="LeadingInjury"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.LeadingInjury"
        value="Exposure.InjuryIncident.GeneralInjuryType"/>
      <Input
        id="DetailedInjury"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.DetailedInjury"
        value="Exposure.InjuryIncident.DetailedInjuryType"/>
      <TextAreaInput
        id="Description"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Description"
        numCols="30"
        numRows="3"
        value="Exposure.Incident.Description"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotGeneralDV.Wc.BodyParts.Title"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="BodyPartsLV">
          <RowIterator
            editable="false"
            elementName="BodyPart"
            value="Exposure.InjuryIncident.BodyParts">
            <Row>
              <Cell
                id="PrimaryBodyPart"
                label="displaykey.Web.ClaimSnapshotGeneralDV.Wc.BodyParts.PrimaryBodyPart"
                value="BodyPart.PrimaryBodyPart"/>
              <Cell
                id="DetailedBodyPart"
                label="displaykey.Web.ClaimSnapshotGeneralDV.Wc.BodyParts.DetailedBodyPart"
                value="BodyPart.DetailedBodyPart"/>
              <Cell
                id="CompensabilityDecision"
                label="displaykey.Web.ClaimSnapshotGeneralDV.Wc.BodyParts.CompensabilityDecision"
                value="BodyPart.CompensabilityDecision"/>
              <Cell
                id="CompensabilityDecisionDate"
                label="displaykey.Web.ClaimSnapshotGeneralDV.Wc.BodyParts.CompensabilityDecisionDate"
                value="BodyPart.CompensabilityDecisionDate"/>
              <Cell
                id="CompensabilityComments"
                label="displaykey.Web.ClaimSnapshotGeneralDV.Wc.BodyParts.CompensabilityComments"
                value="BodyPart.CompensabilityComments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <Input
        id="PrimaryDoctor"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.PrimaryDoctor"
        value="util.Snapshot.renderValue(Exposure.InjuryIncident.PrimaryDoctor)"/>
      <Input
        id="MedicalTreatment"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.MedicalTreatment"
        value="Exposure.InjuryIncident.MedicalTreatmentType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited"
        id="LostWages"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.LostWages_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited_2"
        value="Exposure.InjuryIncident.LostWages"/>
      <Input
        id="Impairment"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Impairment"
        value="Exposure.InjuryIncident.Impairment"/>
      <Input
        id="LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.LossEstimate"
        value="Exposure.Incident.LossEstimate"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Coding"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.JurisdictionState"
        value="Exposure.JurisdictionState"
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <InputDivider
        visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactProhibited_2"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposureDV.Bodilyinjurydamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
