<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ClaimSnapshotGeneral600PanelSet"
    mode="Trav">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="snapshot.v600.Claim"/>
    <DetailViewPanel
      id="ClaimSnapshotGeneral600DV">
      <InputColumn>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.General"/>
        <Input
          id="LOBCode"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.LOBCode"
          value="Snapshot.LOBCode"/>
        <Input
          id="LossType"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.LossType"
          value="Snapshot.LossType"/>
        <Input
          id="Catastrophe"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Catastrophe"
          value="Snapshot.Catastrophe.DisplayName"/>
        <Input
          id="PermissionRequired"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.PermissionRequired"
          value="Snapshot.PermissionRequired"/>
        <InputDivider/>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Description"/>
        <TextAreaInput
          id="Description"
          numCols="30"
          numRows="3"
          value="Snapshot.Description"/>
        <InputDivider/>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Loss"/>
        <Input
          id="LossCause"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.LossCause"
          value="Snapshot.LossCause"/>
        <Input
          id="Fault"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Fault"
          value="Snapshot.FaultRating"/>
        <DateInput
          dateFormat="short"
          id="LossDate"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.LossDate"
          timeFormat="short"
          value="Snapshot.LossDate"/>
        <Input
          id="AtFaultPercentage"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.AtFaultPercentage"
          value="Snapshot.FaultRating"
          visible="Snapshot.FaultRating.Code == &quot;1&quot;"/>
        <Input
          id="Weather"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Weather"
          value="Snapshot.Weather"/>
        <BooleanRadioInput
          id="EmploymentCourse"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.EmploymentCourse"
          value="Snapshot.EmploymentInjury"/>
        <InputDivider/>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Notification"/>
        <Input
          id="Reporter"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Reporter"
          value="Snapshot.Reporter.DisplayName"/>
        <Input
          id="MainContact"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.MainContact"
          value="Snapshot.MainContact.DisplayName"/>
        <Input
          id="MainContactType"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.MainContactType"
          value="Snapshot.MainContactType"/>
        <DateInput
          dateFormat="short"
          id="ReportedDate"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.ReportedDate"
          value="Snapshot.ReportedDate"/>
        <Input
          id="FirstNoticeSuit"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.FirstNoticeSuit"
          value="util.Snapshot.renderValue(Snapshot.FirstNoticeSuit)"/>
        <Input
          id="HowReported"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.HowReported"
          value="Snapshot.HowReported"/>
        <BooleanRadioInput
          id="IncidentReport"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.IncidentReport"
          value="Snapshot.IncidentReport"/>
        <BooleanRadioInput
          id="CoverageInQuestion"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.CoverageInQuestion"
          value="Snapshot.CoverageInQuestion"/>
      </InputColumn>
      <InputColumn>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Loss_1"/>
        <InputSetRef
          def="AddressSnapshotInputSet(Snapshot.LossLocation, Snapshot)"
          editable="false"/>
        <InputDivider/>
        <ListViewInput
          boldLabel="true"
          label="displaykey.Web.ClaimPolicy.Trips"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="TripIncidentLV">
            <RowIterator
              canPick="false"
              editable="false"
              elementName="TripIncidentIterator"
              id="tripincident_iterator"
              type="snapshot.v600.TripIncident"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;TripIncident&quot;)">
              <Row>
                <Cell
                  action="ClaimSnapshotTripIncidentPopup.push( Claim, TripIncidentIterator )"
                  id="TripRU"
                  label="displaykey.Web.EditableTripIncidentsLV.TripRU"
                  sortOrder="1"
                  value="TripIncidentIterator.TripRU.RUNumber + &quot;: &quot; + TripIncidentIterator.TripRU.TripDescription"/>
                <Cell
                  id="Description"
                  label="displaykey.Web.EditableTripIncidentsLV.Description"
                  sortOrder="1"
                  value="TripIncidentIterator.Description"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <ListViewInput
          boldLabel="true"
          label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Baggage"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="BaggageIncidentLV">
            <RowIterator
              canPick="false"
              editable="false"
              elementName="BaggageIncidentIterator"
              id="baggageincident_iterator"
              type="snapshot.v600.BaggageIncident"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;BaggageIncident&quot;)">
              <Row>
                <Cell
                  action="ClaimSnapshotBaggageIncidentPopup.push( Claim, BaggageIncidentIterator )"
                  id="BaggageType"
                  label="displaykey.Web.BaggageIncident.BaggageType"
                  sortOrder="1"
                  value="BaggageIncidentIterator.BaggageType"/>
                <Cell
                  action="ClaimSnapshotBaggageIncidentPopup.push( Claim, BaggageIncidentIterator )"
                  id="PropertyDescription"
                  label="displaykey.Web.BaggageIncident.PropertyDescription"
                  sortOrder="1"
                  value="BaggageIncidentIterator.PropertyDesc"/>
                <Cell
                  id="Baggage"
                  label="displaykey.Web.BaggageIncident.DamageDescription"
                  sortOrder="1"
                  value="BaggageIncidentIterator.Description"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Injuries.Injuries"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="InjuriesLV">
            <RowIterator
              canPick="false"
              editable="false"
              elementName="InjuryIncidentIterator"
              type="snapshot.v600.InjuryIncident"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;InjuryIncident&quot;)">
              <Row>
                <Cell
                  action="ClaimSnapshotInjuryIncidentPopup.push(Claim, InjuryIncidentIterator)"
                  id="Make"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Injuries.Injuries"
                  value="InjuryIncidentIterator.injured.DisplayName"/>
                <Cell
                  action="ClaimSnapshotInjuryIncidentPopup.push(Claim, InjuryIncidentIterator)"
                  id="Severity"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Injury.Severity"
                  value="InjuryIncidentIterator.Severity"/>
                <Cell
                  id="Description"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Injury.Description"
                  value="InjuryIncidentIterator.Description"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <ListViewInput
          label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Vehicles"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="VehiclesLV">
            <RowIterator
              editable="false"
              elementName="Vehicle"
              type="snapshot.v600.VehicleIncident"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;VehicleIncident&quot;)">
              <Row>
                <Cell
                  action="ClaimSnapshotVehicleIncidentPopup.push(Claim, Vehicle)"
                  id="Make"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Make"
                  value="Vehicle.Vehicle.Make"/>
                <Cell
                  action="ClaimSnapshotVehicleIncidentPopup.push(Claim, Vehicle)"
                  id="Model"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Model"
                  value="Vehicle.Vehicle.Model"/>
                <Cell
                  id="License"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.License"
                  value="Vehicle.Vehicle.LicensePlate"/>
                <Cell
                  id="State"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Vehicle.State"
                  value="Vehicle.Vehicle.State"
                  visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
                <Cell
                  id="LossParty"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.LossParty"
                  value="Vehicle.VehicleLossParty"/>
                <Cell
                  id="Driver"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Driver"
                  value="Vehicle.Driver.DisplayName"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <ListViewInput
          label="displaykey.NVV.Claim.SubView.LossDetailsTrav.Claim.Properties"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="PropertiesLV">
            <RowIterator
              canPick="false"
              editable="false"
              elementName="FixedPropertyIncidentInstance"
              type="snapshot.v600.FixedPropertyIncident"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;FixedPropertyIncident&quot;)">
              <Row>
                <Cell
                  action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, FixedPropertyIncidentInstance)"
                  id="Make"
                  label="displaykey.Web.Address.Default.Address"
                  value="FixedPropertyIncidentInstance.getProperty().Address.AddressLine1"/>
                <Cell
                  action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, FixedPropertyIncidentInstance)"
                  id="Severity"
                  label="displaykey.Web.Address.Default.City"
                  value="FixedPropertyIncidentInstance.getProperty().Address.City"/>
                <Cell
                  id="Description"
                  label="displaykey.Web.Address.Default.State"
                  value="FixedPropertyIncidentInstance.getProperty().Address.State"
                  visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Officials"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="OfficialsLV">
            <RowIterator
              editable="false"
              elementName="Official"
              value="Snapshot.Officials">
              <Row>
                <Cell
                  id="Type"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Type"
                  value="Official.OfficialType"/>
                <Cell
                  id="Name"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Name"
                  value="Official.Name"/>
                <Cell
                  id="ReportNumber"
                  label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.ReportNumber"
                  value="Official.ReportNumber"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.Claim"/>
        <DateInput
          dateFormat="short"
          id="CreateTime"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.CreateTime"
          timeFormat="short"
          value="Snapshot.CreateTime"/>
        <Input
          id="ValidationLevel"
          label="displaykey.Web.ClaimSnapshotGeneralDV.Auto.ValidationLevel"
          value="Snapshot.ValidationLevel"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>
