<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="DashboardSubGroup"
    title="displaykey.Web.TabBar.Dashboard">
    <LocationEntryPoint
      signature="DashboardSubGroup(GroupInfo : dashboard.DashboardTreeGroupInfo)"/>
    <Variable
      name="GroupInfo"
      type="dashboard.DashboardTreeGroupInfo"/>
    <LocationRef
      label="displaykey.JSP.Dashboard.ClaimCount"
      location="DashboardClaimCount(GroupInfo)"
      shortcut="O"/>
    <LocationRef
      label="displaykey.JSP.Dashboard.ClaimActivity"
      location="DashboardClaimActivity(GroupInfo)"
      shortcut="Y"/>
    <LocationRef
      label="displaykey.JSP.Dashboard.CurrentFinancials"
      location="DashboardCurrentFinancials(GroupInfo)"
      shortcut="F"/>
    <LocationRef
      label="displaykey.JSP.Dashboard.PeriodFinancials"
      location="DashboardPeriodFinancials(GroupInfo)"
      shortcut="R"/>
  </LocationGroup>
</PCF>
