<fo:table
  table-layout="fixed"
  inline-progression-dimension.optimum="100%"
  space-after.optimum="10pt">
  <fo:table-column column-number="1" column-width="proportional-column-width(1)"/>
  <fo:table-column column-number="2" column-width="proportional-column-width(2)"/>
  <fo:table-column column-number="3" column-width="proportional-column-width(2)"/>
  <fo:table-column column-number="4" column-width="proportional-column-width(2)"/>
  
  <fo:table-header>
  <fo:table-row>
  <fo:table-cell column-number="2" number-columns-spanned="3">
    <fo:block space-after="5pt"  text-align="right">
        #if($note.Claim.Flagged.Code=="isflagged")
	 <fo:inline>Flagged:</fo:inline>	
         <fo:inline color="red">$escape.forXML($note.Claim.Flagged.DisplayName)</fo:inline>
         <fo:inline>|</fo:inline>
        #end

        #if($note.Claim.Flagged.Code=="neverflagged" || $note.Claim.Flagged.Code=="wasflagged")
	 <fo:inline>Flagged:</fo:inline>	
         <fo:inline>$escape.forXML($note.Claim.Flagged.DisplayName)</fo:inline>
         <fo:inline>|</fo:inline>
        #end
	        
        #if($note.Claim.Policy.PolicyNumber)
	 $html.process("Web.ClaimInfoBar.PolicyNumber")
	 $escape.forXML($note.Claim.Policy.PolicyNumber)
        <fo:inline>|</fo:inline>
	#end
	        
        #if($note.Claim.Policy.PolicySuffix)
	 $html.process("Web.ClaimInfoBar.PolicyMod")
	 $escape.forXML($note.Claim.Policy.PolicySuffix)
        <fo:inline>|</fo:inline>
	#end
	
	#if($note.Claim.Policy.Status.Code.equalsIgnoreCase("inforce"))
	 $html.process("Web.ClaimInfoBar.PolicyStatus")
	 $escape.forXML($note.Claim.Policy.Status.DisplayName)
        <fo:inline>|</fo:inline>
	#end
		
	#if($note.Claim.Policy.Status.Code.equalsIgnoreCase("cancelled") || $note.Claim.Policy.Status.Code.equalsIgnoreCase("expired") || $note.Claim.Policy.Status.Code.equalsIgnoreCase("expiredcancelled") || $note.Claim.Policy.Status.Code.equalsIgnoreCase("notissued") || $note.Claim.Policy.Status.Code.equalsIgnoreCase("paymentpastdue") || $note.Claim.Policy.Status.Code.equalsIgnoreCase("reinstated") || $note.Claim.Policy.Status.Code.equalsIgnoreCase("rewritten"))
	 $html.process("Web.ClaimInfoBar.PolicyStatus")
	 <fo:inline color="red">$escape.forXML($note.Claim.Policy.Status.DisplayName)</fo:inline>
        <fo:inline>|</fo:inline>
	#end
		
	#if($note.Claim.InsuredDenorm)
	 $html.process("Web.ClaimInfoBar.Insured")
	 $escape.forXML($note.Claim.InsuredDenorm.DisplayName)
        <fo:inline>|</fo:inline>
	#end

	#if($note.Claim.LossDate)
	 $html.process("Web.ClaimInfoBar.LossDate")
	 $escape.forXML($dateFormat.format($note.Claim.LossDate))
        <fo:inline>|</fo:inline>
	#end

	#if($note.Claim.State.DisplayName)
	 $html.process("Web.ClaimInfoBar.Status")
	 $escape.forXML($note.Claim.State.DisplayName)
        <fo:inline>|</fo:inline>
	#end

	#if($note.Claim.AssigneeAndGroupDisplayString)
	 $html.process("Web.ClaimInfoBar.Adjuster")
	 $escape.forXML($note.Claim.AssigneeAndGroupDisplayString)
	#end
    </fo:block>
  </fo:table-cell>
  
  </fo:table-row>
	
	
	<fo:table-row>
	<fo:table-cell column-number="1" number-columns-spanned="4">
	 <fo:block>&#xA0;</fo:block>
	</fo:table-cell>
	</fo:table-row>
	
		
  </fo:table-header>
<fo:table-body>
