<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ContactBasicsDV"
    mode="Company|CompanyVendor|MedicalCareOrg|AutoRepairShop|LawFirm|AutoTowingAgcy">
    <!-- NOTE: This shared section requires a contact.ContactHandle, rather than a Contact, because it's
    possible for some actions on a contact detail screen to fundamentally change the contact. In particular, syncing
    a contact that leads to a downcast of that contact to a more specific subtype causes the original contact to
    become invalid. To protect against this, contacts on shared sections should be wrapped in a ContactHandle. If the
    contact is fundamentally changed, then only the handle needs to be updated, and all existing references will see
    the new contact.

    As a shortcut for "contactHandle.Contact", this shared section defines a read-only property which can be used to
    access the most current value of the contact.

    Note also that claimContact may be null, so fields which depend on reference it should only be available for setting if it is not. -->
    <Require
      name="contactHandle"
      type="contact.ContactHandle"/>
    <Require
      name="showRoles"
      type="boolean"/>
    <Require
      name="linkStatus"
      type="contact.LinkStatus"/>
    <Require
      name="claim"
      type="Claim"/>
    <InputHeaderSection>
      <InputSetRef
        def="ContactBasicsHeaderInputSet(contactHandle, claimContact, showRoles, linkStatus)"/>
    </InputHeaderSection>
    <InputColumn>
      <Label
        label="Company.Subtype.DisplayName"/>
      <Input
        editable="true"
        id="OrganizationName"
        label="displaykey.Web.ContactDetail.Name.OrganizationName"
        required="true"
        value="Company.Name"/>
      <InputDivider/>
      <InputSetRef
        def="PrimaryAddressInputSet(contactHandle, false)"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ContactDetail.AdditionalInfo"/>
      <InputSet
        visible="Company typeis CompanyVendor">
        <InputSetRef
          def="CompanyVendorAdditionalInfoInputSet(contactHandle)"
          mode="Company typeis CompanyVendor ? &quot;CompanyVendor&quot; : null"/>
        <Input
          available="claimContact != null"
          editable="true"
          id="CompanyVendorValidFrom"
          label="displaykey.Web.ContactBasicsDV.Company.CompanyVendor.ValidFrom"
          value="claimContact.ContactValidFrom"/>
        <Input
          available="claimContact != null"
          editable="true"
          id="CompanyVendorValidTo"
          label="displaykey.Web.ContactBasicsDV.Company.CompanyVendor.ValidTo"
          value="claimContact.ContactValidTo"/>
      </InputSet>
      <Input
        editable="true"
        id="Currency"
        label="displaykey.Financials.Multicurrency.PreferredCurrency"
        value="Company.PreferredCurrency"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
      <InputSetRef
        def="BusinessContactInfoInputSet(contactHandle, claimContact, claim)"/>
      <InputSet>
        <InputDivider/>
        <Label
          label="displaykey.Web.ContactDetail.TaxInfo"/>
        <PrivacyInput
          editable="true"
          encryptionExpression="Company.maskTaxId(VALUE)"
          id="V_EIN"
          label="displaykey.Web.ContactDetail.Name.TaxID.EIN"
          value="Company.TaxID"/>
        <InputSetRef
          def="VendorW9InfoInputSet(contactHandle)"
          visible="Company typeis CompanyVendor and gw.api.admin.BaseAdminUtil.getDefaultCountry() == Country.TC_US "/>
      </InputSet>
      <InputDivider/>
      <TextAreaInput
        boldLabel="true"
        editable="true"
        id="Notes"
        label="displaykey.Web.ContactDetail.Notes"
        numRows="3"
        value="Company.Notes"/>
    </InputColumn>
    <InputFooterSection>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="ContactEFTLV(contactHandle.Contact)"
        label="displaykey.Web.ContactBasicsDV.BankData"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
    <Code><![CDATA[property get Company() : Company { return contactHandle.Contact as Company; }
      
      property get ClaimContact() : ClaimContact { return contactHandle typeis ClaimContact ? (contactHandle) : null; }]]></Code>
  </DetailViewPanel>
</PCF>
