<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="DatabaseTablesWithUnusedColumnsLV">
    <Require
      name="DatabaseInfo"
      type="tools.DatabaseInfo"/>
    <Require
      name="FilterBy"
      type="String"/>
    <RowIterator
      editable="false"
      elementName="row"
      pageSize="25"
      value="DatabaseInfo.getTablesWithUnusedColumns(FilterBy)">
      <Row>
        <Cell
          align="left"
          id="Table"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.TablesWithUnusedColumns.TableName"
          value="row.TableName"/>
        <Cell
          align="left"
          id="SubType"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.TablesWithUnusedColumns.NumberOfUnusedColumns"
          sortOrder="2"
          value="row.unusedColumnCount()"/>
        <Cell
          align="left"
          id="NumColumns"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.TablesWithUnusedColumns.DropUnusedColumnsSQL"
          value="row.DropUnusedColumnsSQL"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
