<?xml version="1.0"?>
<PCF>
  <ListViewPanel
    id="DatabaseTableInfoPKConstraintsLV">
    <Require
      name="table"
      type="tools.DatabaseInfo.TableInfo"/>
    <Row
      useHeaderStyle="true">
      <Cell
        align="left"
        id="TableHdr"
        value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.PKConstraint.Table"/>
      <Cell
        align="left"
        id="ConstraintHdr"
        value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.PKConstraint.Constraint"/>
      <Cell
        align="left"
        id="KeyColumnHdr"
        value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.PKConstraint.KeyColumn"/>
      <Cell
        align="left"
        id="ReferencingColumnsHdr"
        value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.PKConstraint.ReferencingColumns"/>
    </Row>
    <Row>
      <Cell
        align="left"
        id="Table"
        value="table.TableSchema.Name"/>
      <Cell
        align="left"
        id="Constraint"
        value="table.TableSchema.PrimaryKeyConstraintSchema.ConstraintName"/>
      <Cell
        align="left"
        id="KeyColumn"
        value="table.TableSchema.PrimaryKeyConstraintSchema.ColumnName"/>
      <Cell
        align="left"
        id="ReferencingColumns"
        value="table.ReferencingColumns"/>
    </Row>
  </ListViewPanel>
</PCF>
