<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    id="DatabaseTablesWithUnusedColumns"
    parent="DatabaseInfo()"
    title="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.TablesWithUnusedColumns">
    <LocationEntryPoint
      signature="DatabaseTablesWithUnusedColumns(DatabaseInfo : tools.DatabaseInfo)"/>
    <Variable
      name="DatabaseInfo"
      type="tools.DatabaseInfo"/>
    <Variable
      name="FilterBy"
      type="String"/>
    <Screen>
      <PanelRef
        def="DatabaseTablesWithUnusedColumnsLV(DatabaseInfo, FilterBy)">
        <Toolbar>
          <ToolbarInput
            editable="true"
            id="filterByInput"
            label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.PossiblyRedundantBackingFKIndex.FilterBy"
            postOnChange="true"
            value="FilterBy"
            visible="true"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
