<?xml version="1.0"?>
<PCF>
  <Page
    id="IndexesWithSharedPrefixes"
    parent="DatabaseTableInfo()"
    showUpLink="true"
    title="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.IndexesWithSharedPrefixes">
    <LocationEntryPoint
      signature="IndexesWithSharedPrefixes(PageHelper : tools.DatabaseTableInfoHelper)"/>
    <Variable
      name="PageHelper"
      type="tools.DatabaseTableInfoHelper"/>
    <Variable
      name="FilterBy"
      type="String"/>
    <Variable
      initialValue="PageHelper.getIndexesWithSharesPrefixes( FilterBy )"
      name="IndexMap"/>
    <Screen>
      <PanelRef>
        <Toolbar>
          <ToolbarInput
            id="filterByInput"
            label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.PossiblyRedundantBackingFKIndex.FilterBy"
            value="FilterBy"/>
        </Toolbar>
        <ListViewPanel>
          <Row
            id="headerRow"
            useHeaderStyle="true">
            <Cell
              bold="true"
              id="empty1"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Table"/>
            <Cell
              bold="true"
              id="columnNameHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.IndexesWithSharedPrefixes.ColumnName"/>
            <Cell
              bold="true"
              id="indexnameHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Index"/>
            <Cell
              bold="true"
              id="KeyColumnsHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.KeyColumns"/>
            <Cell
              align="left"
              bold="true"
              id="UniqueHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Unique"/>
            <Cell
              bold="true"
              id="ExtensionHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Extension"/>
            <Cell
              bold="true"
              id="ExpectedToBeCoveringHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.ExpectedToBeCovering"
              wrapLabel="true"/>
            <Cell
              bold="true"
              id="IndexDescriptionHeader"
              value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Index.Description"/>
          </Row>
          <RowIterator
            alternateEntryStyle="false"
            editable="false"
            elementName="dbTable"
            id="indexesWithSharedPrefixesRowIterator"
            pageSize="6"
            value="IndexMap.keySet() as com.guidewire.pl.system.database.datamodel.DBTable[]">
            <RowIterator
              alternateEntryStyle="false"
              editable="false"
              elementName="sharedPrefixIndexesForColumn"
              id="dbColumnIter"
              pageSize="0"
              value="IndexMap.get( dbTable ) as com.guidewire.pl.system.database.indexanalysis.SharedPrefixIndexes[]">
              <Row
                useTitleStyle="true">
                <Cell
                  id="tableNameCell"
                  value="dbTable.Name"/>
                <Cell
                  id="dbColumnNameCell"
                  value="sharedPrefixIndexesForColumn.DbColumn.Name"/>
              </Row>
              <RowIterator
                alternateEntryStyle="false"
                editable="false"
                elementName="dbColumnBasedIndex"
                id="dbColumnBasedIndexRowIterator"
                pageSize="0"
                value="sharedPrefixIndexesForColumn.Indexes as com.guidewire.pl.system.database.datamodel.DBColumnBasedIndex[]">
                <Row>
                  <Cell
                    id="empty1"/>
                  <Cell
                    id="empty2"/>
                  <Cell
                    id="indexname"
                    value="dbColumnBasedIndex.Name"/>
                  <Cell
                    align="left"
                    id="KeyColumns"
                    value="dbColumnBasedIndex.KeyColumnDisplayString"/>
                  <Cell
                    align="left"
                    id="Unique"
                    value="dbColumnBasedIndex.Unique"/>
                  <Cell
                    align="left"
                    id="Extension"
                    value="dbColumnBasedIndex.Extension"/>
                  <Cell
                    align="left"
                    id="ExpectedToBeCovering"
                    value="dbColumnBasedIndex.ExpectedToBeCovering"
                    wrapLabel="true"/>
                  <Cell
                    align="left"
                    id="IndexDescription"
                    value="dbColumnBasedIndex.Description"/>
                </Row>
              </RowIterator>
            </RowIterator>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
