<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ListTPAValuesLV">
    <Require
      name="TPAList"
      type="TPAAdminExtQuery"/>
    <RowIterator
      canPick="false"
      checkBoxVisible="false"
      editable="false"
      elementName="TPAAdminExt"
      hasCheckBoxes="true"
      toRemove="TPAAdminExt.remove()"
      value="TPAList">
      <Row>
        <Cell
          action="EditTPAAdmin.go(TPAAdminExt)"
          id="Name"
          label="displaykey.Web.Admin.TPA.Name"
          value="TPAAdminExt.NameExt"
          width="12%"/>
        <Cell
          id="TPAName"
          label="displaykey.Web.Admin.TPA.ProfitCenter"
          value="TPAAdminExt.ProfitCenterGroupExt.Name"
          width="12%"/>
        <Cell
          id="ClaimGroup"
          label="displaykey.Web.Admin.TPA.Group"
          value="TPAAdminExt.ClaimGroupExt"
          width="12%"/>
        <Cell
          align="center"
          enableSort="false"
          id="ISO"
          label="displaykey.Web.Admin.TPA.ISO"
          required="true"
          value="TPAAdminExt.EnableISOExt"
          width="5%"
          wrapLabel="true"/>
        <Cell
          align="center"
          enableSort="false"
          id="Medicare"
          label="displaykey.Web.Admin.TPA.MedReporting"
          required="true"
          value="TPAAdminExt.MedReportingExt"
          width="5%"
          wrapLabel="true"/>
        <Cell
          align="center"
          enableSort="false"
          id="1099Taxport"
          label="displaykey.Web.Admin.TPA.Tax"
          value="TPAAdminExt.Taxport1099Ext"
          width="5%"
          wrapLabel="true"/>
        <Cell
          align="center"
          enableSort="false"
          id="LegalActions"
          label="displaykey.Web.Admin.TPA.LegalActions"
          value="TPAAdminExt.LegalActionsExt"
          width="5%"
          wrapLabel="true"/>
        <Cell
          align="center"
          enableSort="false"
          id="AutoAck"
          label="displaykey.Web.Admin.TPA.AutoAck"
          value="TPAAdminExt.AutoAckExt"
          width="5%"
          wrapLabel="true"/>
        <Cell
          align="center"
          enableSort="false"
          id="AutoMedLetter"
          label="displaykey.Web.Admin.TPA.AutoMedLetter"
          value="TPAAdminExt.MedLetterExt"
          width="5%"
          wrapLabel="true"/>
        <Cell
          align="center"
          id="IsEnabled"
          label="displaykey.Web.Admin.TPA.Enabled"
          value="TPAAdminExt.TPAEnabledExt"
          width="4%"/>
        <Cell
          align="center"
          id="MedVendorEligibility"
          label="&quot;Medical Vendor Eligibility&quot;"
          value="TPAAdminExt.EnableMedVendorsExt"
          width="5%"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>