<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="TPAAdmin.go()"
    afterCommit="TPAAdmin.go()"
    canEdit="true"
    canVisit="true"
    id="NewTPAAdmin"
    parent="Admin()"
    startInEditMode="true"
    title="displaykey.Web.Admin.TPA">
    <Variable
      initialValue="new TPAAdminExt()"
      name="NewTPA"
      type="TPAAdminExt"/>
    <ScreenRef
      def="TPAAdminDetailScreen(NewTPA)"/>
  </Page>
</PCF>