<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <!-- ### =================================================================================================================
  ###  CMS Medicare Subview
  ### ================================================================================================================= -->
  <DetailViewPanel
    id="CMSDetailsDV"
    visible="true">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.NVV.Exposure.Medicare.Policy.Title"/>
      <ClaimContactInput
        claim="Exposure.Claim"
        id="Insured"
        label="displaykey.NVV.Policy.PolicySearch.Insured"
        value="Exposure.Claim.Policy.Insured"
        valueRange="Exposure.Claim.getRelatedContacts()"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.Medicare.Claimant.Title"/>
      <ClaimContactInput
        claim="Exposure.Claim"
        id="Claimant"
        label="displaykey.Web.ClaimSummary.ExposuresLV.Claimant"
        value="Exposure.Claimant"
        valueRange="Exposure.Claim.getRelatedContacts()"/>
      <Input
        id="ClaimantDOB"
        label="displaykey.Web.ContactDetail.AdditionalInfo.DateOfBirth"
        value="Exposure.Claimant.Person.DateOfBirth"/>
      <Input
        id="ClaimantSSN"
        label="displaykey.Web.ContactDetail.AdditionalInfo.TaxID"
        value="util.crypto.Encryptor.maskString(Exposure.Claimant.TaxID, Exposure.Claimant.ssnISEditable(exposure.claim, false), false)"/>
      <Input
        id="ClaimantHICN"
        label="displaykey.Web.ContactDetail.AdditionalInfo.HICN"
        value="Exposure.Claimant.Person.HICNExt"/>
      <Input
        id="ClaimantGender"
        label="displaykey.Web.ContactDetail.AdditionalInfo.Gender"
        value="Exposure.Claimant.Person.Gender"/>
      <Input
        id="ClaimantMedElig"
        label="displaykey.Web.ContactDetail.AdditionalInfo.MedicareEligible"
        value="Exposure.Claimant.Person.MedicareEligibleExt"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ContactDetail.AdditionalInfo.MedicareReportingName"/>
      <Input
        id="LegalFName"
        label="displaykey.Web.ContactDetail.AdditionalInfo.LegalFName"
        value="Exposure.Claimant.Person.LegalFNameExt"/>
      <Input
        id="LegalMName"
        label="displaykey.Web.ContactDetail.AdditionalInfo.LegalMName"
        value="Exposure.Claimant.Person.LegalMNameExt"/>
      <Input
        id="LegalLName"
        label="displaykey.Web.ContactDetail.AdditionalInfo.LegalLName"
        value="Exposure.Claimant.Person.LegalLNameExt"/>
      <InputDivider/>
      <Label
        label="displaykey.NVV.Exposure.Medicare.CMS.Reporting.Title"/>
      <Input
        id="ClaimantSendCMS"
        label="&quot;Defer Sending Data to CMS?&quot;"
        value="Exposure.Claimant.Person.SendPartyToCMSExt"/>
      <Input
        id="StopSendToCMS"
        label="displaykey.Web.ContactDetail.AdditionalInfo.StopSendToCMS"
        value="Exposure.Claimant.Person.StopSendPartyToCMSExt"/>
    </InputColumn>
    <InputFooterSection/>
  </DetailViewPanel>
</PCF>