<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="PageHelper.afterCancel(claim)"
    canEdit="false  //perm.Claim.manageclaimusers(claim)"
    canVisit="perm.SecurityZone.view  //perm.Claim.view(claim) and perm.System.viewclaimparties"
    id="SecuredUsers"
    startEditing="//PageHelper.startEditing()"
    title="displaykey.Web.ClaimUsers.Title">
    <LocationEntryPoint
      signature="SecuredUsers(claim : Claim)"/>
    <Variable
      initialValue="new claimparties.ClaimUsersPageHelper()"
      name="PageHelper"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Variable
      initialValue="claim.ClaimUserModelSet"
      name="claimUserModelSet"
      type="ClaimUserModelSet"/>
    <Screen
      id="ClaimUsersScreen">
      <Toolbar/>
      <ListDetailPanel
        lockWhileEditing="true"
        selectionName="claimUserModel"
        selectionType="ClaimUserModel">
        <PanelRef
          def="SecuredUsersLV(claimUserModelSet.ClaimUserModels)"/>
        <CardViewPanel>
          <!-- <Card
            id="UserDetailsCard"
            title="displaykey.Web.ClaimUsers.UserDetails.Title(claimUserModel.User)"
            visible="false">
            <PanelRef
              def="ClaimUserDetailDV(claimUserModel, claim)">
              <Toolbar>
                <EditButtons/>
              </Toolbar>
            </PanelRef>
          </Card> -->
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>