<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MedicalPersonnelLV">
    <Require
      name="ClaimContactList"
      type="ClaimContact[]"/>
    <RowIterator
      editable="false"
      elementName="ClaimContact"
      value="ClaimContactList">
      <Row>
        <Cell
          id="MedicalPersonnel_ProviderName"
          label="displaykey.MedicalPersonnel.ProviderName"
          sortDirection="ascending"
          value="ClaimContact.Contact.DisplayName"/>
        <Cell
          id="MedicalPersonnel_ProviderSpecialty"
          label="displaykey.MedicalPersonnel.ProviderSpecialty"
          value="(ClaimContact.Contact typeis Doctor) ? (ClaimContact.Contact as Doctor).DoctorSpecialty : ((ClaimContact.Contact typeis MedicalCareOrg) ? (ClaimContact.Contact as MedicalCareOrg).MedicalOrgSpecialty : null)"/>
        <Cell
          id="MedicalPersonnel_ValidFrom"
          label="displaykey.MedicalPersonnel.ValidFrom"
          value="ClaimContact.ContactValidFrom"/>
        <Cell
          id="MedicalPersonnel_ValidTo"
          label="displaykey.MedicalPersonnel.ValidTo"
          value="ClaimContact.ContactValidTo"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
