<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="ExposureCodingFinancialsInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Label
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Coding"/>
    <Input
      id="Segment"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Segment"
      value="Exposure.Segment"/>
    <Input
      id="Strategy"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Strategy"
      value="Exposure.Strategy"/>
    <Input
      editable="true"
      id="JurisdictionState"
      label="displaykey.NVV.Exposure.SubView.LivingExpenses.Exposure.JurisdictionState"
      value="Exposure.JurisdictionState"
      visible="gw.api.address.CountryAddressFields.DefaultCountryHasStates"/>
    <InputDivider/>
    <Label
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.Financials"
      visible="perm.Claim.viewtransactiondetails(Exposure.Claim)"/>
    <Input
      formatType="currency"
      id="RemainingReserves"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.RemainingReserves"
      value="Exposure.ExposureRpt.RemainingReserves"
      visible="perm.Claim.viewreserves(Exposure.Claim)"/>
    <Input
      id="FuturePayments"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.FuturePayments"
      value="Exposure.ExposureRpt.FuturePayments"
      visible="perm.Claim.viewpayments(Exposure.Claim)"/>
    <Input
      id="TotalPayments"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.TotalPayments"
      value="Exposure.ExposureRpt.TotalPayments"
      visible="perm.Claim.viewpayments(Exposure.Claim)"/>
    <Input
      id="TotalRecoveries"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.TotalRecoveries"
      value="Exposure.ExposureRpt.TotalRecoveries"
      visible="perm.Claim.viewrecoveries(Exposure.Claim)"/>
    <Input
      formatType="currency"
      id="TotalIncurredNet"
      label="displaykey.NVV.Exposure.SubView.GeneralDamage.Exposure.TotalIncurredNet"
      value="Exposure.ExposureRpt.TotalIncurredNet"
      visible="perm.Claim.viewnettotalincurred(Exposure.Claim)"/>
  </InputSet>
</PCF>
