<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="IMEPerformedLV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <RowIterator
      editable="true"
      elementName="IMEPerformed"
      hideCheckBoxesIfReadOnly="true"
      toAdd="Exposure.addToIMEPerformed(IMEPerformed)"
      toRemove="Exposure.removeFromIMEPerformed(IMEPerformed)"
      value="Exposure.IMEPerformed">
      <Row>
        <Cell
          editable="true"
          id="IMEPerformed_IMEType"
          label="displaykey.LV.Exposure.IMEPerformed.IMEType"
          sortOrder="1"
          value="IMEPerformed.IMEType"
          wrap="false"/>
        <Cell
          editable="true"
          id="IMEPerformed_IMEDate"
          label="displaykey.LV.Exposure.IMEPerformed.IMEDate"
          sortOrder="1"
          value="IMEPerformed.IMEDate"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
