<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="PIPEmploymentInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Label
      label="displaykey.NVV.Exposure.PIPEmployment.ClaimantEmployment"/>
    <ClaimContactInput
      claim="Exposure.Claim"
      id="PIPDamages_Claimant"
      label="displaykey.NVV.Exposure.PIPEmployment.PIPDamages.Claimant"
      value="Exposure.Claimant"
      valueRange="Exposure.Claim.getRelatedContacts(Exposure.Claim.getContactType(&quot;claimant&quot;)) as Person[]"/>
    <Input
      id="Person_Occupation"
      label="displaykey.NVV.Exposure.PIPSummary.Person.Occupation"
      value="(Exposure.Claimant typeis Person) ? (Exposure.Claimant as Person).Occupation : &quot;&quot;">
      <Reflect
        triggerIds="PIPDamages_Claimant"
        value="(VALUE typeis Person) ? (VALUE as Person).Occupation : &quot;&quot;"/>
    </Input>
    <Input
      id="Person_Employer"
      label="displaykey.NVV.Exposure.PIPSummary.Person.Employer"
      value="Exposure.claimant.ContactCompany.DisplayName"/>
    <Input
      id="Company_PrimaryContact"
      label="displaykey.NVV.Exposure.PIPSummary.PIPDamages.Claimant.Company.PrimaryContact"
      value="Exposure.claimant.ContactCompany.PrimaryContact.DisplayName"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="EmploymentData_HireDate"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.HireDate"
      validationExpression="(Exposure.PriorEmpData.HireDate == null) or (Exposure.PriorEmpData.HireDate &lt; util.DateUtil.currentDate()) ? null : displaykey.Java.Validation.Date.ForbidFuture"
      value="Exposure.PriorEmpData.HireDate"/>
    <Input
      editable="true"
      id="EmploymentData_EmploymentStatus"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.EmploymentStatus"
      value="Exposure.PriorEmpData.EmploymentStatus"/>
    <Input
      editable="true"
      id="EmploymentData_NumHoursWorkedPerDay"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.NumHoursWorkedPerDay"
      value="Exposure.PriorEmpData.NumHoursWorked"/>
    <Input
      editable="true"
      id="EmploymentData_NumDaysWorkedPerWeek"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.NumDaysWorkedPerWeek"
      value="Exposure.PriorEmpData.NumDaysWorked"/>
    <Input
      editable="true"
      id="EmploymentData_WageAmount"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.WageAmount"
      value="Exposure.PriorEmpData.WageAmount"/>
    <Input
      editable="true"
      id="EmploymentData_OvertimeRate"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.OvertimeRate"
      value="Exposure.PriorEmpData.OvertimeRate"/>
    <Input
      editable="true"
      id="EmploymentData_LastYearIncome"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.LastYearIncome"
      value="Exposure.PriorEmpData.LastYearIncome"/>
    <Input
      editable="true"
      id="EmploymentData_PayPeriod"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.PayPeriod"
      value="Exposure.PriorEmpData.PayPeriod"/>
    <Input
      editable="true"
      id="EmploymentData_WagePaymentCont"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.WagePaymentCont"
      value="Exposure.PriorEmpData.WagePaymentCont"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="EmploymentData_InjuryStartDate"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.InjuryStartDate"
      timeFormat="short"
      validationExpression="(Exposure.PriorEmpData.InjuryStartTime == null) or (Exposure.PriorEmpData.InjuryStartTime &lt; util.DateUtil.currentDate()) ? null : displaykey.Java.Validation.Date.ForbidFuture"
      value="Exposure.PriorEmpData.InjuryStartTime"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="EmploymentData_InjuryStartTime"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.InjuryStartTime"
      timeFormat="short"
      validationExpression="(Exposure.PriorEmpData.InjuryStartTime == null) or (Exposure.PriorEmpData.InjuryStartTime &lt; util.DateUtil.currentDate()) ? null : displaykey.Java.Validation.Date.ForbidFuture"
      value="Exposure.PriorEmpData.InjuryStartTime"/>
    <Input
      editable="true"
      id="EmploymentData_DaysWorkedWeek"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.DaysWorkedWeek"
      value="Exposure.PriorEmpData.DaysWorkedWeek"/>
    <ListViewInput
      def="EditableWorkStatusChangesLV(Exposure.PriorEmpData)"
      editable="true"
      label="displaykey.NVV.Exposure.PIPSummary.EmploymentData.WorkStatusChanges">
      <Toolbar>
        <IteratorButtons/>
      </Toolbar>
    </ListViewInput>
    <InputDivider/>
  </InputSet>
</PCF>
