<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PolicyTripLV">
    <Require
      name="aClaim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="claim.NewClaimWizardInfo"/>
    <RowIterator
      editable="false"
      elementName="aTripRU"
      pickLocation="TripRUPopup.push(aClaim)"
      pickValue="aTripRU"
      value="aClaim.Policy.RiskUnits.whereTypeIs(TripRU)">
      <Row>
        <Cell
          action="TripRUPopup.push( aClaim, aTripRU , CurrentLocation.InEditMode)"
          id="TripRU_DisplayName"
          value="aTripRU"/>
        <TypeKeyCell
          id="GeographicalRegion"
          label="displaykey.Web.ClaimPolicy.Trips.GeographicalRegion"
          value="aTripRU.GeographicalRegion"/>
        <DateCell
          id="StartDate"
          label="displaykey.Web.ClaimPolicy.Trips.StartDate"
          value="aTripRU.StartDate"/>
        <DateCell
          id="EndDate"
          label="displaykey.Web.ClaimPolicy.Trips.EndDate"
          value="aTripRU.EndDate"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
