<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="true"
    id="TripIncidentPopup"
    returnType="TripIncident"
    startInEditMode="startInEditMode"
    title="displaykey.Web.TripIncident">
    <LocationEntryPoint
      signature="TripIncidentPopup(aClaim : Claim)"/>
    <LocationEntryPoint
      signature="TripIncidentPopup( tripIncidentParam : TripIncident, startInEditMode : boolean)"/>
    <Variable
      name="aClaim"
      type="Claim"/>
    <Variable
      name="tripIncidentParam"
      type="TripIncident"/>
    <Variable
      initialValue="tripIncidentParam == null ? aClaim.newIncident(entity.TripIncident) as TripIncident : tripIncidentParam"
      name="aTripIncident"
      type="TripIncident"/>
    <Variable
      name="checkedTripSegments"
      type="TripSegment[]"/>
    <Variable
      initialValue="true"
      name="startInEditMode"/>
    <ScreenRef
      def="NewTripIncidentScreen(aTripIncident, checkedTripSegments)"/>
  </Popup>
</PCF>
