<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="LocationDetailRUPanelSet">
    <Require
      name="LocationBasedRU"
      type="LocationBasedRU"/>
    <DetailViewPanel
      id="LocationDetailRUDV">
      <InputColumn>
        <InputSetRef
          def="PropertyDetailInputSet(LocationBasedRU)"
          mode="LocationBasedRU.Policy.Claim.LossType"/>
        <InputSetRef
          def="AddressInputSet(LocationBasedRU.AddressOwner)"
          mode="LocationBasedRU.AddressOwner.InputSetMode"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>