<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="ProfitCenterGrouping.go()"
    afterCommit="ProfitCenterGrouping.go(); new gw.api.tools.BatchProcess(BatchProcessType.TC_SYNCSECURITYZONES).start()"
    beforeCommit="util.admin.SecurityUtil.updateAllClaimsForProfitCenterChange(ProfitCenterGroupingExt)"
    canEdit="true"
    canVisit="perm.SecurityZone.edit"
    id="EditProfitCenterGroup"
    parent="ProfitCenterGrouping()"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Admin.EditProfitCenter">
    <LocationEntryPoint
      signature="EditProfitCenterGroup(ProfitCenterGroupingExt:ProfitCenterGroupingExt)"/>
    <Variable
      name="ProfitCenterGroupingExt"
      type="ProfitCenterGroupingExt"/>
    <ScreenRef
      def="ProfitCenterGroupingDetailScreen(ProfitCenterGroupingExt)"/>
  </Page>
</PCF>