<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCommit="new gw.api.tools.BatchProcess(BatchProcessType.TC_SYNCSECURITYZONES).start()"
    beforeCommit="util.admin.SecurityUtil.updateAllClaimsForGAIBusinessUnitChange()"
    canEdit="true"
    canVisit="perm.System.securityzoneview or perm.SecurityZone.view"
    id="GAIBusinessUnit"
    parent="Admin()"
    title="displaykey.Web.Admin.GAIBusinessUnit">
    <Variable
      initialValue="find(gaiBusinessUnit in GAIBusinessUnitExt)"
      name="GAIBusinessUnitList"
      type="GAIBusinessUnitExtQuery"/>
    <Screen
      editable="true"
      id="GAIBusinessUnittScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.GAIBusinessUnit"/>
      <Toolbar>
        <EditButtons
          editVisible=" perm.SecurityZone.view"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="GAIBULabel"
            label="displaykey.Web.Admin.GAIBusinessUnit"/>
          <ListViewInput
            def="ListGAIBusinessUnitValuesLV(GAIBusinessUnitList)">
            <Toolbar
              id="GAIBusinessUnitToolbar"/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
    <Code><![CDATA[function updateClaimsIfCBUValueChanged(gai:GAIBusinessUnit) {
  
}]]></Code>
  </Page>
</PCF>