<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ProfitCenterGroupingDetailScreen">
    <Require
      name="ProfitCenterGroupingExt"
      type="ProfitCenterGroupingExt"/>
    <Toolbar
      visible="perm.SecurityZone.edit">
      <EditButtons
        editVisible="true"/>
    </Toolbar>
    <PanelRef
      def="ProfitCenterGroupingDV(ProfitCenterGroupingExt)"/>
  </Screen>
</PCF>