<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral310DV"
    mode="pr">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="snapshot.v310.Claim"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.General"/>
      <Input
        id="LossType"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LossType"
        value="Snapshot.LossType"/>
      <Input
        id="LOBCode"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LOBCode"
        value="Snapshot.LOBCode"/>
      <Input
        id="DisplayName"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.DisplayName"
        value="Snapshot.AssignedUser.Contact.DisplayName"/>
      <Input
        id="Catastrophe"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Catastrophe"
        value="util.Snapshot.renderValue(Snapshot.Catastrophe)"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Segment"
        value="Snapshot.Segment"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Strategy"
        value="Snapshot.Strategy"/>
      <Input
        id="PermissionRequired"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.PermissionRequired"
        value="Snapshot.PermissionRequired"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Description"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Loss"/>
      <Input
        id="LossCause"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LossCause"
        value="Snapshot.LossCause"/>
      <Input
        id="LossDate"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LossDate"
        value="util.Snapshot.renderValue(Snapshot.LossDate)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Loss_1"/>
      <Input
        id="LossLocation"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LossLocation"
        value="Snapshot.LossLocation.DisplayName"/>
      <Input
        id="County"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.County"
        value="Snapshot.LossLocation.County"/>
      <Input
        id="Country"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Country"
        value="Snapshot.LossLocation.Country"/>
      <Input
        id="LossLocationCode"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LossLocationCode"
        value="Snapshot.LossLocationCode"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.JurisdictionState"
        value="Snapshot.JurisdictionState"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Notification"/>
      <Input
        id="ReportedDate"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.ReportedDate"
        value="util.Snapshot.renderValue(Snapshot.ReportedDate)"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport"
        id="FirstNoticeSuit"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.FirstNoticeSuit_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport_2"
        value="Snapshot.FirstNoticeSuit"/>
      <Input
        id="HowReported"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.HowReported"
        value="Snapshot.HowReported"/>
      <Input
        id="Reporter"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Reporter"
        value="Snapshot.Reporter.DisplayName"/>
      <Input
        id="DriverRelation"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.DriverRelation"
        value="Snapshot.DriverRelation"/>
      <Input
        id="MainContact"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.MainContact"
        value="Snapshot.MainContact.DisplayName"/>
      <Input
        id="MainContactType"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.DriverRelation"
        value="Snapshot.MainContactType"/>
      <Input
        id="DateRptdToAgent"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.DateRptdToAgent"
        value="util.Snapshot.renderValue(Snapshot.DateRptdToAgent)"/>
      <Input
        id="Fault"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Fault"
        value="Snapshot.Fault"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Claim"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.CreateTime"
        value="util.Snapshot.renderValue(Snapshot.CreateTime)"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.CloseDate"
        value="util.Snapshot.renderValue(Snapshot.CloseDate)"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.ClosedOutcome"
        value="Snapshot.ClosedOutcome"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport"
        id="IncidentReport"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport_2"
        value="Snapshot.IncidentReport"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport"
        id="CoverageInQuestion"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.CoverageInQuestion_1"
        trueLabel="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.IncidentReport_2"
        value="Snapshot.CoverageInQuestion"/>
      <Input
        id="DeductibleStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.DeductibleStatus"
        value="Snapshot.DeductibleStatus"/>
      <Input
        id="LitigationStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.LitigationStatus"
        value="Snapshot.LitigationStatus"/>
      <Input
        id="SubrogationStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.SubrogationStatus"
        value="Snapshot.SubrogationStatus"/>
      <Input
        id="SalvageStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.SalvageStatus"
        value="Snapshot.SalvageStatus"/>
      <Input
        id="OtherRecovStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.OtherRecovStatus"
        value="Snapshot.OtherRecovStatus"/>
      <Input
        id="SIUStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.SIUStatus"
        value="Snapshot.SIUStatus"/>
      <Input
        id="ReinsuranceStatus"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.ReinsuranceStatus"
        value="Snapshot.ReinsuranceStatus"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Flag"/>
      <Input
        id="Flagged"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Flagged"
        value="Snapshot.Flagged"/>
      <Input
        id="FlaggedDate"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.FlaggedDate"
        value="util.Snapshot.renderValue(Snapshot.FlaggedDate)"/>
      <Input
        id="FlaggedReason"
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.FlaggedReason"
        value="Snapshot.FlaggedReason"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Officials"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            value="Snapshot.Officials">
            <Row>
              <Cell
                id="Type"
                label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Type"
                value="Official.OfficialType"/>
              <Cell
                id="Name"
                label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.Name"
                value="Official.Name"/>
              <Cell
                id="ReportNumber"
                label="displaykey.Web.ClaimSnapshotGeneral310DV.Pr.ReportNumber"
                value="Official.ReportNumber"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
