<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotExposuresScreen"
    mode="310">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Toolbar/>
    <ListDetailPanel
      selectionName="SelectedExposure"
      selectionType="snapshot.v310.Exposure">
      <ListViewPanel
        id="ClaimSnapshotExposuresLV">
        <RowIterator
          editable="false"
          elementName="Exposure"
          value="(SnapshotParam as snapshot.v310.Claim).Exposures">
          <Row>
            <Cell
              id="Number"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.Number"
              sortOrder="1"
              value="Exposure.ClaimOrder"/>
            <Cell
              id="Type"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.Type"
              value="Exposure.ExposureType"/>
            <Cell
              id="Coverage"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.Coverage"
              value="Exposure.PrimaryCoverage"/>
            <Cell
              id="Claimant"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.Claimant"
              value="util.Snapshot.renderValue(Exposure.Claimant)"/>
            <Cell
              id="Reserves"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.Reserves"
              value="Exposure.ExposureRpt.RemainingReserves"/>
            <Cell
              id="FuturePayments"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.FuturePayments"
              value="Exposure.ExposureRpt.FuturePayments"/>
            <Cell
              id="TotalPayments"
              label="displaykey.Web.ClaimSnapshotExposuresScreen.V310.TotalPayments"
              value="Exposure.ExposureRpt.TotalPayments"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <CardViewPanel>
        <Card
          id="ClaimSnapshotExposuresCard"
          title="util.Snapshot.renderValue(SelectedExposure)">
          <PanelRef
            def="ClaimSnapshotExposure310DV(Claim, SelectedExposure)"
            mode="SelectedExposure.ExposureType.Code"/>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>
