<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure310DV"
    mode="LossOfUseDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v310.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.LossParty"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Coverage"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Contact"
        value="Exposure.AssignedUser.Contact"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.State"
        value="Exposure.State"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.CreateTime"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.CloseDate"
        value="util.Snapshot.renderValue(Exposure.CloseDate)"/>
      <Input
        id="ReOpenDate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ReOpenDate"
        value="util.Snapshot.renderValue(Exposure.ReOpenDate)"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ClosedOutcome"
        value="Exposure.ClosedOutcome"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.StatLine"
        value="util.Snapshot.renderValue(Exposure.StatLine)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ClaimantType"
        value="Exposure.ClaimantType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <Input
        id="PrimaryAddress"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.PrimaryAddress"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Temporary"/>
      <Input
        id="TempLocation"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.TempLocation"
        value="Exposure.TempLocation.DisplayName"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Damage"/>
      <TextAreaInput
        id="Description"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Description"
        numCols="30"
        numRows="3"
        value="Exposure.Description"/>
      <Input
        id="LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.LossEstimate"
        value="Exposure.LossEstimate"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Coding"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Segment"
        value="Exposure.Segment"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Strategy"
        value="Exposure.Strategy"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.JurisdictionState"
        value="Exposure.JurisdictionState"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited_2"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.Financials"
        visible="perm.Claim.viewtransactiondetails(Claim)"/>
      <Input
        id="RemainingReserves"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.RemainingReserves"
        value="Exposure.ExposureRpt.RemainingReserves"
        visible="perm.Claim.viewreserves(Claim)"/>
      <Input
        id="FuturePayments"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.FuturePayments"
        value="Exposure.ExposureRpt.FuturePayments"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalPayments"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.TotalPayments"
        value="Exposure.ExposureRpt.TotalPayments"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalRecoveries"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.TotalRecoveries"
        value="Exposure.TotalRecoveries"
        visible="perm.Claim.viewrecoveries(Claim)"/>
      <Input
        id="TotalIncurredNet"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Lossofusedamage.TotalIncurredNet"
        value="Exposure.ExposureRpt.TotalIncurredNet"
        visible="perm.Claim.viewnettotalincurred(Claim)"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
