<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure310DV"
    mode="VehicleDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v310.Exposure"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.General"/>
      <Input
        id="LossParty"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LossParty"
        value="Exposure.LossParty"/>
      <Input
        id="PrimaryCoverage"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.PrimaryCoverage"
        value="Exposure.PrimaryCoverage"/>
      <Input
        id="CoverageSubType"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.CoverageSubType"
        value="Exposure.CoverageSubType"/>
      <Input
        id="Coverage"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Coverage"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <Input
        id="Contact"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Contact"
        value="Exposure.AssignedUser.Contact"/>
      <Input
        id="State"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.State"
        value="Exposure.State"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.CreateTime"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.CloseDate"
        value="util.Snapshot.renderValue(Exposure.CloseDate)"/>
      <Input
        id="ReOpenDate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ReOpenDate"
        value="util.Snapshot.renderValue(Exposure.ReOpenDate)"/>
      <Input
        id="ClosedOutcome"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ClosedOutcome"
        value="Exposure.ClosedOutcome"/>
      <Input
        id="StatLine"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.StatLine"
        value="Exposure.StatLine"/>
      <Input
        id="ValidationLevel"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ValidationLevel"
        value="Exposure.ValidationLevel"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Claimant"/>
      <Input
        id="Claimant"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Claimant"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <Input
        id="ClaimantType"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ClaimantType"
        value="Exposure.ClaimantType"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="ContactProhibited"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"/>
      <Input
        id="PrimaryPhone"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <Input
        id="ClaimantAddress"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ClaimantAddress"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Driver"/>
      <Input
        id="Driver"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Driver_1"
        value="util.Snapshot.renderValue(Exposure.Driver)"/>
      <Input
        id="DriverRelToOwner"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.DriverRelToOwner"
        value="Exposure.DriverRelToOwner"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="OwnersPermission"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.OwnersPermission_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="Exposure.OwnersPermission"/>
      <Input
        id="DriverPhone"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.PrimaryPhone"
        value="util.Snapshot.getPrimaryPhone(Exposure.Driver)"/>
      <Input
        id="DriverAddress"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.DriverAddress"
        value="Exposure.Driver.PrimaryAddress.DisplayName"/>
      <Input
        id="LicenseState"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LicenseState"
        value="Exposure.Driver.LicenseState"/>
      <Input
        id="LicenseNumber"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LicenseNumber"
        value="Exposure.Driver.LicenseNumber"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Vehicle"/>
      <Input
        id="Vehicle"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Vehicle"
        value="util.Snapshot.renderValue(Exposure.Vehicle)"/>
      <Input
        id="Year"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Year"
        value="Exposure.Vehicle.Year"/>
      <Input
        id="Make"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Make"
        value="Exposure.Vehicle.Make"/>
      <Input
        id="Model"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Model"
        value="Exposure.Vehicle.Model"/>
      <Input
        id="Style"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Style"
        value="Exposure.Vehicle.Style"/>
      <Input
        id="Color"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Color"
        value="Exposure.Vehicle.Color"/>
      <Input
        id="Vin"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Vin"
        value="Exposure.Vehicle.Vin"/>
      <Input
        id="VehicleState"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.VehicleState"
        value="Exposure.Vehicle.State"/>
      <Input
        id="LicensePlate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LicensePlate"
        value="Exposure.Vehicle.LicensePlate"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Damage"/>
      <TextAreaInput
        id="Description"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Description"
        numCols="30"
        numRows="3"
        value="Exposure.Description"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="TotalLoss"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.TotalLoss_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="Exposure.TotalLoss"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="VehicleOperable"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.VehicleOperable_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="Exposure.VehicleOperable"/>
      <Input
        id="LossEstimate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LossEstimate"
        value="Exposure.LossEstimate"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Collision"/>
      <Input
        id="Speed"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Speed"
        value="Exposure.Speed"/>
      <Input
        id="VehicleDirection"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.VehicleDirection"
        value="Exposure.VehicleDirection"/>
      <Input
        id="CollisionPoint"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.CollisionPoint"
        value="Exposure.CollisionPoint"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Inspection"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="InspectionRequired"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.InspectionRequired_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="Exposure.Incident.InspectionRequired"/>
      <Input
        id="WhenToView"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.WhenToView"
        value="Exposure.WhenToView"/>
      <Input
        id="LocationStreet"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LocationStreet"
        value="Exposure.LocationStreet"/>
      <Input
        id="LocationCity"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LocationCity"
        value="Exposure.LocationCity"/>
      <Input
        id="LocationState"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LocationState"
        value="Exposure.LocationState"/>
      <Input
        id="LocationZip"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.LocationZip"
        value="Exposure.LocationZip"/>
      <Input
        id="RepairShop"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RepairShop"
        value="Exposure.RepairShop"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Rental"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="RentalRequired"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RentalRequired_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="Exposure.RentalRequired"/>
      <Input
        id="RentalBeginDate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RentalBeginDate"
        value="util.Snapshot.renderValue(Exposure.RentalBeginDate)"/>
      <Input
        id="RentalEndDate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RentalEndDate"
        value="util.Snapshot.renderValue(Exposure.RentalEndDate)"/>
      <Input
        id="RentalDailyRate"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RentalDailyRate"
        value="Exposure.RentalDailyRate"/>
      <Input
        id="RentalAgency"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RentalAgency"
        value="Exposure.RentalAgency"/>
      <Input
        id="RentalReserveNo"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RentalReserveNo"
        value="Exposure.RentalReserveNo"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Coding"/>
      <Input
        id="Segment"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Segment"
        value="Exposure.Segment"/>
      <Input
        id="Strategy"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Strategy"
        value="Exposure.Strategy"/>
      <Input
        id="JurisdictionState"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.JurisdictionState"
        value="Exposure.JurisdictionState"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Other"/>
      <BooleanRadioInput
        falseLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited"
        id="OtherCoverage"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.OtherCoverage_1"
        trueLabel="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactProhibited_2"
        value="Exposure.OtherCoverage"/>
      <ListViewInput
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Details">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet">
            <Row>
              <Cell
                id="Insurer"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Insurer"
                value="OtherCoverageDet.Insurer"/>
              <Cell
                id="PolicyNumber"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.PolicyNumber"
                value="OtherCoverageDet.PolicyNumber"/>
              <Cell
                id="ContactName"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactName"
                value="OtherCoverageDet.ContactName"/>
              <Cell
                id="ContactPhone"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.ContactPhone"
                value="OtherCoverageDet.ContactPhone"/>
              <Cell
                id="Notes"
                label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Notes"
                value="OtherCoverageDet.Notes"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.Financials"
        visible="perm.Claim.viewtransactiondetails(Claim)"/>
      <Input
        id="RemainingReserves"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.RemainingReserves"
        value="Exposure.ExposureRpt.RemainingReserves"
        visible="perm.Claim.viewreserves(Claim)"/>
      <Input
        id="FuturePayments"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.FuturePayments"
        value="Exposure.ExposureRpt.FuturePayments"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalPayments"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.TotalPayments"
        value="Exposure.ExposureRpt.TotalPayments"
        visible="perm.Claim.viewpayments(Claim)"/>
      <Input
        id="TotalRecoveries"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.TotalRecoveries"
        value="Exposure.TotalRecoveries"
        visible="perm.Claim.viewrecoveries(Claim)"/>
      <Input
        id="TotalIncurredNet"
        label="displaykey.Web.ClaimSnapshotExposure310DV.Vehicledamage.TotalIncurredNet"
        value="Exposure.ExposureRpt.TotalIncurredNet"
        visible="perm.Claim.viewnettotalincurred(Claim)"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
