<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InfoBar
    id="ClaimInfoBar">
    <Require
      name="Claim"
      type="Claim"/>
    <InfoBarElement
      icon="Claim.Closed ? &quot;icon_claimClosed_infobar.png&quot; : &quot;icon_claimOpen_infobar.png&quot;"
      id="ClaimOpenCloseIcon"
      tooltip="Claim.State.DisplayName"/>
    <InfoBarElement
      icon="Claim.LitigationClaimIndicator.Icon"
      id="LitigationClaimIndicator"
      tooltip="Claim.LitigationClaimIndicator.HoverText"
      visible="Claim.LitigationClaimIndicator.IsOn"/>
    <InfoBarElement
      icon="Claim.FatalityClaimIndicator.Icon"
      id="FatalityClaimIndicator"
      tooltip="Claim.FatalityClaimIndicator.HoverText"
      visible="Claim.FatalityClaimIndicator.IsOn"/>
    <InfoBarElement
      icon="Claim.LargeLossClaimIndicator.Icon"
      id="LargeLossClaimIndicator"
      tooltip="Claim.LargeLossClaimIndicator.HoverText"
      visible="Claim.LargeLossClaimIndicator.IsOn"/>
    <InfoBarElement
      icon="Claim.CoverageInQuestionClaimIndicator.Icon"
      id="CoverageInQuestionClaimIndicator"
      tooltip="Claim.CoverageInQuestionClaimIndicator.HoverText"
      visible="Claim.CoverageInQuestionClaimIndicator.IsOn"/>
    <InfoBarElement
      icon="Claim.SIUClaimIndicator.Icon"
      id="SIUClaimIndicator"
      tooltip="Claim.SIUClaimIndicator.HoverText"
      visible="Claim.SIUClaimIndicator.IsOn"/>
    <InfoBarElement
      icon="&quot;claim_flag.gif&quot;"
      id="FlagClaimIndicator"
      tooltip="Claim.FlagClaimIndicator.HoverText"
      visible="Claim.FlagClaimIndicator.IsOn"/>
    <InfoBarElement
      icon="getClaimPolicyTypeIcon(Claim)"
      id="PolicyNumber"
      label="displaykey.Web.ClaimInfoBar.PolicyNumber"
      tooltip="Claim.Policy.PolicyType == null ? &quot;&quot; : Claim.Policy.PolicyType.getDisplayName( User.util.CurrentLocale )"
      value="Claim.Policy.PolicyNumber"/>
    <InfoBarElement
      id="Insured"
      label="displaykey.Web.ClaimInfoBar.Insured"
      value="Claim.InsuredDenorm.DisplayName"/>
    <InfoBarElement
      id="Claimant"
      label="displaykey.Web.ClaimInfoBar.Claimant"
      value="Claim.ClaimantDenorm.DisplayName"
      visible="Claim.LossType == &quot;WC&quot;"/>
    <InfoBarElement
      id="LossDate"
      label="displaykey.Web.ClaimInfoBar.LossDate"
      value="gw.api.util.StringUtil.formatDate( Claim.LossDate, &quot;short&quot; ) "/>
    <InfoBarElement
      id="State"
      label="displaykey.Web.ClaimInfoBar.Status"
      value="Claim.State"/>
    <InfoBarElement
      id="Adjuster"
      label="displaykey.Web.ClaimInfoBar.Adjuster"
      value="Claim.AssigneeAndGroupDisplayString"
      visible="Claim.State != &quot;draft&quot;"/>
    <Code><![CDATA[
function getClaimPolicyTypeIcon(c : Claim) : String {
  var result : String = null

  if (c.Policy.PolicyType == PolicyType.TC_AUTO_PER) {
    result = "infobar_personalAuto.gif"
  } else if (c.Policy.PolicyType == PolicyType.TC_AUTO_COMM) {
    result = "infobar_commercialAuto.gif"
  } else if (c.Policy.PolicyType == PolicyType.TC_COMP) {
    result = "infobar_wc.gif"
  } else if (c.Policy.PolicyType == PolicyType.TC_GEN_LIABILITY) {
    result = "infobar_gl.gif"
  } else if (c.Policy.PolicyType == PolicyType.TC_PROP_COMM) {
    result = "infobar_cp.gif"
  } else if (c.Policy.PolicyType == PolicyType.TC_HOMEOWNERS) {
    result = "infobar_homeowners.gif"
  }

  return result;
}
    ]]></Code>
  </InfoBar>
</PCF>
