<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="true"
    canEdit="true"
    canVisit="perm.Claim.view(Claim) and perm.Evaluation.view(Claim) and perm.System.viewclaimevals"
    id="ClaimEvaluations"
    title="displaykey.Web.ClaimPlanOfAction.Evaluations">
    <LocationEntryPoint
      signature="ClaimEvaluations(claim : Claim)"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Screen
      id="ClaimEvaluationsScreen">
      <Toolbar>
        <ToolbarButton
          action="NewEvaluation.go(claim)"
          hideIfEditable="true"
          id="CE_Add"
          label="displaykey.Web.ClaimPlanOfAction.Evaluations.NewEvaluation"
          shortcut="N"
          visible="perm.Claim.createevaluation(Claim)"/>
        <IteratorButtons
          addVisible="false"
          removeLabel="displaykey.Button.Delete"
          removeVisible="perm.Evaluation.edit(Claim)"/>
      </Toolbar>
      <ListDetailPanel
        lockWhileEditing="true"
        selectionName="evaluation"
        selectionType="Evaluation">
        <PanelRef
          def="EditableEvaluationsLV(claim.evaluations, claim)"/>
        <CardViewPanel>
          <Card
            id="DetailViewTitleCard"
            title="displaykey.Web.ClaimPlanOfAction.Evaluations.DetailViewTitle(evaluation)">
            <PanelRef
              def="ClaimEvaluationDetailsDV(Evaluation)"
              mode="claim.LossType">
              <Toolbar>
                <EditButtons
                  editVisible="perm.Evaluation.edit(Claim)"/>
              </Toolbar>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>
