<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.User.viewanyadmin"
    id="Admin"
    menuActions="AdminMenuActions()"
    menuTree="AdminMenuTree()"
    parent="AdminWelcome()"
    title="displaykey.Web.TabBar.Administration">
    <LocationEntryPoint
      signature="Admin()"/>
    <LocationRef
      location="AdminUserSearchPage()"/>
    <LocationRef
      location="AdminGroupSearchPage()"/>
    <LocationRef
      location="AdminRegionSearchPage()"/>
    <LocationRef
      location="ActivityPatterns()"/>
    <LocationRef
      location="Attributes()"/>
    <LocationRef
      location="Catastrophes()"/>
    <LocationRef
      location="AuthorityLimitProfiles()"/>
    <LocationRef
      location="Roles()"/>
    <LocationRef
      location="Regions()"/>
    <LocationRef
      location="Holidays()"/>
    <LocationRef
      location="MessagingDestinationControlList()"/>
    <LocationRef
      location="ScriptParametersPage()"/>
    <LocationRef
      location="Workflows()"/>
    <LocationRef
      location="ImportExport()"/>
    <LocationRef
      location="TryReportsManager()"/>
    <LocationRef
      location="SecurityZones()"/>
    <LocationRef
      location="CoverageDetermination()"/>
    <LocationRef
      location="WCParms()"/>
    <LocationRef
      location="ReinsuranceThresholds()"/>
    <LocationRef
      label="displaykey.Web.Admin.ICD"
      location="ICD()"/>
    <LocationRef
      location="KeyMetrics()"/>
    <LocationRef
      location="BusinessWeek()"/>
  </LocationGroup>
</PCF>
