<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="OrganizationDetail"
    parent="Organizations()"
    showUpLink="true"
    title="displaykey.Web.Admin.OrganizationDetail(Organization.Name)">
    <LocationEntryPoint
      signature="OrganizationDetail(Organization : Organization)"/>
    <Variable
      name="Organization"
      type="Organization"/>
    <Variable
      initialValue="Organization.RootGroup"
      name="Parent"
      type="Group"/>
    <Screen
      id="OrganizationDetailScreen">
      <Toolbar>
        <EditButtons/>
        <ToolbarButton
          action="gw.api.admin.BaseAdminUtil.deleteOrganization(organization); OrganizationSearchPage.go()"
          available="Organization.SafeToDelete"
          confirmMessage="displaykey.Web.Admin.OrganizationDetail.DeleteConfirm"
          hideIfEditable="true"
          id="OrganizationDetail_DeleteButton"
          label="displaykey.Button.Delete"
          visible="true"/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="OrganizationDetail_BasicCard"
          title="displaykey.Web.Admin.OrganizationDetail.Basic">
          <PanelRef
            def="OrganizationDetail_BasicDV(Organization.RootGroup, Organization)"/>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
